@{
    ViewBag.Title = "HRRF";
}
@using (Html.BeginForm())
{

    <div class="container">
        <div class="row">
            <h2 style="height:25px;color:green"> Human Resource Request Form # XXXXXXXX</h2>
        </div>
        <div class="row">
            <div id="tabs">
                <ul>

                    <li><a href="#tabs-1" tabindex="1" class="open-tab">Project Info</a></li>
                    <li><a href="#tabs-2" tabindex="2" class="open-tab">Skill Set & Job Description</a></li>
                    <li><a href="#tabs-3" tabindex="3" class="open-tab">TimeLine Info</a></li>
                    <li><a href="#tabs-4" tabindex="4" class="open-tab">Additional Info & Submit</a></li>
                    @*<li><a href="#tabs-5" tabindex="5" class="open-tab">Validate</a></li>*@
                </ul>


                <div id="tabs-1">
                    <div class="row" style="height:50px">

                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            @Html.Label("HRRF Number") <span style="color:red">*</span>
                        </div>
                        <div class="form-group">
                            <input type="text" id="HRRFNumber" name="HRRFNumber" class="form-control" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            @Html.Label("Purpose") <span style="color:red">*</span>

                        </div>

                        @{var listItems = new List<SelectListItem>
    {
          new SelectListItem { Text = "Select", Value="Select" },
          new SelectListItem { Text = "Exemplo1", Value="Exemplo1" },
          new SelectListItem { Text = "Exemplo2", Value="Exemplo2" },
          new SelectListItem { Text = "Exemplo3", Value="Exemplo3" }
    };
                        }
                        @Html.DropDownList("Purpose", new SelectList((System.Collections.IEnumerable)ViewData["Purpose"], "purposeName", "purposeName"),
                     "Select an option", new { @class = "selectpicker", @onchange = "javascript:DisableEnableFields(this.value);" })
                        @Html.ValidationMessage("purposeName")
                    </div>
                 
                        <div class=" row" id="projectdiv"  style="visibility:visible">
                            <div class="form-group col-md-3">
                                @Html.Label("Project Name With Code") <span style="color:red">*</span>

                            </div>
                            @Html.DropDownList("Projects", new SelectList((System.Collections.IEnumerable)ViewData["Projects"], "ProjectCode", "ProjectName"),
                     "Select an option", new { @class = "selectpicker" })

                            @*@Html.DropDownList("ProjectCode", new SelectList(listItems, "Value", "Text"), new { @class = "selectpicker" })*@
                            @Html.ValidationMessage("Purpose")
                        </div>

                        @*<div class=" row" id="opportunity">
                            <div class="form-group ">
                                <table style="visibility:hidden" id="tbopportunity">
                                    <tr>
                                        <td class="text-left col-md-4">
                                            @Html.Label("Opportunity Name ") <span style="color:red">*</span>
                                        </td>
                                        <td class="text-right col-md-3">
                                            <input type="text" id="oppurtunitname" name="oppurtunitname" class="form-control" />
                                           
                                        </td>
                                        <td class="text-left">
                                            <span style="color:red"></span>@Html.Label("Opportunity Code") <span style="color:red">*</span>
                                        </td>
                                        <td class="text-right">
                                            <input type="text" id="oppurtunitCode" name="oppurtunitCode" class="form-control" />
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>*@

                  
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Demand Type")

                        </div>
                        @Html.DropDownList("DemandType", new SelectList((System.Collections.IEnumerable)ViewData["DemandType"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Grade") <span style="color:red">*</span>

                        </div>
                        @Html.DropDownList("Grade", new SelectList((System.Collections.IEnumerable)ViewData["Grade"], "LookupName", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })

                        @*@Html.DropDownList("GradeID", new SelectList(listItems, "Value", "Text"), new { @class = "selectpicker" })*@
                        @Html.ValidationMessage("Grade")
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Role")<span style="color:red">*</span>
                        </div>
                        @Html.DropDownList("Role", new SelectList((System.Collections.IEnumerable)ViewData["Role"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })

                        @Html.ValidationMessage("Role")

                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Experience (Form)") <span style="color:red">*</span>
                        </div>
                        @Html.DropDownList("ExpFrom", new SelectList((System.Collections.IEnumerable)ViewData["ExpFrom"], "LookupName", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                        @Html.ValidationMessage("ExpFrom")
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Experience (To)")<span style="color:red">*</span>

                        </div>
                        @Html.DropDownList("ExpTo", new SelectList((System.Collections.IEnumerable)ViewData["ExpTo"], "LookupName", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                        @Html.ValidationMessage("ExpTo")
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Required for Reservation Status")<span style="color:red">*</span>
                        </div>
                        @Html.DropDownList("ReservationStatus", new SelectList((System.Collections.IEnumerable)ViewData["ReservationStatus"], "LookupName", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                        @Html.ValidationMessage("ReservationStatus")
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Service Line")<span style="color:red">*</span>

                        </div>
                        @Html.DropDownList("ServiceLine", new SelectList((System.Collections.IEnumerable)ViewData["ServiceLine"], "LookupName", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                        @Html.ValidationMessage("ServiceLine")
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Cost Center")<span style="color:red">*</span>

                        </div>
                        @Html.DropDownList("CostCenter", new SelectList((System.Collections.IEnumerable)ViewData["CostCenter"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                        @Html.ValidationMessage("CostCenter")
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Account name with Id")<span style="color:red">*</span>

                        </div>
                        @Html.DropDownList("AccountNameWithID", new SelectList((System.Collections.IEnumerable)ViewData["AccountNameWithID"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                        @Html.ValidationMessage("AccountNameWithID")
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Engagement Type")<span style="color:red">*</span>

                        </div>
                        @Html.DropDownList("EngagementType", new SelectList((System.Collections.IEnumerable)ViewData["EngagementType"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                        @Html.ValidationMessage("EngagementType")
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("For Replacement Position")

                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="Replacement" rows="5" id="comment"></textarea>
                            @*<span> If request reason is 'replacement' , enter the employee name</span>*@

                        </div>

                    </div>
                    <div class="row text-right">
                        <div class="form-group col-md-6">
                            <button type="button" id="Savetab1" class="btn btn-success">Save</button>
                            @*<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("", "", new { targe="_blank" })'">Previous <<</button>*@
                            <button type="button" id="PrjectinfoButtn" class="btn btn-primary" name="Submit">Next >></button>
                            <button type="button" class="btn btn-default">Clear</button>
                        </div>

                    </div>

                </div>
                <div id="tabs-2">

                    <div class="row" style="height:50px">

                    </div>
                    @*<div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Skill Category") <span style="color:red">*</span>

                            </div>
                        </div>

                        @Html.DropDownList("SkillCategory", new SelectList((System.Collections.IEnumerable)ViewData["SkillCategory"], "SeqNumber", "LookupName"),
                     "Select an option", new { @class = "selectpicker", @onchange = "javascript:GetSkills(this.value);" })
                        @Html.ValidationMessage("SkillCategory")
                    </div>*@
                    <div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Primary Skills") <span style="color:red">*</span>

                            </div>
                        </div>
                        <table>
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        @Html.ListBox("PrimarySkills", new SelectList((System.Collections.IEnumerable)ViewData["SecondSkills"], "LookupCode", "LookupName"))
                                        @*<select multiple="multiple" name="PrimarySkills" id="PrimarySkills" class="data"></select>*@

                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <br />
                    </div>
                    @*<div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Skill Category (Optional)")

                            </div>
                        </div>
                        @Html.DropDownList("SecondSkills", new SelectList((System.Collections.IEnumerable)ViewData["SkillCategory"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })

                    </div>*@
                    <div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Secondary Skills (Optional)")

                            </div>
                        </div>
                        <table>
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        @Html.ListBox("SecondarySkills", new SelectList((System.Collections.IEnumerable)ViewData["SecondSkills"], "LookupCode", "LookupName"))
                                        @*<select multiple="multiple" size="10" name="duallistbox_demo2" id="SecondarySkills">
                                            </select>*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                    </div>
                    <div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Domain Specialization")

                            </div>
                        </div>
                        @Html.DropDownList("Domain", new SelectList((System.Collections.IEnumerable)ViewData["Domain"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })

                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Job Description")<span style="color:red">*</span>

                        </div>
                        <div class="form-group">
                            <textarea class="form-control" required rows="5" id="JobDescription"></textarea>
                        </div>

                    </div>
                    <div class="row text-right">
                        <div class="form-group col-md-6">
                            <button type="button" class="btn btn-success" id="SaveSkillstab">Save</button>
                            <button type="button" class="btn btn-primary" id="tab2Previous">Previous <<</button>
                            <button type="button" class="btn btn-primary" id="tab2Next">Next >></button>
                            <button type="button" class="btn btn-default">Clear</button>

                        </div>

                    </div>
                    @*@Html.Partial("~/Views/Home/SkillSetJobDesc.cshtml")*@
                </div>
                <div id="tabs-3">
                    <div class="row" style="height:50px">
                        <div class="col-md-1">

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            @Html.Label("Resource Expected Date") <span style="color:red">*</span>

                        </div>
                        <div class="col-md-3 form-group">
                            <div class='input-group date' id='dtpickerExpectedDate'>
                                <input type='text' id="ExpectedDate" class="form-control" required />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Expected Start Date of Assignment") <span style="color:red">*</span>

                        </div>
                        <div class="col-md-3 form-group">
                            <div class='input-group date' id='dtpickerStartDate'>
                                <input type='text' id="startdateAssign" class="form-control" required />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Expected End Date of Assignment") <span style="color:red">*</span>

                        </div>
                        <div class="col-md-3 form-group">
                            <div class='input-group date' id='dtpickerEndDate'>
                                <input type='text' id="AssignedEnddate" class="form-control" required />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                    </div>
                    @using (Html.BeginForm())
                    {
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Location Type") <span style="color:red">*</span>

                        </div>
                        @Html.DropDownList("LocationType", new SelectList((System.Collections.IEnumerable)ViewData["LocationType"], "SeqNumber", "LookupName"),
                     "Select an option", new { @class = "selectpicker", @onchange = "javascript:GetLanguages(this.value);" })
                        @Html.ValidationMessage("LocationType")
                    </div>
                    @*<div class=" row" id="divoffshore" style="visibility:hidden">
                            <div class="form-group col-md-3">
                                @Html.Label( "Offshore Location")
                            </div>
                            <select id="OffShoreLocation" name="OffShoreLocation" class="selectpicker" ></select>
                        </div>*@
                    <div class=" row" id="divOnsite">

                        <div class="form-group col-md-3">
                            @Html.Label("Location", "Location")

                        </div>
                        <div class="form-group col-md-3">
                            <select id="OffShoreLocation" name="OffShoreLocation" style="width:83%;" class="dropdown-menu"></select>

                        </div>
                    </div>

                    }
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Visa Type")

                        </div>
                        @Html.DropDownList("VisaType", new SelectList((System.Collections.IEnumerable)ViewData["VisaType"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Shifts Info")

                        </div>

                        <div class="form-group">
                            <input class="form-control" id="ShiftsInfo" type="text">

                        </div>

                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Trvel Info")

                        </div>
                        <div class="form-group">
                            <input class="form-control" id="TrvelInfo" type="text">

                        </div>

                    </div>
                    <div class="row text-right">
                        <div class="form-group col-md-6">
                            <button type="button" class="btn btn-success" id="SaveTimeLinetab">Save</button>
                            <button type="button" class="btn btn-primary" id="tab3Previous">Previous <<</button>
                            <button type="button" class="btn btn-primary" id="tab3Next">Next >></button>
                            <button type="button" class="btn btn-default">Clear</button>
                        </div>

                    </div>
                    @*@Html.Partial("~/Views/Home/TimeLineLocation.cshtml")*@
                </div>
                <div id="tabs-4">
                    <div class="row" style="height:50px">
                        <div class="col-lg-1">

                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Request Reason") <span style="color:red">*</span>

                            </div>
                        </div>

                        @Html.DropDownList("RequestReason", new SelectList((System.Collections.IEnumerable)ViewData["RequestReason"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                        @Html.ValidationMessage("RequestReason")
                    </div>
                    <div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Request Remarks")
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="Remarks"></textarea>
                        </div>

                    </div>
                    <div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Request Type")

                            </div>
                        </div>
                        @Html.DropDownList("RequestType", new SelectList((System.Collections.IEnumerable)ViewData["RequestType"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })

                    </div>
                    <div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Justification")

                            </div>
                        </div>
                        @Html.DropDownList("Justification", new SelectList((System.Collections.IEnumerable)ViewData["Justification"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                    </div>
                    <div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Request Status")

                            </div>
                        </div>
                        @Html.DropDownList("RequestStatus", new SelectList((System.Collections.IEnumerable)ViewData["RequestStatus"], "LookupCode", "LookupName"),
                     "Select an option", new { @class = "selectpicker" })
                    </div>
                    <div class="row">
                        <div>
                            <div class="form-group col-md-3">
                                @Html.Label("Client Interview")

                            </div>
                        </div>
                        <input type="checkbox" id="Clientint" />

                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Info to be filled by TCO Team/Hiring Manager")

                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="HiringManager"></textarea>
                        </div>

                    </div>
                    <div class=" row">
                        <div class="form-group col-md-3">
                            @Html.Label("Info to be filled by TCO Team")<span style="color:red">*</span>

                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="TCOTeam" required></textarea>
                        </div>

                    </div>
                    <div class="row text-right">
                        <div class="form-group col-md-6">
                            <button type="button" class="btn btn-success" id="SaveAdditionalInfotab">Submit</button>
                            <button type="button" class="btn btn-primary" id="tab4Previous">Previous <<</button>
                            <button type="button" class="btn btn-default" id="AddtionalClear">Clear</button>

                        </div>

                    </div>
                    @*@Html.Partial("~/Views/Home/AdditionalInfo.cshtml")*@
                </div>


            </div>
        </div>

    </div>
                            }
<script>
    $(function () {

        $("#tabs").tabs();

        //$('.open-tab').click(function (event) {
        //    debugger
        //    var index = $("selector-of-clicked-tab").index();
        //    $('#tabs').tabs("option", "active", index);
        //});
    });
</script>

<script>
    //var demo2 = $('[name=PrimarySkills]').bootstrapDualListbox({
    //    nonSelectedListLabel: 'Non-selected',
    //    selectedListLabel: 'Selected',
    //    preserveSelectionOnMove: 'moved',
    //    moveOnSelect: false,

    //});
    //var demo2 = $('[name=SecondarySkills]').bootstrapDualListbox({
    //    nonSelectedListLabel: 'Non-selected',
    //    selectedListLabel: 'Selected',
    //    preserveSelectionOnMove: 'moved',
    //    moveOnSelect: false,

    //});
    var demo1 = $('[name=PrimarySkills]').bootstrapDualListbox();
    var demo1 = $('[name=SecondarySkills]').bootstrapDualListbox();
</script>
<script language="javascript" type="text/javascript">
    function GetSkills(_CategoryId) {
        debugger

        // var procemessage = "<option value='0'> Please wait...</option>";
        var select = $("#PrimarySkills");
        select.empty();
        var url = "/Home/GetPrimarySkills/";
        $.ajax({
            url: url,
            data: { CategoryId: _CategoryId },
            cache: false,
            type: "POST",
            success: function (data) {
                debugger
                var arr = new Array();
                $.each(data, function (i, obj) {
                    arr.push(obj.LookupName)
                    //arr.push(obj.SeqNumber)
                });


                i = 0, size = arr.length;
                for (i; i < size; i++) {
                    // $("#PrimarySkills").select("widget");
                    $("#PrimarySkills option[value='" + arr[i] + "']").attr("selected", 1);
                    // $("#PrimarySkills").select("refresh");
                }

                // $("#PrimarySkills").val(arr);



                // Then refresh
                // $("#PrimarySkills").select("refresh");
                //var markup = "<option value='0'></option>";
                //for (var x = 0; x < data.length; x++) {
                //    markup += "<option value=" + data[x].SkillID + ">" + data[x].SkillName + "</option>";
                //}
                //select.append(markup).show();
                //  $("#PrimarySkills").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + "");
            }
        });

    }
    function GetLanguages(_SeqNumber) {
        debugger
        if (_SeqNumber == 1) {
            $("#Location").val("OnSiteLocation")
        }
        else {
            $("#Location").val("OffShoreLocation")
        }
        var select = $("#OffShoreLocation");
        select.empty();

        var url = "/Home/GetLanguages/";
        $.ajax({
            url: url,
            data: { LanguageType: _SeqNumber },
            cache: false,
            type: "POST",
            success: function (data) {
                debugger
                var markup = "<option value=''>Select an option</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].LookupName + ">" + data[x].LookupName + "</option>";
                }
                //select.append(markup).show();
                $("#OffShoreLocation").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + "");
            }
        });

    }
    function DisableEnableFields(_PurposeId) {
        debugger
        if (_PurposeId == "Opportunity") {
            $("#Role").prop("disabled", true);
            $("#ExpFrom").prop("disabled", true);
            $("#ExpTo").prop("disabled", true);
            //$("#projectdiv").hide();
            //$("#tbopportunity").css({ "visibility": "visibile" });
            //$("#opportunity").show();

        }
        else {
            $("#Role").prop("disabled", false);
            $("#ExpFrom").prop("disabled", false);
            $("#ExpTo").prop("disabled", false);
            //$("#projectdiv").show();
            //$("#opportunity").hide();
        }

    }

</script>
<script type="text/javascript">
    $(function () {
        $('#dtpickerExpectedDate').datetimepicker();
    });
    $(function () {
        $('#dtpickerStartDate').datetimepicker();
    });
    $(function () {
        $('#dtpickerEndDate').datetimepicker();
    });
    $('#PrjectinfoButtn').click(function () {
        // move to skill set tab
        $('#tabs').tabs({ active: 1 });
    });
    $('#tab2Next').click(function () {
        // move to timeandloction tab
        $('#tabs').tabs({ active: 2 });
    });
    $('#tab2Previous').click(function () {
        // move to project info tab
        $('#tabs').tabs({ active: 0 });
    });
    $('#tab3Next').click(function () {
        // move to additional tab
        $('#tabs').tabs({ active: 3 });
    });
    $('#tab3Previous').click(function () {
        // move to skill set tab
        $('#tabs').tabs({ active: 1 });
    });
    $('#tab4Previous').click(function () {
        // move to timeandlocation tab
        $('#tabs').tabs({ active: 2 });
    });

    // validations

</script>
<script type="text/javascript">
    $('#Savetab1').click(function () {

        debugger

        /// validating the required fields
        if ($('#HRRFNumber').val().length == 0 || $('#Purpose').val().length == 0 || $('#Projects').val().length == 0 || $('#Grade').val().length == 0
            || $('#Role').val().length == 0 || $('#ExpFrom').val().length == 0 || $('#ExpTo').val().length == 0 || $('#ReservationStatus').val().length == 0
            || $('#ServiceLine').val().length == 0 || $('#CostCenter').val().length == 0 || $('#AccountNameWithID').val().length == 0
            || $('#EngagementType').val().length == 0
            ) {
            alert('Please select all required fields');
            return false;
        }
        var HRRFNumber = $('#HRRFNumber').val()
        var Purpose = $('#Purpose').val()
        var ProjectCode = $('#Projects').val()
        var ProjectName = $('#Projects').val()
        var DemandType = $('#DemandType').val()
        var Grade = $('#Grade').val()
        var RoleRequired = $('#Role').val()
        var ExpFrom = $('#ExpFrom').val()
        var ExpTo = $('#ExpTo').val()
        var ReservationStatus = $('#ReservationStatus').val()
        var ServiceLine = $('#ServiceLine').val()
        var Costcenter = $('#CostCenter').val()
        var AccountNamewithID = $('#AccountNameWithID').val()
        var EnagagementType = $('#EngagementType').val()
        var ForReplacementPosition = $('#comment').val()
            var element = this;
            $.ajax({
                url: "/Home/SaveData",
                type: "POST",
                async: false,

                data: JSON.stringify({
                    'HRRFNumber': HRRFNumber, 'Purpose': Purpose, 'ProjectCode': ProjectCode, 'ProjectName': ProjectName, 'DemandType': DemandType,
                    'Grade': Grade, 'RoleRequired': RoleRequired, 'ExpFrom': ExpFrom, 'ExpTo': ExpTo,
                    'ReservationStatus': ReservationStatus, 'ServiceLine': ServiceLine, 'Costcenter': Costcenter, 'AccountNamewithID': AccountNamewithID,
                    'EnagagementType': EnagagementType, 'ForReplacementPosition': ForReplacementPosition,
                }),
                dataType: "json",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == "Success") {
                        alert("Saved successfully");
                        return false;
                       // $(element).closest("form").submit();
                    }
                    else if (data.status == "Exists") {
                        alert("Data already exists!");
                        return false;
                       // $(element).closest("form").submit();
                    }
                    else {
                        alert("Error occurs on the Database level!");
                    }
                },
                error: function () {
                    alert("An error has occured!!!");
                }
            });

    });
    $('#SaveSkillstab').click(function () {

        debugger
        /// validating the required fields
        if ( $('#PrimarySkills').val() != null && $('#PrimarySkills').val().length == 0 || $('#JobDescription').val().length == 0) {
            alert('Please select all required fields');
            return false;
        }
        var HRRFNumber = $('#HRRFNumber').val()
        var primskills  = $('#PrimarySkills').val()
        var Secondkills  = $('#SecondarySkills').val()
        var Domain = $('#Domain').val()
        var JobDescription = $('#JobDescription').val()
        var PrimarySkills = primskills.join(", ");
        var SecondarySkills = Secondkills.join(", ");

        var element = this;
        $.ajax({
            url: "/Home/SaveSkillsInfoData",
            type: "POST",
            async: false,

            data: JSON.stringify({
                'HRRFNumber': HRRFNumber, 'PrimarySkills': PrimarySkills, 'SecondarySkills': SecondarySkills, 'Domain': Domain,
                'JobDescription': JobDescription,
            }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.status == "Success") {
                    alert("Saved successfully");
                    // $(element).closest("form").submit();
                    return false;
                }
                else if (data.status == "HRRHConfirm") {
                    alert("Please generate HRRH Number!");
                    return false;
                    //$(element).closest("form").submit();
                }
                else {
                    alert("Error occurs on the Database level!");
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });

    });
    $('#SaveTimeLinetab').click(function () {

        debugger

        /// validating the required fields
        if ( $('#ExpectedDate').val().length == 0 || $('#startdateAssign').val().length == 0 || $('#AssignedEnddate').val().length == 0
            || $('#LocationType').val().length == 0
            ) {
            alert('Please select all required fields');
            return false;
        }
        var HRRFNumber = $('#HRRFNumber').val()
        var ResourceExpectedDate = $('#ExpectedDate').val()
        var ExpectedStartDateofAssignment = $('#startdateAssign').val()
        var ExpectedEndDateofAssignment = $('#AssignedEnddate').val()
        var LocationType = $('#LocationType').val()
        var OffshoreLocation = $('#OffShoreLocation').val()
        var OnsiteLocation = $('#OnSiteLocation').val()
        var VisaType = $('#VisaType').val()
        var ShiftsInfo = $('#ShiftsInfo').val()
        var TrvelInfo = $('#TrvelInfo').val()

        var element = this;
        $.ajax({
            url: "/Home/SaveTimeLineData",
            type: "POST",
            async: false,

            data: JSON.stringify({
                'HRRFNumber': HRRFNumber, 'ResourceExpectedDate': ResourceExpectedDate, 'ExpectedStartDateofAssignment': ExpectedStartDateofAssignment, 'ExpectedEndDateofAssignment': ExpectedEndDateofAssignment,
                'LocationType': LocationType, 'OffshoreLocation': OffshoreLocation, 'OnsiteLocation': OnsiteLocation, 'VisaType': VisaType, 'ShiftsInfo': ShiftsInfo,
                'TrvelInfo': TrvelInfo,
            }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.status == "Success") {
                    alert("Saved successfully");
                    return false;
                   // $(element).closest("form").submit();
                }
                else if (data.status == "HRRHConfirm") {
                    alert("Please generate HRRH Number!");
                    return false;
                   // $(element).closest("form").submit();
                }
                else {
                    alert("Error occurs on the Database level!");
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });

    });
    $('#SaveAdditionalInfotab').click(function () {

        debugger
        /// validating the required fields
        if ($('#RequestReason').val().length == 0 || $('#TCOTeam').val().length == 0 || $('#ExpectedDate').val().length == 0 || $('#startdateAssign').val().length == 0 || $('#AssignedEnddate').val().length == 0
            || $('#LocationType').val().length == 0 || $('#PrimarySkills').val() != null && $('#PrimarySkills').val().length == 0 || $('#JobDescription').val().length == 0
            ||  $('#Purpose').val().length == 0 || $('#Projects').val().length == 0 || $('#Grade').val().length == 0
            || $('#Role').val().length == 0 || $('#ExpFrom').val().length == 0 || $('#ExpTo').val().length == 0 || $('#ReservationStatus').val().length == 0
            || $('#ServiceLine').val().length == 0 || $('#CostCenter').val().length == 0 || $('#AccountNameWithID').val().length == 0
            || $('#EngagementType').val().length == 0)
        {
            alert('Please select all required fields');
            return false;
        }
        var HRRFNumber = $('#HRRFNumber').val()
        var RequestReason = $('#RequestReason').val()
        var Remarks = $('#Remarks').val()
        var RequestType = $('#RequestType').val()
        var Justification = $('#Justification').val()
        var RequestStatus = $('#RequestStatus').val()
        var ClientInterview = $('#Clientint').val()
        var InfoByHiringManager = $('#HiringManager').val()
        var InfoByTCOTeam = $('#TCOTeam').val()
        // timeline
        var ResourceExpectedDate = $('#ExpectedDate').val()
        var ExpectedStartDateofAssignment = $('#startdateAssign').val()
        var ExpectedEndDateofAssignment = $('#AssignedEnddate').val()
        var LocationType = $('#LocationType').val()
        var OffshoreLocation = $('#OffShoreLocation').val()
        var OnsiteLocation = $('#OnSiteLocation').val()
        var VisaType = $('#VisaType').val()
        var ShiftsInfo = $('#ShiftsInfo').val()
        var TrvelInfo = $('#TrvelInfo').val()
        //skills
        var primskills = $('#PrimarySkills').val()
        var Secondkills = $('#SecondarySkills').val()
        var Domain = $('#Domain').val()
        var JobDescription = $('#JobDescription').val()
        var PrimarySkills = primskills.join(", ");
        var SecondarySkills = Secondkills.join(", ");
        //project info
        var Purpose = $('#Purpose').val()
        var ProjectCode = $('#Projects').val()
        var ProjectName = $('#Projects').val()
        var DemandType = $('#DemandType').val()
        var Grade = $('#Grade').val()
        var RoleRequired = $('#Role').val()
        var ExpFrom = $('#ExpFrom').val()
        var ExpTo = $('#ExpTo').val()
        var ReservationStatus = $('#ReservationStatus').val()
        var ServiceLine = $('#ServiceLine').val()
        var Costcenter = $('#CostCenter').val()
        var AccountNamewithID = $('#AccountNameWithID').val()
        var EnagagementType = $('#EngagementType').val()
        var ForReplacementPosition = $('#comment').val()

        var element = this;
        $.ajax({
            url: "/Home/SaveAdditionalInfoData",
            type: "POST",
            async: false,

            data: JSON.stringify({
                'HRRFNumber': HRRFNumber, 'RequestReason': RequestReason, 'Remarks': Remarks, 'RequestType': RequestType,
                'Justification': Justification, 'RequestStatus': RequestStatus, 'ClientInterview': ClientInterview, 'InfoByHiringManager': InfoByHiringManager, 'InfoByTCOTeam': InfoByTCOTeam,
                'ResourceExpectedDate': ResourceExpectedDate, 'ExpectedStartDateofAssignment': ExpectedStartDateofAssignment, 'ExpectedEndDateofAssignment': ExpectedEndDateofAssignment,
                'LocationType': LocationType, 'OffshoreLocation': OffshoreLocation, 'OnsiteLocation': OnsiteLocation, 'VisaType': VisaType, 'ShiftsInfo': ShiftsInfo,
                'TrvelInfo': TrvelInfo, 'PrimarySkills': PrimarySkills, 'SecondarySkills': SecondarySkills, 'Domain': Domain,
                'JobDescription': JobDescription, 'Purpose': Purpose, 'ProjectCode': ProjectCode, 'ProjectName': ProjectName, 'DemandType': DemandType,
                'Grade': Grade, 'RoleRequired': RoleRequired, 'ExpFrom': ExpFrom, 'ExpTo': ExpTo,
                'ReservationStatus': ReservationStatus, 'ServiceLine': ServiceLine, 'Costcenter': Costcenter, 'AccountNamewithID': AccountNamewithID,
                'EnagagementType': EnagagementType, 'ForReplacementPosition': ForReplacementPosition,
            }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.status == "Success") {
                    alert("Saved successfully");
                    // $(element).closest("form").submit();
                    return false;
                }
                else if (data.status == "HRRHConfirm") {
                    alert("Please generate HRRH Number!");
                    return false;
                    //$(element).closest("form").submit();
                }
                else {
                    alert("Error occurs on the Database level!");
                }
            },
            error: function () {
                alert("An error has occured!!!");
            }
        });

    });
</script>
<script type="text/javascript">
    $('#AddtionalClear').click(function () {
        debugger
            /// clearing the fields
            $('#RequestReason').empty();
            $('#Remarks').val("")
            $('#RequestType').val(0);
            $('#Justification').val(0);
            $('#RequestStatus').val(0);
            $('#Clientint').checked = false;
            $('#HiringManager').val("")
            $('#TCOTeam').val("")

    });
</script>
