@model Trianz.Enterprise.Operations.Models.HRRF

@{
    ViewBag.Title = "ViewHRRF";
}

<h2>ViewHRRF</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div>
    <h4>HRRF</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HRRFNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRRFNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DemandType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DemandType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costcenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costcenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNamewithID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNamewithID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnagagementType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnagagementType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForReplacementPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForReplacementPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimarySkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimarySkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondarySkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondarySkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceExpectedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceExpectedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffshoreLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffshoreLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnsiteLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnsiteLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisaType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisaType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Justification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Justification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientInterview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientInterview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoByHiringManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoByHiringManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoByTCOTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoByTCOTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullfilmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullfilmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidationInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidationInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequesterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequesterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequesterEmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequesterEmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRRFCreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRRFCreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRRFCreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRRFCreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRRFSubmitedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRRFSubmitedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HRRFID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}