@*@model List<Trianz.Enterprise.Operations.Models.ITSResourceDashboard>*@
@{
    ViewBag.Title = "ITSResourceDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Layout1.css" rel="stylesheet" />
<link href="~/Content/Footer2.css" rel="stylesheet" />



<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.bootstrap.min.css" rel="stylesheet">

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />

<style>
    HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
    }
    #tableEmpResourceReport_wrapper {
        position: relative;
        left: 17px;
        width: 94%;
    }
    body {
        overflow-x: hidden;
    }
    .Empname {
        position: relative;
        bottom: 20px;
        left: 95px;
    }

    div.dataTables_wrapper div.dataTables_filter label {
        font-weight: normal;
        white-space: nowrap;
        text-align: left;
        margin-right: 8px;
    }
    #tableEmpResourceReport_length {
        position: relative;
        top: 5px;
    }
    .dataTables_filter {
        position: relative;
        top: 4px;
    }

    body {
        overflow-x: hidden;
    }

    .questionlogo1 {
        margin-left: 592px;
        margin-top: -9px;
    }

    .onlinebtn {
        margin-left: 548px;
        position: relative;
        top: 1px;
    }
    .myskills_div {
        display:block;
    }
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }

    #tableEmpResourceReport_wrapper {
       
        position: relative;
        left: 17px;
        width: 97%;
    }
    
    .outerDiv {
    /* background-color: #006699; */
    color: #fff;
    height: 400px;
    width: 105%;
    margin: 0px auto;
    padding: 5px;
    margin-left: 31px;
    }
    .table {
        width: 99%;
        max-width: 110%;
        margin-bottom: 20px;
    }
    #tableEmpResourceReport {
        margin: 0px;
        width: 104%;
    }
    .HRRF_custom .subpage_header {
        margin: 11px -32px;
        padding-bottom: 21px;
        background: #F3F4F9;
    }
</style>


<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <div class="subpage_header page-header nomargin-top">
            <div class="text-left pull-left">
                <p style=" color: #2C2E31; font-size: 16px;margin-left: 51px;top: 18px;position: relative;">ITS RESOURCE DASHBOARD</p>
            </div>
            <div class="pull-right text-right">
                <button id="btngenatedashboard" type="button" class="btn btn-primary pull-right" style="position: relative;left: -46px;top: 13px;background-color:#004BBB">Generate Dashboard</button>
            </div>
            <div class="clear-both"></div>

        </div>
    </div>


</div>
@*<div class="=row" style="height:20px;">*@

<div class="col-md-4" style="margin-top: -57px;">
    <div class="pull-left text-right myskills_div" @*style="display: block;"*@>
        <div>
            @*<button id="btnExportToExcel" type="button" style="border: none;background-color: white; width: 16px; position: relative;top: 0px;left: 1008px;height: 15px;">
            <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px; height: 44px;display:block;margin-top: -14px;margin-left: -22px;" alt="xlmsimg">
        </button>*@

            <button id="btnExportToExcel" type="button" style="position: relative; background-color: white; border: white; float: right; color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 25px;top: -7px; right: -844px;">
                <img src="~/Content/images/Report_icon.svg" /> Export <span class="caret"></span>
            </button>

            @*<div>
            <button id="btnExportToExcel" type="button" style="border: none;background-color: white; width: 16px; position: relative;top: 0px;left: 1008px;height: 15px;">
            <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px; height: 44px;display: inline-block;margin-top: -14px;margin-left: -22px;" alt="xlmsimg">
            </button>
        </div>*@


        </div>
        @*<button id="btnExportToExcel" type="button" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i> Export to Excel</button>*@

        @*<button id="btnProcessing" type="button" class="btn btn-primary pull-right" disabled><i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Downloading...</button>*@
    </div>
</div>
@*<div class="col-md-4" style="text-align:center;">
        <img id="divLoader" src="@Url.Content("~/content/images/loading.gif")" style="display: none;"
             alt="Loading ..." width="50" />
    </div>*@
@*</div>*@
@*<div class="pull-left text-right myskills_div">
        <button id="btnExportToExcel" type="button" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i> Export to Excel</button>
        <button id="btnProcessing" type="button" class="btn btn-primary pull-right" disabled><i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Downloading...</button>
    </div>*@

<div id="divGridContent1" class="table table-responsive" style="margin-bottom: 0px;margin-left: 8px;background-color: #ffffff;">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$("#btnProcessing").hide();
        $('.myskills_div').hide();
       
        $("#btngenatedashboard").click(function () {
            $("#divLoader").show();
            GenearateDashBoard();
            
        });
        function GenearateDashBoard() {          
            var url = '@Url.Content("~/ResourceDashBoard/GetDashBoardDetails")';
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (data) {                 
                    if (data != null && data != "Sessionexpired") {
                        $('#divGridContent1').html(data);
                        $("#divLoader").hide();                       
                        var rowCount = $('#tableEmpResourceReport tbody tr').length;
                        if (rowCount > 1) {                          
                            //$(".myskills_div").show();
                            $(".myskills_div").css("display", "block");
                        }
                        else {
                            $(".myskills_div").hide();
                        }
                    }

                   else if  (data == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }
                },
                error: function (thrownError) {
                    alert(thrownError);
                }
            });
        }
        $('#btnExportToExcel').click(function () {
        //$(this).hide();
        $("#btnProcessing").show();

        $.ajax({
            url: "@Url.Action("ExportReport", "ResourceDashBoard")",
            data: "",
            type: "POST",
            datatype: "JSON",
            cache: false,
            success: function (response) {
                if (response == "success") {
                  window.location = "@Url.Action("GenerateEmployeeSkillReport", "ResourceDashBoard")";

                    setTimeout(function () {
                        $("#btnExportToExcel").show();
                        $("#btnProcessing").hide();
                    }, 10000);
                }
                else if (reresponsesult == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                else if (response== "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
            },
            error: function (error) {
                alert(error.statusText);
            }
            });
        });
    });

</script>
