@model List<Trianz.Enterprise.Operations.Models.EmployeeInfoDetails>

@{
    var grid = new WebGrid(Model, canSort: true, canPage: true, rowsPerPage: 10, selectionFieldName: "SelectedRow");
}
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />
<link href="~/Content/Talento7.css" rel="stylesheet" />


<style>
    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
        font-size: 12px;

    }

    .HRRF_custom .control-label {
        text-align: left;
        margin-top: 6px;
    }

    #SearchEmployee {
        margin-left: -52px;
    }

    .form-control {
        width: 126%;
    }

    body {
        overflow-x: hidden;
    }
    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
        margin: 9px;
        background-color: #ffffff;
        width: 98%;
    }
    .body-content {
        padding-left: 0px;
        padding-right: 0px;
        background-color: #ffffff;
        margin: -11px;
    }
    .col-md-12 nopadding {
        background-color: #ffffff;
    }
    .nopadding, .HRRF_custom .nopadding {
        background-color: #ffffff;
    }
    #Searchskill {
        width: 27%;
        position: relative;
        top: -31px;
        left: 215px;
    }
    #txt {
        color: #2C2E31;
        font-size: 16px;
        margin-left: 15px;
        margin-top: 56px;
    }
    .HRRF_custom .subpage_header {
        border-bottom: 1px solid #248CC8;
        background: #F3F4F9;
    }
    .btn-primary {
        color: #fff;
        background-color: #004BBB;
        border-color: #2e6da4;
    }
</style>

<!DOCTYPE html>

<div class="subpage_header page-header nomargin-top">
    <div class="col-md-6 nopadding-left">
        <div class="clear-both space10"></div>
        <p id="txt">EMPLOYEE SEARCH</p>
    </div>

    <div class="clear-both space5" style="height:5px;"></div>
    <div>
        @*<button id="btnExportToExcel" type="button" style="border: none;background-color: white; width: 16px; position: relative;top: 0px;left: 1008px;height: 15px;">
            <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px; height: 44px;display:block;margin-top: -14px;margin-left: -22px;" alt="xlmsimg">
        </button>*@

        <button id="btnExportToExcel" type="button" onclick="location.href='/MasterReport/GetExcel'" style="position: relative; background-color: white; border: white; float: right; color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 25px;bottom: 43px;
    left: -26px;">
            <img src="/Content/images/Report_icon.svg"> Export <span class="caret"></span>

        </button>
    </div>
</div>


<div class="row">
    @using (Html.BeginForm("Index", "EmployeeSearch", FormMethod.Get))
    {
        @*<div class="col-md-2 col-sm-12 nopadding-right pull-right" id="search">
                <input class="btn btn-primary" type="submit" value="Search" />
            </div>*@
        <div class="col-md-2 col-sm-12 nopadding-right pull-right" id="search">
            <button class="btn btn-primary" id="btnSearch" style="width:50px;"><span class="glyphicon glyphicon-search"></span></button>
        </div>
        <div class="col-sm-3">
            <div>
                <label class="col-lg-6 control-label">Billing Status</label>
                <div class="col-md-3">
                    @Html.DropDownList("ddlStatus", ViewData["StatusType"] as SelectList,
                    "Status", new { @class = "form-control", onchange = "submit();", @style = "width: 232px;" })
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <label class="col-lg-4 control-label" style="margin-left:121px">Skills</label>
        </div>
        <div class="col-md-3">
            @Html.TextBox("Searchskill", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Enter Skill", @style = "width:80%" })
        </div>
        @*</div>*@

    }
</div>
<div class="clear-both space5" style="height:12px;"></div>
<div class="col-md-12 nopadding">
    <div id=" gridcontent" class="table table-responsive">
        @{var ShowHeader = true;
            if (Model.Count() == 0)
            {
                ShowHeader = false; <center><p>No Data Found</p></center> }
        }
        @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
     fillEmptyRows: false,
     //headerStyle: "table",
     alternatingRowStyle: "alt",
     selectedRowStyle: "select",
     displayHeader: ShowHeader,
     mode: WebGridPagerModes.All,
     firstText: "<< First",
     previousText: "< Prev",
     nextText: "Next >",
     lastText: "Last >>",
     htmlAttributes: new { id = "DashboardGrid" },
     columns: grid.Columns(
         grid.Column("EmployeeId", "ID", style: "Grade",
         format:@<span id="empid" title=@item.EmployeeId>@item.EmployeeId</span>),

grid.Column("UserName", "Name", style: "Request", format:@<text> <span id="User" class="display-mode">@item.EmployeeName</span> </text>),
grid.Column("Email",
header: "Email",
format: @<text>
        <span id="Email" class="display-mode">@item.EmailId</span>

</text>),

grid.Column("ProjectCode",
header: "Project Code",
format: @<text>
        <span id="ProjectCode" class="display-mode">@item.ProjectCode</span>
</text>),
grid.Column("ProjectName",
header: "Project Name",
format: @<text>
        <span id="ProjectName" class="display-mode">@item.ProjectName</span>
</text>),
grid.Column("StartDate",
header: "Start Date",
format: @<text>
        <span id="StartDate" class="display-mode">@(@item.StartDate == null ? String.Empty : @item.StartDate.ToString("MM/dd/yyyy"))</span>

</text>),
grid.Column("EndDate",
header: "End Date",
format: @<text>
        <span id="EndDate" class="display-mode">@(@item.EndDate == null ? String.Empty : @item.EndDate.ToString("MM/dd/yyyy"))</span>

</text>),
grid.Column("SkillName",
header: "Skill Name",
format: @<text>
        <span id="PrimarySkills" class="display-mode" title="@item.SkillName">
            @((item.SkillName != "" && item.SkillName != null) ? item.SkillName.Length < 30 ? item.SkillName : item.SkillName.Substring(0, 25) + " ..." : string.Empty)
        </span>


</text>),


grid.Column("Resumes", "Resumes", format: item => (item.ResumeFlag == 0) ? new HtmlString(string.Empty) : Html.ActionLink("Download", "FileDownload", new { EmployeeID = item.EmployeeId }))

))
    </div>

</div>

<script>

    $(document).ready(function () {
     $('#btnExportToExcel').click(function () {
        //$(this).hide();
        $("#btnProcessing").show();

        $.ajax({
            url: "@Url.Action("ExportReport", "EmployeeSearch")",
            data: "",
            type: "POST",
            datatype: "JSON",
            cache: false,
            success: function (response) {
                if (response == "success") {
                  window.location = "@Url.Action("ExportEmployeeDetails", "EmployeeSearch")";

                    setTimeout(function () {
                        $("#btnExportToExcel").show();
                        $("#btnProcessing").hide();
                    }, 10000);
                }
                else if (reresponsesult == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                else if (response== "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
            },
            error: function (error) {
                alert(error.statusText);
            }
            });
     });
    });
</script>
