@using Trianz.Enterprise.Operations.Controllers;
@model Trianz.Enterprise.Operations.Models.BillingLossList

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }

    .table > tbody > tr > td {
        padding: 3px;
    }
    body {
        overflow-x: hidden;
    }
    .search {
        margin-top: -33px;
        margin-right: 350px;
    }

    .HRRF_custom div.date {
        width: 240px;
    }

    #divLoadingIcon {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: url('../../Content/images/ajax-loader.gif')no-repeat center center;
    }

    .col-md-6 {
        width: 40%;
        position: relative;
        left: -14px;
    }

    #criticality {
        margin-left: -64px;
      
        position: relative;
    }

    #criticality1 {
        margin-left: 67px;
        margin-top: -29px;
        width: 198px;
    }

    #date1 {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        margin-left: -16px;
    }

    #datetimepicker1 {
        width: 187px;
        margin-left: -41px;
        margin-top: -5px;
    }

    #datetimepicker2 {
        width: 187px;
        margin-left: -45px;
        margin-top: -5px;
    }

    #RequestStatus {
        margin-left: -40px;
        margin-top: -5px;
        width: 181px;
    }

    #btnSearch {
        margin-left: -35px;
        margin-top: -3px;
        width: 50px;
    }
    .row {
        margin-right: -15px;
        margin-left: -6px;
    }
    .btn-primary {
        color: #fff;
        background-color: #004BBB;
        border-color: #2e6da4;
    }
</style>

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

@{
    ViewBag.Criticality = new SelectList(new[]
{
new SelectListItem { Text ="P0",Value="P0",Selected=true},
new SelectListItem { Text ="P1",Value="P1"},
new SelectListItem { Text ="P2",Value="P2"},
new SelectListItem { Text ="P3",Value="P3"},
new SelectListItem { Text ="All",Value="All"},
}, "Value", "Text");

    ViewBag.RequestStatus = new SelectList(new[]
{
new SelectListItem { Text ="Open",Value="Open",Selected=true},
new SelectListItem { Text ="Fulfilled",Value="Fulfilled"},
new SelectListItem { Text ="All",Value="ALL"},
}, "Value", "Text");
}

<style>
    #txt {
        color: #2C2E31;
        font-size: 16px;
        margin-left: 54px;
        /*font: normal normal medium 20px/45px Poppins;*/
        margin-top: 27px;
    }

    .table > caption + thead > tr:first-child > td,
    .table > caption + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > td,
    .table > colgroup + thead > tr:first-child > th,
    .table > thead:first-child > tr:first-child > td,
    .table > thead:first-child > tr:first-child > th {
        border-top: 0;
        color: #000000;
    }
    .HRRF_custom .subpage_header {
        border-bottom: 1px solid #248CC8;
        margin-left: 2px;
        width: 1275px;
    }
    #tableHRRFlist_wrapper {
        margin: 10px;
        background-color: #ffffff;
        width: 96%;
        margin-left: 34px;
    }
    .col-lg-6 {
        position: relative;
        left: 4px;
        /* background-color: #ffffff; */
        top: -3px;
    }
    #billingloss {
        margin: 6px;
        top: 12px;
        position: relative;
        width: 1236px;
    }
</style>

<div class="row">
    <div class="subpage_header page-header nomargin-top">
        <p id="txt" style="position:relative;left: -1px;">BILLING LOSS POSITIONS</p>
    </div>
    <div class="row" id="billingloss">

        <div class="col-lg-6">
            <div class="col-lg-6">
                <div class="col-md-6">
                    <label id="date1">From Date </label>
                </div>
                <div class="col-md-6">
                    <div class='input-group input-append date' id='datetimepicker1'>
                        <input type='text' name="ExpectedStart" id="ExpectedStart" class="form-control" data-error="Assignment Start Date should not be blank." required />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <div class="help-block with-errors error-msg-font-size"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-6" style="margin-left: -25px;">
                    <label>To Date </label>
                </div>
                <div class="col-md-6">
                    <div class='input-group input-append date' id='datetimepicker2'>
                        <input type='text' name="ExpectedEnd" id="ExpectedEnd" class="form-control" data-error="Assignment End Date should not be blank." required />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <div class="help-block with-errors error-msg-font-size"></div>
                </div>
            </div>

        </div>


        <div class="col-lg-6">

            <div class="col-lg-5" id="criticality">
                <div class="col-md-5">
                    <label style="position:relative;left:12px;">Criticality</label>
                </div>
                <div class="col-md-7" id="criticality1">
                    @Html.DropDownList("Criticality", (IEnumerable<SelectListItem>)ViewBag.Criticality, new { @class = "form-control" })

                    <div class="help-block with-errors error-msg-font-size"></div>
                </div>
            </div>

            <div class="col-lg-5" style="margin-left: 9px; ">
                <div class="col-md-5">
                    <label>Status</label>
                </div>
                <div class="col-md-7">
                    @Html.DropDownList("RequestStatus", (IEnumerable<SelectListItem>)ViewBag.RequestStatus, new { @class = "form-control" })
                    <div class="help-block with-errors error-msg-font-size"></div>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="col-md-12" style="margin-left:-25px">
                    @*<label>Request Status</label>*@
                    @*<input type="button" class="btn btn-primary" id="btnSearch" value="Search">*@

                    <div class="col-md-2 col-sm-12 nopadding-right pull-right" id="search">
                        <button class="btn btn-primary" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div>
        @*border-top: 1px solid whitesmoke;*@
        <div id="divHRRFList" style="padding-top: 5px;
    background-color: #ffffff;
    margin: 24px;
    margin-top: 10px;">
            @Html.Partial("_BillingLossShowDetails", Model)
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ajaxStart(function () {
        $('#divLoader').attr("style", "display: block; padding-top: 7px; padding-left: 7px;");
    });

    $(document).ready(function () {


        var chartDataResults = new Array();

        $('#ExpectedStart').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            orientation: "top",
            endDate: "today"

        });

        $('#ExpectedEnd').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            orientation: "top",
            endDate: "today"

        });

        var nowDate = new Date();
        var today = new Date(nowDate.getFullYear(), nowDate.getMonth() - 12, nowDate.getDate(), 0, 0, 0, 0);
        $('#datetimepicker1').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
          //  startDate: today,
            endDate: "today",
            format: 'dd-M-yyyy'
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });



        $('#datetimepicker2').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
          //  startDate: today,
            endDate: "today",
            format: 'dd-M-yyyy'
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        $("#ExpectedEnd").change(function () {
            var startDate = document.getElementById("ExpectedStart").value;
            var endDate = document.getElementById("ExpectedEnd").value;
            if ((Date.parse(startDate) >= Date.parse(endDate))) {
                alert("End date should be greater than Start date");
                document.getElementById("ExpectedEnd").value = "";
            }
        });
        $("#ExpectedStart").change(function () {
            var startDate = document.getElementById("ExpectedStart").value;
            var endDate = document.getElementById("ExpectedEnd").value;
            if ((Date.parse(startDate) >= Date.parse(endDate))) {
                alert("End date should be greater than Start date");
                document.getElementById("ExpectedStart").value = "";
            }
        });


        $("#btnProcessing").hide();
        DisplayHRRFList();

        $('#btnSearch').click(DisplayHRRFList);

        function DisplayHRRFList() {
            $("#btnProcessing").show();
            $("#divHRRFList").html('');
            //  var myRequest = 'OPEN';
            debugger;
            var reqstatus = ($('#RequestStatus').length > 0) ? $('#RequestStatus').val() : "";
                var criticality = ($('#Criticality').length > 0) ? $('#Criticality').val() : "";
            var txfromdate = ($('#ExpectedStart').length > 0) ? $('#ExpectedStart').val() : "";
            var txtodate = ($('#ExpectedEnd').length > 0) ? $('#ExpectedEnd').val() : "";
            var url = '@Url.Content("~/Billingloss/GetHRRFsByFilters")';

              //  debugger
                $.ajax({
                    url: url,
                    data: { strreqstatus:reqstatus, strCrtticality: criticality, fromdate: txfromdate, todate: txtodate},
                    type: 'POST',
                    datatype: 'JSON',
                    cache: false,
                    success: function (data) {
                    if (data != "null" && data != "Error" && data != "Sessionexpired" )
                    {

                       // var somedata = data;
                        $("#divHRRFList").html(data);

                      }

                    else if (data == "Sessionexpired")
                    {
                        $("#btnProcessing").hide();
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                    else if (data == "Error") {
                          $("#btnProcessing").hide();
                       window.location.href = '@Url.Action("Error","Error")';

                }
                    },
                    error: function (error) {

                        alert("error");
                        $("#btnProcessing").hide();
                        alert(error.statusText);
                    }
                });
        }

        });

        $(document).ajaxComplete(function () {
            $('#divLoader').attr("style", "display: none;");
        });
</script>

