<link href="~/Content/LayoutHeader.css" rel="stylesheet" />

@{
    ViewBag.Title = "Update ExternalHire";
}
<link href="~/Content/Layout1.css" rel="stylesheet" />
@if (TempData.ContainsKey("EXMessage"))
{
    <script>
        $(function () {
            bootbox.alert('@TempData["EXMessage"]');

        });
    </script>
}
<style>
    #a1 {
        position: relative;
        left: -33px;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .btn-primary {
        color: #fff;
        /* background-color: #337ab7; */
        border-color: #2e6da4;
        background-color: #004BBB;
        border-color: #204d74;
    }
    .body-content {
        background-color: #ffffff;
        margin: 32px;
        position: relative;
        left: 16px;
    }
    .HRRF_custom div.date {
        width: 255px;
    }
    hr {
        border-bottom: 1px solid #248CC8;
    }
    .questionlogo1 {
        margin-left: 586px;
    }

    .onlinebtn {
        margin-left: 544px;
    }
    body {
        overflow-x: hidden;
    }
    hr {
        border-bottom: 1px solid #248CC8;
    }
    .HRRF_custom .page-header {
        margin: 15px 0px;
        padding-bottom: 0px;
        background-color: #F3F4F9;
    }
</style>

<script type="text/javascript">
    $(function () {
        var nowDate = new Date();
        var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);

        $('#datetimepicker1').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            startDate: today,
            todayHighlight: true
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        $('#datetimepicker2').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            startDate: today,
            todayHighlight: true
            //format: 'dd/mm/yyyy',
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        $('#datetimepicker3').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            startDate: today,
            todayHighlight: true
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });



    });
    function toggleChevron(e) {
        $(e.target)
            .prev('.panel-heading')
            .find("i.indicator")
            .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
    }

    $(function () {
        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);
    });
    function CancellationRemarksChange(event) {
        if (event == "Duplicate")
            $("#divDuplicateHrrf").show();
        else
            $("#divDuplicateHrrf").hide();
    }


    

    function ValidateHRRFNo() {
        var dupHrrfNo = $("#txtDuplicateHrrfNumber").val();
        if (dupHrrfNo != "") {
            $.ajax({
                url: '@Url.Action("ValidateHRRFNo", "ExternalReport")',
                data: { duplicatehrrfno: dupHrrfNo },
                type: "POST",
                success: function (result) {

                    if (result == "false") {

                        bootbox.alert("Please enter correct  hrrf no");
                        $("#txtDuplicateHrrfNumber").val('');

                    }
                    else if (result == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                     else if (result == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }

                }
            });
            return true;
        }
    }
</script>

@{
    var ddlRequestStatus = new SelectList(new[]
    {
new SelectListItem { Text ="Awaiting Screening",Value="Awaiting Screening"},
new SelectListItem { Text ="Cancelled",Value="Cancelled"},
new SelectListItem { Text ="Feedback Pending",Value="Feedback Pending"},
new SelectListItem { Text ="First Level Pending",Value="First Level Pending"},
new SelectListItem { Text ="Fulfilled",Value="Fulfilled"},
new SelectListItem { Text ="Hold",Value="Hold"},
new SelectListItem { Text ="HR Interview Pending",Value="HR Interview Pending"},
new SelectListItem { Text ="Client Interview Pending",Value="Client Interview Pending"},
new SelectListItem { Text ="Offer to Go",Value="Offer to Go"},
new SelectListItem { Text ="Second Level Pending",Value="Second Level Pending"},
new SelectListItem { Text ="Resume Pending",Value="Resume Pending"},
new SelectListItem { Text ="Yet to Join",Value="Yet to Join"},
}, "Value", "Text");

}

@{
    //var Cancelreason = new SelectList(new[]
    //{
    //      new SelectListItem { Text ="Dropped By Client",Value="Dropped By Client"},
    //      new SelectListItem { Text ="Duplicate",Value="Duplicate"},
    //      new SelectListItem { Text ="Lost Business",Value="Lost Business"},
    //      new SelectListItem { Text ="Dropped by Delivery",Value="Dropped by Delivery"},
    //      new SelectListItem { Text ="Retention",Value="Retention"},

    //}, "Value", "Text");

}
<style>
    #txt {
        color: #2C2E31;
        font-size: 16px;
        /*font: normal normal medium 20px/45px Poppins;*/
    }
</style>

<h2 id="txt"><b style="position: relative;top: 9px;left: 8px;">UPDATE TR</b></h2>
<hr />
@using (Html.BeginForm(FormMethod.Post))
{
    <form>
        <fieldset>
            @*<img id="divLoader" src="~/Content/images/loading.gif" class="se-pre-con" />*@
            <div class="col-md-12 nopadding">
                <div class="form-group col-md-3 col-sm-12">
                    <label class=" text-left" for="textinput">Resource Name</label> @*<span style="color:red">*</span>*@
                    <input type="text" id="txtResourceName" name="txtResourceName" class="form-control" />
                </div>
                <div class="form-group col-md-3 col-sm-12">
                    <label class=" text-left" for="textinput">Request Status</label> <span style="color:red">*</span>
                    @Html.DropDownList("ddlRequestStatus", new SelectList((System.Collections.IEnumerable)ViewData["_ddlRequestStatus"]),
                "Select an option", new { @class = "form-control", @onchange = "javascript:GrayoutFields(this.value);" })
                </div>

                <div class="form-group col-md-3 col-sm-12">
                    <label class=" text-left" for="textinput">
                        Recruiter Name
                        <span id="SpanRecruiterName" style="color:red">*</span>
                    </label> @*<span style="color:red">*</span>*@
                    @*@Html.DropDownList("RecruiterName", new SelectList((System.Collections.IEnumerable)ViewData["_RecruiterName"], "Value", "Text"), "Select Recruiter Name", new { @class = "form-control edit-mode RecruiterName", @disabled = "disabled" })*@
                    @Html.DropDownList("RecruiterName", new SelectList((System.Collections.IEnumerable)ViewData["_RecruiterName"], "Value", "Text"), "Select Recruiter Name", new { @class = "form-control edit-mode RecruiterName" })
                    @if (Session["EmployeeId"].ToString() == "103422" || Session["EmployeeId"].ToString() == "102342"
                    || Session["EmployeeId"].ToString() == "102536" || Session["EmployeeId"].ToString() == "103857"
                    || Session["EmployeeId"].ToString() == "104209" || Session["EmployeeId"].ToString() == "103212" || Session["EmployeeId"].ToString() == "105009" || Session["EmployeeId"].ToString() == "105977")
                    {
                        <script>
                            $('#RecruiterName').removeAttr('disabled');
                        </script>
                    }
                </div>






            </div>



            <br />
            <div class="col-md-12 nopadding">


                <div class="col-md-4 col-sm-12 nopadding-right">
                    <label class=" text-left" for="textinput">Date of Join</label><span id="DOJSign" style="color:red; visibility:hidden">*</span>
                    <div class='input-group date' id='datetimepicker1' style="width:278px;">
                        <input type='text' name="DOJ" id="DOJ" class="form-control" />
                        <span class="input-group-addon" @*style="pointer-events:none"*@>
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 nopadding-right" style="margin-left: -95px;">
                    <label class=" text-left" for="textinput" style=" margin-left: -5px;">Expected Fulfilment Date</label> <span style="color:red">*</span>
                    <div class='input-group date' id='datetimepicker2' style="width:269px;margin-left: -3px;">
                        <input type='text' name="FulfilmentDate" id="FulfilmentDate" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div style="visibility:hidden;margin-left: -95px;" class="col-md-4 col-sm-12 nopadding-right" id="Divdatetimepicker3">
                    <label class=" text-left" for="textinput" style=" margin-left: -12px;">Cancel Date</label><span style="color:red">*</span>
                    <div class='input-group date' id='datetimepicker3' style="margin-left: -12px; width: 275px;">
                        <input type='text' name="DOC" id="DOC" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>





                <div class="form-group col-md-3 col-sm-12" style="margin-top: 26px;">
                    <label class=" text-left" for="textinput">Fulfilment Remarks</label> @*<span style="color:red">*</span>*@
                    @*<input type="text" id="txtFulfilmentRemarks" name="txtFulfilmentRemarks" class="form-control" />*@
                    <textarea id="txtFulfilmentRemarks" name="txtFulfilmentRemarks" class="form-control" rows="2" cols="50"></textarea>
                </div>

                <div id="DivCancel" style="visibility:hidden;margin-top: 26px;" class="form-group col-md-3 col-sm-12">
                    <label class=" text-left" for="textinput">Cancellation Remarks</label><span style="color:red">*</span>
                    @*<input type="text" id="txtCancelRemarks" name="txtCancelRemarks" class="form-control" />*@
                    @*<textarea id="txtCancelRemarks" name="txtCancelRemarks" class="form-control" rows="4" cols="50"></textarea>*@
                    @Html.DropDownList("txtCancelRemarks", new SelectList((System.Collections.IEnumerable)ViewData["_Cancelreason"]),
                "Select an option", new { @class = "form-control", @onchange = "CancellationRemarksChange(this.value)" })
                    <div class="row" id="divDuplicateHrrf" style="margin-top:20px;display:none;">
                        <div cclass="form-group col-md-3 col-sm-12">
                            <label class="col-md-4 control-label">TRNo<span style="color: red;">*</span></label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="txtDuplicateHrrfNumber" id="txtDuplicateHrrfNumber" onblur="ValidateHRRFNo();" />
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div style="visibility:hidden;margin-top: 6px;" class="form-group col-md-3 col-sm-12" id="EmpId">
                <label class=" text-left" for="textinput">Employee Id</label><span style="color:red">*</span>
                <input type="text" id="txtEmpId" name="txtEmpId" class="form-control" />
            </div>

            <div class="clear-both space10"></div>
            <div class="col-md-12 nopadding">
                <div class="form-group col-md-4 col-sm-12 pull-left text-left nopadding-left">
                    <input type="submit" name="submit" id="Submit" value="Save" class="btn btn-primary" style="left: 590px;position:relative" />
                </div>
            </div>
        </fieldset>
    </form>
}



@if (ViewData["Message"] != null)
{
    <script>

        $(document).ready(function () {

            alert('@ViewData["Message"]');

        });

    </script>

}
<script type="text/javascript">

    $("#txtEmpId").autocomplete({
        
        source: function (request, response) {      
           var Empnameids = new Array();           
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@(Url.Action("Autocomplete", "CreateHRRF"))",
                data: { "term": request.term },
                success: function (data) {
                    if (data != "null" && data != "Error") {                      
                       for (var i = 0; i < data.length; i++) {
                            Empnameids[i] = { label: data[i].Key, Id: data[i].Value };
                        }
                    }
                     else if (data == "Error") {
                    window.location.href = '@Url.Action("Error","Error")';

               }
               }
            });
            // response(Empnameids);
            response(Empnameids.slice(0, 7));
        },
        select: function (event, ui) {
            //    debugger;
            //fill selected customer details on form
            ReplacementEmpId = ui.item.Id;           
       }
    });
    @* $('#txtEmpId').blur(function () {
        //   debugger;
        var replacedid = $('#txtEmpId').val();
        var replacedemp = replacedid.split("-");
        if (replacedemp.length == 2) {
            $('#txtEmpId').val(replacedemp[0]);
        }
        else {
            bootbox.alert("Please select the valid Employee Id from the list");
            $('#txtEmpId').val("");
        }
    });*@


    @*$("#txtEmpId").focusout(function () {
        var replacementEmployee = $('#txtEmpId').val();
        alert("Focusout call");
        if (replacementEmployee != "") {
            {
                $.ajax({
                    url: '@Url.Action("IsReplacemntExist", "CreateHRRF")',
                    data: { replacementId: replacementEmployee },
                    cache: false,
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        if (data == true && data != "Error") {
                            bootbox.alert("replacement already created for the Associate");
                            $('#ReplacementEmpId').val("");
                            e.preventDefault();
                            return false;
                        }
                         else if (data == "Error") {
                    window.location.href = '@Url.Action("Error","Error")';

                }

                        else if (data == "error") {

                        }
                    },

                });
            }
        }
    });*@


    function GrayoutFields() {
        //  debugger
        var RequestStatus = $('#ddlRequestStatus').val()
        DivCancel = document.getElementById('DivCancel')


        //$("#datetimepicker1").find(".input-group-addon").css("pointer-events", "none");
        $("#datetimepicker1").find("#DOJ").val("");
        $('#txtEmpId').val("");

        if (RequestStatus == "Cancelled") {
            DivCancel.style.visibility = "visible";
            Divdatetimepicker3.style.visibility = "visible";
        }
        else {
            DivCancel.style.visibility = "hidden";
            Divdatetimepicker3.style.visibility = "hidden";
        }
        empid = document.getElementById('EmpId')
        if (RequestStatus == "Fulfilled") {
            empid.style.visibility = "visible";
            $("#datetimepicker1").find(".input-group-addon").css("pointer-events", "none");
            $("#datetimepicker1").find("#DOJ").attr("disabled", true);

        }
        else {
            empid.style.visibility = "hidden";
            $("#datetimepicker1").find(".input-group-addon").css("pointer-events", "visible");
            $("#datetimepicker1").find("#DOJ").attr("disabled", false);
        }
        if (RequestStatus.toLowerCase() == "yet to join") {
            DOJSign.style.visibility = "visible";
        }
        else {
            DOJSign.style.visibility = "hidden";
        }

    }
    //$(document).ready(function () {
    //    debugger
    //    $(".ddlRequestStatus").on("change", function () {
    //        debugger
    //        var chkValue = $(this).val();
    //        if (chkValue == "Fulfilled") {

    //            $(this).closest("td").parent().find(".doj-date").attr("disabled", true);
    //        } else {

    //            $(this).closest("td").parent().find(".doj-date").attr("disabled", false);
    //            $(this).closest("td").parent().find(".doj-date").val("");

    //        }
    //    });
    //});



</script>

<script type="text/javascript">

    $('#txtEmpId').change(function () {
        debugger;
        var EmpID1 = $('#txtEmpId').val();
        if (EmpID1 != null && EmpID1 != '') {

            $.ajax({
                async: false,
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetEmployeeDateofJoin", "ExternalReport"))",
                data: { EmployeeID: EmpID1 },
                success: function (result) {
                    debugger;
                    if (result.EmployeeID > 0) {
                        var dateString = result.DOJ.substr(6);
                        var currentTime = new Date(parseInt(dateString));
                        var month = currentTime.getMonth() + 1;
                        var day = currentTime.getDate();
                        var year = currentTime.getFullYear();
                        var date = month + "/" + day + "/" + year;
                        $("#datetimepicker1").find("#DOJ").val(date);
                        $('#txtEmpId').val(result.EmployeeID);
                    }
                    else if (result == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                    else {
                        $("#datetimepicker1").find("#DOJ").val("");
                        $('#txtEmpId').val("");
                        bootbox.alert(result.Message);
                    }
                },

            })
        }
        else {
            $("#datetimepicker1").find("#DOJ").val("");
            $('#txtEmpId').val("");
            bootbox.alert("Enter EmployeeID");

        }

    });
    $('#Submit').click(function (e) {
        debugger


        var fulfilremarks = $('#txtFulfilmentRemarks').val();


        var doj = $('#DOJ').val();
        var cancelremarks = $('#txtCancelRemarks').val();
        var cancelDate = $('#DOC').val();
        var empid = $('#txtEmpId').val();
       
        var dupHRRFNo = $("#txtDuplicateHrrfNumber").val();
        var recruiterName = $("#RecruiterName").val();

        var chkval = true;

        //if ($('#ddlRequestStatus').val().length == 0 && $('#FulfilmentDate').val().length > 0) {
        if ($('#ddlRequestStatus').val().length == 0) {
            bootbox.alert('Please select request status');
            chkval = false;

        } else if ($("#RecruiterName").val().length==0) {
            bootbox.alert('Please select Recruiter Name');
            chkval = false;
        }


            //else if ($('#ddlRequestStatus').val().length > 0 && $('#FulfilmentDate').val().length == 0) {
            //    bootbox.alert('Please select expected fulfilment date');
            //    return false;
            //}
            //else if ($('#ddlRequestStatus').val().length == 0 && $('#FulfilmentDate').val().length == 0) {
            //    bootbox.alert('Please select request status and expected fulfilment date');
            //    return false;
            //}
        else {

            if ($('#ddlRequestStatus').val() == "Fulfilled") {


                if (fulfilremarks.trim().length == 0 && doj.length == 0 && empid.length == 0 && $('#FulfilmentDate').val().length == 0) {

                    bootbox.alert('Please select EmployeeId, Remarks, Expected fulfilment date and Date of Join fields');

                    chkval = false;
                }
                else if (doj.length == 0) {

                    bootbox.alert('Please select DateofJoin field');

                    chkval = false;
                }
                else if (fulfilremarks.trim().length == 0) {

                    bootbox.alert('Please select Remarks field');

                    chkval = false;
                }
                else if (empid.length == 0) {

                    bootbox.alert('Please select EmployeeId field');

                    chkval = false;
                }
                else if ($('#FulfilmentDate').val().length == 0) {

                    bootbox.alert('Please select expected fulfilment date');

                    chkval = false;
                }
            }
            else if ($('#ddlRequestStatus').val() == "Cancelled") {

                if (cancelDate.length == 0 && cancelremarks.trim().length == 0) {
                    bootbox.alert('Please select CancelDate and CancelReason fields');

                    chkval = false;
                }
                else if (cancelDate.length == 0) {

                    bootbox.alert('Please select CancelDate field');

                    chkval = false;
                }
                else if (cancelremarks.trim().length == 0) {

                    bootbox.alert('Please select CancelRemarks field');

                    chkval = false;
                }
            }
            else if ($('#ddlRequestStatus').val() == "Yet to Join") {

                if (doj.length == 0 && $('#FulfilmentDate').val().length == 0) {
                    bootbox.alert('Please select DateofJoin and ExpectedFulfilmentDate fields');
                    chkval = false;
                }
                else if ($('#FulfilmentDate').val().length == 0) {

                    bootbox.alert('Please select Expected fulfilment date');

                    chkval = false;
                }
                else if (doj.length == 0) {
                    bootbox.alert('Please select DateofJoin field');
                    chkval = false;
                }
                //else if ($('#FulfilmentDate').val().length == 0) {
                //    bootbox.alert('Please select expected fulfilment date');
                //    chkval = false;

                //}
            }
            else {
                if ($('#FulfilmentDate').val().length == 0) {

                    bootbox.alert('Please select expected fulfilment date');

                    chkval = false;
                }
                else {

                    alert('External hire submitted successfully');

                    chkval = true;
                }
            }
        }

        if (cancelremarks == "Duplicate") {

            if ($("#txtDuplicateHrrfNumber").val() == "") {

                bootbox.alert('Please enter hrrf no');

                chkval = false;
            }

        }

        if (chkval == true) {

            $('#DOJ').attr('disabled', false);
            var item = confirm("Are you sure you want to submit external hire!");

            if (item != true) {
                e.preventDefault();

                return false;
            }
        }

        else {

            e.preventDefault();

            return false;
        }

    });

    // Below code is commented
    /// validating the required fields
    //var RequestStatus = $('#ddlRequestStatus').val()
    //if (RequestStatus == 'Yet to Join' || RequestStatus == 'Offer to Go' || RequestStatus == 'Fulfilled') {
    //    if (($('#DOJ').val().length == 0) ) {
    //        alert('Please select required field DateofJoin');
    //        return false;
    //    }
    //    else if ($('#FulfilmentDate').val().length == 0)
    //    {
    //        alert('Please select required field Expected FulfilmentDate');
    //        return false;
    //    }
    //    else { return true}
    //}
    //if (($('#txtResourceName').val().length == 0) ||
    //    ($('#ddlRequestStatus').val().length == 0) ||
    //    ($('#txtFulfilmentRemarks').val().length == 0)) {
    //    alert('Please select all required fields');
    //    return false;
    //}
    //else {
    //    alert('ExternalHire Submitted Successfully');
    //    return true;
    //}

    $('#txtEmpId').keypress(function (event) {
        if (event.keyCode == 13) {     //13 for enterkey
            event.preventDefault();
        }
    });


    $(document).ready(function () {
        //alert(1)
        $('.externalactive').addClass('active');
    });
</script>