@model IEnumerable<Trianz.Enterprise.Operations.Models.ValidationModel>
@*@model IEnumerable<Trianz.Enterprise.Operations.Models.HRRF>*@
@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 20,
    selectionFieldName: "SelectedRow");

    grid.Pager(WebGridPagerModes.All);
}
<style>
    #gridT, #gridT tr {
        border: 1px solid #0D857B;
    }

    #nestedT, #nestedT tr {
        border: 1px solid #f3f3f3;
    }

    #nestedT {
        margin: 0px 0px 0px 10px;
        padding: 5px;
        width: 95%;
    }

        #nestedT th {
            font-size: 12px;
        }

    .recordHoverEffect {
        cursor: pointer;
    }

        .recordHoverEffect:hover {
            background-color: rgb(248, 242, 242);
            /*background-color: #7c7c7c;*/
        }

    .glyphicon-minus-sign, .glyphicon-plus-sign {
        border: none;
    }
    .grayedOut {
        cursor: text;

    }
</style>

<script>
    $(document).ready(function () {
        //debugger;
        var size = $("#LoadGrid #gridT > thead > tr >th").size(); // get total column
        //alert(size)
        $("#LoadGrid #gridT > thead > tr >th").last().remove(); // remove last column
        $("#LoadGrid #gridT > thead > tr").prepend("<th></th>"); // add one column at first for collapsible column
        
        $("#LoadGrid #gridT > tbody > tr").each(function (i, el) {
            var xys = $(this).find("#nestedT tbody tr td").size();
            if (xys > 0) {
                $(this).prepend(
                $("<td></td>")
                    .addClass("glyphicon")
                .addClass("glyphicon-minus-sign")
                .addClass("recordHoverEffect")
                 //.addClass("recordHoverEffect:hover")
                .attr('title', "click for show/hide")
                );
            }
            else {
                $(this).prepend(
               $("<td></td>")
                   .addClass("glyphicon")
               .addClass("glyphicon-minus-sign")
               .addClass("grayedOut")
               //.addClass("recordHoverEffect")
               //.attr('title', "click for show/hide")
               );
            }
           
            //Now get sub table from last column and add this to the next new added row
            var table = $("table", this).parent().html();
            //add new row with this subtable
            $(this).after("<tr><td></td><td style='padding:5px; margin:0px;' colspan='" + (size - 1) + "'>" + table + "</td></tr>");
            $("table", this).parent().remove();
            // ADD CLICK EVENT FOR MAKE COLLAPSIBLE
            if (xys > 0) {
                $(".recordHoverEffect", this).on("click", function () {
                    $(this).parent().closest("tr").next().slideToggle(100);
                    $(this).toggleClass("glyphicon-plus-sign glyphicon-minus-sign");
                });}
            else {

                $(".recordHoverEffect", this).off("click", function () {
                                     
                    //$("td.glyphicon recordHoverEffect glyphicon-plus-sign").addClass("grayedOut");
                    $(this).parent().closest("tr td").css("cursor" , "not-allowed");
                    $(this).parent().closest("tr").next().hide();
                  
                });
            }
        });

        //by default make all subgrid in collapse mode
        $("#LoadGrid #gridT > tbody > tr td.glyphicon-minus-sign").each(function (i, el) {
            $(this).toggleClass("glyphicon-plus-sign glyphicon-minus-sign");
            $(this).parent().closest("tr").next().slideToggle(100);
        });
    });
</script>
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 100px;
    }
</style>
<script language="javascript">
    //TR Search Field Suggestions
    $(function () {
        $("#SearchString").autocomplete({
            source: function (request, response) {
                $.ajax({
                    // url: "../Home/GetAllHrrfNum",
                    url: '@Url.Action("GetAllHrrfNum", "Home")',
                    data: "{ 'name': '" + request.term + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        if (data != '') {
                            response($.map(data, function (item) {
                                return {
                                    value: item.HRRFNumber,
                                    text: item.HRRFNumber
                                };
                            }));
                        }
                        else {
                            response('');
                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            },
            select: function (event, ui) {

                $(':hidden[id=hdnmedicineid]').val(ui.item.text.toString());
                $(':hidden[id=hdnmedicinenm]').val(ui.item.value.toString());

            },

            minLength: 1,
            autoFocus: true
        });

    });

</script>

<script type="text/javascript">

    $(function () {
        $(document).tooltip();
    });
   
</script>



<div id="LoadGrid">
    @{
        var myRequest = new List<SelectListItem>
        {
            new SelectListItem { Text = "My Request", Value="MyRequest" ,Selected=true },
            new SelectListItem { Text = "ALL TRs", Value="ALL" },
            new SelectListItem { Text = "Open TRs", Value="Open" },
        };

        //another selectlist
        var myRequestOnly = new List<SelectListItem>
        {
              new SelectListItem { Text = "My Request", Value="MyRequest" ,Selected=true }
        };
    }
   
   @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
   {
        <div class="container row">
            <div class="col-md-6 col-sm-12 nopadding-left">
                <div class="col-md-2 col-sm-12 nopadding-left">
                    @*@if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM") || Convert.ToInt32(Session["Grade"]) >= 3)*@

                    @if ((Session["Role"].ToString() == "RL"))
                    {
                        List<string> lstEmpIDs = System.Configuration.ConfigurationManager.AppSettings["CreateTR-RL"].Split(',').ToList();

                        bool IsValid = lstEmpIDs.Where(e => Session["EmployeeId"].ToString().Contains(e)).Any();
                        if (IsValid)
                        {
                            @:<button id="btnCreate" type="button" onclick="location.href='@Url.Action("HRRFCreation", "CreateHRRF")'" class="btn btn-primary pull-left" style="margin-right: 10px;">Create TR</button>
                        }
                    }
                    else
                    {
                        if (Convert.ToInt32(Session["Grade"]) >= 1)
                        {
                            <button id="btnCreate" type="button" onclick="location.href='@Url.Action("HRRFCreation", "CreateHRRF")'" class="btn btn-primary pull-left">Create TR</button>
                        }
                    }
                </div>
                <div class="col-md-10 col-sm-12 text-right nopadding-right">
                    @*@Html.TextBox("Location", "", new { @class = "form-control", @placeholder = "---Location---" })*@
                    @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "RL" || Session["Role"].ToString() == "LDAdmin" || Session["Role"].ToString() == "CompetencyAdmin"))
                    {
                                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "input-sm ", @placeholder = "Enter TR" })
                                    <input class="btn btn-primary" type="submit" value="Search" />
                    }
                </div>

            </div>
            <div class="col-md-6 col-sm-12 pull-right text-right nopadding-right">
                <div class="col-md-3 col-sm-12 nopadding-right pull-right">
                    @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "RL" || Session["Role"].ToString() == "LDAdmin" || Session["Role"].ToString() == "CompetencyAdmin"))
                    {
                        <button type="button" id="btnExport" name="btnExport" href="#" onclick="location.href='@Url.Action("GetExcel", "Home")'" title="Export to Excel" class="btn btn-default btn-sm btn-excel">
                            <i class="glyphicon glyphicon-export"></i>
                            Export To Excel
                        </button>
                    }
                </div>
                <div class="col-md-3 col-sm-12 pull-right nopadding-right">
                    @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "RL" || Session["Role"].ToString() == "LDAdmin" || Session["Role"].ToString() == "CompetencyAdmin"))
                    {
                        if (Session["Role"].ToString() == "OM" || Convert.ToInt32(Session["Grade"])>=4 || Session["Role"].ToString() == "RL")
                        {
                        @Html.DropDownList("ddlMyRequest", myRequest, new { @class = "form-control", onchange = "submit();" })
                        }
                        else if (Convert.ToInt32(Session["Grade"]) < 4)
                        {
                            @Html.DropDownList("ddlMyRequest", myRequestOnly, new { @class = "form-control", onchange = "submit();" })
                        }
                    }
                </div>
                @*<div class="col-md-3">
                        @Html.TextBox("Location", "", new { @class = "form-control", @placeholder = "---Location---" })
                    </div>*@
                <div class="col-md-3 col-sm-12 pull-right nopadding-right">

                    @if (Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "RL")
                    {
                        @Html.DropDownList("ddlPractise", new SelectList((System.Collections.IEnumerable)ViewData["ServiceLine"], "LookupName", "LookupName"),
                          "Practice", new { @class = "form-control", onchange = "submit();" })
                    }
                </div>
            </div>

            @if (@TempData["HRRFNumber"] != null)
            {
                 <span><font color="#FF000"><b>@TempData["HRRFNumber"]</b> has been created successfully.</font></span>
            }
        </div>

    }
    <div class="clear-both space10"></div>
    <div class="col-md-12 nopadding">
        <div id=" gridcontent" class="table table-responsive">
            @{var ShowHeader = true;
                if (Model.Count() == 0)
                {
                    ShowHeader = false; <center><p>No Data Found</p></center> }
            }

            @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
         fillEmptyRows: false,
         //headerStyle: "table",
        alternatingRowStyle: "alt",
        selectedRowStyle: "select",
        displayHeader: ShowHeader,
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",
        htmlAttributes: new { id = "gridT" },
        columns: grid.Columns(
            grid.Column(columnName: "TR#", format: @<text>
                @if (item.HRRFParentChild.Purpose == "Opportunity")
                {
                    <span class="pull-left oprty_star">*</span>
                }
                @Html.ActionLink((string)item.HRRFParentChild.HRRFNumber, "ProposeAssociate", "ProposeAssociate", new { id = item.HRRFParentChild.HRRFNumber, hrrfno = item.HRRFParentChild.HRRFNumber }, new { @class = "viewDialog" }) 
                @if (item.HRRFParentChild.RequestType == "External")
                {
                    <span class="grid_td-e"> - e </span>
                }
                else
                {
                    <span class="grid_td-i"> - i </span>
                }
                </text>
                  
                                                                                     ),
               grid.Column("JobDescription", "Description", format: @<text><div title="Description: @item.HRRFParentChild.JobDescription"
                                                                                style="cursor:pointer;">
                    @(item.HRRFParentChild.JobDescription.Length > 30 ? item.HRRFParentChild.JobDescription.Substring(0, 30).Trim() + "..." :

(item.HRRFParentChild.JobDescription == null) ? "" : item.HRRFParentChild.JobDescription)



                </div></text>),
            grid.Column("HRRFParentChild.ProjectName", "Project/Opportunity/Proactive Hire"),
              grid.Column("HRRFParentChild.Practice", "Practice"),
     grid.Column("HRRFParentChild.RoleRequired", "Role"),

     grid.Column("HRRFParentChild.LocationName", "Location"),
     grid.Column("Submitted Date", format: item => ((item.HRRFParentChild.HRRFSubmitedDate == null) ? "" : item.HRRFParentChild.HRRFSubmitedDate.ToString("MM/dd/yyyy"))),
    grid.Column("HRRFParentChild.RequestStatus", "Status"),
    grid.Column("HRRFParentChild.ResourceName", "Resource"),

    grid.Column(format: (item1) =>
    {


    WebGrid subGrid = new WebGrid(source: item1.HRRFChild, canSort: false);
    return subGrid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
           htmlAttributes: new { id = "nestedT" },
            columns: subGrid.Columns(

                          subGrid.Column(columnName: "TR#", format: @<text>
                    @if (item.Purpose == "Opportunity")
                    {
                        <span class="pull-left oprty_star">*</span>
                        //  <img src="@Url.Content("/Images/icon_expand.png")" alt="Image " />
                    }
                    else
                    {

                        //  <img src="@Url.Content("/Images/icon_expand.png")" alt="Image " />
                    }


                    @Html.ActionLink((string)item.HRRFNumber, "ProposeAssociate", "ProposeAssociate", new { id = item.HRRFNumber, hrrfno = item.HRRFNumber }, new { @class = "viewDialog" })
                    @if (item.RequestType == "External")
                    {
                        <span class="grid_td-e"> - e </span>
                        //  <img src="@Url.Content("/Images/icon_expand.png")" alt="Image " />
                    }
                    else
                    {
                        <span class="grid_td-i"> - i </span>
                        //  <img src="@Url.Content("/Images/icon_expand.png")" alt="Image " />
                    }</text>),
                                             subGrid.Column("Practice", "Practice"),
                                             subGrid.Column("RoleRequired", "Role"),
                                             subGrid.Column("LocationName", "Location"),
                                             subGrid.Column("RequestStatus", "Status"),
                                             subGrid.Column("ResourceName", "Resource"))

                                     );

    
    })

   ))
        </div>
        <div style="border: 1px solid whitesmoke;">
            <div class="row">
                <div class="col-lg-4 text-center text-danger"><span class="oprty_star"> <i class="fa fa-star small" aria-hidden="true"></i> </span><i class="fa fa-hand-o-right fa-fw text-primary" aria-hidden="true"></i>&nbsp;Opportunity TRs</div>
                <div class="col-lg-4 text-center text-danger"><span class="grid_td-i" style="color: #25E402"> <i class="fa fa-info" aria-hidden="true"></i> </span><i class="fa fa-hand-o-right fa-fw text-primary" aria-hidden="true"></i>&nbsp;Internal TRs</div>
                <div class="col-lg-4 text-center text-danger"><span class="grid_td-e" style="color: #EC0404"><strong>e</strong></span> <i class="fa fa-hand-o-right fa-fw text-primary" aria-hidden="true"></i>&nbsp;External TRs</div>
            </div>
        </div>
    </div>
</div>
