@model List<Trianz.Enterprise.Operations.ViewModel.BenchResourceViewModel>
<link href="~/Content/Talento7.css" rel="stylesheet" />
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />

@{
    ViewBag.Title = "BenchEmployee";

}

@*<div class="subpage_header page-header nomargin-top">
        <p>Projects Summary</p>
    </div>*@

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnProcessing").hide();
        $(function () {

            $('#tableBenchEmployees').DataTable();
            //$('#tableBenchEmployees').on('page.dt', function () {
            //    datepick;
            //});
            //var nowDate = new Date();
            //var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);



        });
    });
</script>
<style>
    #txt {
        color: #2C2E31;
        font-size: 16px;
        /*margin-left: 60px;*/
        margin-top: 27px;
    }
    #tableBenchEmployees_length {
        position: relative;
        left: 17px;
        top: 5px;
    }
    .dataTables_filter {
        position: relative;
        top: 6px;
    }
    .table {
        width: 98%;
        max-width: 100%;
        margin-bottom: 20px;
        margin-left: 25px;
        margin: 25px;
        margin-left: 3px;
    }
    .Empname {
        position: relative;
        bottom: 44px;
        left: 95px;
    }
    body {
        overflow-x: hidden;
    }
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
    div.table-responsive > div.dataTables_wrapper > div.row {
        margin: 16px;
        /*background-color: #ffffff;*/
        margin-top: 5px;
    }
    .cuswidth {
        width: 98%;
        background-color: #ffffff;
        margin-left: 16px;
    }
    .col-md-12 {
        width: 100%;
        background-color: #F3F4F9;
    }
    div.dataTables_wrapper div.dataTables_info {
        padding-top: 8px;
        white-space: nowrap;
        position: relative;
        left: 15px;
    }
</style>

<div class="col-md-12">
    <div class="subpage_header page-header nomargin-top">
        <div class="text-left pull-left myskills_div">
            <p id="txt" style="margin-left: 4px;">BENCH RESOURCES</p>
        </div>
        <div class="pull-right text-right myskills_div">


            <div>
                <button id="btnExportToExcel" type="button"  style="position: relative; background-color: white; border: white; float: right; color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 25px;top: 21px;right: -1px;">
                    <img src="~/Content/images/Report_icon.svg" /> Export <span class="caret"></span>
                </button>
                @*<button id="btnExportToExcel" type="button" style="border: none;background-color: white;margin-right: 3px;"> <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: 26px;margin-right: 18px;" alt="xlmsimg"></button>*@
            </div>

        </div>
        <div class="clear-both"></div>
    </div>
</div>

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>



<br />
<div class="cuswidth nopadding">
    <div id="divGridContent1" class="table table-responsive" style="margin-bottom: 0px;">
        <table id="tableBenchEmployees" class="table table-striped table-bordered" cellspacing="0" style="margin: 15px; width: 100%;position: relative;
    top: 1px;">
            <thead>
                <tr style="background-color: #D6DCE3 !important; color: #fff; font-size: 12px;">
                    <th id="emp1">Employee Id</th>
                    <th>TR Number</th>
                    <th>Bench Category</th>
                    <th>Bench Sub-Category</th>
                    <th>Client Mapping</th>
                    <th>Bench Remarks</th>
                    <th>Expected Billing Date</th>
                    <th>Mapped Date</th>
                    <th>Reminder Date</th>
                    <th>Reserved Project Code</th>
                    <th>Employee Name</th>
                    <th>Grade</th>
                    <th>Parent Organisation</th>
                    <th>Location</th>
                    <th>Project Code</th>
                    <th>Project Name</th>
                    <th>Project Manager</th>
                    <th>Supervisor</th>
                    <th>Assignment Start Date</th>
                    <th>Assignment End Date</th>
                    @*
                        <th>Assignment Status</th>*@
                    <th>Utilization(%)</th>
                    @*
                        <th>Practice</th>*@
                    @*
                        <th>Rating</th>*@
                    @*
                        <th>Project Manager</th>
                        <th>Supervisor</th>*@
                    <th>Non Billable Count Days</th>
                    <th>Aging </th>
                    @*<th>Competancy</th>
                        <th>Skill</th>*@

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr style="font-size: 12px;">
                            <td>
                                <span id="lblemplyeeid"> @item.EmployeeId</span>
                                <span id="lblassiid" style="display:none;"> @item.Assignment_ID</span>
                            </td>
                            <td>
                                <input type="text" style="width:75px" id="HRRFNumber" name="HRRFNumber" class="form-control" value="@(item.HRRFNumber == null ? " " : item.HRRFNumber)" />
                            </td>
                            <td>
                                @Html.DropDownList("Category" + item.Assignment_ID, new SelectList((System.Collections.IEnumerable)ViewData["_Categories"]), "Select an option", new { @class = "form-control categories", @onchange = "javascript:benchstatusvalues(this);" })
                            </td>
                            <td>
                                @Html.DropDownList("BenchStatus" + item.Assignment_ID, new List<SelectListItem>
         (), "Select an option", new { @class = "form-control benchstatus" })
                                @{
                                    if (item.Category != null)
                                    {
                                        <script type="text/javascript">
                                        //   debugger
                                        var categoryvalue = "@item.Category";
                                        var cat="#Category"+ @item.Assignment_ID;
                                        $(cat).val(categoryvalue);

                                        var benchstatusvalue1 = "@item.Bechstatus";
                                        var benchStatusIDvalue = "#BenchStatus" + @item.Assignment_ID;
                                        var subcatvalue = "@item.Bechstatus";
                                        var subcat = "#BenchStatus" + @item.Assignment_ID;
                                        $(subcat).val(subcatvalue);
                                        benchstatusvaluesview(categoryvalue);

                                        function benchstatusvaluesview(categoryvalue) {

                                            var benchStatusID = "#BenchStatus" + @item.Assignment_ID;
                                            $(benchStatusID).empty();

                                            var markup = "<option value=''>Select an option</option>";
                                            if (categoryvalue.toLowerCase() == "deployable bench") {
                                                markup += "<option value='Free Pool'>Free Pool</option>";
                                                markup += "<option value='Partial Bench'>Partial Bench</option>";




                                            }
                                            else if (categoryvalue.toLowerCase() == "nondeployable bench") {
                                                markup += "<option value='BGV'>BGV</option>";
                                                markup += "<option value='Freshers'>Freshers</option>";
                                                markup += "<option value='Long Leave'>Long Leave</option>";
                                                markup += "<option value='Maternity Leave'>Maternity Leave</option>";
                                                markup += "<option value='Medical Leave'>Medical Leave</option>";
                                                markup += "<option value='Resigned'>Resigned</option>";
                                                markup += "<option value='Intern'>Intern</option>";
                                            }
                                            else if (categoryvalue.toLowerCase() == "reserved") {
                                                markup += "<option value='Mapped'>Mapped</option>";
                                                markup += "<option value='Sow Pending'>Sow Pending</option>";
                                            }

                                            $(benchStatusID).html(markup);


                                        }
                                        $(benchStatusIDvalue).val(benchstatusvalue1);



                                        </script>

                                    }
                                    else if (item.Category == null)
                                    {
                                        <script type="text/javascript">
                                        //  debugger
                                        if (("@item.Utilization" == "50"))
                                        {
                                            var categoryvalue = "@item.Category";
                                            var cat="#Category"+ @item.Assignment_ID;
                                            $(cat).val("Deployable Bench");

                                            var benchStatusID = "#BenchStatus" + @item.Assignment_ID;
                                            $(benchStatusID).empty();
                                            var markup = "<option value=''>Select an option</option>";
                                            markup += "<option value='Free Pool'>Free Pool</option>";
                                            markup += "<option value='Partial Bench'>Partial Bench</option>";
                                            $(benchStatusID).html(markup);

                                            var benchstatusvalue1 = "@item.Bechstatus";
                                            var benchStatusIDvalue = "#BenchStatus" + @item.Assignment_ID;
                                            $(benchStatusIDvalue).val("Partial Bench");
                                        }
                                        </script>
                                    }
                                }
                            </td>
                            <td>
                                @Html.DropDownList("Customer" + item.Assignment_ID, new SelectList((System.Collections.IEnumerable)ViewData["_AccountName"]), "Select an option", new { @class = "form-control Customer", @onchange = "javascript:OtherCustomerDet(this);" })

                                <input type="text" id="OtherCustomer_@item.EmployeeId" style="width:350px; display: none" name="OtherCustomer" class="form-control OtherCustomer" />

                                @{
                                    if (item.Customer != null)
                                    {
                                        var cusbindvalue = (System.Collections.IEnumerable)ViewData["_AccountName"];
                                        var ischkrole = false;
                                        foreach (var tm in cusbindvalue)
                                        {
                                            if (tm.Equals(item.Customer))
                                            {
                                                ischkrole = true;
                                            }
                                        }
                                        if (!ischkrole)
                                        {
                                            <script type="text/javascript">
                                            $('#Customer' + @item.Assignment_ID).closest('tr').find('.OtherCustomer').removeAttr("style");
                                            var cus="#Customer"+ @item.Assignment_ID;
                                            $(cus).val('Other');
                                            $('#Customer'+ @item.Assignment_ID).closest('tr').find('.OtherCustomer').val('@item.Customer');
                                            </script>
                                        }
                                        else
                                        {
                                            <script type="text/javascript">
                                            // debugger
                                            $('#Customer'+ @item.Assignment_ID).closest('tr').find('.OtherCustomer').attr("style","display:none");
                                            var customervalue = "@item.Customer";
                                            var cus="#Customer"+ @item.Assignment_ID;
                                            $(cus).val(customervalue);
                                            </script>
                                        }


                                    }
                                }
                                @*@{
                                        if (item.Customer != null)
                                        {
                                            <script type="text/javascript">
                                                // debugger
                                                var customervalue = "@item.Customer";
                                                var cus="#Customer"+ @item.Assignment_ID;
                                                $(cus).val(customervalue);
                                            </script>
                                        }
                                    }*@
                            </td>
                            <td>
                                <textarea id="Remarks" name="Remarks" class="edit-mode" rows="4" cols="20" onchange="javascript:CheckRemark(this,@item.EmployeeId);">@(item.Remarks == null ? "" : item.Remarks)</textarea>
                            </td>
                            <td>
                                <div class="col-md-6 nopadding">
                                    <div class='input-group date datetimepicker' style="width:150px" id='datetimepicker1'>
                                        <input type='text' name="ExpectedBillingDate" id="ExpectedBillingDate" class="form-control ExpectedBillingDate" value="@(item.ExpectedBillingDate == null ? " " : @Convert.ToDateTime(item.ExpectedBillingDate).ToString("dd-MMM-yyyy"))" />

                                        @*@Html.EditorFor(model => modelItem.InternalExpectedFulfilmentDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => modelItem.InternalExpectedFulfilmentDate)*@
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-6 nopadding">
                                    <div class='input-group date datetimepicker' style="width:150px" id='datetimepicker2'>

                                        <input type='text' name="MappedDate" id="MappedDate" class="form-control MappedDate" value="@(item.MappedDate == null ? " " : @Convert.ToDateTime(item.MappedDate).ToString("dd-MMM-yyyy"))" />



                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <script type="text/javascript">
                                            var nowDate = new Date();
                                            var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
                                            $('.datetimepicker').datepicker({
                                                keyboardNavigation: false,
                                                forceParse: false,
                                                autoclose: true,
                                                todayHighlight: true,
                                                startDate: today,
                                                setDate: today,
                                                format: 'dd M yyyy',
                                            }).on('changeDate', function (e) {
                                                $(this).datepicker('hide');
                                            });
                                        </script>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-6 nopadding">
                                    <div class='input-group date datetimepicker' style="width:150px" id='datetimepicker3'>
                                        <input type='text' name="ActionReminder" id="ActionReminder_@item.EmployeeId" class="form-control ActionReminder" value="@(item.ActionReminder == null ? " " : @Convert.ToDateTime(item.ActionReminder).ToString("dd-MMM-yyyy"))" />



                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                        <script type="text/javascript">
                                            //  debugger
                                            var nowDate = new Date();
                                            nowDate.setDate(nowDate.getDate() + 1);
                                            var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);

                                            $('.datetimepicker').datepicker({
                                                keyboardNavigation: false,
                                                forceParse: false,
                                                autoclose: true,
                                                todayHighlight: true,
                                                startDate: today,
                                                format: 'dd M yyyy',
                                            }).on('changeDate', function (e) {
                                                $(this).datepicker('hide');
                                            });
                                        </script>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" style="width:75px" id="ReservedProjectCode" name="ReservedProjectCode" class="form-control" value="@(item.ReservedProjectCode == null ? " " : item.ReservedProjectCode)" />
                            </td>
                            <td>@item.EmployeeName</td>
                            <td>@item.Grade</td>
                            <td>@item.PARENT_ORG</td>
                            <td>@item.Location</td>
                            <td>@item.ProjectCode</td>
                            <td>@item.ProjectName</td>
                            <td>@item.ProjectManager</td>
                            <td>@item.Supervisor</td>
                            <td>@(item.StartDate == null ? "" : @Convert.ToDateTime(item.StartDate).ToString("dd MMM yyyy"))</td>
                            <td>@(item.EndDate == null ? "" : @Convert.ToDateTime(item.EndDate).ToString("dd MMM yyyy"))</td>
                            <td>@item.Utilization</td>
                            <td>@item.NonBillableCountDays</td>
                            <td>@item.Ageing</td>
                            @*<td>@item.SkillCategory</td>
                                <td>@item.SkillSet</td>*@

                        </tr>
                    }
                }
            </tbody>

        </table>

    </div>
    <div class="form-group col-md-6 col-sm-12">
        <input type="submit" name="submit" id="Save" value="Save" class="btn  btn-primary" onclick="Savedetails()" style="position:relative; left: 574px;background-color:#004BBB" />
    </div>
</div>



<script type="text/javascript">
    function OtherCustomerDet(customer)
    {
        // debugger;
        if(customer.value.toLowerCase() == "other")
        {
            // var idofdrop = $(customer).attr('id');
            $(customer).closest('tr').find('.OtherCustomer').removeAttr("style");
        }
        else
        {
            $(customer).closest('tr').find('.OtherCustomer').attr("style","display:none");
        }
    }
    function CheckRemark(remarkk,idofemp)
    {
        // debugger;
        var rem = $(remarkk).text();
        var actionrem =  $("#tableBenchEmployees").find("tbody tr").find("#ActionReminder_"+idofemp).val().trim();

        var today = new Date();
        var curr_date = today.getDate();
        var curr_year = today.getFullYear();
        if(curr_date<10){curr_date='0'+curr_date}
        var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "June",
                           "July", "Aug", "Sept", "Oct", "Nov", "Dec" ];
        curr_month= monthNames[today.getMonth()];
        var today = curr_date + " " + curr_month + " " + curr_year;

        if(rem.length != 0)
        {
            if(actionrem.length != 0)
            {
                if(actionrem <= today)
                {
                    $("#tableBenchEmployees").find("tbody tr").find("#ActionReminder_"+idofemp).val("");
                }
            }
        }
    }

    function benchstatusvalues(category) {
        /*debugger*/
        var benchStatusID = "#BenchStatus" + $(category).parent().parent().find("#lblassiid").text().trim();
        var clientMappingID="#Customer"+$(category).parent().parent().find("#lblassiid").text().trim();

        $(benchStatusID).empty();
        if(category.value.length != 0)
        {
            $(category).closest('tr').find('.ExpectedBillingDate').val("");
            $(category).closest('tr').find('.MappedDate').val("");
            //$('#ExpectedBillingDate').val("");
            //$('#MappedDate').val("");
        }
        var markup = "<option value=''>Select an option</option>";
        if (category.value.toLowerCase() == "deployable bench") {
            markup += "<option value='Free Pool'>Free Pool</option>";
            markup += "<option value='Partial Bench'>Partial Bench</option>";

           // debugger;
            //(clientMappingID).find('select option:eq(0)').prop('selected', true);
        }
        else if (category.value.toLowerCase() == "nondeployable bench") {
            markup += "<option value='BGV'>BGV</option>";
            markup += "<option value='Freshers'>Freshers</option>";
            markup += "<option value='Long Leave'>Long Leave</option>";
            markup += "<option value='Maternity Leave'>Maternity Leave</option>";
            markup += "<option value='Medical Leave'>Medical Leave</option>";
            markup += "<option value='Resigned'>Resigned</option>";
            markup += "<option value='Intern'>Intern</option>";
        }
        else if (category.value.toLowerCase() == "reserved") {
            markup += "<option value='Mapped'>Mapped</option>";
            markup += "<option value='Sow Pending'>Sow Pending</option>";
        }

        $(benchStatusID).html(markup);
    }
    function Savedetails() {

        var selectedValues = [];
        var empid = "";
        var IsValidate = true;
        $("#tableBenchEmployees").find("tbody tr").each(function () {
            var assi=$("#BenchStatus" + $(this).find("#lblassiid").text().trim()).val();
            /*debugger*/
            var emp4validation = $(this).find("#lblemplyeeid").text();
            var chk = true;
            var otherchk="";
            cat = $("#Category" + $(this).find("#lblassiid").text().trim()).val();
            subcat = $("#BenchStatus" + $(this).find("#lblassiid").text().trim()).val();
            remarks = $(this).find("#Remarks").val();
            expbilldate = $(this).find("#ExpectedBillingDate").val().trim();
            mapdate = $(this).find("#MappedDate").val().trim();
            Cust= $(this).find("#Customer"+ $(this).find("#lblassiid").text().trim()).val();
            if(Cust.toLowerCase() == "other")
            {
                if($("#OtherCustomer_" + $(this).find("#lblemplyeeid").text().trim()).val().length != 0)
                {
                    Cust=  $("#OtherCustomer_" + $(this).find("#lblemplyeeid").text().trim()).val();
                }
                else
                {
                    chk = false;
                    otherchk="Enter other customer name";
                }

            }
            else
            {
                Cust= $(this).find("#Customer"+ $(this).find("#lblassiid").text().trim()).val();
            }

            if(cat == "Reserved" && expbilldate == "" && mapdate == "")
            {
                chk = false;
                if(empid=='')
                {
                    empid = $(this).find("#lblemplyeeid").text()+"- Enter the expected billing date and mapped date for reserved status "+otherchk;
                }
                else
                {
                    empid=empid+","+$(this).find("#lblemplyeeid").text()+"- Enter the expected billing date and mapped date for reserved status "+otherchk;
                }
            }
            if(cat == "Reserved")
            {
                if(subcat == "")
                {
                    IsValidate = false;
                    chk = false;
                    alert('Please enter SubCategory for ' + emp4validation);
                    return false;
                }
                if(Cust == "")
                {
                    IsValidate = false;
                    chk = false;
                    alert('Please enter ClientMapping for ' + emp4validation);
                    return false
                }
                if(remarks == "")
                {
                    IsValidate = false;
                    chk = false;
                    alert('Please enter Remarks for ' + emp4validation);
                    return false;
                }
                if(expbilldate == "")
                {
                    IsValidate = false;
                    chk = false;
                    alert('Please enter BillingDate for ' + emp4validation);
                    return false;
                }
                if(mapdate == "")
                {
                    IsValidate = false;
                    chk = false;
                    alert('Please enter MappedDate for ' + emp4validation);
                    return false;
                }
                if(subcat == "")
                {
                    IsValidate = false;
                    chk = false;
                    alert('Please enter SubCategory for ' + emp4validation);
                    return false;
                }
            }
            if(cat == "Deployable Bench" || cat == "NonDeployable Bench")
            {
                if(subcat == "")
                {
                    IsValidate = false;
                    chk = false;
                    alert('Please enter SubCategory for ' + emp4validation);
                    return false;
                }
                if(remarks == "")
                {
                    IsValidate = false;
                    chk = false;
                    alert('Please enter Remarks for ' + emp4validation);
                    return false;
                }
            }

            else if(otherchk!="")
            {
                chk = false;
                empid =  $(this).find("#lblemplyeeid").text()+" - "+otherchk;
            }
            /*debugger;*/
            if (chk == true && IsValidate == true)
            {
                var resecode=$(this).find("#ReservedProjectCode").val().split(" ").join("");
                /*debugger;*/
                selectedValues.push({
                    EmployeeId: $(this).find("#lblemplyeeid").text()
                    , AssignmentID: $(this).find("#lblassiid").text()
                    , Category: $("#Category" + $(this).find("#lblassiid").text().trim()).val(),
                    BenchStatus: $("#BenchStatus" + $(this).find("#lblassiid").text().trim()).val(),
                    Customer:Cust,
                    Remarks: $(this).find("#Remarks").val(),
                    ExpectedBillingDate: $(this).find("#ExpectedBillingDate").val(),
                    MappedDate: $(this).find("#MappedDate").val(),
                    ActionReminder: $("#ActionReminder_" + $(this).find("#lblemplyeeid").text().trim()).val(),
                    ReservedProjectCode: resecode.trim(),
                    HRRFNumber: $(this).find("#HRRFNumber").val()

                });
            }
        });
        if (selectedValues.length != 0 && IsValidate == true) {
            $.ajax({
                type: "POST",
                data: {
                    "SelectedBenchEmployees": selectedValues
                },
                url: '@Url.Action("Savedetails", "BenchEmployee")',
                success: function (result) {
                    /*debugger*/
                    if(result =="true")
                    {
                        alert('Saved successfully!!');
                        window.location.reload();
                        //bootbox.alert('Saved successfully!!', function () {
                        //    window.location.reload();
                        //});
                    }
                    else if (result == "Sessionexpired")
                    {
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                    else if (result == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                    else
                    {
                        bootbox.alert(empid, function () {
                            window.location.reload();
                        });
                    }
                },
                failure: function (data) {
                    alert(data);
                }
            });
        }
        else {
            if(empid =="")
            {
                //bootbox.alert('Saved successfully!!', function () {window.location.reload();});
            }
            else
            {
                //bootbox.alert(empid, function () {window.location.reload();});
            }
            //bootbox.alert("Please fill the values to the fields");
        }
    }

    $('#btnExportToExcel').click(function () {
        //$(this).hide();
        $("#btnProcessing").show();

        $.ajax({
            url: "@Url.Action("ExportReport", "BenchEmployee")",
            data: "",
            type: "POST",
            datatype: "JSON",
            cache: false,
            success: function (response) {
                if (response == "success") {
                    window.location = "@Url.Action("GenerateProjectInfo", "BenchEmployee")";

                    setTimeout(function () {
                        $("#btnExportToExcel").show();
                        $("#btnProcessing").hide();
                    }, 10000);
                }
                else if (reresponsesult == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                else if (response== "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
            },
            error: function (error) {
                alert(error.statusText);
            }
        });
    });
</script>
