@model Trianz.Enterprise.Operations.Models.BenchAssignment

<table id="tableBenchEmployees" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
    <thead>
        <tr style="background-color: #E1F3FF !important; color: black; font-size: 12px;">
            <th class="text-center"><input type="checkbox" name="chkHeader" id="chkHeader" value="" /></th>
            <th>Employee Name</th>
            <th>Employee Code</th>
            <th>Grade</th>
            <th>Designation</th>
            <th>Utilization(%)</th>
            <th>Manager</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model.BenchEmployees)
            {
                <tr style="font-size: 12px;">
                    <td class="text-center"><input type="checkbox" name="chkRow" id="chkRow" class="chkEmployee" value="@item.EmployeeCode" /></td>
                   
                    <td id="lblassiid1">@item.EmployeeName</td>    @*observation*@
                    <td>@item.EmployeeCode</td>
                    <td><span id="spgrade">@item.Grade</span></td>
                    <td>@item.Designation</td>
                    <td>
                        <span id="lblutil"> @item.Utilization</span>
                        <span id="lblassiid" style="display:none;">@item.Assignment_Id</span>
                    </td>
                    <td>@item.Manager</td>
                    <td>
                        <select class="form-control clsProjects" data-error="Please select project name" name="ddlProjects" required="required">
                            <option value="0">Select Role</option>
                            @if (item.Role != null)
                            {
                                foreach (var role in item.Role)
                                {
                                    <option value="@role.DesignationCode">@role.DesignationName</option>
                                }

                            }
                        </select>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@*<hr />*@


<script type="text/javascript">
    $(document).ready(function () {
        $('#tableBenchEmployees').DataTable({
            //"aoColumns": [
            //    { "bSortable": false },
            //    null,
            //    null,
            //    null
            //],
            //"order": [
            //    [2, "asc"]
            //]
        });
        // debugger
        $('#chkHeader').change(function () {

            if ($(this).is(":checked")) {
                debugger
                $('.chkEmployee').prop("checked", "checked");

            }
            else {
                debugger
                $('.chkEmployee').removeProp("checked");
            }
        });
    });


</script>



