@model  Trianz.Enterprise.Operations.Models.ValidationModel
@{
    ViewBag.Title = "EmployeeDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="~/Content/Talento2.css" rel="stylesheet" />

<style>
    HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
    }

    .HRRF_custom table tr th {
        color: black;
    }

    body {
        overflow-x: hidden;
    }

    div.dataTables_wrapper div.dataTables_filter label {
        font-weight: normal;
        white-space: nowrap;
        text-align: left;
        margin-right: 8px;
    }

    body {
        overflow-x: hidden;
    }

    .questionlogo1 {
        margin-left: 592px;
        margin-top: -9px;
    }

    .onlinebtn {
        margin-left: 548px;
        position: relative;
        top: 1px;
    }

    .myskills_div {
        display: block;
    }
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
</style>

<style>
    /*.questionlogo1 {
        margin-left: 556px;
        margin-top: -9px;
    }*/

    /*.onlinebtn {
        margin-left: 515px;
        position: relative;
        top: 26px;
    }*/

    .nav-item.active {
        z-index: 70;
    }

    .nav-tabs > li.active > a span.title-heading{
        border-bottom: 1px solid blue;
    }

    
    .Empname {
        position: relative;
        bottom: 19px;
        left: 226px;
    }
    .questionlogo1 {
        margin-left: 462px;
    }

    body {
        overflow-x: hidden;
    }

    /*.onlinebtn {
        margin-left: 418px;
    }*/

    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 139px;
        margin-left: 3px;
    }

    .select2-container--open .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 139px;
        margin-left: 3px;
    }
    .box {
        width: 269px;
        /* height: 70px; */
        /* background-color: #133B93; */
        color: black;
        padding: 20px;
        position: relative;
        margin: -1px;
        float: left;
        margin-left: -22px;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: blue;
        cursor: default;
        /* background-color: blue; */
        border: 1px solid #ddd;
        border-bottom-color: blue;
    }

    .HRRF_custom table th {
        vertical-align: top;
        height: 24px;
    }
    /*#gridtable1 {
        background-color: #D6DCE3 !important;
        color: #fff;
        font-size: 12px;
    }*/
    .HRRF_custom table tr th {
        background-color: #D6DCE3 !important;
        color: black;
        font-size: 12px;
    }
    .nav-link{
        text-decoration:none;
    }
    .nav-link:active {
        text-decoration: underline;
    }

    .padd-left-right-0{
        padding-left:0px !important;
        padding-right: 0px !important;
    }

    .nav-tabs li.nav-item{
        background-color:transparent !important;
        border: none !important;
    }

    .nav-tabs li.nav-item a {
        background-color: transparent !important;
        border: none !important;
    }
</style>
<body>
    <form id="frmHRRFCreation" role="form">
        <div class="col-md-10 nopadding">
            <section class="container">
                <div class="subpage_header page-header nomargin-top" style="border-bottom: 1px solid #248CC8; width: 1217px;">

                    <p style="color: #2C2E31;font-size: 16px;margin-top: 16px;"><b>EMPLOYEE DASHBOARD</b></p>
                </div>
                <div class="col-md-10 nopadding" style="width: 108%;background-color: #ffffff;" >

                    <ul class="nav nav-tabs" style="margin-left: 24px;">
                       <li class="nav-item active col-md-2 padd-left-right-0">
                            <a class="nav-link">
                                <span class="title-heading" data-toggle="tab" href="#location-v" role="tab" aria-controls="location Info">Location</span>
                            </a>
                        </li>
                        <li class="nav-item col-md-2 padd-left-right-0">
                            <a class="nav-link">
                                <span class="title-heading" data-toggle="tab" href="#country-v" role="tab" aria-controls="Country Info">Country</span>
                            </a>
                        </li>
                        <li class="nav-item col-md-2 padd-left-right-0">
                            <a class="nav-link">
                                <span class="title-heading" data-toggle="tab" href="#designation-v" role="tab" aria-controls="Designation Info">Designation</span>
                            </a>
                        </li>

                     
                    </ul>
                    <div class="tab-content" style="width: 1188px">

                        <div class="tab-pane active" id="location-v" role="tabpanel">
                            @{
                                int intRowTotal = 0;
                                int intGrandTotal = 0;
                                int zeroTotal = 0, oneTotal = 0, twoTotal = 0, threeTotal = 0, fourTotal = 0, fiveTotal = 0, sixTotal = 0;
                                int sevenTotal = 0, eightTotal = 0, nineTotal = 0, tentotal = 0;
                                int elevenTotal = 0, twelveTotal = 0, aTotal = 0, cTotal = 0, hTotal = 0;
                            }
                            <table id="divGridContent1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="width: 100%; margin-left:7px;">
                                <thead>
                                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                        <th>Location</th>
                                        <th style="color:black; text-align:center">Grade 0</th>
                                        <th style="color:black; text-align:center">Grade A</th>
                                        <th style="color:black; text-align:center">Grade C</th>
                                        <th style="color:black; text-align:center">Grade H</th>
                                        <th style="color:black; text-align:center">Grade 1</th>
                                        <th style="color:black; text-align:center">Grade 2</th>
                                        <th style="color:black; text-align:center">Grade 3</th>
                                        <th style="color:black; text-align:center">Grade 4</th>
                                        <th style="color:black; text-align:center">Grade 5</th>
                                        <th style="color:black; text-align:center">Grade 6</th>
                                        <th style="color:black; text-align:center">Grade 7</th>
                                        <th style="color:black; text-align:center">Grade 8</th>
                                        <th style="color:black; text-align:center">Grade 9</th>
                                        <th style="color:black; text-align:center">Grade 10</th>
                                        <th style="color:black; text-align:center">Grade 11</th>
                                        <th style="color:black; text-align:center;">Grade 12</th>
                                        <th style="color:black; text-align:center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.EmployeeLocationlst)
                                        {
                                            intRowTotal = item.sA + item.sC + item.sH + item.sZero + item.sOne + item.sTwo + item.sthree + item.sFour + item.sFive + item.sSix + item.sSeven + item.sEight + item.sNine + item.sTen + item.sEleven + item.sTwelve;
                                            intGrandTotal += intRowTotal;
                                            zeroTotal += item.sZero;
                                            oneTotal += item.sOne;
                                            twoTotal += item.sTwo;
                                            threeTotal += item.sthree;
                                            fourTotal += item.sFour;
                                            fiveTotal += item.sFive;
                                            sixTotal += item.sSix;
                                            sevenTotal += item.sSeven;
                                            eightTotal += item.sEight;
                                            nineTotal += item.sNine;
                                            tentotal += item.sTen;
                                            elevenTotal += item.sEleven;
                                            twelveTotal += item.sTwelve;
                                            aTotal += item.sA;
                                            cTotal += item.sC;
                                            hTotal += item.sH;

                                            <tr style="font-size: 12px;">
                                                <td style="color:black; text-align:left; width:40%">@item.location</td>
                                                <td style="color:black; text-align:right">@item.sZero&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sA&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sC&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sH&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sOne&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sTwo&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sthree&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sFour&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sFive&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sSix&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sSeven&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sEight&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sNine&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sTen&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sEleven&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right;">@item.sTwelve&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@intRowTotal&nbsp;&nbsp;</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <thead>
                                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">

                                        <th>Grand Total</th>
                                        <th style="color:black; text-align:right">@zeroTotal</th>
                                        <th style="color:black; text-align:right">@aTotal</th>
                                        <th style="color:black; text-align:right">@cTotal</th>
                                        <th style="color:black; text-align:right">@hTotal</th>
                                        <th style="color:black; text-align:right">@oneTotal</th>
                                        <th style="color:black; text-align:right">@twoTotal</th>
                                        <th style="color:black; text-align:right">@threeTotal</th>
                                        <th style="color:black; text-align:right">@fourTotal</th>
                                        <th style="color:black; text-align:right">@fiveTotal</th>
                                        <th style="color:black; text-align:right">@sixTotal</th>
                                        <th style="color:black; text-align:right">@sevenTotal</th>
                                        <th style="color:black; text-align:right">@eightTotal</th>
                                        <th style="color:black; text-align:right">@nineTotal</th>
                                        <th style="color:black; text-align:right">@tentotal</th>
                                        <th style="color:black; text-align:right">@elevenTotal</th>
                                        <th style="color:black; text-align:right">@twelveTotal</th>
                                        <th style="color:black; text-align:right">@intGrandTotal</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        @{
                            int CRowTotalCountry = 0;
                            int CGrandTotalContry = 0;
                            int czeroTotal = 0, coneTotal = 0, ctwoTotal = 0, cthreeTotal = 0, cfourTotal = 0, cfiveTotal = 0, csixTotal = 0;
                            int csevenTotal = 0, ceightTotal = 0, cnineTotal = 0, ctentotal = 0;
                            int celevenTotal = 0, ctwelveTotal = 0, caTotal = 0, ccTotal = 0, chTotal = 0;
                            
                        }
                        <div class="tab-pane" id="country-v" role="tabpanel">
                            <table id="divGridContent3" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin-left:4px; width: 100%;">
                                <thead>
                                     <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                        <th>Country</th>
                                        <th style="color:black; text-align:center">Grade 0</th>
                                        <th style="color:black; text-align:center">Grade A</th>
                                        <th style="color:black; text-align:center">Grade C</th>
                                        <th style="color:black; text-align:center">Grade H</th>
                                        <th style="color:black; text-align:center">Grade 1</th>
                                        <th style="color:black; text-align:center">Grade 2</th>
                                        <th style="color:black; text-align:center">Grade 3</th>
                                        <th style="color:black; text-align:center">Grade 4</th>
                                        <th style="color:black; text-align:center">Grade 5</th>
                                        <th style="color:black; text-align:center">Grade 6</th>
                                        <th style="color:black; text-align:center">Grade 7</th>
                                        <th style="color:black; text-align:center">Grade 8</th>
                                        <th style="color:black; text-align:center">Grade 9</th>
                                        <th style="color:black; text-align:center">Grade 10</th>
                                        <th style="color:black; text-align:center">Grade 11</th>
                                        <th style="color:black; text-align:center;">Grade 12</th>
                                        <th style="color:black; text-align:center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.EmployeeCountrieslst)
                                        {
                                            CRowTotalCountry = item.sA + item.sC + item.sH + item.sZero + item.sOne + item.sTwo + item.sthree + item.sFour + item.sFive + item.sSix + item.sSeven + item.sEight + item.sNine + item.sTen + item.sEleven + item.sTwelve;
                                            CGrandTotalContry += CRowTotalCountry;

                                            czeroTotal += item.sZero;
                                            coneTotal += item.sOne;
                                            ctwoTotal += item.sTwo;
                                            cthreeTotal += item.sthree;
                                            cfourTotal += item.sFour;
                                            cfiveTotal += item.sFive;
                                            csixTotal += item.sSix;
                                            csevenTotal += item.sSeven;
                                            ceightTotal += item.sEight;
                                            cnineTotal += item.sNine;
                                            ctentotal += item.sTen;
                                            celevenTotal += item.sEleven;
                                            ctwelveTotal += item.sTwelve;
                                            caTotal += item.sA;
                                            ccTotal += item.sC;
                                            hTotal += item.sH;

                                            <tr style="font-size: 12px;">
                                                <td style="color:black; text-align:left; width:40%">@item.CountryName</td>
                                                <td style="color:black; text-align:right">@item.sZero&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sA&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sC&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sH&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sOne&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sTwo&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sthree&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sFour&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sFive&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sSix&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sSeven&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sEight&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sNine&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sTen&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@item.sEleven&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right;">@item.sTwelve&nbsp;&nbsp;</td>
                                                <td style="color:black; text-align:right">@CRowTotalCountry&nbsp;&nbsp;</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <thead>
                                      <tr style="background-color: #E1F3FF; color: black; font-size: 12px;">
                                        <th>Grand Total</th>
                                        <th style="color:black; text-align:right">@czeroTotal</th>
                                        <th style="color:black; text-align:right">@caTotal</th>
                                        <th style="color:black; text-align:right">@ccTotal</th>
                                        <th style="color:black; text-align:right">@chTotal</th>
                                        <th style="color:black; text-align:right">@coneTotal</th>
                                        <th style="color:black; text-align:right">@ctwoTotal</th>
                                        <th style="color:black; text-align:right">@cthreeTotal</th>
                                        <th style="color:black; text-align:right">@cfourTotal</th>
                                        <th style="color:black; text-align:right">@cfiveTotal</th>
                                        <th style="color:black; text-align:right">@csixTotal</th>
                                        <th style="color:black; text-align:right">@csevenTotal</th>
                                        <th style="color:black; text-align:right">@ceightTotal</th>
                                        <th style="color:black; text-align:right">@cnineTotal</th>
                                        <th style="color:black; text-align:right">@ctentotal</th>
                                        <th style="color:black; text-align:right">@celevenTotal</th>
                                        <th style="color:black; text-align:right">@ctwelveTotal</th>
                                        <th style="color:black; text-align:right">@CGrandTotalContry</th>

                                    </tr>

                            </table>

                        </div>




                        @{
                            int RowTotalone = 0;
                            int intGrandTotalone = 0;
                            int india =0;
                            int dTotal = 0, ustotal = 0, uktotal = 0, synTotal = 0;
                          
                        }

                        <div class="tab-pane" id="designation-v" role="tabpanel">

                            <table id="divGridContent1" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin-left:7px; width: 80%;">
                                <thead>
                                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">

                                        <th style="color:black; text-align:left; width:25%">Designation</th>
                                         <th style="color:black; text-align:right">India</th>
                                        <th style="color:black; text-align:right">Dubai</th>
                                        <th style="color:black; text-align:right">US</th>
                                        <th style="color:black; text-align:right">UK</th>
                                        <th style="color:black; text-align:right">Australia</th>
                                        <th style="color:black; text-align:right;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.EmployeeDesignationlst)
                                        {
                                            RowTotalone = item.US + item.India+item.Sydney+item.Dubai+item.UnitedKingdom;
                                            intGrandTotalone += RowTotalone;

                                            india += item.India;
                                            dTotal += item.Dubai;
                                            ustotal += item.US;
                                            uktotal += item.UnitedKingdom;
                                            synTotal += item.Sydney;


                                    <tr style="font-size: 12px;">
                                        <td style="color: black; text-align:left">@item.Designation</td>
                                        <td style="color:black; text-align:right">@item.India</td>
                                        <td style="color:black; text-align:right">@item.Dubai</td>
                                        <td style="color:black; text-align:right">@item.US</td>
                                        <td style="color:black; text-align:right">@item.UnitedKingdom</td>
                                         <td style="color:black; text-align:right">@item.Sydney</td>
                                        <td style="color:black; text-align:right;">@RowTotalone</td>
                                    </tr>
                                        }
                                    }
                                </tbody>

                                <thead>
                                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                        <th style="color:black; text-align:left">Grand Total</th>
                                        <th style="color:black; text-align:right">@india</th>
                                        <th style="color:black; text-align:right">@dTotal</th>
                                        <th style="color:black; text-align:right">@ustotal</th>
                                        <th style="color:black; text-align:right">@uktotal</th>
                                        <th style="color:black; text-align:right">@synTotal</th>
                                        <th style="color:black; text-align:right;">@intGrandTotalone</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>


                        </div>
                    </section>
                </div>
            </form>
        </body>


        <script type="text/javascript">
            $(document).ready(function () {
                var url = '@Url.Content("~/EmployeeDashBoard/GetEmpDashBoardDetails")';
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                });

            });

        </script>
