
@{
    ViewBag.Title = "Skill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/Talento2.css" rel="stylesheet" />


<div class="subpage_header page-header nomargin-top">
    <p id="txt">SKILL SET</p>
</div>

<style>
    .btn:focus {
        outline: none;
        box-shadow: none;
    }
    .Requesthead {
        background: #fff;
        border-bottom: 1px solid #EAECF2;
        /*margin-left: 37px;
        width: 94%;*/
    }
    .HRRF_custom table tr th {
        background-color: #D6DCE3 !important;
    }

    #skillsetgrid {
        float: left;
        width: 100%;
        position: relative;
        bottom: 12px;
        background-color: #FFFFFF;
    }
    #ajaxgrid1_wrapper {
        margin: 20px;
    }
    #txt {
        margin: 13px;
        color: #2C2E31;
        font-size: 16px;
    }
    }


</style>

<div class="Requesthead">
    <form class="form-inline">
        <div class="form-group" style="position: relative;top: 53px;left: 56px;">

            <b>  Skill Category </b>

            @Html.DropDownList("ddlSkillCategoryList", (IEnumerable<SelectListItem>)ViewBag.SkillCategoryList, "Select Skill Category", new { @class = "form-control  ", @style = "width: 210px;margin-left: 8px;", @onchange = "return GetSkillSetbySkillCategory();" })

        </div>

    </form>
    @*<form class="form-inline nomargin-top:20px" >
            <div class="form-group" style="margin-top : 20px;">
                Pratice:

                @Html.DropDownList("ddlPracticeList", (IEnumerable<SelectListItem>)ViewBag.PracticeList, "-- Select PracticeList --", new { @class = "form-control  ", @style = "width: 180px; margin-left: 2cm;" })
            </div>

        </form>*@
    <form class="form-inline">
        <div class=form-group style="margin-top : 20px;margin-left:395px;">
            <b> Skill Set</b>
            <input class="form-control" style="margin-left: 8px;" placeholder="Skill Set" type="text" id="txtSkillSet">
        </div>


        <button type="button" id="btnAddSkillSet" class="btn btn-primary" style="margin-top :18px; margin-left:14px;background-color:#004BBB">Add New Skill</button>
    </form><br />

    <div class="col-md-12 pull-right">
        @*<form class="form-inline nomargin-top:20px" style="padding-right:inherit;text-align:end;margin-right:42px;">
                <div class=form-group>
                    <b> Search:  </b>
                    <input id="Skillset" type="text" class='filter form-control' style="width:150px"/>
                </div>
            </form>*@


        <div class="col-md-3 pull-right">
            @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "RL" || Session["Role"].ToString() == "LDAdmin" || Session["Role"].ToString() == "CompetencyAdmin"))
            {
                @*@:<button id="btnExportToExcel" type="button" class="btn btn-default pull-right btn-primary"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i> Export to Excel</button>
                    @:<button id="btnProcessing" type="button" class="btn btn-default pull-right" disabled><i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Downloading...</button>*@
                <div>
                    <button id="btnExportToExcel" type="button" style="position: relative; background-color: white; border: white;bottom: 172px;left:130px; color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 25px;">
                        <img src="~/Content/images/Report_icon.svg" /> Export <span class="caret"></span>
                        @*<img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: 11px;left: 17px;position:relative;" alt="xlmsimg">*@
                    </button>

                </div>
            }
        </div>

        <div class="form-group col-md-3 pull-right" style="padding-left:235px;">
            <input id="Skillset" type="text" placeholder="Search SkillSet" class='filter form-control' style="width:160px;margin-left: 172px;" />
        </div>
    </div>

    <div id="divSkillSetGrid" style="margin-top : 20px;">

    </div>
    <br />
</div>
<script>





    //$("#btngoal").on("click", function () {

    //    GetGoalsByDescription();
    //});
    $(document).ready(function () {
        $("#btnProcessing").hide();
        GetSkillSetbySkillCategory();


    });


    $('#btnExportToExcel').click(function () {
        debugger;
        //$(this).hide();
        $("#btnProcessing").show();
        //debugger
        var Skillcategory = ($('#ddlSkillCategoryList').length > 0) ? $('#ddlSkillCategoryList').val() : "";




        $.ajax({
            url: "@Url.Action("ExportReport", "Competency")",
            data: { Skills: Skillcategory },
            type: "POST",
            datatype: "JSON",
            cache: false,
            success: function (response) {
                if (response == "success") {
                    window.location = "@Url.Action("GenerateSkillReport", "Competency")" + "?Skills=" + Skillcategory;

                    setTimeout(function () {
                        $("#btnExportToExcel").show();
                        $("#btnProcessing").hide();
                    }, 10000);
                }
                else if (response == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
            },
            error: function (error) {
                alert(error.statusText);
            }
        });
    });



    function GetSkillSetbySkillCategory() {
        debugger;

        var SkillCategory = $("#ddlSkillCategoryList option:selected").val();
        var sortDirection = "ASCE";

        $.ajax({
            // url: '/ManageKRAs/InsertData/',       // HomeController and InsertData method
            url: '@Url.Action("GetSkillSetbySkillCategory", "Competency")',
            data: JSON.stringify({ PageNo: null, SortDirection: sortDirection, SkillCategory: SkillCategory }),
            type: 'POST',
            datatype: "html",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (result) {
                debugger;
                if (result != null && result != "Sessionexpired" && result != "Error") {
                    if ($("#divSkillSetGrid").length > 0) {
                        $("#divSkillSetGrid").empty();
                    }
                    if ($("#ajaxgrid1 tfoot").length > 0) {
                        $("#ajaxgrid1 tfoot").empty();
                    }
                    $("#divSkillSetGrid").html(result);
                    $("#ajaxgrid1 thead").find("th:eq(0)").find("a").attr("PageNumber");
                    $("#ajaxgrid1 thead").find("th:eq(0)").find("a").attr("sortDir", "DESC");

                    HideLastAnchor();
                }
                 else if (result == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                else if (result == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
            },
            error: function (result) {


            }
        });
    }
    $("#btnAddSkillSet").click(function () {
        debugger;
        var SkillSet = $("#txtSkillSet").val();
        var SkillCategory = $("#ddlSkillCategoryList option:selected").val();

        if (SkillCategory == "") {
            alert(" please select SkillCategory to add SkillSet ");
            return false;
        }
        if (SkillSet == "") {
            alert("SkillSet can not be empty");
            return false;
        }

        $.ajax({
            url: '@Url.Action("AddSkillSet", "Competency")',
            data: JSON.stringify({ SkillCategory: SkillCategory, SkillSet: SkillSet }),
            type: 'POST',
            datatype: "html",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (result) {

                if (result == "false") {
                    alert("This SkillSet is already exist");
                    $("#txtSkillSet").val('');
                    return false;
                }
                else if (result == "true") {
                    alert("This SkillSet is Created successfully");
                    GetSkillSetbySkillCategory();
                    $("#txtSkillSet").val('');
                    $("btnAddSkillSet").addClass("btn:focus");
                    
                }
                else if (result == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                 else if (result == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
            },
            error: function (result) {

                alert(JSON.stringify(error));
            }
        });
    });
</script>

