@model IEnumerable<Trianz.Enterprise.Operations.Models.SkillMaster>
@{
                /**/

                ViewBag.Title = "SkillCategory";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/autocomplete.css" rel="stylesheet" />
<link href="~/Content/Talento2.css" rel="stylesheet" />

<div class="subpage_header page-header nomargin-top">
    <p id="txt">SKILL CATEGORY</p>
</div>
@*<div class="form-group">
    <div class="col-md-2" style="text-align:right;margin-top:22px; ">
        Existing SkillCategory :
    </div>
    <div class="col-md-10" style="text-align:left;margin-top:18px;">

       @Html.DropDownList("ddlSkillCategoryList", (IEnumerable<SelectListItem>)ViewBag.SkillCategoryList, "-- Select Skill CategoryList --", new { @class = "form-control  ", @style = "width: 180px;" })

    </div>
    </div>*@


<style>
    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #ddd;
        width: 43%;
    }

    .HRRF_custom table tr th {
        background-color: #D6DCE3 !important;
        color: black;
    }

    #SkillCatorygrid_wrapper {
        width: 96%;
        position: relative;
        left: 25px;
    }

    .RequestHead {
        background: #fff;
        /*border-bottom: 1px solid #EAECF2;
        margin-left: 37px;
        width: 94%;
        margin-bottom: 20px;*/
    }

    body {
        overflow-x: hidden;
    }

    #txt {
        color: #2C2E31;
        font-size: 16px;
        margin-top: 20px;
    }

    #ajaxgrid1 {
        margin-top: 20px;
        width: 98%;
        margin-left: 10px;
    }

    .HRRF_custom .subpage_header {
        border-bottom: 1px solid #248CC8;
        margin-left: 21px;
        width: 1216px;
    }
</style>

<form class="form-inline">
    <div class=form-group style="margin-left:441px;margin-bottom: -92px;">

        <b>Skill Category  </b>
        <input class="form-control" style="width:280px" placeholder="Skill Category" type="text" id="txtSkillCategory">
    </div>
</form>

<div class="RequestHead">
    <form class="form-inline nomargin-top:20px">
        <div class="form-group" style="margin-top : 20px;margin-left: 48px;">
            <b>Practice</b>

            @Html.DropDownList("ddlPracticeList", (IEnumerable<SelectListItem>)ViewBag.PracticeList, "Select Practice", new { @class = "form-control  ", @style = "width: 280px; margin-left: 1px;" })
        </div>
        <button type="button" id="btnAddSkillCategory" class="btn btn-primary" style="margin-top :15px; position: relative;left:448px;background-color:#004BBB">Add New Skill</button>
    </form>
    <br />

    <form class="form-inline nomargin-top:20px" style="padding-right:inherit;text-align:right;margin-right:73px;">
        <div class=form-group>

            <input id="skill" type="text" placeholder="Search Skill Category" class='filter form-control' />
        </div>
    </form>

    <div id="ajaxgrid1" class="table table-responsive">

        @{
            var grid = new WebGrid(Model, ajaxUpdateContainerId: "ajaxgrid", canPage: false);

            IEnumerable<WebGridColumn>
                cols =
                new List<WebGridColumn>
                    {

        new WebGridColumn{
        ColumnName="SkillCategory",
        Header="Skill Category",

        Format = @<text>
    <span class="display"><label id="lblSkillCategory">@item.SkillCategory </label></span>
    <input type="text" id="txtSkillCategory" value="@item.SkillCategory" class="edit" />
        </text>
                                            },
                                                 new WebGridColumn{
                                            ColumnName="Pratice",
                                            Header="Practice",
                                            Format = @<text>
            <span class="display"><label id="lblSkillCategory">@item.Practice </label></span>
            @if(@item.Practice ==null || @item.Practice=="")
            {
                @Html.DropDownList("ddlPraticegrid",(IEnumerable<SelectListItem>)ViewBag.PracticeList, "-- Select PracticeList --",new { @class = "edit" })
            }
            else
            {
                @Html.DropDownList("ddlPraticegrid", ((IEnumerable<SelectListItem>)ViewBag.PracticeList)
               .Select(x=> new SelectListItem(){
                   Text = x.Text,
                   Value = x.Value,
                   Selected = x.Value == item.Practice
               }).ToList(), "-- Select PracticeList --",new { @class = "edit"})
            }
       </text>
                                                                                                                            },
                                                                                                                            new WebGridColumn{
                                                                                                                            Header="Action",

                                                                                                                            Format = @<text>

                                                <a href='#' class="display edit-btn"><span><img src="~/Content/images/icon-edit.png" /></span></a>
                                                <a href="#" class="edit save-btn"><span class="glyphicon glyphicon-floppy-saved"></span></a> |
                                                <a href="#" class="edit cancel-btn"><span class="glyphicon glyphicon-floppy-remove"></span></a>
                                                <a href="#" class="display delete-btn"><span><img src="~/Content/images/icon-delete.png" /></span></a>
                                                                                                                            </text>

                                                                                                                                                                                                                                                                        },
                                                                                                                                                                                                                                                                                    };
        }


        @grid.GetHtml(tableStyle: "table table-bordered table-responsive table-hover", columns: cols, rowStyle: "oddRowStyle", alternatingRowStyle: "evenRowStyle"
        , selectedRowStyle: "gridAltRow", htmlAttributes: new { id = "SkillCatorygrid" })
    </div>

</div>
<script>
    $(document).ready(function () {
        $('.edit').hide();

        $('.save-btn, .cancel-btn').on("click", function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
        });

        $(".edit-btn").on("click", function () {
            //alert("hi");
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
            var perfappraisalid = tr.find("#lblPerfAppraisalId").html();

            var x = tr.find("#ddlPraticegrid").val();
            //alert(x);
            //alert(perfappraisalid);

        });

        var table = $('#SkillCatorygrid').DataTable(
        {
            "scrollY": "300",
            bPaginate: false
        });
        // Apply the search
        $(".dataTables_filter").hide();
        $(".dataTables_length").hide();
        $(".dataTables_info").hide();

        $('.filter').on('keyup change', function () {
            table.search('');
            debugger;
            table.column($(this).data('columnIndex')).search(this.value).draw();
        });








    });
    $('.save-btn').on("click", function () {

        var tr = $(this).parents('tr:first');
        var txtSkillCategory = tr.find("#txtSkillCategory").val();
        var lblSkillCategory = tr.find("#lblSkillCategory").html();
        if (txtSkillCategory == "") {
            alert("This SkillCategory is can  not be empty");
            return false;
        }
        var Practice = tr.find("#ddlPraticegrid option:selected").val();
        debugger;
        $.ajax({
            //url: '/PerformanceManagement/ManageKRAs/SaveData/',
            url: '@Url.Action("UpdateSkillCategory", "Competency")',
            data: JSON.stringify({ SkillCategory: txtSkillCategory, ExistingSkillCategory: lblSkillCategory, Practice: Practice }),
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (result) {

                if (result == "false") {
                    alert("This SkillCategory is already exist");
                    return false;

                }
                else if (result == "true") {
                    alert("This SkillCategory is updated successfully");
                    location.reload();
                }
                else if (result == "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                else if (result == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }

            },
            error: function (result) {
                isSuccess = result;
            }

        }).done(function () {
            if (isSuccess == "true") {       // Successfully saved
                tr.find('.edit, .display').toggle();
                alert("Successfully Saved");
            }
            else {                      // Data Error
                alert("Error. Please, check the data");
            }

        });

    });




    $('.delete-btn').on("click", function () {

        validNavigation = false;
        var answer = confirm('Are you sure you want to delete?');
        if (answer) {
            var tr = $(this).parents('tr:first');

            var txtSkillCategory = tr.find("#txtSkillCategory").val();
            debugger;
            $.ajax({
                //url: '/PerformanceManagement/ManageKRAs/DeleteData/',
                url: '@Url.Action("DeleteSkillCategory", "Competency")',
                data: JSON.stringify({ SkillCategory: txtSkillCategory }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (result) {
                    isSuccess = result;

              },
                error: function (result) {
                    isSuccess = result;
                }
            }).done(function () {
                if (isSuccess == "true") {           // Successfully Deleted
                    alert("Successfully Deleted");
                    location.reload();   // refresh the page
                }
                else if (isSuccess == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }

                else if (isSuccess == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }

                else {                      // Data Error
                    alert("Error. Please, check the data");
                }

            });

        }

    });
    $("#btnAddSkillCategory").click(function () {
        var SkillCategory = $("#txtSkillCategory").val();
        if (SkillCategory == "") {
            alert("This SkillCategory can not be empty");
            return false;
        }
        var Practice = $("#ddlPracticeList option:selected").val();
        $.ajax({
            url: '@Url.Action("AddSkillCategory", "Competency")',
            data: JSON.stringify({ SkillCategory: SkillCategory, Practice: Practice }),
            type: 'POST',
            datatype: "html",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (result) {

                if (result == "false") {
                    alert("This SkillCategory is already exist");
                    return false;
                }
                else if (result == "true") {
                    alert("This SkillCategory is Created successfully");
                    location.reload();
                }
                else if (result == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                else if (result == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
            },
            error: function (result) {

                alert(JSON.stringify(error));
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtSkillCategory").autocomplete({
            //appendTo: $("#skillcategoryid"),
            source: function (request, response) {
                var Projects = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("Autocomplete", "Competency"))",
                    data: { "term": request.term },
                    success: function (data) {
                        debugger;
                        if (data != null && data != "Sessionexpired" && data != "Error") {
                               for (var i = 0; i < data.length; i++) {
                            Projects[i] = { label: data[i].Key, Id: data[i].Value };

                               }
                            }
                        else if (data == "Sessionexpired") {
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                        else if (data == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                    }
                });
                response(Projects);
            },
            select: function (event, ui) {

            }
        });


    });
</script>
