@model IEnumerable<Trianz.Enterprise.Operations.Models.sp_GetTrainingData_Result>

@{
    ViewBag.Title = "Index";
    Layout = null;

}

@*<script src="jquery.tableCheckbox.js"></script>*@
<style>
    #divGridContent1 {
        max-height: 400px !important;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: none;
    }
</style>
<img id="divLoader" src="@Url.Content("~/content/images/loading.gif")" style="display: none;"
     alt="Loading ..." width="50" />
<div id="divGridContent1" style="margin-bottom: 0px;padding-bottom:550px">

    <table id="tableTrainingData" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px;">
        <thead>
            <tr style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">

                <th class="text-center"><input type="checkbox" name="chkHeader" id="chkHeader" value="" /></th>

                <th>
                    EmployeeId
                </th>
                <th>
                    Employee Name
                </th>
                <th>
                    Program Name
                </th>
                <th>
                    StartDate
                </th>
                <th>
                    EndDate
                </th>
                <th>
                    Location
                </th>
                <th>
                    Grade
                </th>
                <th>
                    Practice
                </th>

                <th>
                    Position
                </th>

                <th>
                    ManagerName
                </th>

                <th>
                    Attendance
                </th>
                <th>
                    TrainingHour
                </th>
                <th>
                    TrainingDays
                </th>
                <th>
                    TotalHours
                </th>
                <th>
                    TrainerName
                </th>
                <th>
                    Source
                </th>
                <th>
                    Category
                </th>
                <th>
                    Mode
                </th>
                <th>
                    Feedbackrating
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        <input type="checkbox" name="chkRow" id="chkRow" class="chkEmployee" value="@item.TrainingID">
                        <label id="lbltrainingID" style="display:none;"><span class="display-mode">@item.TrainingID</span></label>
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramName)
                    </td>
                    <td>
                        <span>
                            @(item.StartDate == null ? "" : @Convert.ToDateTime(item.StartDate).ToString("dd MMM yyyy"))
                        </span>

                    </td>
                    <td>
                        <span>
                            @(item.StartDate == null ? "" : @Convert.ToDateTime(item.EndDate).ToString("dd MMM yyyy"))
                        </span>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Practice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.ManagerName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Attendance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Feedbackrating)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#tableTrainingData').DataTable({
            "scrollY": "500px",
            bPaginate: false,
            bFilter: false,
            "scrollX": true
        });
    });

</script>


