@model IEnumerable<Trianz.Enterprise.Operations.Models.Employee>
<style>
    .HRRF_custom .navbar {
        top: 7px;
    }

    .popoverskill {
        max-width: 100%;
    }

    .body-content {
        /* left: 12px; */
        background-color: #ffffff;
        height: 578px;
    }

    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
    }

        .HRRF_custom table.p-resources thead tr a, table.dataTable.nowrap th, table.dataTable.nowrap th a {
            color: black;
        }

    #txt {
        color: #2C2E31;
        font-size: 16px;
        margin-left: 18px;
        margin-top: 56px;
    }

    .glyphicon {
        color: black;
    }

    .table {
        width: 99%;
        max-width: 100%;
        margin-bottom: 20px;
        margin-left: 8px;
    }

    .btn-primary {
        color: #fff;
        background-color: #004BBB;
        border-color: #004BBB;
    }

    .body-content {
        left: 12px;
    }
</style>
@{
    var Repoteesgrid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
selectionFieldName: "SelectedRow");
    var Employeegrid = new WebGrid((IEnumerable<Trianz.Enterprise.Operations.Models.EmployeeSkills_NewDetails>)ViewData["empskills"], canPage: true, canSort: true, rowsPerPage: 10,
 selectionFieldName: "SelectedRow");

}
<div class="clear-both"></div>
@*<div class="col-md-12 nopadding">
        <div class="subpage_header page-header nomargin-top">
            <div class="text-left pull-left myskills_div">
                <p>My Reportees</p>
            </div>
            <div class="clear-both"></div>
        </div>

        <div id="Reporteesgridcontent" class="table table-responsive">

            @Repoteesgrid.GetHtml(columns:
                                    Repoteesgrid.Columns
                                    (
                                        Repoteesgrid.Column("EmployeeId", "Employee Id", format: @<a id="empid" href=@Url.Action("GetEmployeeDetails", "SkillsApproval", new { @EmployeeID = @item.EmployeeId })>@item.EmployeeId</a>),
                                         Repoteesgrid.Column("EmployeeName", "Employee Name", format: @<p>@item.FirstName @item.LastName</p>),
                                        Repoteesgrid.Column("Designation", "Designation"),
                                        Repoteesgrid.Column("Grade", "Grade")
                                    ), mode: WebGridPagerModes.Numeric, htmlAttributes: new { @class = "table table-bordered table-striped p-resources", id = "ReporteesView" })
        </div>

    </div>*@


@*@if (ViewData["empskills"] != null)
    {*@
<div class="clear-both"></div>
<div class="col-md-12 nopadding" style="margin-top: -32px;">
    <div class="subpage_header page-header nomargin-top">
        <div class="text-left pull-left myskills_div">
            <p id="txt">Employee Skills</p>
        </div>
        <div class="clear-both"></div>
    </div>



    @if (Employeegrid != null && Employeegrid.TotalRowCount > 0)
    {

        <div class="row">
            <div class="col-lg-6 form-group" style="position:relative;right:12px;height:32px;width: 460px;">
                <label class="col-lg-6 control-label" style="width: 160px;">Employee Id :</label>
                <div class="col-lg-6">
                    @ViewBag.EmpIdData
                    <input type="hidden" id="txtempcode" value="@ViewBag.EmpIdData" />
                    <div class="help-block with-errors error-msg-font-size"></div>
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-6 form-group" style="position:relative;right:170px;height:32px;">
                <label class="col-lg-6 control-label" style="width: 160px;">Employee Name :</label>
                <div class="col-lg-6">
                    @ViewBag.EmpNameData
                    <input type="hidden" id="txtempcode" value="@ViewBag.EmpNameData" />
                    <div class="help-block with-errors error-msg-font-size"></div>
                </div>
            </div>
        </div>


        <div style="position: relative;left: 17px;">
            <label class=" text-left" for="textinput">Select All</label><input id="toggleAllCheckBox" type="checkbox" style="position: relative;top: 2px;left: 6px;" />
        </div>
        <div id="Reporteesgridcontent" class="table table-responsive">

            @Employeegrid.GetHtml(columns:
                                                  Employeegrid.Columns
                                                  (
                                                      Employeegrid.Column("Select", format: @<text><input name=@item.EmployeeSkillId EmpId="@item.EmployeeId" class="check-box" id="checkboxes" type="checkbox" value=@item.EmployeeSkillId /></text>),
                                                                       //Employeegrid.Column("EmployeeId", "Employee Id"),
                                                                       //Employeegrid.Column("EMployeeName", "Employee Name"),
                                                                       Employeegrid.Column("CompetincyName", "Competency"),
                                                                       Employeegrid.Column("Skillname", "Skill"),
                                                                       Employeegrid.Column("Expertiselevel", "Expertise Level", format:@<text><span rel="popoverskill" class="skillreadonly" data-skillhistory="@item.EmployeeSkillHistrory" style="cursor:help"> @item.Expertiselevel</span></text>),
                                                                                          Employeegrid.Column("TechnologyLastUsed", "Last Used", format:@<text><span class="skillreadonly"> @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Convert.ToInt32(item.TechnologyLastUsed.Split(',')[0]))-@item.TechnologyLastUsed.Split(',')[1]</span></text>),
                                                                                                             Employeegrid.Column("ApprovalSubmissionDate", "Approval Submission Date", format: (item) => item.ApprovalSubmissionDate == null ? string.Empty : string.Format("{0:dd MMM yyyy}", item.ApprovalSubmissionDate), style: "ApprovalDate")
                                                                                                        //grid.Column("HRRFCreatedDate", "Created Date", format: (item) => item.HRRFCreatedDate == null ? string.Empty : string.Format("{0:MM-dd-yyyy}", item.HRRFCreatedDate)),
                                                                                                        //Employeegrid.Column("SkillStatus", "Skill Status")                                                                                                 @Convert.ToDateTime(item.StartDate).ToString("dd MMM yyyy"))
                                                                                                        @*Employeegrid.Column("Approve", "Approve", format: @<a id="skillapprove" href=@Url.Action("UpdateSkillApproval", "SkillsApproval", new { @SkillId = @item.Id, @EmployeeId = @item.EmployeeId, @IsApprove = true})>Approve</a>),
                                                                                                            Employeegrid.Column("Reject", "Reject", format: @<a id="btnReject" skillid="@item.Id" empid="@item.EmployeeId">Reject</a>)*@
                                                                                                        ), mode: WebGridPagerModes.Numeric, htmlAttributes: new { @class = "table table-bordered table-striped p-resources", id = "employeeskills" })

        </div>
        <div class="row">
            <div class="form-group col-md-12 text-right" style="margin-left: -6px;">
                <button type="button" id="btnApprove" class="btn btn-primary">Approve</button>
                <button type="button" id="btnReject" class="btn btn-primary">Reject</button>
                <a href='@Url.Action("mynotifications", "notifications")' class="btn btn-primary" style="padding: 6px 20px;">Cancel</a>
            </div>

        </div>
    }
    else
    {
        <div class="text-center"><h4>No data found</h4></div>


    }
    @if (Employeegrid != null && Employeegrid.TotalRowCount <= 0)
    {
        <span id="spnlbl" title="No data found." />
    }



</div>
@*}*@


<script>
	     $(document).ready(function () {
        //alert(1)
        $('#MenuApprovals').addClass('active');
    });

    var help = '<span class="glyphicon glyphicon-question-sign" title="Hover to check Expertise Level History"></span>';
    $("#Reporteesgridcontent #employeeskills thead").find("th:eq(5)").append(help);
    $('body').popover({

        selector: '[rel=popoverskill]',
        trigger: 'hover',
        content: function () {
            var skillHistory = $(this).attr("data-skillhistory");
            var content = '';
            if (skillHistory != "") {
                var skillHistoryArry = skillHistory.split(',');
                content += '<table id="tbl" class="table" cellspacing="0" width="100%"';
                content += '<thead><tr><th style="font-size:10px">Expertise Level History</th></thead>';
                content += '<tbody><tr><td>';
                content += '<table id="tbl" class="table table-bordered" cellspacing="0" width="100%"';
                content += '<thead><tr><th style="font-size:10px;">Expertise Level </th><th style="font-size:10px">Approver</th><th style="font-size:10px">Approved Date</th></thead>';
                content += '<tbody>';

                if (skillHistoryArry.length > 0) {
                    for (var i = 0; i < skillHistoryArry.length; i++) {
                        var historyArry = skillHistoryArry[i].split('-');
                        if (historyArry.length > 0) {
                            var approvalDate = historyArry[0];
                            var expertiselevel = historyArry[1];
                            var approver = historyArry[2];
                            content += '<tr>';
                            content += '<td style="font-size:10px">' + expertiselevel + '</td>';
                            content += '<td style="font-size:10px">' + approver + '</td>';
                            content += '<td style="font-size:10px">' + approvalDate + '</td>';
                            content += '</tr>';
                        }

                    }
                }
                content += '</tbody></table>';
                content += '</td></tr></tbody><table>';
            }
                else {
                content += '<span class="text-center">No history</span>';
                }


            return content;
        },
        //template: popoverTemplate,
        placement: "auto",
        html: true
    });

    $("#toggleAllCheckBox").click(function () {
        //debugger
        if($(this).is(":checked")) {
                $(".check-box").prop("checked", true);

            } else {
                $(".check-box").removeProp("checked");

            }
        });





    $("#btnReject").click(function () {
        debugger
        if ($('.check-box:checked').length > 0) {
            //debugger
            var dialog = $("#dialog");
            if ($("#dialog").length == 0) {
                dialog = $('<div id="dialog" style="display:hidden"><div class="row"><div class="col-md-1">&nbsp;&nbsp;&nbsp;</div><textarea id="txtremarks" class="form-control" style="height: 80px;"></textarea></div></div>').appendTo('body');
            }
            var selected = [];
            var Employeeid = $('.check-box:checked').attr("EmpId");
            if ($('.check-box:checked').length == 0)
                alert("Please select atleast one employee.")
            $('.check-box:checked').each(function () {
                selected.push($(this).attr('name'));
            });
            bootbox.dialog({
                title: "Comments",
                message: '<div class="row"> ' +
                            '<div class="col-md-12"> ' +
                                '<form role="form"> ' +
                                    '<div class="form-group">' +
                                        '<label for="email">Please enter your remarks</label>' +
                                        '<textarea class="form-control" rows="5" id="txtRemarks"></textarea>' +
                                        '<span class="text-danger" style="font-size: 13px;">Note: If you enter remarks in above textbox, the "Okay" button will be enabled.</span>' +
                                    '</div>' +
                                '</form>' +
                            '</div>' +
                        '</div>',
                buttons: {
                    success: {
                        label: "Okay",
                        className: "btnOkay btn-primary",
                        callback: function () {
                            var remarks = $('#txtRemarks').val();

                                 $.ajax({
                            type: "POST",
                            data: { SkillIds: selected, IsApprove: false, EmployeeId: Employeeid, Remarks: remarks },
                            url: '@Url.Action("UpdateSkillApproval", "SkillsApproval")',
                            success: function (result) {
                                //debugger;
                                //window.location.reload(true);
                                //$(this).dialog("close");

                                bootbox.alert("Selected skill(s) has/have been rejected successfully.", function () {
                                    window.location.href = '@Url.Action("Mynotifications", "Notifications")';
                                });
                            }
                        });
                        }
                    },
                    danger: {
                        label: "Cancel",
                        className: "btn-default"
                    }
                }
            }).on("shown.bs.modal", function (e) {
                debugger
                $('.btnOkay').attr('disabled', 'disabled');
                if ($('#txtRemarks').length) {
                    //  $('#txtRemarks').click(function () {
                    //    $('.btn-primary').prop('disabled', false);
                    $('#txtRemarks').keyup(function () {
                        if ($(this).val().trim() != 0) {
                            $('.btnOkay').removeAttr('disabled');
                        }
                        else {
                            $('.btnOkay').attr('disabled', 'disabled');
                        }


                    });

                    //  })
                }
            });









            @*dialog.dialog({
                close: function (event, ui) {
                    dialog.remove();
                },
                modal: true,
                width: 350, resizable: false,
                height: 250,
                title: 'Please Enter Reject Remarks',
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    },
                    "Ok": function () {
                        var remarks = $("#txtremarks").val();
                        $.ajax({
                            type: "POST",
                            data: { SkillIds: selected, IsApprove: false, EmployeeId: Employeeid, Remarks: remarks },
                            url: '@Url.Action("UpdateSkillApproval", "SkillsApproval")',
                            success: function (result) {
                                //debugger;
                                //window.location.reload(true);
                                //$(this).dialog("close");

                                bootbox.alert("Selected skill(s) has/have been rejected successfully.", function () {
                                    window.location.href = '/Notifications/Mynotifications';
                                });
                            }
                        });


                    }
                }
            });*@
        }
        //  }
        else {
            //alert("Please select atleast one selection")
           // bootbox.alert("Please select atleast one selection");
			 bootbox.alert("Please select at least one skill for rejection.");
        }
    });


    function checkremarks() {
        //debugger
        //alert("Hiiiii");
        var remarks = $('#txtRemarks').val().length;

        if (remarks != 0) {
            $(".btnOkay").removeClass('disabled');
        }
        else {
            $(".btnOkay").addClass('disabled');
        }

    }


    $("#btnApprove").click(function () {
        debugger
        if ($('.check-box:checked').length > 0) {
            var selected = [];
            var Employeeid = $('.check-box:checked').attr("EmpId");
            $('.check-box:checked').each(function () {
                selected.push($(this).attr('name'));
            });

            $.ajax({
                url: '@Url.Action("UpdateSkillApproval", "SkillsApproval")',
                data: { SkillIds: selected, IsApprove: true, EmployeeId: Employeeid },
                type: "POST",
                datatype: "JSON",
                success: function (result) {
                    bootbox.alert("Selected skill(s) has/have been approved successfully.", function () {
                        //window.location.reload(true);
                        window.location.href = '@Url.Action("Mynotifications", "Notifications")';
                    });
                }
            });
        }
        else {
            //alert("Please select atleast one selection")
            bootbox.alert("Please select at least one skill for approval.");
        }
    });


</script>




