@model IEnumerable<Trianz.Enterprise.Operations.Models.EmployeeMaster>

@{var grid = new WebGrid(Model, canSort: true, canPage: true, rowsPerPage: 10, selectionFieldName: "SelectedRow");
    //var Assignmentgrid = new WebGrid((IEnumerable<dynamic>
    // )ViewData["AssignmentDetails"], canPage: true, canSort: true, rowsPerPage: 10,
    // selectionFieldName: "SelectedRow");
}
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />
<link href="~/Content/Talento7.css" rel="stylesheet" />



<style>
    .navbar-nav > li > .dropdown-menu {
        margin-top: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 100000;
    }

    #SearchEmployee {
        margin-left: -52px;
    }

    #ddlStatus {
        margin-left: -147px;
    }

    body {
        overflow-x: hidden;
    }
</style>

@{
    var statusType = new SelectList(new[]
{
new SelectListItem { Text = "---Status---", Value = "---Status---" },
new SelectListItem { Text = "Billed", Value = "Billed" },
new SelectListItem { Text = "BSA", Value = "BSA" },
new SelectListItem { Text = "Business Operations", Value = "Business Operations"},
new SelectListItem { Text = "Delivery", Value = "Delivery" },
new SelectListItem { Text = "Bench", Value = "Bench"},
new SelectListItem { Text = "Shadow", Value = "Shadow" },

new SelectListItem { Text = "Management", Value = "Management" },
new SelectListItem { Text = "Presales", Value = "Presales" },
  new SelectListItem { Text = "Internal Application", Value = "Internal Application" },
    new SelectListItem { Text = "ESS", Value = "ESS" },
      new SelectListItem { Text = "Account Ops", Value = "Account Ops" },
        new SelectListItem { Text = "Solution Development", Value = "Solution Development" },
          new SelectListItem { Text = "Intern", Value = "Intern" },
            new SelectListItem { Text = "Practice Support", Value = "Practice Support" },


}, "Value", "Text");

    var searchtype = new SelectList(new[]
    {
new SelectListItem { Text="StartsWith", Value="StartsWith"},
new SelectListItem { Text="Contains", Value="Contains"},
new SelectListItem { Text="Equals", Value="Equals"},
new SelectListItem { Text="EndsWith", Value="EndsWith"},
}, "Value", "Text");
    var searchfield = new SelectList(new[] {
new SelectListItem { Text="EmployeeID", Value="EmployeeId"},
new SelectListItem { Text="Name", Value="Name"},
new SelectListItem { Text="Practice", Value="Practice"},
new SelectListItem { Text="Grade", Value="Grade"},
new SelectListItem { Text="PrimarySkills", Value="PrimarySkills"}
}, "Value", "Text");
}

@if (TempData["resume"] != null)
{

    <p id="success">@TempData["resume"].ToString()</p>
}
@if (TempData["noresume"] != null)
{
    <p>@TempData["noresume"].ToString()</p>
}

<script type="text/javascript">
    $(document).on("click", ".myClass", function (e) {
        debugger;
        var SelectedID = $(this).parents('tr:first').find("#lblEmployeeID").text();
    });

</script>

<div class="subpage_header page-header nomargin-top">
    <div class="col-md-6 nopadding-left">
        <div class="clear-both space10"></div>
        <p id="txt">EMPLOYEE MASTER</p>
    </div>
    <div class="col-md-6 col-ms-12 nopadding-right">
        <div>

            @using (Html.BeginForm("MasterReportView", "MasterReport", FormMethod.Get))
            {
                <div class="col-md-2 col-sm-12 nopadding-right pull-right" id="search">
                    <input class="btn btn-primary" type="submit" value="Search" />
                </div>

                <div class="col-md-4 col-sm-12 nopadding-right pull-right">
                    @Html.TextBox("SearchEmployee", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Enter Employee Id" })
                </div>



                <div class="col-md-3 col-sm-12 nopadding-right pull-right">
                    @Html.DropDownList("ddlStatus", new SelectList((System.Collections.IEnumerable)ViewData["StatusType"]),
                    "Status", new { @class = "form-control", onchange = "submit();", @style = "width: 232px;" })
                </div>


                <br />
                <br />

                <div class="=col-md-6 nopadding-right">
                    <div class="col-md-3 nopadding-right pull-right">
                        <input class="btn btn-info" type="submit" value="Advanced Search" id="btnAdvSearch" style="margin-left: -12px;" />
                    </div>
                    <div class="col-md-3 col-sm-12 nopadding-right pull-right">
                        @Html.TextBox("SearchField", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Enter Value" })
                    </div>
                    <div class="col-md-3 col-sm-12 nopadding-right pull-right">
                        @Html.DropDownList("ddlSearch", new SelectList((System.Collections.IEnumerable)ViewData["SearchType"]),
                        new { @class = "form-control", onchange = "submit();" })
                    </div>
                    <div class="col-md-3 col-sm-12 nopadding-right ">
                        @Html.DropDownList("ddlSearchField", new SelectList((System.Collections.IEnumerable)ViewData["SearchTypeField"]),
                        new { @class = "form-control", onchange = "submit();" })
                    </div>
                    <div class="col-md-3 col-sm-12 nopadding-right pull-right">
                        @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH"))
                        {
                            @*<button type="button" id="btnExport" name="btnExport" href="#" onclick="location.href='@Url.Action("GetExcel", "MasterReport")'" title="exporttoexcel" class="btn btn-default btn-sm btn-excel">
                                    <i class="glyphicon glyphicon-export"></i>
                                    Export To Excel
                                </button>*@
                            <div>
                                <button id="btnExportToExcel" type="button" href="#" onclick="location.href='@Url.Action("GetExcel", "MasterReport")'" style="border: none;background-color: white;"> <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: -141px;margin-left: -13px;" alt="xlmsimg"></button>
                            </div>
                        }
                    </div>

                </div>
            }
        </div>
    </div>

    <div class="clear-both space5" style="height:5px;"></div>
</div>

<div class="col-md-12 nopadding">
    <div id=" gridcontent" class="table table-responsive">
        @{var ShowHeader = true;
            if (Model.Count() == 0)
            {
                ShowHeader = false; <center><p>No Data Found</p></center> }
        }
        @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
     fillEmptyRows: false,
     //headerStyle: "table",
     alternatingRowStyle: "alt",
     selectedRowStyle: "select",
     displayHeader: ShowHeader,
     mode: WebGridPagerModes.All,
     firstText: "<< First",
     previousText: "< Prev",
     nextText: "Next >",
     lastText: "Last >>",
     htmlAttributes: new { id = "DashboardGrid" },
     columns: grid.Columns(
         grid.Column("EmployeeId", "ID", style: "Grade",
         format:@<span id="empid" title=@item.employee.EmployeeId>@item.employee.EmployeeId</span>),
                @*grid.Column("EmployeeId", "ID", format:@<text>
                    <a href="#" class="myClass">@item.EmployeeId</a>
                    <label style="display:none;" id="lblEmployeeID">@item.EmployeeId</label>
                    </text> ),*@


                @*grid.Column("EmployeeId", "ID", format: @<text>

                    <a href="#" class="myClass">@item.EmployeeId</a>
                    </text>),*@
grid.Column("UserName", "Name", style: "Request", format:@<text> <span id="User" class="display-mode">@item.employee.UserName</span> </text>),
grid.Column("Email",
header: "Email",
format: @<text>
                        <span id="Email" class="display-mode">@item.employee.Email</span>

</text>),

    @*grid.Column("DateOfBirth",
        header: "DateOfBirth",
        format: @<text>
        <span id="DateOfBirth" class="display-mode">@item.DateOfBirth.ToString("yyyy-MM-dd")</span>

        </text>),*@


grid.Column("Grade",
header: "Grade",
format: @<text>
        <span id="Grade" class="display-mode" style="float:right">@item.employee.Grade</span>

</text>),

        grid.Column("Practice",
        header: "Practice",
        format: @<text>
                        <span id="Practice" class="display-mode">@item.employee.Practice</span>
        </text>),

             /*grid.Column("PrimarySkills",
             header: "PrimarySkills",
             format: @<text>
             <span id="PrimarySkills" class="display-mode">@item.PrimarySkills</span>

             </text>),
             grid.Column("SecondarySkills",
             header: "SecondarySkills",
             format: @<text>
             <span id="SecondarySkills" class="display-mode">@item.SecondarySkills</span>

             </text>),*/
             grid.Column("LocationType",
             header: "Location Type",
             format: @<text>
                        <span id="LocationType" class="display-mode">@item.employee.LocationType</span>

            </text>),
                  grid.Column("Location",
                  header: "Location",
                  format: @<text>
                                <span id="Location" class="display-mode">@item.employee.Location</span>

                </text>),
                      grid.Column("ReservationStatus",
                      header: "Reservation Status",
                      format: @<text>
                                    <span id="ReservationStatus" class="display-mode">@item.employee.ReservationStatus</span>

                    </text>),
                          grid.Column("Designation",
                          header: "Designation",
                          format: @<text>
                                        <span id="Designation" class="display-mode">@item.employee.Designation</span>

                        </text>),
                              grid.Column("EmployeeType",
                              header: "Employee Type",
                              format: @<text>
                                            <span id="Employee Type" class="display-mode">@item.employee.EmployeeType</span>

                            </text>),

                                  grid.Column("DateOfJoin",
                                  header: "Date Of Join",
                                  format: @<text>
                                                <span id="DateOfJoin" class="display-mode">@item.employee.DateOfJoin.ToString("yyyy-MM-dd")</span>

                                </text>),

                                      grid.Column("PreviousExperience",
                                      header: "Previous Experience",
                                      format: @<text>
                                                    <span id="PreviousExperience" class="display-mode" style="float:right">@item.employee.PreviousExperience</span>
                                    </text>),
                                          grid.Column("ProjectCode",
                                          header: "Project Code",
                                          format: @<text>
                                                        <span id="ProjectCode" class="display-mode">@item.projectAssignment.ProjectCode</span>

                                        </text>),
                                                @*grid.Column("MasterSkillSet",
                                                    header: "Master Skill",
                                                    format: @<text>
                                                        <span id="MasterSkills" class="display-mode">@item.employee.MasterSkillSet</span>

                                                    </text>),*@
                                                @*@*grid.Column("SubSkill",
                                                    header: "Sub Skill 1",
                                                    format: @<text>
                                                        <span id="PrimarySkills" class="display-mode">@item.employee.PrimarySkills</span>

                                                    </text>),*@
grid.Column("StartDate",
header: "Start Date",
format: @<text>
                                                    <span id="StartDate" class="display-mode">@(@item.projectAssignment.StartDate == null ? String.Empty : @item.projectAssignment.StartDate.ToString("MM/dd/yyyy"))</span>

</text>),
        grid.Column("EndDate",
        header: "End Date",
        format: @<text>
                        <span id="EndDate" class="display-mode">@(@item.projectAssignment.EndDate == null ? String.Empty : @item.projectAssignment.EndDate.ToString("MM/dd/yyyy"))</span>
                        @*@Html.TextBox("EmployeeId", item.EmployeeId, new { @class = "edit-mode", size = 45 })*@

        </text>),
             grid.Column("Utilization",
             header: "Utilization(%)",
             format: @<text>
                        <span id="Utilization" class="display-mode" style="float:right">@item.employee.Utilization</span>

            </text>),
                  grid.Column("ResourceStatus",
                  header: "Resource Status",
                  format: @<text>
                                <span id="ResourceStatus" class="display-mode">@item.employee.ResourceStatus</span>

                </text>),

                      grid.Column("AssignmentStatus",
                      header: "Assignment Status",
                      format: @<text>
                                    <span id="AssignmentStatus" class="display-mode">@item.employee.AssignmentStatus</span>

                    </text>),
                            @*grid.Column("ProjectManagerId",
                                header: "ProjectManagerId",
                                format: @<text>
                                <span id="ProjectManagerId" class="display-mode">@item.employee.ProjectManagerId</span>

                                </text>),*@
grid.Column("ProjectManager",
header: "Project Manager",
format: @<text>
                                <span id="ProjectManager" class="display-mode">@item.project.ProjectManager</span>

</text>),
        grid.Column("SupervisorId",
        header: "Supervisor Id",
        format: @<text>
                        <span id="SupervisorId" class="display-mode" style="float:right">@item.employee.SupervisorId</span>

        </text>),
            @*grid.Column("BillingStatus",
                header: "Billing Status",
                format: @<text>
                    <span id="BillingStatus" class="display-mode">@item.projectAssignment.BillingStatus</span>

                </text>),*@
            @*grid.Column("SPOC", "SPOC", style: "empid",
                format: @<text>
                <span id="SPOC" class="display-mode">@item.SPOC</span>
                </text>),

                grid.Column("AssignmentStatus",
                header: "Assignment Status",
                format: @<text>
                <span id="AssignmentStatus" class="display-mode">@item.AssignmentStatus</span>

                </text>),*@

grid.Column("Resume", "Resume", format: item => (item.empdoc.Empcv == null)
? new HtmlString(string.Empty)
: Html.ActionLink("Download", "FileDownload", new { id = item.employee.EmployeeId }))

            @*grid.Column("ProjectName",
                header: "ProjectName",
                format: @<text>
                    <span id="ProjectName" class="display-mode">@item.ProjectAssignment.ProjectName</span>

                </text>),*@
            @*grid.Column("BillingType",
                header: "Billing Type",
                format: @<text>
                    <span id="BillingType" class="display-mode">@item.project.BillingType</span>

                </text>),
                     grid.Column("AccountName",
                header: "Client Name",
                format: @<text>
                    <span id="AccountName" class="display-mode">@item.project.AccountName</span>

                </text>)*@




            @*grid.Column("Resumes", "Resumes", format: @<text>
                <button type="button"  onclick="location.href='@Url.Action("FileDownload", "MasterReport")?id=' + document.getElementById('SearchEmployee').value">
                    DownloadResume
                </button>
                </text>)*@
))
    </div>

</div>
<div class="col-md-6 col-sm-12 pull-right text-right nopadding-right">

</div>
<script>
    $('.ui-icon-closethick').on('click', function () {
        var tr = $(this).parents('tr:first');
        tr.find('#ddlStatus option:selected').text('---Status---');
        Reset();

    })



</script>


@*<div id="div-2">
        <div class="col-md-12 nopadding">
            <div class="subpage_header page-header nomargin-top">
                <p>My Assignments</p>
            </div>

            <div id="Assignmentgridcontent" class="table table-responsive">

                @Assignmentgrid.GetHtml(columns:
                                Assignmentgrid.Columns
                                (

                                    Assignmentgrid.Column("ProjectName", "Project Name", format:@<text>@item.ProjectCode @item.ProjectName </text>  ),
                                    Assignmentgrid.Column("Assigned_By", "Assigned By"),
                                    Assignmentgrid.Column("Utilization", "Utilization%"),
                                    Assignmentgrid.Column("StartDate", "Start Date"),
                                    Assignmentgrid.Column("EndDate", "End Date")


                                ), mode: WebGridPagerModes.Numeric, htmlAttributes: new { @class = "table table-bordered table-striped p-resources" })
            </div>
        </div>
    </div>*@

@*<script type="text/javascript">
    $(document).ready(function () {
        $("#lblEmployeeID").on('click', function() {
            if($(this).hasClass("selected")) {
                deselect();
            } else {
                $(this).addClass("selected");
                $.get(this.href, function(data) {
                    $(".pop").html(data).slideFadeToggle(function() {
                        $("input[type=text]:first").focus();
                    });
                }
                }
            return false;
        });



    });
        </script>*@


