@model IEnumerable<Trianz.Enterprise.Operations.Models.SkillMaster>

@{

    Layout = null;
}
<script src="~/Scripts/jquery.dataTables.min.js"></script>

@*<input type="hidden" value="@ViewBag.PageCount" id="hdnPageCount" />*@
@*<input type="hidden" value="@ViewBag.NoOfRecardsCount" id="hdnRecardsCount" />*@
<input type="hidden" value="@ViewBag.SortDirection" id="hdnSortDirection" />
<div id="skillsetgrid" style="float:left;width:100%;">


    @{ var grid = new WebGrid(Model, ajaxUpdateContainerId: "skillsetgrid", canPage: false, canSort: true, defaultSort: null);
        IEnumerable<WebGridColumn> cols =
            new List<WebGridColumn>
            {

                new WebGridColumn
                {
                    ColumnName="SkillCategory",
                    Header="Skill Category",
                    CanSort=false,
                    Format = @<text>
    <span style="display:none"><label id="txtSkillId">@item.SkillId</label></span>
    @*<input style="display:none" type="text" id="txtSkillId" value="@item.SkillId" class="edit" size="10" disabled />*@
    <span class="display"><label id="lblSkillCategory">@item.SkillCategory</label></span>
    <input type="text" id="txtSkillCategory" value="@item.SkillCategory" class="edit" size="15" disabled />

                    </text>
                                                                    },
                                                                    new WebGridColumn
                                                                    {
                                                                        ColumnName="Skillset",
                                                                        Header="Skill Set",
                                                                       CanSort=false,
                                                                        Format = @<text>
                        <span class="display"><label id="lblSkillset">@item.Skillset</label></span>
                        <input type="text" id="txtSkillset" value="@item.Skillset" size="15" class="edit" />
                                                                        </text>
                                                                                                                                                    },
                                                                                                                                              new WebGridColumn
                                                                                                                                                    {
                                                                                                                                                        ColumnName="Practice",
                                                                                                                                                        Header="Practice",
                                                                                                                                                       CanSort=false,
                                                                                                                                                        Format = @<text>
                                                                            <span class="display"><label id="lblPractice">@item.Practice</label></span>
                                                                            <input type="text" id="txtPractice" value="@item.Practice" size="15" class="edit" disabled />
                                                                                                                                                        </text>
                                                                                                                                                                                                                                                                },
                                                                                                                                                                                                                                                                new WebGridColumn{
                                                                                                                                                                                                                                                                    Header="Action",
                                                                                                                                                                                                                                                                    Format = @<text>
                                                                                                                                                            <a href='#' class="display edit-btn"><span><img src="~/Content/images/icon-edit.png" /></span></a>
                                                                                                                                                            <a href="#" class="edit save-btn"><span class="glyphicon glyphicon-floppy-saved"></span></a> |
                                                                                                                                                            <a href="#" class="edit cancel-btn"><span class="glyphicon glyphicon-floppy-remove"></span></a>
                                                                                                                                                            <a href="#" class="display delete-btn"><span><img src="~/Content/images/icon-delete.png" /></span></a>
                                                                                                                                                                                                                                                                    </text>
                                                                                                                                                                                                                                                                                                                                                                                                        },
                                                                                                                                                                                                                                                                                                                                                                                                            };
    }


    @grid.GetHtml(
           columns: cols,
           rowStyle: "oddRowStyle",
           alternatingRowStyle: "evenRowStyle",
          tableStyle: "table table-bordered table-responsive table-hover",
           selectedRowStyle: "gridAltRow",
           htmlAttributes: new { id = "ajaxgrid1" }
            )
</div>
<script type="text/javascript">

    $(function () {

        var table = $('#skillsetgrid table').DataTable(
            {
                "scrollY": "300",
                bPaginate: false
            }
            );

        // Apply the search
        $(".dataTables_filter").hide();
        $(".dataTables_length").hide();
        $(".dataTables_info").hide();
        //$(".dataTables_paginate").hide();
        $('.filter').on('keyup change', function () {
            debugger;
            //clear global search values

            table.column(1).search(this.value).draw();
        });







        $('.edit').hide();  // default is display
        $('.ins-btn, .edit-btn, .cancel-btn').on("click", function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
        });
        $('.save-btn').on("click", function () {
            debugger

            var tr = $(this).parents('tr:first');
            var Skillid = tr.find("#txtSkillId").text();
            var txtSkillCategory = tr.find("#txtSkillCategory").val();
            var txtSkillset = tr.find("#txtSkillset").val();

            var existingPratice = tr.find("#txtPractice").val();
            var isSuccess = -1;
            if (txtSkillCategory == "") {
                alert("Please select SkillCategory");
                return false;

            }
            else if (txtSkillset == "") {
                alert("Please enter the skillset");
                return false;
            }
            else {
                $.ajax({
                    //  url: '/PerformanceManagement/ManageGoal/SaveData/',
                    url: '@Url.Action("UpdateSkillSet", "Competency")',
                    data: JSON.stringify({ SkillID: Skillid, SkillCategory: txtSkillCategory, SkillSet: txtSkillset, ExistingPratice: existingPratice }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    success: function (result) {

                        isSuccess = result;
                    },
                    error: function (result) {

                        isSuccess = result;
                    }
                }).done(function () {
                    debugger
                    if (isSuccess == "true") {
                        tr.find('.edit, .display').toggle();// Successfully saved
                        alert("Successfully Saved");
                        $("#Skillset").val('');
                        //location.reload();
                        BindSkillSetGrid();
                    }
                    else if (isSuccess == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                    else if (isSuccess == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                    else if (isSuccess == "false") {
                        alert("Skill Set Already Exist");
                        $("#Skillset").val('');
                        return false;

                    }
                    else {                      // Data Error
                        alert("Error. Please, check the data");
                    }
                });
            }

        });

        $('.delete-btn').on("click", function () {
            var flag = confirm('Do you want to delete');
            if (flag) {
                var tr = $(this).parents('tr:first');
                var Skillid = tr.find("#txtSkillId").text();
                var txtSkillCategory = tr.find("#txtSkillCategory").val();
                var txtSkillset = tr.find("#txtSkillset").val();

                var isSuccess = -1;
                $.ajax({

                    // url: '/PerformanceManagement/ManageGoal/DeleteData/',
                    url: '@Url.Action("DeleteSkillSet", "Competency")',
                    data: JSON.stringify({ SkillID: Skillid, SkillCategory: txtSkillCategory, SkillSet: txtSkillset }),
                    type: 'POST',

                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    success: function (result) {

                        isSuccess = result;

                    },
                    error: function (result) {

                        isSuccess = result;
                    }

                }).done(function () {
                    if (isSuccess == "true") {           // Successfully Deleted
                        alert("Successfully Deleted");
                        // location.reload();      // refresh the page
                        BindSkillSetGrid();

                    }
                    else if (isSuccess == "Sessionexpired") {
                         window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }

                      else if (isSuccess == "Error") {
                         window.location.href = '@Url.Action("Error", "Error")';
                        }

                    else {                      // Data Error
                        alert("Error. Please, check the data");
                    }

                });


            }
        });
    });
    function GetSkillSetbySkillCategory() {

        var SkillCategory = $("#ddlSkillCategoryList option:selected").val();
        var sortDirection = "ASCE";
        $.ajax({
            // url: '/ManageKRAs/InsertData/',       // HomeController and InsertData method
            url: '@Url.Action("GetSkillSetbySkillCategory", "Competency")',
            data: JSON.stringify({ SortDirection: sortDirection, SkillCategory: SkillCategory }),
            type: 'POST',
            datatype: "html",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (result) {

                if (result != null && result != "Sessionexpired" && result != "Error") {
                    if ($("#divSkillSetGrid").length > 0) {
                        $("#divSkillSetGrid").empty();
                    }
                    if ($("#ajaxgrid1 tfoot").length > 0) {
                        $("#ajaxgrid1 tfoot").empty();
                    }
                    $("#divSkillSetGrid").html(result);
                    //$("#ajaxgrid1 thead").find("th:eq(0)").find("a").attr("PageNumber");
                    //$("#ajaxgrid1 thead").find("th:eq(0)").find("a").attr("sortDir", "DESC");

                    // HideLastAnchor();
                }
                else if (result == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                 else if (result == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }

            },
            error: function (result) {


            }
        });
    }
</script>

<script>

    $(document).off('click', '#ajaxgrid1 tfoot a')
    $(document).on('click', '#ajaxgrid1 tfoot a', function (e) {

        e.preventDefault();
        BindSkillSetGrid(this);

    });

    $(document).off('click', '#ajaxgrid1 thead a')
    $(document).on('click', '#ajaxgrid1 thead a', function (e) {

        e.preventDefault();
        BindSkillSetGridBySorting(this);
    });

    function BindSkillSetGrid(current) {

        var sortDirection = "ASCE";
        var pageNo;
        if (current != null && current != undefined) {
            pageNo = $(current).text();
        }
        else {
            pageNo = $("#ajaxgrid1 thead").find("th:eq(0)").find("a").attr("PageNumber");
        }
        if (pageNo == "" || pageNo == undefined)
            pageNo = 1;

        var SkillCategory = $("#ddlSkillCategoryList option:selected").val();

        $.ajax({
            // url: '/ManageKRAs/InsertData/',       // HomeController and InsertData method
            url: '@Url.Action("GetSkillSetbySkillCategory", "Competency")',
            data: JSON.stringify({ SortDirection: sortDirection, SkillCategory: SkillCategory }),
            type: 'POST',
            datatype: "html",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (result) {

                if (result != null && result != "Sessionexpired" && result != "Error") {
                    if ($("#divSkillSetGrid").length > 0) {
                        $("#divSkillSetGrid").empty();
                    }
                    if ($("#ajaxgrid1 tfoot").length > 0) {
                        $("#ajaxgrid1 tfoot").remove();
                    }
                    $("#divSkillSetGrid").html(result);

                    // var recardsCount = $("#hdnRecardsCount").val();
                    // var PageCount = $("#hdnPageCount").val();
                    // $("#ajaxgrid1 thead").find("th:eq(0)").find("a").attr("PageNumber", pageNo);
                    //CreateFooter(PageCount, recardsCount);
                    //HideLastAnchor();
                }
                else if (result == "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                   else if (result == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }

            },
            error: function (result) {

                alert(JSON.stringify(error));
            }
        });
    }

    function BindSkillSetGridBySorting(current) {

        var pageNo = $("#ajaxgrid1 thead").find("th:eq(0)").find("a").attr("PageNumber");

        var ddlKRAValue = $("#op2 option:selected").val();
        var sortDirection = "";
        sortDirection = $("#hdnSortDirection").val();
        if (sortDirection == "ASCE")
            sortDirection = "DESC";
        else
            sortDirection = "ASCE";
        $.ajax({
            // url: '/ManageKRAs/InsertData/',       // HomeController and InsertData method
            url: '@Url.Action("GetSkillSetbySkillCategory", "Competency")',
            data: JSON.stringify({ PageNo: pageNo, SortDirection: sortDirection, KraID: ddlKRAValue }),
            type: 'POST',
            datatype: "html",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (result) {
                debugger;
                if (result != null && result != "Sessionexpired" && result != "Error") {

                    if ($("#divSkillSetGrid").length > 0) {
                        $("#divSkillSetGrid").empty();
                    }
                    if ($("#ajaxgrid1 tfoot").length > 0) {
                        $("#ajaxgrid1 tfoot").remove();
                    }

                    $("#divSkillSetGrid").html(result);

                    //var recardsCount = $("#hdnRecardsCount").val();
                    //var PageCount = $("#hdnPageCount").val();
                    //if (pageNo != undefined)
                    //    CreateFooter(PageCount, recardsCount);
                    //HideLastAnchor();


                    //$("#ajaxgrid1 thead").find("th:eq(0)").find("a").attr("PageNumber", pageNo);

                }
                else if (result == "Sessionexpired") {
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                 else if (result == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
            },
            error: function (result) {

                alert(JSON.stringify(error));
            }
        });

    }

</script>

<script>
    function HideLastAnchor() {
        if ($("#ajaxgrid1 tfoot tr td").find("a").length > 0) {
            $("#ajaxgrid1 tfoot tr td").find("a").each(function () {
                if ($(this).text() == ">") {
                    $(this).css("display", "none");
                }

            });
        }
    }

    function CreateFooter(PageCount, recardsCount) {
        PageCount = parseInt(PageCount, 10);
        var footer = "<tfoot>";
        footer += "<tr>";
        footer += "<td colspan='5'>";
        var links = "";
        for (var i = 1; i <= (PageCount + 1); i++) {
            links = links + "<a  href='#'>" + i + "</a>&nbsp;";
        }
        footer += links;
        footer += "</td>";
        footer += "<tr>";
        footer = footer + "</tfoot>";

        $("#ajaxgrid1 tbody").after(footer);
    }
</script>