@model IEnumerable<Trianz.Enterprise.Operations.Models.EmployeeMaster>

@{var grid = new WebGrid(Model, canSort: true, canPage: true, rowsPerPage: 10, selectionFieldName: "SelectedRow");
    //var Assignmentgrid = new WebGrid((IEnumerable<dynamic>
    // )ViewData["AssignmentDetails"], canPage: true, canSort: true, rowsPerPage: 10,
    // selectionFieldName: "SelectedRow");
}
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />
<link href="~/Content/Talento7.css" rel="stylesheet" />



<style>
    .Empname {
        position: relative;
        bottom: 44px;
        left: 95px;
    }
    .navbar-nav > li > .dropdown-menu {
        margin-top: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 100000;
    }


    #SearchField {
        position: relative;
        left: -3px;
    }
    body {
        overflow-x: hidden;
    }
   
    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
      background-color: #D6DCE3 !important;
      color:black;
 
    }
    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
     border-bottom-width: 0;
     color: rgb(0, 0, 0);
    
    }
    /*.table {
        width: 133%;
        max-width: 256%;
        
    }*/

    .HRRF_custom .p-resources th, .HRRF_custom .p-resources td {
        font-size: 11px;
        color: rgb(0, 0, 0);
    }
    #txt {
        color: #2C2E31;
        font-size: 16px;
        margin-left: 18px;
        margin-top: 56px;
    }
    .table {
        width: 99%;
        max-width: 100%;
        /* margin-bottom: 20px; */
        margin-left: 24px;
    }

    .clscustomewidth {
        font-size: 10px !important;
    }
    .col-md-12 {
        width: 100%;
        background-color: #ffffff;
        margin-left: 7px;
    }
    .btn-primary:hover {
        color: #fff;
        background-color: #004BBB;
        border-color: #204d74;
    }
    .btn-primary {
        color: #fff;
        background-color: #004BBB;
        border-color: #2e6da4;
    }
    
    /*sorting*/
    .sortinnic {
        background: url(../../Content/images/sortup.svg) 0px 3px no-repeat;
        display: block;
        height: 10px;
        width: 10px;
    }

    .overviewmain {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sortingmain {
        position: absolute;
        right: 4px;
    }

    .sortinnicdown {
        background: url(../../Content/images/sortdown.svg) 0px 3px no-repeat;
        display: block;
        height: 10px;
        width: 10px;
    }

  
</style>

@{
    var statusType = new SelectList(new[]
{
new SelectListItem { Text = "---Status---", Value = "---Status---" },
new SelectListItem { Text = "Billed", Value = "Billed" },
new SelectListItem { Text = "BSA", Value = "BSA" },
new SelectListItem { Text = "Business Operations", Value = "Business Operations"},
new SelectListItem { Text = "Delivery", Value = "Delivery" },
new SelectListItem { Text = "Bench", Value = "Bench"},
new SelectListItem { Text = "Shadow", Value = "Shadow" },

new SelectListItem { Text = "Management", Value = "Management" },
new SelectListItem { Text = "Presales", Value = "Presales" },
  new SelectListItem { Text = "Internal Application", Value = "Internal Application" },
    new SelectListItem { Text = "ESS", Value = "ESS" },
      new SelectListItem { Text = "Account Ops", Value = "Account Ops" },
        new SelectListItem { Text = "Solution Development", Value = "Solution Development" },
          new SelectListItem { Text = "Intern", Value = "Intern" },
            new SelectListItem { Text = "Practice Support", Value = "Practice Support" },


}, "Value", "Text");

    var searchtype = new SelectList(new[]
    {
new SelectListItem { Text="StartsWith", Value="StartsWith"},
new SelectListItem { Text="Contains", Value="Contains"},
new SelectListItem { Text="Equals", Value="Equals"},
new SelectListItem { Text="EndsWith", Value="EndsWith"},
}, "Value", "Text");
    var searchfield = new SelectList(new[] {
new SelectListItem { Text="EmployeeID", Value="EmployeeId"},
new SelectListItem { Text="Name", Value="Name"},
new SelectListItem { Text="Practice", Value="Practice"},
new SelectListItem { Text="Grade", Value="Grade"},
new SelectListItem { Text="PrimarySkills", Value="PrimarySkills"}
}, "Value", "Text");
}

@if (TempData["resume"] != null)
{

    <p id="success">@TempData["resume"].ToString()</p>
}
@if (TempData["noresume"] != null)
{
    <p>@TempData["noresume"].ToString()</p>
}

<script type="text/javascript">
    $(document).on("click", ".myClass", function (e) {
        debugger;
        var SelectedID = $(this).parents('tr:first').find("#lblEmployeeID").text();
    });

</script>



<div class="subpage_header page-header nomargin-top">
    <div class="col-md-3 nopadding-left">
        <div class="clear-both space10"></div>
        <p id="txt">EMPLOYEE MASTER</p>
    </div>
    <div class="col-md-9 col-ms-12 nopadding-right" style="position: relative;top: 23px;">
        
        <div>

            @using (Html.BeginForm("MasterReportView", "MasterReport", FormMethod.Get, new { @class = "form-inline pull-right" }))
            {
            <div style="margin-left: 355px;">
                <div class="form-group">
                    @Html.DropDownList("ddlStatus", new SelectList((System.Collections.IEnumerable)ViewData["StatusType"]),
                     "Status", new { @class = "form-control", onchange = "submit();", @style = "width: 173px;position: relative;left:-53px; " })
                </div>
                @*<button class="btn btn-primary" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>*@

                <div class="form-group">
                    @Html.TextBox("SearchEmployee", ViewBag.CurrentFilter as string, new { @class = "form-control", @name = "SearchEmployee", @placeholder = "Enter Employee Id", @style = "width: 173px;" })
                </div>

                <div class="form-group" id="search">
                    <button class="btn btn-primary" id="btnSearch" style="width:50px;"><i class="glyphicon glyphicon-search"></i></button>
                </div>

                @*<div class="col-md-2 col-sm-12 nopadding-right pull-right" id="search" style="position: relative;left: 26px;">
            <button class="btn btn-primary" id="btnSearch" style="width:50px;"><span class="glyphicon glyphicon-search"></span></button>
        </div>*@
            </div>

            <br />
            <br />

            <div class="form-inline pull-right" style="margin-top: -33px;">

                <div class="form-group">
                    @Html.TextBox("SearchField", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Enter Value" })
                </div>
                <div class="form-group">
                    @Html.DropDownList("ddlSearch", new SelectList((System.Collections.IEnumerable)ViewData["SearchType"]),
                     new { @class = "form-control", onchange = "submit();" })
                </div>

                <div class="form-group">
                    @Html.DropDownList("ddlSearchField", new SelectList((System.Collections.IEnumerable)ViewData["SearchTypeField"]),
                     new { @class = "form-control", onchange = "submit();" })
                </div>
                <div class="form-group">
                    <input class="btn btn-info" type="submit" value="Advanced Search" id="btnAdvSearch" style="background-color: #004BBB;" />
                </div>
                <div class="form-group">
                    @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH"))
                    {
                        <button id="btnExportToExcel" type="button" onclick="location.href='@Url.Action("GetExcel", "MasterReport")'" style=" background-color: white; border: white; float: right; color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 22px;bottom: 75px;left: -64px;">
                            <img src="~/Content/images/Report_icon.svg" /> Export <span class="caret"></span>
                        </button>
                    }
                </div>

            </div>
            }
        </div>
    </div>

    <div class="clear-both space5" style="height:5px;"></div>
</div>

<div class="col-md-12 nopadding">
    <div id=" gridcontent" class="table table-responsive" style="margin: 13px;margin-left: -6px;">
        @{var ShowHeader = true;
            if (Model.Count() == 0)
            {
                ShowHeader = false; <center><p>No Data Found</p></center> }
        }
        @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
     fillEmptyRows: false,
     //headerStyle: "table",
     alternatingRowStyle: "alt",
     selectedRowStyle: "select",
     displayHeader: ShowHeader,
     mode: WebGridPagerModes.All,
     firstText: "<< First",
     previousText: "< Prev",
     nextText: "Next >",
     lastText: "Last >>",
     htmlAttributes: new { id = "DashboardGrid" },
     columns: grid.Columns(
         grid.Column("EmployeeId", "ID", style: "Grade",
         format:@<span id="empid" title=@item.employee.EmployeeId>@item.employee.EmployeeId</span>),
                @*grid.Column("EmployeeId", "ID", format:@<text>
                <a href="#" class="myClass">@item.EmployeeId</a>
                <label style="display:none;" id="lblEmployeeID">@item.EmployeeId</label>
                </text> ),*@


                @*grid.Column("EmployeeId", "ID", format: @<text>

                <a href="#" class="myClass">@item.EmployeeId</a>
                </text>),*@
                grid.Column("UserName", "Name", style: "Request", format:@<text> <span id="User" class="display-mode">@item.employee.UserName</span> </text>),
                                    grid.Column("Email",
                                    header: "Email",
                                    format: @<text>
                                        <span id="Email" class="display-mode">@item.employee.Email</span>

                                    </text>),

                                        @*grid.Column("DateOfBirth",
                                        header: "DateOfBirth",
                                        format: @<text>
                                        <span id="DateOfBirth" class="display-mode">@item.DateOfBirth.ToString("yyyy-MM-dd")</span>

                                        </text>),*@


                                        grid.Column("Grade",
                                        header: "Grade",
                                        format: @<text>
                                            <span id="Grade" class="display-mode" style="float:right">@item.employee.Grade</span>

                                        </text>),

                                                            grid.Column("Practice",
                                                            header: "Practice",
                                                            format: @<text>
                                                                <span id="Practice" class="display-mode">@item.employee.Practice</span>
                                                            </text>),

                                                                          /*grid.Column("PrimarySkills",
                                                                          header: "PrimarySkills",
                                                                          format: @<text>
                                                                          <span id="PrimarySkills" class="display-mode">@item.PrimarySkills</span>

                                                                          </text>),
                                                                          grid.Column("SecondarySkills",
                                                                          header: "SecondarySkills",
                                                                          format: @<text>
                                                                          <span id="SecondarySkills" class="display-mode">@item.SecondarySkills</span>

                                                                          </text>),*/
                                                                          grid.Column("LocationType",
                                                                          header: "Location Type",
                                                                          format: @<text>
                                                                            <span id="LocationType" class="display-mode">@item.employee.LocationType</span>

                                                                        </text>),
                                                                                          grid.Column("Location",
                                                                                          header: "Location",
                                                                                          format: @<text>
                                                                                            <span id="Location" class="display-mode">@item.employee.Location</span>

                                                                                        </text>),
                                                                                                         grid.Column("ReservationStatus",
                                                                                                         header: "Reservation Status",
                                                                                                         format: @<text>
                                                                                                            <span id="ReservationStatus" class="display-mode">@item.employee.ReservationStatus</span>

                                                                                                        </text>),
                                                                                                                         grid.Column("Designation",
                                                                                                                         header: "Designation",
                                                                                                                         format: @<text>
                                                                                                                            <span id="Designation" class="display-mode">@item.employee.Designation</span>

                                                                                                                        </text>),
                                                                                                                                         grid.Column("EmployeeType",
                                                                                                                                         header: "Employee Type",
                                                                                                                                         format: @<text>
                                                                                                                                            <span id="Employee Type" class="display-mode">@item.employee.EmployeeType</span>

                                                                                                                                        </text>),

                                                                                                                                                         grid.Column("DateOfJoin",
                                                                                                                                                         header: "Date Of Join",
                                                                                                                                                         format: @<text>
                                                                                                                                                            <span id="DateOfJoin" class="display-mode">@item.employee.DateOfJoin.ToString("dd-MMM-yyyy")</span>

                                                                                                                                                        </text>),

                                                                                                                                                                         grid.Column("PreviousExperience",
                                                                                                                                                                         header: "Previous Experience",
                                                                                                                                                                         format: @<text>
                                                                                                                                                                            <span id="PreviousExperience" class="display-mode" style="float:right">@item.employee.PreviousExperience</span>
                                                                                                                                                                        </text>),
                                                                                                                                                                                         grid.Column("ProjectCode",
                                                                                                                                                                                         header: "Project Code",
                                                                                                                                                                                         format: @<text>
                                                                                                                                                                                            <span id="ProjectCode" class="display-mode">@item.projectAssignment.ProjectCode</span>

                                                                                                                                                                                        </text>),
                                                                                                                                                                                                @*grid.Column("MasterSkillSet",
                                                                                                                                                                                                header: "Master Skill",
                                                                                                                                                                                                format: @<text>
                                                                                                                                                                                                    <span id="MasterSkills" class="display-mode">@item.employee.MasterSkillSet</span>

                                                                                                                                                                                                </text>),*@
                                                                                                                                                                                                @*@*grid.Column("SubSkill",
                                                                                                                                                                                                header: "Sub Skill 1",
                                                                                                                                                                                                format: @<text>
                                                                                                                                                                                                    <span id="PrimarySkills" class="display-mode">@item.employee.PrimarySkills</span>

                                                                                                                                                                                                </text>),*@
                                                                                                                                                                                                grid.Column("StartDate",
                                                                                                                                                                                                header: "Start Date",
                                                                                                                                                                                                format: @<text>
                                                                                                                                                                                                    <span id="StartDate" class="display-mode">@(@item.projectAssignment.StartDate == null ? String.Empty : @item.projectAssignment.StartDate.ToString("dd-MMM-yyyy"))</span>

                                                                                                                                                                                                </text>),
                                                                                                                                                                                                                    grid.Column("EndDate",
                                                                                                                                                                                                                    header: "End Date",
                                                                                                                                                                                                                    format: @<text>
                                                                                                                                                                                                                        <span id="EndDate" class="display-mode clscustomewidth">@(@item.projectAssignment.EndDate == null ? String.Empty : @item.projectAssignment.EndDate.ToString("dd-MMM-yyyy"))</span>
                                                                                                                                                                                                                        @*@Html.TextBox("EmployeeId", item.EmployeeId, new { @class = "edit-mode", size = 45 })*@

                                                                                                                                                                                                                    </text>),
                                                                                                                                                                                                                                  grid.Column("Utilization",
                                                                                                                                                                                                                                  header: "Utilization(%)",
                                                                                                                                                                                                                                   format: @<text>
                                                                                                                                                                                                                                    <span id="Utilization" class="display-mode" style="float:right">@item.employee.Utilization</span>

                                                                                                                                                                                                                                </text>),
                                                                                                                                                                                                                                                  grid.Column("ResourceStatus",
                                                                                                                                                                                                                                                  header: "Resource Status",
                                                                                                                                                                                                                                                  format: @<text>
                                                                                                                                                                                                                                                    <span id="ResourceStatus" class="display-mode">@item.employee.ResourceStatus</span>

                                                                                                                                                                                                                                                </text>),

                                                                                                                                                                                                                                                                 grid.Column("AssignmentStatus",
                                                                                                                                                                                                                                                                 header: "Assignment Status",
                                                                                                                                                                                                                                                                 format: @<text>
                                                                                                                                                                                                                                                                    <span id="AssignmentStatus" class="display-mode">@item.employee.AssignmentStatus</span>

                                                                                                                                                                                                                                                                </text>),
                                                                                                                                                                                                                                                                        @*grid.Column("ProjectManagerId",
                                                                                                                                                                                                                                                                        header: "ProjectManagerId",
                                                                                                                                                                                                                                                                        format: @<text>
                                                                                                                                                                                                                                                                        <span id="ProjectManagerId" class="display-mode">@item.employee.ProjectManagerId</span>

                                                                                                                                                                                                                                                                        </text>),*@
                                                                                                                                                                                                                                                                        grid.Column("ProjectManager",
                                                                                                                                                                                                                                                                        header: "Project Manager",
                                                                                                                                                                                                                                                                        format: @<text>
                                                                                                                                                                                                                                                                            <span id="ProjectManager" class="display-mode">@item.project.ProjectManager</span>

                                                                                                                                                                                                                                                                        </text>),
                                                                                                                                                                                                                                                                                            grid.Column("SupervisorId",
                                                                                                                                                                                                                                                                                            header: "Supervisor Id",
                                                                                                                                                                                                                                                                                            format: @<text>
                                                                                                                                                                                                                                                                                                <span id="SupervisorId" class="display-mode" style="float:right">@item.employee.SupervisorId</span>

                                                                                                                                                                                                                                                                                            </text>),
                                                                                                                                                                                                                                                                                                @*grid.Column("BillingStatus",
                                                                                                                                                                                                                                                                                                header: "Billing Status",
                                                                                                                                                                                                                                                                                                format: @<text>
                                                                                                                                                                                                                                                                                                    <span id="BillingStatus" class="display-mode">@item.projectAssignment.BillingStatus</span>

                                                                                                                                                                                                                                                                                                </text>),*@
                                                                                                                                                                                                                                                                                                @*grid.Column("SPOC", "SPOC", style: "empid",
                                                                                                                                                                                                                                                                                                format: @<text>
                                                                                                                                                                                                                                                                                                <span id="SPOC" class="display-mode">@item.SPOC</span>
                                                                                                                                                                                                                                                                                                </text>),

                                                                                                                                                                                                                                                                                                grid.Column("AssignmentStatus",
                                                                                                                                                                                                                                                                                                header: "Assignment Status",
                                                                                                                                                                                                                                                                                                format: @<text>
                                                                                                                                                                                                                                                                                                <span id="AssignmentStatus" class="display-mode">@item.AssignmentStatus</span>

                                                                                                                                                                                                                                                                                                </text>),*@

                                                                                                                                                                                                                                                                                                grid.Column("Resume", "Resume", format: item => (item.empdoc.Empcv == null)
                                                                                                                                                                                                                                                                                                ? new HtmlString(string.Empty)
                                                                                                                                                                                                                                                                                                : Html.ActionLink("Download", "FileDownload", new { id = item.employee.EmployeeId }))

                                                                                                                                                                                                                                                                                                @*grid.Column("ProjectName",
                                                                                                                                                                                                                                                                                                header: "ProjectName",
                                                                                                                                                                                                                                                                                                format: @<text>
                                                                                                                                                                                                                                                                                                    <span id="ProjectName" class="display-mode">@item.ProjectAssignment.ProjectName</span>

                                                                                                                                                                                                                                                                                                </text>),*@
                                                                                                                                                                                                                                                                                                @*grid.Column("BillingType",
                                                                                                                                                                                                                                                                                                header: "Billing Type",
                                                                                                                                                                                                                                                                                                format: @<text>
                                                                                                                                                                                                                                                                                                    <span id="BillingType" class="display-mode">@item.project.BillingType</span>

                                                                                                                                                                                                                                                                                                </text>),
                                                                                                                                                                                                                                                                                                     grid.Column("AccountName",
                                                                                                                                                                                                                                                                                                header: "Client Name",
                                                                                                                                                                                                                                                                                                format: @<text>
                                                                                                                                                                                                                                                                                                    <span id="AccountName" class="display-mode">@item.project.AccountName</span>

                                                                                                                                                                                                                                                                                                </text>)*@




                                                                                                                                                                                                                                                                                                @*grid.Column("Resumes", "Resumes", format: @<text>
                                                                                                                                                                                                                                                                                                <button type="button"  onclick="location.href='@Url.Action("FileDownload", "MasterReport")?id=' + document.getElementById('SearchEmployee').value">
                                                                                                                                                                                                                                                                                                    DownloadResume
                                                                                                                                                                                                                                                                                                </button>
                                                                                                                                                                                                                                                                                                </text>)*@
                                                                                                                                                                                                                                                                                                ))
    </div>

</div>
<div class="col-md-6 col-sm-12 pull-right text-right nopadding-right">

</div>
<script>
    $('.ui-icon-closethick').on('click', function () {
        var tr = $(this).parents('tr:first');
        tr.find('#ddlStatus option:selected').text('---Status---');
        Reset();

    })



</script>


@*<div id="div-2">
        <div class="col-md-12 nopadding">
            <div class="subpage_header page-header nomargin-top">
                <p>My Assignments</p>
            </div>

            <div id="Assignmentgridcontent" class="table table-responsive">

                @Assignmentgrid.GetHtml(columns:
                                Assignmentgrid.Columns
                                (

                                    Assignmentgrid.Column("ProjectName", "Project Name", format:@<text>@item.ProjectCode @item.ProjectName </text>  ),
                                    Assignmentgrid.Column("Assigned_By", "Assigned By"),
                                    Assignmentgrid.Column("Utilization", "Utilization%"),
                                    Assignmentgrid.Column("StartDate", "Start Date"),
                                    Assignmentgrid.Column("EndDate", "End Date")


                                ), mode: WebGridPagerModes.Numeric, htmlAttributes: new { @class = "table table-bordered table-striped p-resources" })
            </div>
        </div>
    </div>*@

@*<script type="text/javascript">
    $(document).ready(function () {
        $("#lblEmployeeID").on('click', function() {
            if($(this).hasClass("selected")) {
                deselect();
            } else {
                $(this).addClass("selected");
                $.get(this.href, function(data) {
                    $(".pop").html(data).slideFadeToggle(function() {
                        $("input[type=text]:first").focus();
                    });
                }
                }
            return false;
        });



    });
        </script>*@

