@model IEnumerable<Trianz.Enterprise.Operations.Models.HRRF>

@{var grid = new WebGrid(Model, canSort: true, canPage: true, rowsPerPage: 10, selectionFieldName: "SelectedRow");}

<link href="~/Content/Talento7.css" rel="stylesheet" />
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />

<style>
    .navbar-nav > li > .dropdown-menu {
        margin-top: 18px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 100000;
    }
</style>
@{
    var days = new SelectList(new[]
                     {
    new SelectListItem { Text = "---Status---", Value = "---Status---" },
    new SelectListItem { Text = "Last7Days", Value = "Last7Days" },
    new SelectListItem { Text = "Last14Days", Value = "Last14Days"},
    new SelectListItem { Text = "Last21Days", Value = "Last21Days" },


}, "Value", "Text");
}

@*@if (TempData["Alert"] != null)
    {
        <p style="color:red">@TempData["Alert"]</p>
    }*@


<div class="subpage_header page-header nomargin-top">
    <div class="col-md-6 nopadding-left">
        <div class="clear-both space10"></div>
        <p>TR Report</p>
    </div>
    <div class="col-md-6 col-ms-12 nopadding-right">
        <div>

            @using (Html.BeginForm("TRReport", "MasterReport", FormMethod.Get))
            {
                <div class="col-md-2 col-sm-12 nopadding-right pull-right">
                    <input class="btn btn-primary" type="submit" value="Search" />
                </div>

                @*<div class="col-md-4 col-sm-12 nopadding-right pull-right">
                        @Html.TextBox("SearchEmployee", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Enter Employee Id" })
                    </div>*@

                <div class="col-md-3 col-sm-12 nopadding-right pull-right">
                    @Html.DropDownList("ddlCreateddate", new SelectList((System.Collections.IEnumerable)ViewData["days"]),
                    "      --Status--", new { @class = "form-control", onchange = "submit();" })
                </div>
            }
        </div>
    </div>

    <div class="clear-both space5"></div>
</div>

<div class="col-md-12 nopadding">
    <div id=" gridcontent" class="table table-responsive">
        @{var ShowHeader = true;
            if (Model.Count() == 0)
            {
                ShowHeader = false; <center><p>No Data Found</p></center> }
        }
        @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
            fillEmptyRows: false,
            //headerStyle: "table",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",
            displayHeader: ShowHeader,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            htmlAttributes: new { id = "DashboardGrid" },
            columns: grid.Columns(

            grid.Column("HRRFNumber", "HRRFNumber", style: "Grade", format:@<span id="HRRFNumber" title=@item.HRRFNumber>@item.HRRFNumber</span>),

                       grid.Column("RequestStatus",
                                  header: "Status",
                                  format: @<text>
                                    <span id="RequestStatus" class="display-mode">@item.RequestStatus</span>

                                </text>)
                                              ))
    </div>
</div>
<div class="col-md-6 col-sm-12 pull-right text-right nopadding-right">
    <div class="col-md-3 col-sm-12 nopadding-right pull-right">
        @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "PH"))
        {
            <button type="button" id="btnExport" name="btnExport" href="#" onclick="location.href='@Url.Action("GetExcel", "MasterReport")'" title="exporttoexcel" class="btn btn-default btn-sm btn-excel">
                <i class="glyphicon glyphicon-export"></i>
                Export To Excel
            </button>
        }
    </div>
</div>
<script>
    $('.ui-icon-closethick').on('click', function () {

        var tr = $(this).parents('tr:first');
        tr.find('#ddlCreateddate option:selected').text('---Status---');
        Reset();

    })
</script>




