

@model IEnumerable<Trianz.Enterprise.Operations.Models.Notifications>


@{
    // ViewBag.Title = "Index";
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10, selectionFieldName: "SelectedRow");
    grid.Pager(WebGridPagerModes.All);

    ViewBag.Title = "Mynotifications";

}
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />
<style>

    .body-content {
        margin: 0px 61px 90px;
    }

        .body-content container-fluid {
            margin: 0px 61px 90px;
        }

    .HRRF_custom .navbar {
        top: -2px;
    }

    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
    }


    .navbar-nav > li > .dropdown-menu {
        margin-top: 2px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 100000;
    }

    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
    }



        .HRRF_custom table.p-resources thead tr a, table.dataTable.nowrap th, table.dataTable.nowrap th a {
            color: black;
        }

    body {
        overflow-x: hidden;
    }

    .HRRF_custom table.p-resources thead tr a, table.dataTable.nowrap th, table.dataTable.nowrap th a {
        color: black;
    }

    .Application {
        width: 9%;
    }


    .HRRF_custom .subpage_header p {
        color: #133B93;
        font-size: 20px;
    }

    .Request {
        width: 7%;
    }

    .Grade {
        width: 5%;
    }


    .RequestName {
        width: 14%;
    }

    .ApprovalDate {
        width: 16%;
    }


    .GridButtons {
        width: 15%;
    }

    /*new*/
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: blue;
        cursor: default;
        border: 1px solid #ddd;
        border-bottom-color: blue;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        color: #004BBB !important;
    }

    .nav-justified {
        width: 25%;
        margin-left: 14px;
    }

    .body-content {
        margin: 0px 61px 90px;
        background-color: #ffffff;
        height: 578px;
    }

    .nav > li > a:focus, .nav > li > a:hover {
        text-decoration: none !important;
        background-color: none !important;
        border-bottom: 1px solid #004BBB !important;
    }

    .nav > li > a:focus, .nav > li.active > a {
        text-decoration: none !important;
        border-bottom: 1px solid #004BBB !important;
    }

    .nav-pills > li > a {
        border-radius: 0px !important;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: black !important;
        background-color: none !important;
    }

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            color: #004BBB;
            background-color: none !important;
        }

            .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
                color: #000;
                background-color: none !important;
            }

                .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
                    color: #004BBB;
                    background-color: none !important;
                }

    .nav-pills > li.active > a {
        color: #000;
        background-color: none !important;
    }

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            background-color: none !important;
        }

    .nav > li.active:hover, .nav > li.active:focus {
        background-color: none !important;
        border-bottom: 0px !important;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        color: #004BBB !important;
        background-color: none !important;
    }

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            color: #004BBB !important;
            background-color: none !important;
        }

    a {
        color: black;
        /*text-decoration: underline;*/
    }

    .col-md-12 {
        width: 98%;
        margin-left: 19px;
        margin-top: 25px;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        position: relative;
        top: -20px;
    }

    .text-center {
        text-align: center;
        text-decoration-line: underline;
    }
</style>

@if (ViewBag.Role == "DH")
{
    @*<div class="subpage_header page-header nomargin-top">
            <p>TALENT REQUISITION</p>
        </div>*@



    <ul id="tab_profile_details" class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="tab" href="#tab_talent_requisition" role="tab" id="profile1" style="background-color: #ffffff;" aria-expanded="true"><b>TALENT REQUISITION</b></a></li>
    </ul>

    if (Model.Count() == 0)
    {
        <div class="text-center"><h4>Talent requests are not available to be approved.</h4></div>
    }
    else
    {
        <div class="col-md-12 nopadding">
            @*<h3>Talent Request Notifications</h3>*@
            <div class="table table-responsive">
                @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
          fillEmptyRows: false,
          // headerStyle: "table",
          alternatingRowStyle: "alt",
          selectedRowStyle: "select",
          mode: WebGridPagerModes.All,
          firstText: "<< First",
          previousText: "< Prev",
          nextText: "Next >",
          lastText: "Last >>",
          htmlAttributes: new { id = "NotificationGrid" },
          columns: grid.Columns(

              grid.Column("Application", format:@<text><span id="AppCode" class="read">@item.ApplicationCode</span></text>, style: "Application"),

                           grid.Column("Request Id", format:@<text><span id="AppId" class="read">@item.AssetID</span></text>, style: "Request"),

                            @*grid.Column("Message", format:@<text>@if (item.ApplicationCode == "TIMESHEET")
                                {
                                 <span id="AppCode" class="read">@item.NotificationMessage</span>
                                    TempData["TimesheetID"] = item.AssetID;
                                 <a href="http://172.16.0.217/Timesheet/AllTimeSheets/AllTimeSheets" target="_blank">Review</a>
                                }
                                else
                                {
                                 <span id="AppCode" class="read">@item.NotificationMessage</span>
                                }</text>),*@
                            grid.Column("Grade", format:@<text><span id="GradeName" class="read">@item.Grade</span></text>, style: "Grade"),
                                                     grid.Column("Role", format:@<text><span id="rlename" class="read">@item.Role</span></text> ),
                                                                     grid.Column("JobDescription", format:@<text>
                                                                        @if (item.JobDescrption.Length > 60)
                                                                                 {
                                                                            <abbr id="concup" title='@item.JobDescrption'> @item.JobDescrption.PadRight(60).Substring(0, 60) ....  </abbr>;
                                                                                 }
                                                                                 else
                                                                                 {
                                                                            <span id="JobDescriptio" class="read">@item.JobDescrption</span>
                                                                                 }
                                                                        /**/
                                                                        /**/
                                                                        /**/
                                                                        /**/
                                                                        /**/










                                                                    </text>),


                                                                                 grid.Column("Action", format:@<text> @if (item.ApplicationCode != "SKILLS")
                                                                                             {
                                                                                        <div class="text-center">
                                                                                            @Html.ActionLink(((string)"Click here to review & approve/reject"), "Edit", new { id = item.AssetID, AppCode = item.ApplicationCode })
                                                                                            @*<input type="button" class="btn btn-link Approve-case" value="Approve" />&nbsp;<input type="button" class="btn btn-link Reject-case" value="Reject" />*@
                                                                                        </div>
                                                                                             }
                                                                                    /**/
                                                                                /**/
                                                                                /**/
                                                                                /**/










                                                                                /**/ </text>)


                                                                                             ))
            </div>
        </div>

    }
}
else if (ViewBag.Role != "OM")
{
    @*<div class="subpage_header page-header nomargin-top">
            <p>TALENT REQUESTS TO BE APPROVED</p>
        </div>*@
    @*<div class="row">
            <div id="tab_profile_details" class="nav nav-pills nav-justified" style="    position: relative;
        left: 20px;
        top: 18px;">
                <div id="actprofile" class="active" onclick="loadprofile()" style="margin-left: 14px;"><a data-toggle="tab" href="#tabMyProfile" role="tab" id="profile1" class="active" style=""><b id="">TALENT REQUISITION</b></a></div>
            </div>
            <div id="tab_profile_details" class="nav nav-pills nav-justified" style="    top: 0px;
        position: relative;
        left: 195px;">
                <div><a data-toggle="tab" href="#tabMySkills" role="tab" id="myskills" onclick="loadskill()" style="margin-left: 14px;"><b>Skills</b></a></div>
            </div>
        </div>
        <hr />*@
    <ul id="tab_profile_details" class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="tab" href="#tab_talent_requisition" role="tab" id="profile1" style="background-color: #ffffff;" aria-expanded="true"><b>Talent Requisition</b></a></li>
        <li><a data-toggle="tab" href="#tab_skills" role="tab" id="myskills" style="background-color: #ffffff;"><b>Skills</b></a></li>
    </ul>
    <hr />
    <div class="tab-content">
        <div id="tab_talent_requisition" class="tab-pane fade in active">
            @if (Model.Count() == 0)
            {
                <div class="text-center" id="talentreq"><h4>Talent requests are not available to be approved.</h4></div>
            }
            else
            {
                <div class="col-md-12 nopadding">
                    @*<h3>Talent Request Notifications</h3>*@
                    <div class="table table-responsive">
                        @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
                        fillEmptyRows: false,
                        alternatingRowStyle: "alt",
                        selectedRowStyle: "select",
                        mode: WebGridPagerModes.All,
                        firstText: "<< First",
                        previousText: "< Prev",
                        nextText: "Next >",
                        lastText: "Last >>",
                        htmlAttributes: new { id = "gridPMApprovals" },
                        columns: grid.Columns(
                            grid.Column("Application", format:@<text><span id="AppCode" class="read">@item.ApplicationCode</span></text>, style: "Application"),
                                                     grid.Column("Request Id", format:@<text><span id="AppId" class="read">@item.AssetID</span></text>, style: "Request"),
                                                            @*grid.Column("Message", format:
                                                                @<text>
                                                                    @if (item.ApplicationCode == "TIMESHEET")
                                                                        {
                                                                        <span id="AppCode" class="read">@item.NotificationMessage</span>
                                                                        TempData["TimesheetID"] = item.AssetID;
                                                                        <a href="http://172.16.0.217/Timesheet/AllTimeSheets/AllTimeSheets" target="_blank">Review</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span id="AppCode" class="read">@item.NotificationMessage</span>
                                                                    }
                                                                </text>),*@
                                                            grid.Column("Grade", format:@<text><span id="GradeName" class="read">@item.Grade</span></text>, style: "Grade"),
                                                                                       grid.Column("Role", format:@<text><span id="rlename" class="read">@item.Role</span></text> ),
                                                                                                     grid.Column("JobDescription", format:@<text>
                                                                                                        @if (item.JobDescrption.Length > 60)
                                                                                                                 {
                                                                                                            <abbr id="concup" title='@item.JobDescrption'> @item.JobDescrption.PadRight(60).Substring(0, 60) ....  </abbr>;
                                                                                                                 }
                                                                                                                 else
                                                                                                                 {
                                                                                                            <span id="JobDescriptio" class="read">@item.JobDescrption</span>





















                                                                                                                 }
                                                                                                        /**/

                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/</text>),
                                                                                                                        grid.Column("Action", format:
                                                                                                                @<text>
                                                                                                                    @if (item.ApplicationCode != "SKILLS")
                                                                                                                             {
                                                                                                                        <div class="text-center">
                                                                                                                            @Html.ActionLink(((string)"Click here to review & approve/reject"), "Edit", new { id = item.AssetID, AppCode = item.ApplicationCode })
                                                                                                                        </div>
                                                                                                                             }
                                                                                                                    /**/
                                                                                                                    /**/
                                                                                                                    /**/
                                                                                                                    /**/
                                                                                                                    /**/
                                                                                                                </text>)


                                                                                                                           ))

                    </div>

                </div>
            }
        </div>
        <div id="tab_skills" class="tab-pane fade">






            @if (ViewBag.SkillsToBeApproved != null)
            {
                if (ViewBag.SkillsToBeApproved.Count == 0)
                {
                    <div class="text-center"><h4>Skills are not available to be approved.</h4></div>
                }
                else
                {
                    var gridSkills = new WebGrid((IEnumerable<Trianz.Enterprise.Operations.Models.Notifications>)ViewBag.SkillsToBeApproved, canPage: true, canSort: true, rowsPerPage: 10,
        selectionFieldName: "SelectedRow");

                    gridSkills.Pager(WebGridPagerModes.All);

                    ViewBag.Title = "EmpSkills";

                    <div class="col-md-12 nopadding">
                        <div class="table table-responsive">
                            @gridSkills.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
                         fillEmptyRows: false,
                         alternatingRowStyle: "alt",
                         selectedRowStyle: "select",
                         mode: WebGridPagerModes.All,
                         firstText: "<< First",
                         previousText: "< Prev",
                         nextText: "Next >",
                         lastText: "Last >>",
                         htmlAttributes: new { id = "NotificationGrid" },
                         columns: gridSkills.Columns(
                             gridSkills.Column("Application", format:@<text><span id="AppCode" class="read">@item.ApplicationCode</span></text>, style: "Application"),
                                                             gridSkills.Column("Employee Id", format:@<text><span id="AppId" class="read">@item.AssetID</span></text>, style: "Request"),
                                                                                             gridSkills.Column("Employee Name", format:@<text><span id="AppName" class="read">@item.RequestName</span></text>, style: "RequestName"),
                                                                                                              gridSkills.Column("ApprovalSubmissionDate", "Approval Submission Date", format: (item) => item.ApprovalSubmissionDate == null ? string.Empty : string.Format("{0:dd MMM yyyy}", item.ApprovalSubmissionDate), style: "ApprovalDate"),
                                                                                                @*gridSkills.Column("Message", format:@<text><span id="AppCode" class="read">@item.NotificationMessage</span></text>),*@
                                                                                                gridSkills.Column("Action", format:@<text><div class="text-center">@Html.ActionLink(((string)"Click here to review & approve/reject"), "Edit", new { id = item.AssetID, AppCode = item.ApplicationCode })</div></text>)
                                                                                                              ))
                        </div>



                    </div>
                }
            }
        </div>
    </div>

}

@*<div class="subpage_header page-header nomargin-top">
        <p> SKILLS TO BE APPROVED</p>
    </div>*@




<script type="text/javascript">

    //$(document).ready(function () {
    //    $("#NotificationGrid").hide();
    //    $("#talentreq").show();
    //});
    //function loadprofile() {

    //    $("#NotificationGrid").hide();
    //    $("#talentreq").show();
    //}
    //function loadskill() {
    //    $("#NotificationGrid").show();
    //    $("#talentreq").hide();
    //}
    $(function () {

        $('.Reject-case').on('click', function (e) {
            //  debugger;
            e.preventDefault();
            var tr = $(this).parents('tr:first');
            // id = $(this).prop('id');
            var _AppCode = tr.find('#AppCode')[0].innerText;
            var _AppId = tr.find('#AppId')[0].innerText;
            var url = this.href;
            var dialog = $("#dialog");
            if ($("#dialog").length == 0) {
                dialog = $('<div id="dialog" style="display:hidden"><div class="row" style="overflow:hidden;"><div class="col-md-1">&nbsp;&nbsp;&nbsp;</div><textarea id="txtremarks" required class="form-control" style="height: 80px;width:80%;"></textarea></div></div>').appendTo('body');
            }




            dialog.dialog({
                close: function (event, ui) {
                    dialog.remove();
                },
                modal: true,
                width: 400, resizable: false,
                height: 250,
                title: 'Please Enter Remarks',

                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    },
                    "Ok": function () {

                        var remarks = $("#txtremarks").val();
                        $.ajax({
                            type: "POST",
                            data: { AppCode: _AppCode, AppId: _AppId, _Remarks: remarks },
                            url: '@Url.Action("RejectItem", "Notifications")',
                            success: function (result) {


                                $(this).dialog("close");



                            }
                        });
                        window.location.href = '@Url.Action("Mynotifications", "Notifications")';
                        $(this).dialog("close");

                    }
                }



            });

        });



        $('.Approve-case').on('click', function (e) {
            // debugger;

            e.preventDefault();
            var tr = $(this).parents('tr:first');
            // id = $(this).prop('id');
            var _AppCode = tr.find('#AppCode')[0].innerText;
            var _AppId = tr.find('#AppId')[0].innerText;

            var url = this.href;
            var dialog = $("#dialog");
            if ($("#dialog").length == 0) {
                dialog = $('<div id="dialog" style="display:hidden"><div class="row" style="overflow:hidden;"><div class="col-md-1">&nbsp;&nbsp;&nbsp;</div><textarea id="txtremarks" class="form-control" style="height: 80px;width:80%;"></textarea></div></div>').appendTo('body');
            }

            dialog.dialog({
                close: function (event, ui) {
                    dialog.remove();
                },
                modal: true,
                width: 400, resizable: false,
                height: 250,
                title: 'Please Enter Remarks',

                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    },
                    "Ok": function () {
                        var remarks = $("#txtremarks").val();
                        $.ajax({
                            type: "POST",
                            data: { AppCode: _AppCode, AppId: _AppId, _Remarks: remarks },
                            url: '@Url.Action("AcceptItem", "Notifications")',
                            success: function (result) {


                                $(this).dialog("close");



                            }
                        });
                        window.location.href = '@Url.Action("Mynotifications", "Notifications")';
                        $(this).dialog("close");
                    }
                }



            });
            //    }
            //);
            //return false;
        });
    });
</script>
