@model Trianz.Enterprise.Operations.ViewModel.SkillCluster
<link href="~/Content/Talento1.css" rel="stylesheet" />
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/bundles/bootstrap")
</body>*@
@using (Html.BeginForm("Create", "SkillCluster", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <style>
        #a1 {
            position: relative;
            left: -33px;
        }
        a {
            color: black;
            text-decoration: none;
        }

        #CLSTRJD {
            width: 719px;
        }

        body {
            overflow-x: hidden;
        }

        .HRRF_custom table tr th {
            background-color: #D6DCE3 !important;
            color: black;
        }

        .table > tbody > tr > td {
            padding: 3px;
            font-size: 12px;
            color: rgb(0, 0, 0);
        }

        .body-content {
            padding-left: 38px;
            padding-right: 13px;
            width: 99%;
            position: relative;
            top: 26px;
        }

        #btnCreate {
            margin-top: 1px;
            left: -2px;
            background-color: #0026ff;
            position: relative;
        }

        element.style {
            background-color: #000000;
        }

        .HRRF_custom .footer {
            height: 40px;
            background-color: #248cc8;
            color: #ffffff;
            position: relative;
            left: 0px;
            top: 39px;
        }

        #tablePractice_wrapper {
            width: 98%;
            margin: 17px;
        }
        #txt {
            color: #2C2E31;
            font-size: 16px;
            margin-left: 1px;
            font: normal normal medium 20px/45px Poppins;
            background: #F3F4F9;
            width: 105%;
            margin-left: -35px;
        }
        .body-content {
            padding-left: 32px;
            padding-right: -69px;
            width: 90%;
            background-color: #ffffff;
            position: relative;
            top: 50px;
            /* margin: 12px; */
            /*margin-left: 54px;*/
        }
        hr {
            /* display: block; */
            height: 1px;
            /* border: 0; */
            border-top: 1px solid #337ab7;
            margin: 1em 0;
            padding: 0;
            position: relative;
            top: -46px;
            left: -30px;
            width: 107%;
        }
    </style>

    <p id="txt" style="position: relative;top: -20px;
    left:4px;">
        <b style="position: relative;
        top: -20px;left: 18px;">New Skill Cluster</b>
    </p>
    <hr />

    <div class="form-horizontal" style="background-color:#ffffff;position: relative;">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PRACTICE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.PRACTICE, new SelectList((System.Collections.IEnumerable)ViewData["_Practice"], "LookupName", "LookupName"),
                                                      "Select an option", new { @class = "form-control", @id = "PRACTICE", @onchange = "javascript:onPracticechange(this.value);" })

                @Html.ValidationMessageFor(model => model.PRACTICE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SKILLCLUSTER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.SKILLCLUSTER, new List<SelectListItem>(), "Select an option", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.CSKILLS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.CSKILLS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CSKILLS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SKILLCODE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.SKILLCODE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SKILLCODE, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <span><b style="color:#0026ff;    position: relative;left: 126px;">Skill Code Format Ex:- (XX_YY_ZZ)</b></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CLSTRJD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div style="width: 5px;">
                    @Html.TextAreaFor(model => model.CLSTRJD, 5, 90, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CLSTRJD, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="btnCreate" class="btn btn-primary" style="background-color:#004BBB;" />
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {

        @*if (@ViewBag.SuccessMes!="")
        {
            alert(@ViewBag.SuccessMes);
        }*@
        $("#btnCreate").on('click', function () {
            if ($('#PRACTICE').val() == '') {
                alert('Select practice');
                return false;
            } else if ($('#SKILLCLUSTER').val() == '') {
                alert('Enter Skill Cluster');
                return false;
            } else if ($('#CSKILLS').val() == '') {
                alert('Enter Skill');
                return false;
            } else if ($('#SKILLCODE').val() == '') {
                alert('Enter Skill Code');
                return false;
            }
            else if ($('#CLSTRJD').val() == '') {
                alert('Enter Cluster Description');
                return false;
            }
            //else  {
            //    alert('Skill Cluster Created Successfully.');
                
            //}
        })
    })
     function onPracticechange(practice) {
           $.ajax({
            url: '@Url.Action("GetSkillCluster", "CreateHRRF")',
            data: { Practice: practice },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value=''>Select an option</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value='" + data[x].SkillCluster + "'>" + data[x].SkillCluster + "</option>";
                }
                markup +="<option value='NA'>NA</option>";
                $("#SKILLCLUSTER").html(markup).show();
            },
            error: function (reponse) {
                alert(" " + "Please select skill cluster");
            }
            });
        }

</script>
<script>
    $(document).ready(function () {
        //alert(1)
        $('#MenuCluster').addClass('active');
    });
</script>

