@model Trianz.Enterprise.Operations.ViewModel.SkillCluster
<link href="~/Content/Talento1.css" rel="stylesheet" />
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />


<style>

    </style>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <p id="txt" style="position: relative;left: 3px;top: -6px;"><b style="position: relative;
    left: 26px;    top: -12px;
    left: 9px;">Edit Skill Cluster</b></p>
    <hr />

    <style>
        #a1 {
            position: relative;
            left: -33px;
        }
        a {
            color: black;
            text-decoration: none;
        }
        #CLSTRJD {
            width: 544px;
        }

        .HRRF_custom table tr th {
            background-color: #D6DCE3 !important;
            color: black;
        }

        .table > tbody > tr > td {
            padding: 3px;
            font-size: 12px;
            color: rgb(0, 0, 0);
        }

        body {
            overflow-x: hidden;
        }

        #txt {
            color: #2C2E31;
            font-size: 16px;
            margin-left: 1px;
            font: normal normal medium 20px/45px Poppins;
            background: #F3F4F9;
            width: 105%;
            margin-left: -35px;
        }

        .body-content {
            padding-left: 32px;
            padding-right: 13px;
            width: 90%;
        }

        .HRRF_custom .footer {
            height: 40px;
            background-color: #248cc8;
            color: #ffffff;
            position: relative;
            left: 0px;
            top: 39px;
        }

        #tablePractice_wrapper {
            width: 98%;
            margin: 17px;
        }
        .body-content {
            padding-left: 32px;
            padding-right: -69px;
            width: 90%;
            background-color: #ffffff;
            /* margin: 12px; */

            position: relative;
            left: 40px;

            top: 20px;
        }
        hr {
            /* display: block; */
            height: 1px;
            /* border: 0; */
            border-top: 1px solid #337ab7;
            margin: 1em 0;
            padding: 0;
            position: relative;
            top: -25px;
            left: -51px;
            width: 108%;
        }
</style>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div style="background-color: #ffffff;">
    <div class="form-group">
        @Html.LabelFor(model => model.PRACTICE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.PRACTICE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.SKILLCLUSTER, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.SKILLCLUSTER, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CSKILLS, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">

            @Html.EditorFor(model => model.CSKILLS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SKILLCODE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.SKILLCODE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CLSTRJD, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.TextAreaFor(model => model.CLSTRJD, 6, 100, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLSTRJD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" value="Save" id="btnSave" class="btn btn-primary" style="position: relative;left: 332px;background-color: #004BBB;" />
        </div>
    </div>
</div>
</div>
}


<script type="text/javascript">
    $("#btnSave").on('click', function () {
        debugger;
        if ($('#CLSTRJD').val() == "" || $('#CLSTRJD').val() == null) {
            alert('Description should not be empty');
            return false;
        } else {
            return true;
        }
    });
</script>
<script>
    $(document).ready(function () {
        //alert(1)
        $('#MenuCluster').addClass('active');
    });
</script>
