@model Trianz.Enterprise.Operations.Models.DesignationMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subpage_header page-header nomargin-top">
    <p>Create Designation</p>
</div>

<script>
    $(function () {

        $("#DesignationCode").change('click', function (e) {
            var _DesigCode = $("#DesignationCode").val();

            $.ajax({
                type: "POST",
                data: { DesigCode: _DesigCode},
                url: '@Url.Action("CheckDisignationCode", "DesignationMasters")',
                success: function (result) {

                    if (result == "false")
                    {
                        alert("Designation code is already exist. Please change");
                        $("#DesignationCode").val("");
                    }
                    else if (result== "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                     else if (result== "Error") {
                    window.location.href = '@Url.Action("Error", "Error")';
                        }
                    //else
                    //    alert("true");




                }
            });
        });

    });

</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Practice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.Practice, new SelectList((System.Collections.IEnumerable)ViewData["ServiceLine"], "LookupName", "LookupName"), new { @class = "form-control", multiple = "Multiple", style = "width:200px;height:180px" })
                @*@Html.EditorFor(model => model.Practice, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Practice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.Grade, new SelectList((System.Collections.IEnumerable)ViewData["Grades"]), "-- Select Grade --", new { @class = "form-control" })
                @*@Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Designation Code", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DesignationCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DesignationCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Designation Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.DesignationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DesignationName, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ModifiedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.ModifiedBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
                </div>
            </div>*@

    </div>

    <div>
        <div class="form-group row">
            @Html.Label("Job Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">

                @Html.TextAreaFor(model => model.JobDescription, new { htmlAttributes = new { @class = "form-control col-md-6 " }, style = "width:100%;height:75px" })

                @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        //alert(1)
        $('#assign').addClass('active');
    });
</script>