@model Trianz.Enterprise.Operations.Models.DesignationMaster
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #txt {
        color: #2C2E31;
        font-size: 16px;
        margin-top: 27px;
        margin-left: 42px;
    }

    #data {
        background-color: #FFFFFF;
        width: 90%;
        margin-left: 33px;
    }

    body {
        overflow-x: hidden;
    }
</style>

<div class="subpage_header page-header nomargin-top">
    <p id="txt">DETAILS</p>
</div>

<div id="data">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Designation Code")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignationCode)
        </dd>

        <dt>
            @Html.DisplayName("Designation Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Practice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Practice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayName("Created By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayName("Created Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayName("Modified By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayName("Modified Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>


        <dt>
            @Html.DisplayName("Job Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

    </dl>
</div>
<a class="btn btn-primary" style="margin-right: 10px;margin-left: 58px;background-color: #004BBB;"
   @Html.ActionLink("Edit", "Edit", new { id = Model.DesignationID })
</a>
<a class="btn btn-primary" style="margin-right:2px;background-color: #004BBB;"
   @Html.ActionLink("Back to List", "Index")
</a>
<script>
    $(document).ready(function () {
        //alert(1)
        $('#assign').addClass('active');
    });
</script>