@model IEnumerable<Trianz.Enterprise.Operations.Models.DesignationMaster>
@{var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
          selectionFieldName: "SelectedRow");
}
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/LayoutHeader.css" rel="stylesheet" />

<link href="~/Content/Talento6 .css" rel="stylesheet" />
<style>
    body {
        overflow-x: hidden;
    }

    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D3D4D9 !important;
        color: black;
    }

        .HRRF_custom table.p-resources thead tr a, table.dataTable.nowrap th, table.dataTable.nowrap th a {
            color: black;
        }
    .HRRF_custom table.p-resources td {
        padding: 3px;
        color: rgb(0, 0, 0);
    }
    #ddlPractice {
        margin-left: 8px;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 37px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    #txt {
        color: #2C2E31;
        font-size: 15px;
        margin-left:18px;
    }
    #btnSearch {
        position: relative;
        bottom: 35px;
        left: 25px;
        background-color: #004BBB;
    }

    .HRRF_custom table#DashboardGrid tr th:nth-child(1) {
        width: -1px !important;
    }
    .request_header a {
        padding: 6px;
        display: inline-block;
        text-decoration: none;
    }
    .request_header {
        background: #FFFFFF;
        /*margin-left: 40px;
        width: 94%;*/
        border-bottom: 1px solid #EAECF2;
    }
    #DashboardGrid {
        margin-left: 23px;
        width: 96%;
        margin-bottom: 20px;
    }
</style>
<div class="subpage_header page-header nomargin-top">
    <p id="txt">DESIGNATION MASTER</p>
</div>

<div class="request_header">
<div class="container row" style="margin-top: 5px">
    @if ((Session["Role"] != null && Session["Role"].ToString().ToUpper() != "OM") || Session["EmployeeId"].ToString() == "103488")
    {
        <div class="pull-left">
            <button id="btnCreate" type="button" onclick="location.href='@Url.Action("Create", "DesignationMasters")'" class="btn btn-primary pull-left">Create Designation</button>
        </div>
    }
    <div class="nopadding-left col-md-offset-3">
        @using (Html.BeginForm("Index", "DesignationMasters", FormMethod.Get))
        {
        <div class="col-md-4 pull-right" style="margin: 15px 0px 0px 0px;">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Enter Designation Name", @style = "margin-left: 43px;width: 186px;height: 37px; " })
            @*<input class=" btn btn-primary" type="submit" value="Search" style="margin-left: 237px;margin-top: -58px;" />*@
            <button class="btn btn-primary pull-right" type="submit" id="btnSearch">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
            if (Session["Role"] != null && Session["Role"].ToString().ToUpper() == "OM")
            {
                <div class="col-md-3 pull-right" style="margin-left: 6px;margin: 15px 0px 0px 0px;">
                    @*<style margin-left:25px;>*@
                    @Html.DropDownList("ddlPractice", new SelectList((System.Collections.IEnumerable)ViewData["_Practice"], "LookupName", "LookupName"),
                        "Practice", new { @class = "form-control", onchange = "submit();",@style= "margin-left: 67px; height: 37px;" })@*</style>*@
                    </div>
                }
                <div class="col-md-2 pull-right" style="width: 149px;left: 98px;position: relative;margin: 15px 6px 0px 0px;">
                    @Html.DropDownList("ddlGrade", new SelectList((System.Collections.IEnumerable)ViewData["grades"]),
                    "Grade", new { @class = "form-control", onchange = "submit(); style=margin-left: 38px;" })
                </div>
            }
    </div>
</div>
<br />
<div class="col-md-12 nopadding" >
    <div id=" gridcontent" class="table table-responsive" style="background-color:#FFFFFF">
        @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
        fillEmptyRows: false,
        alternatingRowStyle: "alt",
        selectedRowStyle: "select",
        mode: WebGridPagerModes.All,
        firstText: "First",
        previousText:"Prev",
        nextText: "Next",
        lastText: "Last",
        htmlAttributes: new { id = "DashboardGrid" },
        columns: grid.Columns(
        grid.Column("DesignationCode", "Designation Code", style: "DName"),
        grid.Column("DesignationName", "Designation Name", style: "DName"),
        grid.Column("Practice", "Practice", style: "D"),
        grid.Column("Grade", "Grade", style: "Grade"),
        grid.Column("",format: (item) =>@Html.ActionLink("Edit", "Edit", "DesignationMasters", new { id =@item.DesignationID }, null)),
        grid.Column("", format: (item) => @Html.ActionLink("Details", "Details", "DesignationMasters", new { id = @item.DesignationID }, null))
        //grid.Column("", format: (item) => @Html.ActionLink("Delete", "Delete", "DesignationMasters", new { id = @item.DesignationID }, null))
                                    @*grid.Column("", format: @<text>
                                                @if (Session["Role"] != null && Session["Role"].ToString().ToUpper() == "OM")
                                                         {

                                                         }
                                                         else
                                                         {
                                                    @Html.ActionLink("Delete", "Delete", "DesignationMasters", new { id = @item.DesignationID }, null)
                                                         }



                                        </text>
                                                            )*@
                                    ))
    </div>
</div>

</div>
<script>
    $(document).ready(function () {
        //alert(1)
        $('#assign').addClass('active');
    });
</script>
@*<script>
    function GotoEdit() {
    var _id = $(this).val;
    $.ajax({
    url: '@Url.Action("Edit", "DesignationMasters")',
    data: { id: _id },
    cache: false,
    type: "GET",
    success: function () {
    },
    error: function (objskills) {
    }
    });
    }
    </script>*@

