@model Trianz.Enterprise.Operations.Models.Employee
@{var Experience = new List<SelectListItem>
{
new SelectListItem { Text = "0", Value="Select" },
new SelectListItem { Text = "1", Value="1" },
new SelectListItem { Text = "2", Value="2" },
new SelectListItem { Text = "3", Value="3" },
new SelectListItem { Text = "4", Value="4" },
new SelectListItem { Text = "5", Value="5" },
new SelectListItem { Text = "6", Value="6" },
new SelectListItem { Text = "7", Value="7" },
new SelectListItem { Text = "8", Value="8" },
new SelectListItem { Text = "9", Value="9" },
new SelectListItem { Text = "10", Value="10" },

};
}
<style>
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li.active a:hover, .navbar-default .navbar-nav > li a:focus, .navbar-default .navbar-nav > li a:hover {
        color: #004BBB;
        background-color: #fff;
        border-bottom: solid #004BBB;
    }

    .HRRF_custom .navbar-nav > li > a {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .HRRF_custom .sub-headtext {
        color: #2C2E31;
    }

    #NAME {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #595959;
    }

    #DOB, #GENDER, #MaritalStatus, #mobile, #home, #office {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #595959;
    }

    #rectangle1 {
        position: relative;
        left: 1230px;
        top: 308px;
        width: 129px;
    }

    #rectangle2 {
        position: relative;
        width: 16px;
        left: 1107px;
        top: 309px;
    }

    #visa {
        position: relative;
        /*bottom: 587px;
        left: -495px;*/
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #2C2E31;
        left: 18px;
    }

    #visainfo {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #004BBB;
    }

    #empimg {
        position: relative;
        width: 156px;
    }

    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        border-bottom-width: 0;
        text-align: left;
    }

    body {
        overflow-x: hidden;
    }

    .HRRF_custom .footer {
        height: 40px;
        background-color: #248cc8;
        color: #ffffff;
        position: relative;
        left: 0px;
        top: 119px;
    }

    #date1, #visa1, #country1, #issued1, #expiration, #status {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: black;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .HRRF_custom table tr th {
        background-color: #D6DCE3 !important;
        color: black;
    }

    tr:nth-child(even) {
        background-color: white;
    }

    .nav-tabs {
        font-size: 14px;
        position: relative;
        left: 12px;
    }

    hr {
        position: relative;
        bottom: 112px;
        right: 16px;
        width: 230px;
        color: black;
    }

    #UX {
        position: relative;
        top: 3px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #595959;
    }

    #img {
        margin-left: -373px;
        background-color: #F8F9FA;
        width: 316px;
    }

    #rectangle7 {
        position: relative;
        width: 173px;
        left: 11px;
        bottom: 13px;
    }

    #vector {
        position: relative;
        width: 19px;
        bottom: 11px;
        right: 160px;
    }

    #vector1 {
        position: relative;
        width: 6%;
        bottom: 40px;
        left: 70px;
    }

    #download {
        color: #004BBB;
        position: relative;
        bottom: 71px;
        font-size: 13px;
        right: 1px;
        font-family: 'Readex Pro';
        /*font-style: normal;*/
        font-weight: 500;
        line-height: 21px;
    }

    #vector2 {
        position: relative;
        width: 21px;
        height: 19px;
        right: 139px;
        bottom: 35px;
    }

    #para1 {
        position: relative;
        bottom: 64px;
        right: 21px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
    }

    #para2 {
        position: relative;
        width: 14px;
        right: 142px;
        bottom: 68px;
        height: 22px;
    }

    #vector3 {
        position: relative;
        bottom: 103px;
        right: 21px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
    }

    #vector4 {
        position: relative;
        width: 20px;
        right: 142px;
        bottom: 101px;
        height: 16px;
    }

    #para3 {
        position: relative;
        bottom: 130px;
        left: 13px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;

    }

    #line {
        position: relative;
        width: 312px;
        right: 13px;
        bottom: 141px;
        padding: 12px;
    }

    #hiredate {
        color:black;
        position: relative;
        bottom: 156px;
        right: 117px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
       
    }

    #para5 {
        position: relative;
        bottom: 150px;
        right: 8px;
        text-align: left;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 600;
    }

    #para6 {
        position: relative;
        width: 312px;
        right: 13px;
        bottom: 164px;
        /* bottom: 141px; */
        padding: 11px;
    }

    #empid {
        position: relative;
        color: black;
        bottom: 166px;
        right: 123px;
    }

    #empdata {
        position: relative;
        bottom: 165px;
        text-align: left;
        right: 9px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #595959;
    }

    #reportmanager {
        position: relative;
        right: 88px;
        color: black;
        bottom: 183px;
    }

    #imgnew {
        position: relative;
        width: 37px;
        bottom: 182px;
        color: black;
        right: 132px;
    }

    #para7 {
        position: relative;
        bottom: 144px;
        text-align: right;
        left: -12px;
        width: 282px;
    }

    #personaldetails {
        text-align: left;
        color: black;
        margin-bottom: 43px;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #2C2E31;
    }

    #empname {
        font-size: 13px;
        position: relative;
        text-align: left;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        /*font-size: 22px;*/
        line-height: 28px;
        color: #2C2E31;
    }

    #arrow1 {
        position: relative;
        width: 8px;
        bottom: 888px;
        right: 187px;
    }

    #arrow2 {
        position: relative;
        width: 8px;
        bottom: 911px;
        right: 187px;
    }

    #arrow3 {
        position: relative;
        width: 8px;
        bottom: 948px;
        right: 112px;
    }

    #arrow4 {
        position: relative;
        width: 8px;
        bottom: 971px;
        right: 112px;
    }

    #arrow5 {
        position: relative;
        width: 8px;
        bottom: 1008px;
        left: 90px;
    }

    #arrow6 {
        position: relative;
        width: 8px;
        bottom: 1029px;
        left: 91px;
    }

    #arrow7 {
        position: relative;
        width: 8px;
        bottom: 1069px;
        left: 193px;
    }

    #arrow8 {
        position: relative;
        width: 8px;
        bottom: 1091px;
        left: 193px;
    }

    #arrow9 {
        position: relative;
        width: 8px;
        bottom: 1128px;
        left: 328px;
    }

    #arrow10 {
        position: relative;
        width: 8px;
        bottom: 1150px;
        left: 329px;
    }

    #arrow11 {
        position: relative;
        width: 8px;
        bottom: 1189px;
        left: 452px;
    }

    #arrow12 {
        position: relative;
        width: 8px;
        bottom: 1211px;
        left: 452px;
    }

    .HRRF_custom .p-resources th, .HRRF_custom .p-resources td {
        font-size: 12px;
        color: rgb(0, 0, 0);
    }
</style>
@using (Html.BeginForm())
{
    <div id="div-1">
        <div class="row">
            @*<div class="col-md-2"></div>*@
            <div class="col-md-12">
                @*<div class="col-md-12 nopadding">
                        <div class="subpage_header page-header nomargin-top">
                            <div class="text-left pull-left myskills_div">
                                <p>&nbsp;</p>
                            </div>
                            <div class="pull-right text-right myskills_div">

                                <a href='@Url.Action("EditMyAddress", "Employees", new { id = @Model.EmployeeId })'>View or Update My Profile</a>
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>*@
                <hr />
                <div class="row">
                    <div class="col-md-2" style="">
                        @*@*<div>



                                <div style="position: relative;bottom: 12px;">
                                    <p style="position: relative;left: 290px;">
                                        <img src="~/Content/images/Rectangle 1 new.png" id="rectangle1">
                                        <img src="~/Content/images/rectangular 2 new.png" id="rectangle2">
                                    <p style="position: relative;left: 1525px;color: #004BBB;bottom: -237px;font-size: 13px;    top: 271px;">Add Visa Info</p>

                                    </p>
                                </div>

                            </div>*@*

                        @*<div class="form-group">
                                <a id="lnkeditprofile" class="form-group">Edit My Profile</a>
                            </div>*@
                    </div>
                    <div class="container" style="margin-left: 399px;">
                        <div class="col-sm-6" id="img" style="position: relative;left: -54px;top: -16px;">
                            <img src="~/Content/images/defaultimage.png" id="empimg">
                            <br /><br />
                            <p><b style="color:#2C2E31;font-family: 'Readex Pro';font-size: 19px;font-style: normal;font-weight: 400;">@Model.FirstName @Model.MiddleName @Model.LastName</b></p>
                            <p><b id="UX">@Model.JobName</b></p>

                            @*<div>
            <p>
                <img src="~/Content/images/Rectangle 7.jpg" id="rectangle7">
                <img src="~/Content/images/Vector.png" id="vector">
                <img src="~/Content/images/Vector (1)new.png" id="vector1">
            </p>
            <p id="download">Download Resume</p>
        </div>*@

                            <div class="image-upload">
                                <label for="btnDownloadResume1" style="width: 175px;position: relative;left: 2px;top: 7px;">

                                    <img src="~/Content/images/download Resume.svg" style=" width: 175px;" />

                                </label>

                                <input id="btnDownloadResume1" @*type="file"*@ name="file" emp-id="@Model.EmployeeId" />
                            </div>
                            <div style="position: relative;top: 56px;">
                                <p>
                                    <img src="~/Content/images/Vector 2 new.png" id="vector2">
                                    @if (@Model.MobileNumber != null)
                                    {
                                    <p id="para1">@Model.MobileNumber</p>

                                }
                                else
                                {
                                    <p id="para1"><lable>-N.A-</lable> </p>

                                }
                                    @if (@Model.MobileNumber != null)
                                    {
                                        <p><img src="~/Content/images/Vector 3 new.png" id="para2"></p><p id="vector3">@Model.MobileNumber</p>

                                    }
                                    else
                                    {
                                        <p><img src="~/Content/images/Vector 3 new.png" id="para2"></p><p id="vector3"> <lable>-N.A-</lable></p>

                                    }
                                    @if (@Model.Email != null)
                                    {
                                        <p><img src="~/Content/images/Vector 4 new.png" id="vector4"></p><p id="para3">@Model.Email</p>
                                    }
                                    else
                                    {
                                        <p><img src="~/Content/images/Vector 4 new.png" id="vector4"></p><p id="para3"><lable>-N.A-</lable> </p>

                                    }
                                    <div>
                                        @if (Model.DateOfJoin != null)
                                        {
                                            <p>
                                                <img src="~/Content/images/Line 1 new.png" id="line">
                                            </p>
                                            <b id="hiredate">Hire Date</b>
                                            <p id="para5">
                                                @Model.DateOfJoin
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                <img src="~/Content/images/Line 1 new.png" id="line">
                                            </p>
                                            <b id="hiredate">Hire Date</b>
                                            <p id="para5">

                                            </p>
                                        }

                                    </div>


                                    <p>
                                        <img src="~/Content/images/Line 1 new.png" id="para6">
                                        <b id="empid">#@Model.EmployeeId</b>
                                    <p id="empdata">
                                        @Model.EmployeeType<br />
                                        @Model.Location<br />
                                        @Model.LocationType
                                    </p>
                                </div>

                                <hr>
                                <img src="/Content/images/Line 1 new.png" id="para7">
                                <div style="position: relative;top: 48px;">
                                    <p><b id="reportmanager">Reporting Manager</b></p>
                                    <p><img src="~/Content/images/defaultimage.png" id="imgnew"></p>
                                    <b id="para7">

                                        @*John Powel<br />
                    NYL Director*@

                                    </b>
                                </div>

                            </div>
                        <div style="position: relative;
    right: 73px;
    top: -15px;">
                            <div class="row">

                                <p id="personaldetails"><b style="position: relative;top: 26px;left:13px;">Personal Details</b></p>
                                <div class="col-sm-2">
                                    <p style="text-align:left;" id="NAME">Name</p>
                                    @*<h4 class="bold sub-headtext" style="font-size: 16px;">@Model.EmployeeId</h4>*@
                                    <h4 class="bold sub-headtext" id="empname" style="text-align: left;"><b>@Model.FirstName @Model.MiddleName @Model.LastName</b></h4>
                                </div>
                                <div class="col-sm-2">
                                    <p style="text-align:left" id="DOB">DOB</p>
                                    <p style="position: relative;text-align:left;color:#2C2E31;"><b>@Convert.ToDateTime(Model.DateOfBirth).ToString("dd MMM yyyy")</b></p>
                                </div>
                                <div class="col-sm-2">
                                    <p style="font-size: 13px;text-align:left" id="GENDER">Gender</p>
                                    <p style="text-align:left;color:#2C2E31;"><b>@Model.Gender</b></p>
                                </div>
                                <div class="col-sm-2" style="text-align:left">
                                    <p style="font-size: 13px;text-align:left" id="MaritalStatus">Marital Status</p>
                                    <p style="margin-right:40px;"></p>
                                </div>
                            </div>
                            @*<div class="row" style="position: relative;bottom: 736px;">
                                    <p style="text-align: left;color:black"><b style="position: relative;bottom: 5px;">Address</b></p>
                                    <div class="col-sm-2" style="margin-left: -45px;">
                                        <p style="margin-left: -73px;font-size: 13px;">H.No</p>
                                        <p style="position: relative;right: 37px;">1/61</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="font-size: 13px;">Street</p>
                                        <p style="position: relative;left: 22px;">Raamalayam</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="font-size: 13px;">City</p>
                                        <p style="position: relative;left: 15px;">Kurnool</p>
                                    </div>
                                    <div class="col-sm-2" style="position: relative;right: 23px;">
                                        <p style="font-size: 13px;">Pin</p>
                                        <p style="position: relative;left: 15px;">518155</p>
                                    </div>
                                </div>*@
                            <div class="row" style="position: relative;    bottom: 619px;
    left: 2px;">
                                <p style="text-align: left;color:black"><b style="position: relative; right: -13px;">Contact</b></p>

                                <div class="col-sm-2" style="text-align:left">
                                    <p style="text-align:left;font-size: 13px;" id="office">Office</p>

                                    @if (@Model.MobileNumber != null)
                                    {
                                        <p style="position: relative;color:#2C2E31;"><b>@Model.MobileNumber</b></p>

                                    }
                                    else
                                    {
                                        <p style="position: relative;color:black"><p1><b>-N.A-</b></p1></p>

                                    }
                                </div>
                                <div class="col-sm-2" style="    position: relative; text-align:left">
                                    <p style="font-size: 13px;text-align:left" id="home">Home</p>
                                    @if (@Model.MobileNumber != null)
                                    {
                                        <p style="position: relative;color:#2C2E31;"><b>@Model.MobileNumber</b></p>

                                    }
                                    else
                                    {
                                        <p style="position: relative;color:black"><p1><b>-N.A-</b></p1></p>

                                    }
                                </div>
                                <div class="col-sm-2">
                                    <p style="font-size: 13px;    text-align: left;" id="mobile">Mobile</p>

                                    @if (@Model.MobileNumber != null)
                                    {
                                        <p style="position: relative;color:black;    text-align: left;"><b>@Model.MobileNumber</b></p>

                                    }
                                    else
                                    {
                                        <p style="position: relative;    text-align: left;color:black"><p1><b>-N.A-</b></p1></p>

                                    }
                                </div>
                            </div>
                            <div>
                               
                                <div style="position: relative;bottom: 573px;  left: 0px; text-align:left; width:500px;">
                                    <b id="visa" style="    margin-right: -228px;">Visa Information</b>
                                    <div class="pull-right" style="    margin-right: -216px;">
                                        <b @*class="btn btn-box-tool"*@ data-widget="collapse">
                                            <img src="~/Content/images/uploadresume.png" style="height: 36px;">
                                        </b>
                                    </div>
                                    
                                </div>
                            </div>

                            @*<div class="row" style="position: relative;bottom: 759px;">
                                    <p style="text-align: left;color:black">
                                        <b>Education</b>
                                    </p><div class="col-sm-2" style="margin-left: -47px;">
                                    <p style="font-size: 13px;margin-left: -73px">SSC</p>
                                    <p style="position: relative;right: 4px;">801-724-6600</p>
                                    </div><div class="col-sm-2">
                                    <p style="font-size: 13px;margin-left: 46px;">Intermediate</p>
                                    <p style="position: relative;">MPC</p>
                                    </div><div class="col-sm-2">
                                   <p style="font-size: 13px;margin-left: 19px;">Degree</p>
                                   <p style="position: relative;left: 6px;">Btech</p>
                                   </div>
                                </div>*@
                            @*<div class="row" style="position: relative;bottom: 741px;">
                                    <p style="text-align: left;color:black">
                                        <b>Social Links</b>
                                    </p><div class="col-sm-2" style="margin-left: -35px;">
                                        <p style="margin-left: -73px;font-size: 13px;">LinkedIn</p>
                                        <p style="position: relative;right: 4px;">www.linkedin.com</p>
                                    </div><div class="col-sm-2">
                                        <p style="font-size: 13px;position: relative;right: 11px;">Insta</p>
                                        <p style="position: relative;left: 21px;">instagram.com</p>
                                    </div><div class="col-sm-2">
                                        <p style="font-size: 13px;">Facebook</p>
                                        <p style="position: relative;left: 16px;">facebook.com</p>
                                    </div><div class="col-sm-2">
                                        <p style="font-size: 13px;">Twitter</p>
                                        <p style="position: relative;left: 19px;">twitter.com</p>
                                    </div>
                                </div>*@
                        </div>

                    </div>
                    <hr />
                </div>
            </div>
            <div class="row" style="margin-bottom:0px;text-align:left;">
                <div class="col-md-7">
                    @*<div class="col-md-5">
                            <p style="font-size: 13px; margin-left: 266px;"><b>Passport Details: </b>@Model.PassportNumber</p>
                        </div>*@
                </div>
                @*<div class="col-md-5">
                        <p style="font-size: 13px;"><b>Visa Details: </b>@Model.Visa </p>
                    </div>*@
            </div>
            <hr />
            <div class="row" style="text-align:left;">
                @*<div class="col-md-7">
                        <div class="col-md-3">
                            <p style="font-size: 13px; margin-left: 264px;"><b>Permanent Address: </b></p>

                        </div>
                        <div class="col-md-5" style="text-align:left;padding-left:197px;">
                            <p> @Model.PermanentAddress</p>

                        </div>

                    </div>*@
                <div class="col-md-5">
                    @*<p style="font-size: 13px;"><b>Mailing Address: </b></p>*@
                </div>
            </div>

            @*<div class="row" style="text-align:left;">
                    <div class="col-md-7">
                        <div class="form-group col-md-5">
                            <p style="font-size: 13px;"><b>Family Details: </b></p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p style="font-size: 13px;"><b>Family Passport Details: </b> </p>
                    </div>
                </div>*@
            <hr />
            @*<div class="col-lg-12">
                    <div class="col-lg-6" style="text-align: left;position: relative;bottom: 52px;">
                        <p style="position: relative;left: 242px;">
                            <b style="color:#2b4d88">Note:</b> To edit your info please contact <b style="color:#2b4d88">HR</b>.
                        </p>
                    </div>
                </div>*@
        </div>
        <div id="profilediv" style="display:none">
            <div class="row">

                <div class="col-md-12">

                    <div class="col-md-10">
                        <div class="row">
                            <div class="form-group col-md-3">
                                @Html.Label("EmailId")
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" id="txttitle" name="Email" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-3">
                                @Html.Label("Years of exp")
                            </div>
                            <div class="form-group col-md-4">
                                <label class=" text-left" for="textinput">Experience (From)</label><span style="color:red">*</span>
                                @Html.DropDownList("ExpFrom", new SelectList((System.Collections.IEnumerable)ViewData["Exp"], "LookupName", "LookupName"),
      "Select an option", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">

                            </div>
                            <div class="form-group col-md-4">
                                <button type="button" id="Savetab1" class="btn btn-primary pull-right">Save</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <script>
        $('#btnDownloadResume1').click(function () {
        debugger;
        var empid = $(this).attr('emp-id');

        var fileType = "";
        fileType = $(this).attr("data-fileType");
         $.ajax({
            url: '@Url.Action("IsResumecheck", "EmployeeSkills")',
            data: { empid:empid },
          type: "GET",
            async:false,
            dataType: "JSON",
             success: function (data) {
                debugger
                if (data == false) {

                    alert("Please Upload Resume");
                    return false;
                }
                else {
                    window.location = '@Url.Action("DownloadMyResume", "EmployeeSkills")' + '?EmployeeID=' + parseInt(empid) + '&FileExt=' + fileType;
                }
            },
            error: function (e) {
                alert(e.responseText);
            }
        });

                            });


        </script>

        <table style="position: relative;left: 317px;bottom: 17px;width:700px">

            <tbody style="position: relative;bottom: 682px;
    left: 54px;">

                <tr>
                    <th id="date1"><b>Date</b></th>
                    <th id="visa1"><b>Visa</b></th>
                    <th id="country1"><b>Issuing Country</b></th>
                    <th id="issued1"><b>Issued</b></th>
                    <th id="expiration"><b>Expiration</b></th>
                    <th id="status"><b>Status</b></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>

        </table>
        </div>

        @*<div>
                <p><img src="~/Content/images/arrow.png" id="arrow1"></p>
                <p><img src="~/Content/images/arrow2.png" id="arrow2"></p>
                <p><img src="~/Content/images/arrow.png" id="arrow3"></p>
                <p><img src="~/Content/images/arrow2.png" id="arrow4"></p>
                <p><img src="~/Content/images/arrow.png" id="arrow5"></p>
                <p><img src="~/Content/images/arrow2.png" id="arrow6"></p>
                <p><img src="~/Content/images/arrow.png" id="arrow7"></p>
                <p><img src="~/Content/images/arrow2.png" id="arrow8"></p>
                <p><img src="~/Content/images/arrow.png" id="arrow9"></p>
                <p><img src="~/Content/images/arrow2.png" id="arrow10"></p>
                <p><img src="~/Content/images/arrow.png" id="arrow11"></p>
                <p><img src="~/Content/images/arrow2.png" id="arrow12"></p>

            </div>*@


    }

<script>
    $(document).ready(function () {
        $('#profile1').addClass('active');
    }
</script>






