
@model  IEnumerable<Trianz.Enterprise.Operations.ViewModel.TeamTrackViewModel>

@if (Model.Count() > 0)
{
    <div class="col-md-12">
        <div class="pull-right text-right myskills_div">

            <input type="button" name="submit" id="Save" value="Save" class="btn  btn-primary pull-right" onclick="Savedetails()" />
        </div>
    </div>
}
<div id="divGridtrack" class="table table-responsive" style="margin-bottom: 0px;  overflow-y: scroll; height:400px;margin-top:10px; padding-top:5px;">
    <table id="tableteamtrack" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
        <thead>
            <tr style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">
                <th></th>
                <th>Employee ID <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Employee Name <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Practice <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Project <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Grade <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>Track</th>
                <th>Track History</th>
                <th hidden></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr style="font-size: 12px;">
                        <td>
                            <input type="checkbox" id="chk" disabled />
                        </td>
                        <td>
                            <label id="lblemplyeeid" data-empid="@item.EmployeeID" class="clsEmpId"> @item.EmployeeID</label>
                        </td>
                        <td>
                            <span id="lblempname"> @item.EmployeeName</span>
                        </td>
                        <td>
                            <span id="lbldesigna"> @item.Practice</span>
                        </td>
                        <td>
                            <span id="lbldesigna"> @item.Projectcode</span>
                        </td>
                        <td>
                            <span id="lbldesigna"> @item.Grade</span>
                        </td>
                        <td>
                            @if (item.Practice == "Digitization")
                            {
                                if (item.Track == null || item.Track == "")
                                {
                                    <select id="track" class="form-control track" , width="100px">
                                        <option value="1">Select Track</option>
                                        @foreach (SelectListItem opt in ViewBag.DigitizationTracks)
                                        {
                                            <option value="@opt.Text" @(opt.Text == "Java" ? "selected='selected'" : "")>@opt.Text</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="track" class="form-control track" , width="100px">
                                        <option value="1">Select Track</option>


                                        @foreach (SelectListItem opt in ViewBag.DigitizationTracks)
                                        {

                                            <option value="@opt.Text" @(opt.Text == item.Track ? "selected='selected'" : "")>@opt.Text</option>

                                        }
                                    </select>
                                }
                            }

                            else if (item.Practice == "Analytics")
                            {
                                if (item.Track == null || item.Track == "")
                                {
                                    <select id="track" class="form-control track" , width="100px">
                                        <option value="1">Select Track</option>
                                        @foreach (SelectListItem opt in ViewBag.AnalyticsTracks)
                                        {
                                            <option value="@opt.Text" @(opt.Text == "DW/ Data Information Architecture" ? "selected='selected'" : "")>@opt.Text</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="track" class="form-control track" , width="100px">
                                        <option value="1">Select Track</option>


                                        @foreach (SelectListItem opt in ViewBag.AnalyticsTracks)
                                        {

                                            <option value="@opt.Text" @(opt.Text == item.Track ? "selected='selected'" : "")>@opt.Text</option>

                                        }
                                    </select>
                                }
                            }


                            else if (item.Practice == "IMS")
                            {
                                if (item.Track == null || item.Track == "")
                                {
                                    <select id="track" class="form-control track" , width="100px">
                                        <option value="1">Select Track</option>
                                        @foreach (SelectListItem opt in ViewBag.ImsTracks)
                                        {
                                            <option value="@opt.Text" @(opt.Text == "Service Now" ? "selected='selected'" : "")>@opt.Text</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="track" class="form-control track" , width="100px">
                                        <option value="1">Select Track</option>


                                        @foreach (SelectListItem opt in ViewBag.ImsTracks)
                                        {

                                            <option value="@opt.Text" @(opt.Text == item.Track ? "selected='selected'" : "")>@opt.Text</option>

                                        }
                                    </select>
                                }
                            }

                            else if (item.Practice == "Cloud Solutions")
                            {
                                if (item.Track == null || item.Track == "")
                                {
                                    <select id="track" class="form-control track" , width="100px">
                                        <option value="1">Select Track</option>
                                        @foreach (SelectListItem opt in ViewBag.CloudSolutionTracks)
                                        {
                                            <option value="@opt.Text" @(opt.Text == "RIM Service" ? "selected='selected'" : "")>@opt.Text</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="track" class="form-control track" , width="100px">
                                        <option value="1">Select Track</option>


                                        @foreach (SelectListItem opt in ViewBag.CloudSolutionTracks)
                                        {

                                            <option value="@opt.Text" @(opt.Text == item.Track ? "selected='selected'" : "")>@opt.Text</option>

                                        }
                                    </select>
                                }
                            }


                            else
                            {
                                <select id="track" class="form-control track" , width="100px">
                                    <option value="1">Select Track</option>


                                    @foreach (SelectListItem opt in ViewBag.Tracks)
                                    {

                                        <option value="@opt.Text" @(opt.Text == item.Track ? "selected='selected'" : "")>@opt.Text</option>

                                    }
                                </select>
                            }
                        </td>


                        <td>
                            <a href="#" class="clsData" data-EmployeeID="@item.EmployeeID"><i class="fa fa-history fa_custom fa-2x"></i> </a>

                        </td>
                        <td hidden><input type="text" hidden class="clsTrackoldData" value="@item.Track"></td>

                    </tr>
                }
            }
            else
            {
                <tr><td>No Data to Display</td></tr>
            }
        </tbody>
    </table>

</div>
<br />

<div class="modal fade" tabindex="-1" id="ModalTrackDetails" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Track History  Details</h4>
            </div>
            <div class="modal-body">
                <div class="table table-responsive" style="margin-bottom:0px; height:240px;overflow-y:scroll;">
                    <table id="tableTrackHistory">
                        <thead>
                            <tr class="table">
                                <th class="tblwidth">Employee ID</th>
                                <th class="tblwidth">Old Track Data</th>
                                <th class="tblwidth">New Track Data</th>
                                <th class="tblwidth">Modified By</th>
                                <th class="tblwidth">Modified Date</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="btnclose" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>
<script>
    $("#ddlPractice").on("change", function () {
        GetTrackTablebyPracticeandProject();
    })
    $("#ddlProject").on("change", function () {
        GetTrackTablebyPracticeandProject();
    })



    function GetTrackTablebyPracticeandProject() {

        var practice = $("#ddlPractice option:selected").text();
        var projectCode = $("#ddlProject option:selected").val();
        //if (practice == "Select Practice") {

        //    alert("Please Select Practice before Project");
        //    $("#ddlProject").val(1);
        //    return false;

        //}

        $.ajax({
            url: '@Url.Action("GetTrackTablebyPracticeandProject", "TeamTrack")',
            data: { practice: practice, projectCode: projectCode },
            type: 'GET',
            cache: false,
            success: function (result) {
                debugger;
                $("#divTrack").empty();
                $("#divTrackpartialview").empty();
                $("#divTrackpartialview").html(result);

            },
            error: function (result) {

                alert(result);
            }
        })
    }

</script>
<script type="text/javascript">


    $(document).ready(function () {
        $('#tableteamtrack th').each(function (col) {
            $(this).hover(
            function () { $(this).addClass('focus'); },
            function () { $(this).removeClass('focus'); }
          );
            $(this).click(function () {
                if ($(this).is('.asc')) {
                    $(this).removeClass('asc');
                    $(this).addClass('desc selected');
                    sortOrder = -1;
                }
                else {
                    $(this).addClass('asc selected');
                    $(this).removeClass('desc');
                    sortOrder = 1;
                }
                $(this).siblings().removeClass('asc selected');
                $(this).siblings().removeClass('desc selected');
                var arrData = $('#tableteamtrack').find('tbody >tr:has(td)').get();
                arrData.sort(function (a, b) {
                    var val1 = $(a).children('td').eq(col).text().toUpperCase();
                    var val2 = $(b).children('td').eq(col).text().toUpperCase();
                    if ($.isNumeric(val1) && $.isNumeric(val2))
                        return sortOrder == 1 ? val1 - val2 : val2 - val1;
                    else
                        return (val1 < val2) ? -sortOrder : (val1 > val2) ? sortOrder : 0;
                });
                $.each(arrData, function (index, row) {
                    $('#tableteamtrack tbody').append(row);
                });
            });
        });
    });
</script>
<script>

    $(".track").on("change", function () {

        var tr = $(this).parents('tr:first');
        var tracknewData = tr.find(".track option:Selected").text();
        var trackoldData = tr.find(".clsTrackoldData").val();
        if (tracknewData == trackoldData) {
            $(tr).find("input[type=checkbox]").prop("checked", false)
        }
        else if (tracknewData != "select Track") {
            $(tr).find("input[type=checkbox]").prop("checked", true)
        }

        else {

            $(tr).find("input[type=checkbox]").prop("checked", false)
        }

    });

    function Savedetails() {

        var GetSelectedTrackDetails = GetSelectedTrackData();
        // var GetSelectedTrackDetails="data"

        if (GetSelectedTrackDetails.length == 0) {
            alert("Plese select track to save");
            return false;
        }
        $("#Save").hide();


        var practice = $("#ddlPractice option:selected").text();
        var projectCode = $("#ddlProject option:selected").val();
     
        $.ajax({
            url: '@Url.Action("SaveTrackData", "TeamTrack")',
            data: ({ trackData: GetSelectedTrackDetails }),
            type: "post",
            datatype: "json",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (result) {
                if (result == true) {
                    @*$("#ddlPractice").val('');
                    $("#ddlProject").val('');
                
                    window.location.href = '@Url.Action("TeamTrack", "TeamTrack")'*@
                    alert("You have successfully saved");
                    GetTrackTablebyPracticeandProject();


                }
                else if (result == false) {
                    alert("Something went wrong. Please try again");
                    window.location.href = '@Url.Action("TeamTrack", "TeamTrack")'
                }
            },
            error: function (error) {
                alert(JSON.stringify(error));
            }
        });
    }


    function GetSelectedTrackData() {
        var selectedTrackDetails = [];
        $("input:checkbox:checked").each(function () {
            var isCheck = this.checked ? true : false;
            var tr = $(this).parents('tr:first');

            var empId = $(tr).find(".clsEmpId").html().trim();
            var tracknewData = tr.find(".track option:Selected").text().trim();
            var trackoldData = tr.find(".clsTrackoldData").val().trim();


            {
                selectedTrackDetails.push({ EmployeeID: empId, TrackOldData: trackoldData, TrackNewData: tracknewData });
            }

        });
        return selectedTrackDetails;
    };


    function DownloadTrackData() {

        window.location.href = '@Url.Action("TeamTrackReport", "TeamTrack")'
    }


</script>
<script>

    $(".clsData").on("click", function () {
        var empID = $(this).attr("data-EmployeeID");

        $("#tableTrackHistory tbody tr").remove();

        $.ajax({
            url: '@Url.Action("GetTrackHistoryByEmployeeId", "TeamTrack")',
            data: JSON.stringify({ empId: empID }),
            type: 'POST',
            datatype: "json",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (result) {
                var tr;
                debugger;

                //Append each row to html table
                for (var i = 0; i < result.length; i++) {

                    tr = $('<tr/>');
                    tr.append("<td class='trackdatatd'>" + result[i].EmployeeID + "</td>");
                    tr.append("<td class='trackdatatd'>" + result[i].Track_Old + "</td>");
                    tr.append("<td class='trackdatatd'>" + result[i].Track_New + "</td>");
                    tr.append("<td class='trackdatatd'>" + result[i].ModifiedBy + "</td>");
                    tr.append("<td class='trackdatatd'>" + result[i].ModifiedDate + "</td>");
                    $('#tableTrackHistory').append(tr);
                }

                $('#ModalTrackDetails').modal('show');

            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        })
    }
        );

</script>
