
@model Trianz.Enterprise.Operations.Models.ValidationModel

@{
    ViewBag.Title = "_DisplayEmployeeAssignments";
    var itemvalues = Model.EMPProjectAssignmentDetails;
}
<style>
    .ui-dialog {
        height: auto;
        width: 1016px;
        top: 4.5px;
        left: 121.5px;
        display: block;
    }
        .ui-dialog .ui-dialog-content {
            position: relative;
            border: 0;
            padding: .5em 1em;
            background: none;
            overflow: auto;
            background-color: #ffffff;
            overflow-x: scroll;
        }
    #divprjgrid {
        padding: 0 34px;
    }
    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: -76px;
    }
</style>
@if (itemvalues.Count()>0)
{
    <div class="row">
        <div class="col-md-12" style="padding-left:2px;">

            @if (Model != null)
            {
                var dates = "";
                var Employeeid = "";
                foreach (var modelItems in itemvalues)
                {
                    Employeeid = modelItems.EmployeeId.ToString();
                    //dates = modelItems.HrStartDate + " - " + modelItems.HrEnddate;
                }
                var text = Employeeid + " Employee Assignments details ";
                <label for="a" id="lblhead">@text</label>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-left:2px;">

            <table id="tableassig" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 60%;">
                <thead>
                    <tr style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">

                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Project Name</th>
                        <th>Project Code</th>
                        <th>Assigned By</th>
                        <th>Utilization %</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Billing Status</th>
                        <th>Is Active</th>
                        <th>Project Manager</th>
                        <th>Delivery Manager</th>
                        <th>Category(Bench Status)</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
            {
                foreach (var item in itemvalues)
                {
                <tr style="font-size: 12px;">
                    <td>@item.EmployeeId</td>
                    <td><label id="lblemplname">@item.Name</label></td>
                    <td>
                        <label id="lblprojectnamegr">@item.ProjectName</label>
                    </td>
                    <td>@item.ProjectCode</td>
                    <td><label id="lblassby">@item.Assigned_By</label></td>
                    <td><label id="lblut">@item.Utilization</label></td>
                    <td><span id="StartDate" class="display-mode">@(item.startdate == null ? "" : @Convert.ToDateTime(item.startdate).ToString("dd MMM yyyy"))</span></td>
                    <td><span id="EndDate" class="display-mode">@(item.Enddate == null ? "" : @Convert.ToDateTime(item.Enddate).ToString("dd MMM yyyy"))</span></td>
                    <td><span id="bilngsta" class="display-mode">@item.BillingStatus</span></td>
                    <td><span id="lblprac" class="display-mode">@item.Status</span></td>
                    <td><span id="lblprjman" class="display-mode">@item.ProjectManager</span></td>
                    <td><span id="lbldeliman" class="display-mode">@item.DeliveryManager</span></td>
                    <td><span id="lblcategory" class="display-mode">@item.Category</span></td>

                </tr>
                    }
                }

                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <label>No records to display</label>
}
