@model Trianz.Enterprise.Operations.Models.ValidationModel
<style>

    
    .table .table {
        background-color: #fff;
        position: relative;
        /*top: 37px;*/
        left: -151px;
    }
    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: -56px;
    }
    .ui-dialog .ui-dialog-content {
        position: relative;
        border: 0;
        padding: .5em 1em;
        background: none;
        overflow: auto;
        background-color: #ffffff;
        overflow-x: hidden;
    }
    .rdselect {
        z-index: 10;
        position: relative;
    }
    #Propsedlistemp {
        margin-left: 167px;
        /* margin-bottom: -4px; */
        position: relative;
        top: 20px;
    }
 
</style>
@{
    ViewBag.Title = "PartialProposeAssociates";
    var countd = 0;
    if (Model.PropsedList != null)
    {
        countd = Model.PropsedList.Count();

    }
    var convertStatus = "";
    using (@Html.BeginForm("ProposeAssociate", "ProposeAssociate", FormMethod.Post))
    {
        foreach (var modelItems in Model.HRRFs)
        {
            convertStatus = modelItems.RequestType;
        }
    }
}
@if (convertStatus != "External")
{
    if (Model.PropsedList.Count() != 0)
    {
        <div class="clear-both"><p class="bold pull-left sub-headtext" style="    position: relative;
    top: 20px;">Proposed Resource</p></div>
        <div>
            @{

                var proposedResourcesGrid = new WebGrid(Model.PropsedList, canPage: true, rowsPerPage: countd, selectionFieldName: "selectedRow");
                @proposedResourcesGrid.GetHtml(
                                 tableStyle: "table table-bordered table-striped p-resources",
                                 fillEmptyRows: true,
                                 headerStyle: "header",
                                 alternatingRowStyle: "alt",
                                 selectedRowStyle: "select",
                                 mode: WebGridPagerModes.All,
                                 firstText: "<< First",
                                 previousText: "< Prev",
                                 nextText: "Next >",
                                 lastText: "Last >>",
                                  htmlAttributes: new { id = "Propsedlistemp" },
                                 columns: proposedResourcesGrid.Columns
                                 (
                                     proposedResourcesGrid.Column(format:
                                            @<text>
                                                @if (Session["Role"].ToString() != "" && (Session["Role"].ToString() == "DH" ||
                                                               Session["Role"].ToString() == "PM" && ViewBag.EmployeeID == (int)Session["EmployeeId"]))
                                                         {
                                                    //if (Convert.ToBoolean(Session["IsPractice"]) == true)
                                                    //{
                                                    <input type="radio" class="check" name="chkAssociateId" id="chkAssociateId" value="@item.EmployeeID" />
                                                    //}
                                                }
                                                         else if (Session["Role"].ToString() != "" && Session["Role"].ToString() == "OM") // || (Session["Role"].ToString() == "PM" && ViewBag.EmployeeID == (int)Session["EmployeeId"])
                                                {
                                                             if (Convert.ToBoolean(Session["IsPractice"]) == true)
                                                             {
                                                        <input type="radio" class="case" name="chkAssociateId" id="chkAssociateId" value="@item.EmployeeID" />
                                                             }
                                                         }
                                            </text>, header: "Select", style: "rdselect"),

                                                           proposedResourcesGrid.Column("EmployeeID", "Employee ID", style: "Empid"),
                                                           proposedResourcesGrid.Column("Name", "Employee Name", style: "text-align:center"),
                                                           proposedResourcesGrid.Column("Grade", "Grade", style: "grade"),
                                                           proposedResourcesGrid.Column("Fitment %", format:@<text>
                                                            <span title="@item.TrRankper" style="cursor:pointer;">@item.TRRank</span>
                                                        </text>, style: "fit"),
                                                                    proposedResourcesGrid.Column("EmpRank", "Proposed Rank", style: "rank"),
                                                                    proposedResourcesGrid.Column("Skill Set", format:@<text>
                                                                        @if (@item.SkillSet == "No Skills")
                                                                                 {
                                                                            <label id="lblskill">Skills</label>
                                                                                 }
                                                                                 else
                                                                                 {
                                                                            <label id="lblskill">@item.SkillSet</label>
                                                                                 }
                                                                      
                                                                        <a class="clsinfo" style="cursor:pointer;z-index: 10;position: relative;top: -21px;left: 51px;"><span class="ui-icon ui-icon-info" style="font:100;position: relative;" title="Click here to view skills" id="@item.EmployeeID"></span></a>
                                                                    </text>, style: "skill"),
                                                                                 proposedResourcesGrid.Column("Current Assignment Details", format:@<text>
                                                                                    <a class="clsUtilization" style="cursor:pointer;text-align:center;z-index: 10;
    position: relative;"><span class="ui-icon ui-icon-plusthick" rel="popover" data-billhistory="@item.BillingHistory" id="@item.EmployeeID"></span></a>
                                                                                    <label id="lblemployeeid" style="display:none;">@item.EmployeeID</label>
                                                                                </text>, style: "utli"),
                                                                                             proposedResourcesGrid.Column("Location", "Location"),
                                                                                             proposedResourcesGrid.Column("Practice", "Practice")
                                                                                                           ))
            }
        </div>
            <div class="space10"></div>
            <div style="    text-align: center;
    position: relative;
    top: -17px;
    z-index: 100;
    left: -13px;
    margin-top: 63px;">
                @if (Session["Role"].ToString() != "" && Session["Role"].ToString() == "DH")
                {
                    //if (Convert.ToBoolean(Session["IsPractice"]) == true)
                    //{
                    <button type="button" class="btn btn-primary" onclick="acceptProposeAssociate()">Approve</button>
                    @*<button type="submit" onclick="acceptProposeAssociate()" class="btn btn-primary" >Approve</button>*@
                    <button type="button" class="btn btn-primary" onclick="rejectProposeAssociate()">Reject</button>
                    //}
                }
                else if (Session["Role"].ToString() != "" && ViewBag.EmployeeID == (int)Session["EmployeeId"])
                {
                    <button type="button" class="btn btn-primary" onclick="acceptProposeAssociate()" @*"approveResourceByPM()"*@>Approve</button>
                    <button type="button" class="btn btn-primary" onclick="rejectProposeAssociate()" @*"rejectResourceByPM()"*@>Reject</button>
                }
            </div>
          
       
                }
                else
                {
                    <p>No Proposed Resources</p>
                    }
                }
<script src="~/Scripts/ProposeAssociate.js"></script>

<style type="text/css">
    .rdselect {
        width: 30px;
        text-align: center;
    }

    .Empid {
        text-align: center;
        width: 10%;
    }

    .name {
        text-align: center;
        /*width: 15%;*/
    }

    .grade {
        text-align: center;
        width: 5%;
    }

    .fit {
        text-align: center;
        width: 8%;
    }

    .rank {
        text-align: center;
        width: 5%;
    }

    .skill {
        width: 20%;
    }

    .utli {
        width: 5%;
        padding-left: 2% !important;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        //var table = $('#Propsedlistemp').DataTable(
        //               {
                           //bInfo: false,
                           //bLengthChange: false,
                           //bPaginate: false,
                           //"scrollY": "200px",
                           //scrollCollapse: false,
                           //"scrollX": true,
                           //"bAutoWidth": false,
                       //});

        $(".dataTables_filter").hide();
        $(".dataTables_length").hide();
        $(".dataTables_info").hide();


        $(".clsUtilization").unbind();
        $(".clsUtilization").bind('click', function () {
            debugger;
            var tr = $(this).parents('tr:first');

            //tr.find('.ui-icon-plusthick').hide();
            var employeeid = tr.find('#lblemployeeid').text()
            var url = '@Url.Content("~/ProposeAssociate/GetAssignmentDetails")';
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: { EMPID: employeeid },
                success: function (data) {
                    debugger;
                    if (data != null && data != "Error") {
                        $('#divprjgrid').html(data);
                        EmpProjectassDetails();
                    }
                    else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                },
                error: function (thrownError) {
                    alert(thrownError);
                }
            });
        });
        function EmpProjectassDetails() {
            debugger
            $('#dialog-view-Projectassig').dialog({
                title: 'Employee Project Assignment Details',
                autoOpen: false,
                resizable: false,
                height: 550,
                width: 1016,

                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $('.ui-dialog-titlebar-close').hide();
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
                        ,
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });
            $("#dialog-view-Projectassig").dialog('open');
        }
        $(".clsinfo").unbind();
        $(".clsinfo").bind('click', function () {
            debugger;
            var tr = $(this).parents('tr:first');
            var employeeid = tr.find('#lblemployeeid').text()
            var url1 = '@Url.Content("~/ProposeAssociate/GetEmployeeSkill")';
            $.ajax({
                url: url1,
                type: 'GET',
                cache: false,
                data: { EmpID: employeeid },
                success: function (data) {
                    debugger;
                    if (data != null && data != "Error") {
                        $('#divgridskillinfo').html(data);
                        EmpSkillDetails();
                    }
                       else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                },
                error: function (thrownError) {
                    alert(thrownError);
                }
            });
        });
        function EmpSkillDetails() {
            debugger
            $('#dialog-view-Skillinfo').dialog({
                title: 'Employee Skill Details',
                autoOpen: false,
                resizable: false,
                height: 600,
                width: 1016,

                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $('.ui-dialog-titlebar-close').hide();
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
                        ,
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });
            $("#dialog-view-Skillinfo").dialog('open');
        }
    });
    
</script>