@model Trianz.Enterprise.Operations.Models.ValidationModel

@{
    ViewBag.Title = "_PartialProposedResources";
    var countd = 0;
    if (Model.TRMagicDetails != null)
    {
        countd = Model.TRMagicDetails.Count();
    }
    var convertStatus = "";
    using (@Html.BeginForm("ProposeAssociate", "ProposeAssociate", FormMethod.Post))
    {
        foreach (var modelItems in Model.HRRFs)
        {
            convertStatus = modelItems.RequestType;
        }
    }
}

<style>
    #tblsas tbody > tr > td, .table tfoot > tr > td {
        padding: 0px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: none;
    }
</style>

@if (convertStatus != "External")
{
    if (Model.TRMagicDetails.Count() != 0)
    {
        <div class="clear-both"><p class="bold pull-left sub-headtext">Recommended Resource:@*@Model.TRMagicDetails.Count()*@</p></div>


        <div class="space10"></div>
        <div id="proporse" style="margin-top : 20px;border-bottom:none; overflow: hidden;" class="table table-responsive;">
            @using (@Html.BeginForm("ProposeAssociate", "ProposeAssociate", FormMethod.Post))
            {
                var recommendedResourcesGrid = new WebGrid(Model.TRMagicDetails, ajaxUpdateContainerId: "ajaxgrid", rowsPerPage: countd, canPage: false, selectionFieldName: "selectedRow");
                @recommendedResourcesGrid.GetHtml(
                                    fillEmptyRows: true,
                                    headerStyle: "header",
                                    alternatingRowStyle: "alt",
                                    tableStyle: "table table-bordered table-striped p-resources",
                                    selectedRowStyle: "select",
                                    mode: WebGridPagerModes.All,
                                    firstText: "<< First",
                                    previousText: "< Prev",
                                    nextText: "Next >",
                                    lastText: "Last >>",

                                    htmlAttributes: new { id = "Propsedemp" },
                                    columns: recommendedResourcesGrid.Columns
                                    (
                                    recommendedResourcesGrid.Column(format:
                                                @<text>
                                                    @if (Convert.ToBoolean(Session["IsPractice"]) == true)
                                                                 {
                                                                     if (item.Pstatus == string.Empty || item.Pstatus == null
                                           || item.Pstatus == "Rejected")
                                                                     {
                                                            <input type="checkbox" class="case" name="chkAssociateId" id="chkAssociateId" value="@item.EmployeeId" />
                                                                     }
                                                                 }
                                                </text>, header: "Select", style: "chkselect"),
                                                                               recommendedResourcesGrid.Column("Employee ID",
                                                                               format:@<text><b>
                                                                                    @if (item.Pstatus == "Accepted")
                                                                                                 {
                                                                                        <span class="lblempid" style="color:olive;" title="Accepted">@item.EmployeeID</span>
                                                                                                 }
                                                                                                 else if (item.Pstatus == "Rejected")
                                                                                                 {
                                                                                        <span class="lblempid" style="color:red;" title="Rejected">@item.EmployeeID</span>
                                                                                                 }
                                                                                                 else if (item.Pstatus == "Proposed")
                                                                                                 {
                                                                                        <span class="lblempid" style="color:lightseagreen;" title="Proposed">@item.EmployeeID</span>
                                                                                                 }
                                                                                                 else
                                                                                                 {
                                                                                        <span class="lblempid">@item.EmployeeID</span>
                                                                                                 }
                                                                                  


                                                                                </b>
                                                                            </text>
                                                                                                    , style: "Empid"),
                                                                                                    recommendedResourcesGrid.Column("Name", "Employee Name", style: "text-align:center"),
                                                                                                    recommendedResourcesGrid.Column("Grade", "Grade", style: "grade"),
                                                                                                    //recommendedResourcesGrid.Column("Email", "Email"),

                                                                                                    recommendedResourcesGrid.Column("Fitment %", format:@<text>

                                                                                                        <span title="@item.TrRankper" style="cursor:pointer;">@item.TRRank</span>
                                                                                                        <span style="display:none;" class="lblpst">@item.Pstatus</span>
                                                                                                    </text>, style: "fit"),
                                                                                                                              recommendedResourcesGrid.Column("EmpRank", "Proposed Rank", style: "rank"),
                                                                                                                              recommendedResourcesGrid.Column("Skill Set", format:@<text>
                                                                                                                                @if (@item.SkillSet == "No Skills")
                                                                                                                                             {
                                                                                                                                    <label id="lblskill">Skills</label>
                                                                                                                                             }
                                                                                                                                             else
                                                                                                                                             {
                                                                                                                                    <label id="lblskill">@item.SkillSet</label>
                                                                                                                                             }
                                                                                                                                
                                                                                                                                <a class="clsinfo" style="cursor:pointer;"><span class="ui-icon ui-icon-info" style="font:100;position: relative;top: -21px;left: 51px;" title="Click here to view skills" id="@item.EmployeeID"></span></a>
                                                                                                                            </text>, style: "skill"),
                                                                                                                                                          recommendedResourcesGrid.Column("Assignment Details", format:@<text>
                                                                                                                                                            <a class="clsUtilization" style="cursor:pointer;text-align:center;"><span class="ui-icon ui-icon-plusthick" rel="popover" data-billhistory="@item.BillingHistory" id="@item.EmployeeID"></span></a>
                                                                                                                                                            <label id="lblemployeeid" style="display:none;">@item.EmployeeID</label>
                                                                                                                                                        </text>, style: "utli"),
                                                                                                                                                                          recommendedResourcesGrid.Column("Location", format:@<text>
                                                                                                                                                                            <span class="lbllocationval">@item.Location</span>
                                                                                                                                                                        </text>),
                                                                                                                                                                                              recommendedResourcesGrid.Column("Practice", "Practice")

                                                                                                                                                                                      ))}

        </div>

        <div style="text-align: left;padding-left:20%;">
            @*@Html.ActionLink("ProposeAssociate", "ProposeAssociate", new { ProposedId = @item.ProposedID })*@
            @if (Convert.ToBoolean(Session["IsPractice"]) == true)
            {
                <button type="submit" class="btn btn-primary" onclick="recommendAssociates()" style="    margin-top: -665px;
    margin-left: -207px;">Propose</button>
            }
        </div>
        <div style="border-top:none;">
            <table width="100%" id="tblsas">
                <tr>
                    @*<td style="background-color:olive;" width="2%"></td>
                        &nbsp;
                        <td>Accepted</td>*@
                    <td style="background-color:red;" width="2%"></td>
                    &nbsp;
                    <td>Rejected</td>
                    <td style="background-color:lightseagreen;" width="2%"></td>
                    &nbsp;
                    <td>Proposed</td>

                </tr>
            </table>
        </div>
        <div class="space10"></div>

    }
    else
    {
        <p style="position: relative;left: 18px;margin-top: 33px;
    top: 6px;color:black">No Recommended Resources</p>
    }

}
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>-->

<script type="text/javascript">

    $(document).ready(function () {

        var table = $('#Propsedemp').DataTable(
                          {
                              bInfo: false,
                              bLengthChange: false,
                              bPaginate: false,
                              "scrollY": "400px",
                              scrollCollapse: false,
                              "scrollX": true,
                              "bAutoWidth": false,
                              overflow: "None",
                          });

        $(".dataTables_filter").hide();
        $(".dataTables_length").hide();
        $(".dataTables_info").hide();
        //$(".dataTables_scrollBody").hide();
        // select all
        $("#chkAssociateId").click(function () {
            //  $('.case').attr('checked', this.checked);
        });
        // single select
        $(".chkAssociateId").click(function () {
            if ($(".case").length == $(".case:checked").length) {
                $("#chkAssociateId").attr("checked", "checked");
                alert('checked');
            }
            else {
                $("#chkAssociateId").removeAttr("checked");
                alert('un-checked');
            }
        });


        $(".clsUtilization").unbind();
        $(".clsUtilization").bind('click', function () {
            debugger;
            var tr = $(this).parents('tr:first');

            //tr.find('.ui-icon-plusthick').hide();
            var employeeid = tr.find('#lblemployeeid').text()
            var url = '@Url.Content("~/ProposeAssociate/GetAssignmentDetails")';
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: { EMPID: employeeid },
                success: function (data) {
                    debugger;
                    if (data != null && data != "Error") {
                        $('#divprjgrid').html(data);
                        EmpProjectassDetails();
                    }
                     else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }

                },
                error: function (thrownError) {
                    alert(thrownError);
                }
            });
        });
        function EmpProjectassDetails() {
            debugger
            $('#dialog-view-Projectassig').dialog({
                title: 'Employee Project Assignment Details',
                autoOpen: false,
                resizable: false,
                height: 550,
                width: 1016,

                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $('.ui-dialog-titlebar-close').hide();
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
                        ,
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });
            $("#dialog-view-Projectassig").dialog('open');
        }
        $(".clsinfo").unbind();
        $(".clsinfo").bind('click', function () {
            debugger;
            var tr = $(this).parents('tr:first');
            var employeeid = tr.find('#lblemployeeid').text()
            var url1 = '@Url.Content("~/ProposeAssociate/GetEmployeeSkill")';
            $.ajax({
                url: url1,
                type: 'GET',
                cache: false,
                data: { EmpID: employeeid },
                success: function (data) {
                    debugger;
                    if (data != null && data != "Error") {
                        $('#divgridskillinfo').html(data);
                        EmpSkillDetails();
                    }
                         else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }

                },
                error: function (thrownError) {
                    alert(thrownError);
                }
            });
        });
        function EmpSkillDetails() {
            debugger
            $('#dialog-view-Skillinfo').dialog({
                title: 'Employee Skill Details',
                autoOpen: false,
                resizable: false,
                height: 600,
                width: 1016,

                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $('.ui-dialog-titlebar-close').hide();
                },
                buttons: {
                    "Close": function () {
                        $(this).dialog("close");
                    }
                }
                        ,
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });
            $("#dialog-view-Skillinfo").dialog('open');
        }
    });
</script>


<style type="text/css">
    .chkselect {
        width: 30px;
        text-align: center;
    }

    .Empid {
        text-align: center;
        width: 10%;
    }

    .name {
        text-align: center;
        /*width: 15%;*/
    }

    .grade {
        text-align: center;
        width: 5%;
    }

    .fit {
        text-align: center;
        width: 8%;
    }

    .rank {
        text-align: center;
        width: 5%;
    }

    .skill {
        width: 20%;
    }

    .utli {
        width: 5%;
        padding-left: 2% !important;
    }
</style>