@model Trianz.Enterprise.Operations.Models.BenchAssignment

@{
    ViewBag.Title = "BulkAssignment";
}

<script type="text/javascript">
    $(document).ready(function () {


        $('#btnSubmit').click(function () {
            $(this).attr("disabled", "disabled");


            $.ajax({
                url: "@Url.Action("GetEmployeeInfo", "BulkAssignment")",
                data: "",
                type: "GET",
                datatype: "JSON",
                success: function (response) {
                    if (response == "success") {
                        // window.location = "@Url.Action("GetEmployeeInfo", "BulkAssgnment")";

                    }
                },
                error: function (error) {
                    alert(error.statusText);
                }
            });
        });

        $("#ddlPractice").change(function () {
            debugger;
            var url = '@Url.Content("~/BulkAssignment/GetEmployeeInfobyPractice")';
            var ddlPractice = $("#ddlPractice").val();
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: { ProjectCode: ddlPractice },
                success: function (data) {
                    $('#divGridContent1').html(data);
                },
                error: function (thrownError) {
                    alert(thrownError);
                }

            });

        });
        $("#ddlAllPractice").change(function () {
            debugger;
            var url = '@Url.Content("~/BulkAssignment/GetAllPractices")';
            var ddlPractice = $("#ddlAllPractice").val();
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data: { ProjectCode: ddlPractice },
                success: function (data) {
                    $('#ddlProject').html(data);
                },
                error: function (thrownError) {
                    alert(thrownError);
                }

            });

        });
        $('#datetimepicker1').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
           // startDate: today
            //format: 'dd/mm/yyyy',
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        $('#datetimepicker2').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
            // startDate: today
            //format: 'dd/mm/yyyy',
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        $("#ddlProjects").change(function () {
            debugger;
            var url = '@Url.Content("~/BulkAssignment/GetProjects")';
            var ddlPractice = $("#ddlProjects").val();
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data: { ProjectCode: ddlPractice },
                success: function (data) {
                    $('#ddlProject').html(data);
                },
                error: function (thrownError) {
                    alert(thrownError);
                }

            });

        });
        $('#btnsubmit').click(function () {
            var url='@Url.Content("~/BulkAssignment/ProjectAssignment")'
            var pra = $('#ddlAllPractice').val();
            var project = $('#ddlProjects').val();
        });




    });
</script>

<link href="~/Content/LayoutStyle.css" rel="stylesheet" />

<div class="col-md-6 nopadding-left" style="align-content:flex-start" id="ProjectTaskTab">

    <label> Select a Practice</label>
    @Html.DropDownList("ddlPractice", ViewBag.Practices as List<SelectListItem>, "-- Select Practice --", new { @class = "form-control", @style = "width: 350px;" })

</div>
<div id="contdata">
    <div id="divGridContent1" class="table table-responsive">
        @Html.Partial("BulkAssignmentPartialView", Model)
    </div>
    <div class="col-md-12 ">
        <div class="col-md-6 nopadding-left" style="align-content:flex-start" id="ProjectTaskTab">

            <label>Select Practice</label>
            @Html.DropDownList("ddlAllPractice", ViewBag.AllPractices as List<SelectListItem>, "-- Select Practice --", new { @class = "form-control", @style = "width: 350px;" })


        </div>
        <div class="col-md-6 nopadding-right" style="align-content:flex-start" id="ProjectTaskTab">

            <label>Select Project</label>
            @Html.DropDownList("ddlProjects", ViewBag.AllProjects as List<SelectListItem>, "-- Select Project --", new { @class = "form-control", @style = "width: 350px;" })

        </div>

    </div>


</div>
<div class="col-md-12 nopadding">
    <div class="col-md-5 col-sm-12 nopadding-right">
        <label class=" text-left" for="textinput"> Expected Assignment Start Date</label><span style="color:red">*</span>
        <div class='input-group date' id='datetimepicker1'>
            <input type='text' name="ExpectedStart" id="ExpectedStart" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-1 col-sm-12 nopadding-left"></div>
    <div class="col-md-5 col-sm-12 nopadding-right">
        <label class=" text-left" for="textinput">Expected Assignment End Date</label><span style="color:red">*</span>
        <div class='input-group date' id='datetimepicker2'>
            <input type='text' name="ExpectedEnd" id="ExpectedEnd" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<div>

    <input type="button" value="Assign" id="btnsubmit" />
</div>




