
@{
    ViewBag.Title = "RoleCreation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RoleCreation</h2>

@{
    var practiceList = new SelectList(new[]
                {
                new SelectListItem { Text = "AIM", Value = "AIM", Selected = true },
                new SelectListItem { Text = "CCM - CPP", Value = "CCM - CPP"},
                new SelectListItem { Text = "CCM - Java", Value = "CCM - Java"},
                new SelectListItem { Text = "CCM - Microsoft", Value = "CCM - Microsoft"},
                new SelectListItem { Text = "Clinical Trial Management", Value = "Clinical Trial Management"},
                new SelectListItem { Text = "Cloud Solutions", Value = "Cloud Solutions"},
                new SelectListItem { Text = "Digital Solutions", Value = "Digital Solutions"},
                new SelectListItem { Text = "EAS", Value = "EAS"},
                new SelectListItem { Text = "IMS - ITSM", Value = "IMS - ITSM"},
                new SelectListItem { Text = "IMS - Maintenance", Value = "IMS - Maintenance"},
                new SelectListItem { Text = "IMS - Security", Value = "IMS - Security"},
                new SelectListItem { Text = "IT Services Others", Value = "IT Services Others"},
                new SelectListItem { Text = "No Service Line", Value = "No Service Line"},
                new SelectListItem { Text = "Ops Consulting", Value = "Ops Consulting"},
                new SelectListItem { Text = "Sales BPO", Value = "Sales BPO"},
                new SelectListItem { Text = "ANLYST", Value = "ANLYST"},
            }, "Value", "Text");
}

@{
    var gradelist = new SelectList(new[]
                {
                new SelectListItem { Text = "Select", Value = "Select", Selected = true },
                new SelectListItem { Text = "1", Value = "1"},
                new SelectListItem { Text = "2", Value = "2"},
                new SelectListItem { Text = "3", Value = "3"},
                new SelectListItem { Text = "4", Value = "4"},
                new SelectListItem { Text = "5", Value = "5"}
                }, "Value", "Text");
}
@{
    var rolelist = new SelectList(new[]
                {
                new SelectListItem { Text = "Select", Value = "Select", Selected = true },
                new SelectListItem { Text = "Delivery Manager", Value = "Delivery Manager"},
                new SelectListItem { Text = "Practice Manager", Value = "Practice Manager"},
                new SelectListItem { Text = "Practice Head", Value = "Practice Head"},
                new SelectListItem { Text = "Operations Head", Value = "Operations Head"},
                new SelectListItem { Text = "Operations Manager", Value = "Operations Manager"}
                }, "Value", "Text");
}



<div class="row">
    <div>
        <div class="form-group col-md-3">
            @Html.Label("Practice ")

        </div>
    </div>
    <table>
        <tbody>
            <tr>
                <td valign="top">
                    @Html.DropDownList("ddlPractice",practiceList)
                   @Html.ValidationMessage("Practice")
                </td>
            </tr>
        </tbody>
    </table>
    <br />
</div>
<div class="row">
    <div>
        <div class="form-group col-md-3">
            @Html.Label("Grade")

        </div>
    </div>
    <table>
        <tbody>
            <tr>
                <td valign="top">
                    @Html.DropDownList("ddlGrade",gradelist))
                   @Html.ValidationMessage("Grade")
                </td>
            </tr>
        </tbody>
    </table>
    <br />
</div>

<div class="row">
    <div>
        <div class="form-group col-md-3">
            @Html.Label("Role ")

        </div>
    </div>
    <table>
        <tbody>
            <tr>
                <td valign="top">
                    @Html.DropDownList("ddlRole", rolelist))
                    @Html.ValidationMessage("Role")
                </td>
            </tr>
        </tbody>
    </table>
    <br />
</div>

<div class="row">
    <div>
        <div class="form-group col-md-3">
            @Html.Label("Email ID")

        </div>
    </div>
    <table>
        <tbody>
            <tr>
                <td valign="top">
                    @Html.TextBox("txtEmailid")
                   @Html.ValidationMessage("LocationType")
                </td>
            </tr>
        </tbody>
    </table>
    <br />
</div>
<div class="row">
    <div class="form-group col-md-6">
        <button type="button" id="Save" class="btn btn-success">Create</button>
    </div>
</div>
    