
@model IEnumerable<Trianz.Enterprise.Operations.Models.ProjectAssignments>

@{
    var items = Model;
    int page1 = 7;
    if (Model != null)
    {
        if (Model.Count() < 7)
        {
            page1 = Model.Count();
        }
        if (page1 == 0)
        {
            page1 = 1;
        }
    }
    var grid = new WebGrid(items, canPage: true, canSort: true, rowsPerPage: page1,
selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.All);
}

<style type="text/css">
    /* centered columns styles */
    .row-centered {
        text-align: center;
    }

    .scrolling-content {
        position: absolute;
    }

    .col-centered {
        display: inline-block;
        float: none;
        /* reset the text-align */
        text-align: left;
        /* inline-block space fix */
        margin-right: -4px;
    }

    .leftstyle {
        width: 98%;
        max-width: 98%;
        margin-bottom: 20px;
    }
</style>

@section scripts {
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui-min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

}



<div id="gridContent" class="table table-responsive" style="margin-top:15px;padding-left:0px">

    @grid.GetHtml(tableStyle: "table table-bordered table-striped leftstyle",
fillEmptyRows: true,

 headerStyle: "header",
 alternatingRowStyle: "alt",
 selectedRowStyle: "select",
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
 htmlAttributes: new { id = "Assignment_Id" },
 columns: grid.Columns(

     grid.Column("ProjectCode", "Project Code", format: @<text>@item.ProjectCode</text>),
     grid.Column("ProjectName", "Project Name", format: @<text>@item.ProjectName</text>),
     grid.Column("EmployeeName", "Employee Name", format: @<text>@item.EmployeeName</text>),
     grid.Column("Utilization", "Utilization", format: @<text>@item.Utilization</text>),
     grid.Column("Assigned_By", "Project Manager Name", format: @<text>@item.Assigned_By</text>),
         grid.Column("IsActive", "IsActive", format: @<text>@item.IsActive</text>),
         grid.Column("StartDate", "Start Date", format: (item) => string.Format("{0:dd-MMM-yyyy}", item.StartDate)),
           grid.Column("EndDate",
                                        header: "End Date",
                                        format: @<text>
                                            <span id="ExpectedEndDateid" class="display-mode">@(@item.EndDate == null ? string.Empty : @item.EndDate.ToString("dd-MMM-yyyy"))</span>
                                            <input type="text" class="edit-mode date-picker ExpectedEnd-date" style="width:100px;" value="@(@item.EndDate == null ? String.Empty : @item.EndDate.ToString("dd-MMM-yyyy"))" />
                                        </text>),


       grid.Column("Action", format:@<text>
        <a><span class="ui-icon ui-icon-pencil" id="@item.Assignment_Id"></span></a>

        <a><span class="ui-icon ui-icon-circle-check" id="@item.Assignment_Id"></span></a>
        <a><span class="ui-icon ui-icon-closethick" id="@item.Assignment_Id"></span></a>
        <label id="lblassignmentid" style="display:none;">@item.Assignment_Id</label>
        <label id="lblempoyeeid" style="display:none;">@item.EmployeeID</label>
        <label id="lblprojectcoede" style="display:none;">@item.ProjectCode</label>
    </text>)

        ))



    <script type="text/javascript">


        $(function () {
            $(document).ready(function () {
                debugger;
                $('.edit-mode').hide();
                $('.ui-icon-circle-check').hide();
                $('.ui-icon-closethick').hide();
                $('.glyphicon-floppy-saved').hide();
                $('.glyphicon-floppy-remove').hide();

                function DisplayDialogAlert(message) {
                    var returnValue = false;
                    $("#alertMessage").html('');
                    $("#alertMessage").html(message);
                    var url = $(this).data('href');
                    $("#alertDialog").dialog({
                        modal: true,
                        show: { effect: 'drop', direction: "up" },
                        title: 'Alert',
                        open: function (event, ui) {
                            //$(".ui-dialog-titlebar").addClass(addTitleColor);
                            $('.ui-dialog-titlebar-close').hide();
                            $(this).load(url);
                        },
                        buttons: {
                            Ok: function () {
                                returnValue = true;
                                $(this).dialog("close");


                            }

                        }
                    }).css("font-size", "15px");

                    return returnValue;
                }

                $('.ui-icon-pencil').on('click', function () {
                    debugger;
                    var tr = $(this).parents('tr:first');
                    tr.find('.edit-mode, .display-mode').toggle();
                    tr.find('.ui-icon-pencil').hide();
                    tr.find('.glyphicon-floppy-saved').show();
                    tr.find('.glyphicon-floppy-remove').show();
                    tr.find('.ui-icon-circle-check').show();
                    tr.find('.ui-icon-closethick').show();

                    tr.find('.edit-mode').closest('.date-picker').datepicker({
                        changeMonth: true,
                        changeYear: true,
                        showButtonPanel: true,
                        dateFormat: 'dd-MMM-yyyy',
                        showStatus: true,
                        showWeeks: true,
                        highlightWeek: true,
                        numberOfMonths: 1,
                        showAnim: "scale",
                        showOptions: {
                            origin: ["top", "left"]
                        }
                    });


                });


                $('.ui-icon-circle-check').on('click', function () {
                    debugger;
                    var tr = $(this).parents('tr:first');
                    var externalhireId = tr.find("#lblassignmentid").text();
                    var Projectcode = tr.find("#lblprojectcoede").text();
                    var EmployeeID = tr.find("#lblempoyeeid").text();
                    tr.find('.edit-mode, .display-mode').toggle();
                    tr.find('.ui-icon-pencil').show();
                    tr.find('.ui-icon-circle-check').hide();
                    tr.find('.ui-icon-closethick').hide();
                    var ExpectedEndDate = tr.find('.date-picker').closest('.ExpectedEnd-date').val();
                    var expoi = ExpectedEndDate;
                    expoi = $.datepicker.formatDate("d-M-yy", new Date(expoi));
                    if (ExpectedEndDate == "") {
                        DisplayDialogAlert("Please Enter End Date")
                    }
                    else {
                        $.ajax({
                            type: "POST",
                            data: { EndDate: ExpectedEndDate, assignmenid: externalhireId },
                            url: '@Url.Action("UpdateEndDate", "ProjectAssignment")',
                            success: function (result) {
                                //bootbox.alert('Updated successfully!!');
                                bootbox.alert('Updated successfully!!', function () {
                                    //$('#divGridContent').html(window.location.href = "@Url.Action("SearchData", "ProjectAssignment")" + "?ProjectCode=" + Projectcode + "&Employee=" + EmployeeID);
                                    //$('#gridContent').html(result);
                                    debugger;

                                    $("#ExpectedEndDateid").text(expoi);



                                });
                            },
                            failure: function (data) {
                                alert(data);
                            }
                        });
                    }


                });

                $('.ui-icon-closethick').on('click', function () {
                    var tr = $(this).parents('tr:first');
                    tr.find('.edit-mode, .display-mode').toggle();
                    tr.find('.ui-icon-pencil').show();
                    tr.find('.ui-icon-circle-check').hide();
                    tr.find('.ui-icon-closethick').hide();


                });

            });

        });

    </script>

</div>
