@*@model IEnumerable<Trianz.Enterprise.Operations.Models.ProjectAssignments>*@
@{
    ViewBag.Title = "ProjectAssignmentEnddate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subpage_header page-header nomargin-top">
    <p>Project Assignment</p>
</div>




@section scripts {
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui-min.js"></script>
    <script>
        $(document).ready(function () {
            $("#ddlpm").change(function () {


                //var mydata = $('#ddlpm').val();
                var GetProjectUrl = '@Url.Action("Project", "ProjectAssignment")';
                $.ajax({
                    url: GetProjectUrl,
                    type: 'POST',
                    cache: false,
                    data: { pmid: $('#ddlpm').val() },
                    success: function (list) {
                        //debugger;
                        $("#ddlpro").html(""); // clear before appending new list
                        $("#ddlpro").append("<option value = ''>-- Select Project --</option>");
                        for (var i = 0; i < list.length; i++) {
                            $("#ddlpro").append(
                                $('<option></option>').val(list[i].Value).html(list[i].Text));
                        }
                    },

                    error: function (thrownError) {
                        alert(thrownError);

                    }

                });
            });

            $("#ddlpro").change(function () {
                //debugger;
                var mydata = $('#ddlpro').val();
                var GetProjectUrl = '@Url.Action("Employee", "ProjectAssignment")';


                if (mydata == '') {
                    $("#ddlEmpo").empty();
                    $("#ddlEmpo").append("<option value=''> Project </option>");
                    $('.btn-group').show();
                    return false;
                }

                $.ajax({
                    url: GetProjectUrl,
                    type: 'POST',
                    cache: false,
                    data: { ProjectCo: mydata },
                    success: function (data) {
                        $("#ddlEmpo").html(""); // clear before appending new list
                        $("#ddlEmpo").append("<option value = ''>-- Select Employee --</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#ddlEmpo").append(
                                $('<option></option>').val(data[i].Value).html(data[i].Text));
                        }
                    },
                    error: function (thrownError) {
                        alert(thrownError);
                    }

                });
            });


            $("#btnSearch").click(function () {
                debugger;
                var PMdata = $('#ddlpm').val();
                var prodata = $('#ddlpro').val();
                var empodata = $('#ddlEmpo').val();

                var IsValidated = CheckTaskValidations();

                if (IsValidated == true) {
                    //window.location.href = 'Url.Action("SearchData", "Report")' + '?StartDate=' + selectedstartdate + '&EndDate=' + selectedenddate + '&ProjectCode=' + selectprojectid;
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SearchData", "ProjectAssignment")',
                        data: { ProjectCode: prodata, Employee: empodata },
                        cache: false,
                        success: function (data) {

                            if (data != "") {
                                $('#divGridContent').html(data);

                            }
                            else
                                alert("No data to display");

                        },
                        failure: function (data) {
                            alert(data);
                        }
                    });
                }
                else {

                    //CleanValues();
                }

            });
            function CheckTaskValidations() {
                var returnvalue = true;

                if ($("#ddlEmpo option:selected").val() == "") {
                    DisplayDialogAlert("Please Select Employee");
                    returnvalue = false;
                }

                return returnvalue;
            }

            function DisplayDialogAlert(message) {
                var returnValue = false;
                $("#alertMessage").html('');
                $("#alertMessage").html(message);
                var url = $(this).data('href');
                $("#alertDialog").dialog({
                    modal: true,
                    show: { effect: 'drop', direction: "up" },
                    title: 'Alert',
                    open: function (event, ui) {
                        //$(".ui-dialog-titlebar").addClass(addTitleColor);
                        $('.ui-dialog-titlebar-close').hide();
                        $(this).load(url);
                    },
                    buttons: {
                        Ok: function () {
                            returnValue = true;
                            $(this).dialog("close");


                        }

                    }
                }).css("font-size", "15px");

                return returnValue;
            }

        });




    </script>
}

<div class="row row-centered">
    <div class="col-md-12 ">

        <div class="col-md-3">
            @Html.DropDownList("ddlpm", ViewBag.Projectmanager as List<SelectListItem>, "-- Project Manager --", new { @class = "form-control", @style = "width: 220px;" })

        </div>
        <div class="col-md-3">
            @Html.DropDownList("ddlpro", new SelectList("", "Text", "Name"), "-- Project --", new { @class = "form-control", @style = "width: 220px;" })
            @*@Html.DropDownList("ddlpro", ViewBag.Project as List<SelectListItem>, "-- Project --", new { @class = "form-control", @style = "width: 180px;" })*@


        </div>
        <div class="col-md-3">
            @Html.DropDownList("ddlEmpo", new SelectList("", "Text", "Name"), "-- Employee --", new { @class = "form-control", @style = "width: 220px;" })
            @*@Html.DropDownList("ddlEmpo", ViewBag.Employee as List<SelectListItem>, "-- Employee --", new { @class = "form-control", @style = "width: 180px;" })*@
        </div>
        <div class="col-md-3">
            <input type="button" id="btnSearch" value="Search" class="btn btn-primary" />
        </div>

    </div>
</div>


<div id="divGridContent" class="table table-responsive">
    @*@Html.Partial("_EditpageParitalView", Model)*@
</div>







