@model IEnumerable<Trianz.Enterprise.Operations.ViewModel.FinanceContractorsDetails>
<div id="Contractorsreportdiv" class="col-md-12">
    <table id="ContractorsReport" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
        <thead>
            <tr style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">
                <th>EmployeeID</th>
                <th>EmployeeName</th>
                <th>Work Location</th>
                <th>Site</th>
                <th>Grade</th>
                <th>Client Name</th>
                <th>Business Group</th>
                <th>Project Code</th>
                <th>Project name</th>
                <th>Billing Status</th>
                <th>DOJ</th>
                <th>Relieving Date</th>
                <th>ApprovedBillable</th>
                <th>ApprovedNonBillable</th>
                <th>UnApprovedBillable</th>
                <th>UnApprovedNonBillable</th>
                <th>TotalBillable</th>
                <th>TotalNonBillable</th>
                <th>TotalStandardHrs</th>
                <th>HC</th>
                <th>Aging</th>
            </tr>
            
        </thead>
        <tbody>
         
                @foreach (var item in Model)
                {
                    <tr style="font-size: 12px;">
                        <td>@item.EmployeeID</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.Worklocation</td>
                        <td>@item.site</td>
                        <td>@item.Grade</td>
                        <td>@item.ClientName</td>
                        <td>@item.BusinessGroup</td>
                        <td>@item.ProjectCode</td>
                        <td>@item.ProjectName</td>
                        <td>@item.BillingStatus</td>
                        <td>@(item.DOJ == null ? "" : item.DOJ.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                        <td>@(item.RelievingDate == null ? "" : item.RelievingDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                        <td>@item.ABillable</td>
                        <td>@item.ANBillable</td>
                        <td>@item.UABillable</td>
                        <td>@item.UANBillable</td>
                        <td>@item.TotalBillable</td>
                        <td>@item.TotalNonBillable</td>
                        <td>@item.TotalHours</td>
                        <td>@item.Utilization</td>
                        <td>@item.Aging</td>


                    </tr>
                }
            
          
        </tbody>
    </table>


</div>

