@model  IEnumerable<Trianz.Enterprise.Operations.ViewModel.FinanceUtilizationDetails>
@{
    var list1 = Model.Where(x => x.ttype == 0 || x.ttype == 1).ToList();
    var list2 = Model.Where(x => x.ttype == 0 || x.ttype == 2).ToList();
    var list3 = Model.Where(x => x.ttype == 0 || x.ttype == 3).ToList();
    var list4 = Model.Where(x => x.ttype == 0 || x.ttype == 4).ToList();
}
<div id="Utilreportdiv" class="col-md-12">
    <div class="col-md-12">
        <div class="col-md-6">
            <table id="UTReportparticularDate4" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
                <thead>

                    <tr style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">
                        <b>ParticularDate</b>
                        <th>BillingStatus</th>
                        <th>ItemsCount</th>

                    </tr>


                    @foreach (var item in list1)
            {

                        <tr>
                            <td>@item.BillingStatus</td>
                            <td>@item.ItemCount</td>
                        </tr>

                    }
                </thead>
            </table>
        </div>
        <div class="col-md-6">
            <table id="Excludingfreshersdetails" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
                <thead>
                    <tr style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">
                        <b>Excluding Freshers</b>
                        <th>BillingStatus</th>
                        <th>ItemsCount</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in list2)
            {
                        <tr>
                            <td>@item.BillingStatus</td>
                            <td>@item.ItemCount</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
  
    <div class="col-md-12">
        <div class="col-md-6">
            <table id="excludingfrshers&mngmntdetails" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
                <thead>
                    <tr style="background-color: #248cc8 !important; color: #fff; font-size: 12px;">
                        <b>Excluding Freshers and Management</b>
                        <th>BillingStatus</th>
                        <th>ItemsCount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in list3)
            {
                        <tr>
                            <td>@item.BillingStatus</td>
                            <td>@item.ItemCount</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-md-6">
            <table id="excludingmngmntdetails" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
                <thead>
                    <tr style="background-color: #248cc8 !important; color: #fff; font-size: 12px;">
                        <b>Excluding  Management</b>
                        <th>BillingStatus</th>
                        <th>ItemsCount</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in list4)
            {
                        <tr>
                            <td>@item.BillingStatus</td>
                            <td>@item.ItemCount</td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
