@model IEnumerable<Trianz.Enterprise.Operations.ViewModel.FinanceBenchDetails>
<div class="col-md-12" id="Benchreportdiv">
    <table id="BenchReport" class="table table-striped table-bordered table-responsive" cellspacing="0" style="margin: 0px; width: 100%;">
        <thead id="headerid">
            <tr id="head" style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">
                <th>EmployeeID</th>
                <th>EmployeeName</th>
                <th>Work Location</th>
                <th>Site</th>
                <th>Grade</th>
                <th>DOJ</th>
                <th>Relieving Date</th>
                <th>Client Name</th>
                <th>Business Group</th>
                <th>Project Code</th>
                <th>Project name</th>
                <th>Employee Type</th>
                <th>Roll on Date</th>
                <th>HC</th>
                <th>Aging</th>
                <th>Deployable</th>
                <th>CustomerName</th>
                <th>ExpectedBillingDate</th>
                <th>MappedDate</th>
            </tr>
        </thead>
        <tbody>

            @*@if (BenchReportGrid.TotalRowCount != 0)
                {*@
            @foreach (var item in Model)
            {
                <tr style="font-size: 12px;">
                    <td>@item.EmployeeID</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.Worklocation</td>
                    <td>@item.site</td>
                    <td>@item.Grade</td>
                    <td>@(item.DOJ == null ? "" : item.DOJ.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@(item.RelievingDate == null ? "" : item.RelievingDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@item.ClientName</td>
                    <td>@item.BusinessGroup</td>
                    <td>@item.ProjectCode</td>
                    <td>@item.ProjectName</td>
                    <td>@item.EmployeeType</td>
                    <td>@(item.StartDate==null?"":item.StartDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@item.HC</td>
                    <td>@item.Aging</td>
                    <td>@item.Deployable</td>
                    <td>@item.CustomerName</td>
                    <td>@(item.ExpectedBillingDate != null ? item.ExpectedBillingDate.Value.ToString("MM/dd/yyyy").Replace("-", "/") : "")</td>
                 
                    <td>@(item.MappedDate!=null? item.MappedDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"):"")</td>



                </tr>
            }
            @*}
                else
                {
                    <tr>
                        <td colspan="5">
                            <div class="text-center">No data available</div>
                        </td>
                    </tr>
                }*@


        </tbody>
    </table>


</div>



