@model IEnumerable<Trianz.Enterprise.Operations.ViewModel.FinanceRawDataDetails>
<div class="col-md-12" id="Rawdatareportdiv">
    <table id="RawdataReport" class="table table-striped table-bordered table-responsive" cellspacing="0" style="margin: 0px; width: 100%;">
        <thead id="headerid">
            <tr id="head" style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">
                <th>EmployeeID</th>
                <th>EmployeeName</th>
                <th>Grade</th>
                <th>EmployeeType</th>
                <th>LocationType</th>
                <th>Location</th>
                <th>ClientName</th>
                <th>Business Group</th>
                <th>ProjectCode</th>
                <th>ProjectName</th>
                <th>BillingType</th>
                <th>HC</th>
                <th>BillingStatus</th>
                <th>DOJ</th>
                <th>Relieving Date</th>
                <th>CostCenter</th>
                <th>ServiceLine</th>
                
                <th>BEorGTS</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>ProjectStartDate</th>
                <th>ProjectEndDate</th>
                <th>ProjectSL</th>
                <th>MappedDate</th>
                <th>ExpectedBillingDate</th>
                <th>ABillable</th>
                <th>ANBillable</th>
                <th>UABillable</th>
                <th>UANBillable</th>
                <th>TotalBillable</th>
                <th>TotalNonBillable</th>
                <th>TotalHours</th>
            </tr>
        </thead>
        <tbody>

            @*@if (BenchReportGrid.TotalRowCount != 0)
                {*@
            @foreach (var item in Model)
            {
                <tr style="font-size: 12px;">
                    <td>@item.EmployeeID</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.Grade</td>
                    <td>@item.EmployeeType</td>
                    <td>@item.LocationType</td>
                    <td>@item.Location</td>
                    <td>@item.ClientName</td>
                    <td>@item.BusinessGroup</td>
                    <td>@item.ProjectCode</td>
                    <td>@item.ProjectName</td>
                    <td>@item.BillingType</td>
                    <td>@item.HC</td>
                    <td>@item.BillingStatus</td>
                    <td>@(item.DOJ == null ? "" : item.DOJ.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@(item.RelievingDate == null ? "" : item.RelievingDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@item.CostCenter</td>
                    <td>@item.ServiceLine</td>
                    <td>@item.BEorGTS</td>
                    <td>@(item.StartDate == null ? "" : item.StartDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@(item.EndDate == null ? "" : item.EndDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@(item.ProjectStartDate == null ? "" : item.ProjectStartDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@(item.ProjectEndDate == null ? "" : item.ProjectEndDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@item.ProjectSL</td>
                    <td>@(item.MappedDate == null ? "" : item.MappedDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@(item.ExpectedBillingDate == null ? "" : item.ExpectedBillingDate.Value.ToString("MM/dd/yyyy").Replace("-", "/"))</td>
                    <td>@item.ABillable</td>
                    <td>@item.ANBillable</td>
                    <td>@item.UABillable</td>
                    <td>@item.UANBillable</td>
                    <td>@item.TotalBillable</td>
                    <td>@item.TotalNonBillable</td>
                    <td>@item.TotalHours</td>

                </tr>
            }
            @*}
                else
                {
                    <tr>
                        <td colspan="5">
                            <div class="text-center">No data available</div>
                        </td>
                    </tr>
                }*@


        </tbody>
    </table>


</div>




