@model IEnumerable<Trianz.Enterprise.Operations.Models.PRTCSKILLCLUSTER>

<link href="~/Content/Talento1.css" rel="stylesheet" />
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #a1 {
        position: relative;
        left: -33px;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .HRRF_custom table tr th {
        background-color: #D6DCE3 !important;
        color: black;
       
    }
    .table > tbody > tr > td {
        padding: 3px;
        font-size: 12px;
        color: rgb(0, 0, 0);
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #337ab7;
        margin: 1em 0;
        padding: 0;
    }

    body {
        overflow-x: hidden;
    }

    #tablePractice_filter {
        position: absolute;
        left: 941px;
        top: 6px;
    }
    .body-content {
        padding-left: 38px;
        padding-right: 13px;
        width: 97%;
        position: relative;
        left: -34px;
    }
    #txt {
        color: #2C2E31;
        font-size: 16px;
        margin-left: 11px;
        font: normal normal medium 20px/45px Poppins;
        margin-top: 12px;
    }
    #btnCreate {
        margin-top: 9px;
        left: -8px;
        background-color: #004BBB;
        position: relative;
    }
    #tablePractice_wrapper {
        background-color: #ffffff;
        position: relative;
        top: 44px;
    }
    #tablePractice_length {
        margin-left: -123px;
        margin-top: 21px;
    }
    .HRRF_custom .footer {
        height: 40px;
        background-color: #248cc8;
        color: #ffffff;
        position: relative;
        left: 0px;
        top: 39px;
    }
    #tablePractice_info {
        position: relative;
        left: 11px;
    }
   
   
</style>


<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>


<p id="txt"><b>CLUSTER MASTER</b></p>
<hr />
<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <button id="btnCreate" type="button" onclick="location.href='@Url.Action("Create New", "Create")'" class="btn btn-primary pull-left">Create New</button>
</p>
&nbsp;


<table id="tablePractice" class="table table-striped table-bordered" cellspacing="10" style="margin: 12px; width: 98%;">
    <thead>
        <tr id="theadcolour" style="color:black">
            <th style="display: none;">PRTCSKILLID</th>
            <th>Practice</th>
            <th>Skill Cluster</th>
            <th style="width:400px;">Cluster Skill</th>
            <th style="width:140px;">Skill Code</th>
            <th style="width:70px;"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display: none;">@item.PRTCSKILLID</td>
                <td>@item.PRACTICE</td>
                <td>@item.SKILLCLUSTER</td>
                <td>@item.CSKILLS</td>
                <td class="CustomerId"><span>@item.SKILLCODE </span></td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { SKILLCODE = item.SKILLCODE })
                    &nbsp;&nbsp;
                    <a class="Delete" href="javascript:;">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<script type="text/javascript">
    $(document).ready(function () {



        var table = $('#tablePractice').DataTable({
            "bFilter": true,
            "columnDefs": [
                { "width": "8%", "targets": 1 },
            ],
            "order": [
                [0, 'desc']
            ],
            "oLanguage": {
                "sSearch": "Search:"
            }
            //}).on('search.dt', function () {
            //    var value = $('.dataTables_filter input').val();
            //    eventFired(value);
        });

        $('#btnCreate').click(function () {
            location.href = '@Url.Action("Create/SkillCluster")';
            return false;
        })


         $("body").on("click", "#tablePractice .Delete", function () {

             if (confirm("Do you want to delete this row?")) {
                 var row = $(this).closest("tr");
                 var customerId = row.find(".CustomerId").find("span").html();
                 //var customerId = row.find("span").html();
                 var url = '@Url.Content("~/SkillCluster/Delete")';
                 $.ajax({
                     url: url,
                     type: 'GET',
                     cache: false,
                     data: { SKILLCODE: customerId },
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function (data) {

                         if (data == true) {
                             alert('Skill Cluster Deleted Successfully');
                             window.location.href = '@Url.Action("index", "SkillCluster")';
                         }
                         else {
                             alert("Skill Code used in TR creation");
                             window.location.href = '@Url.Action("index", "SkillCluster")';
                         }

                     },
                     error: function (thrownError) {

                         alert(thrownError);
                     }
                 });


             }
         });
    });
</script>

<script>
    $(document).ready(function () {
        //alert(1)
        $('#MenuCluster').addClass('active');
    });
</script>
