@model IEnumerable<Trianz.Enterprise.Operations.Models.HRRF>

@{var grid = new WebGrid(Model, canSort: true, canPage: true, rowsPerPage: 10, selectionFieldName: "SelectedRow");}
<style>
    .empid {
        width: 6%;
    }

    .Request {
        width: 8%;
    }

    .Location {
        width: 8%;
    }

    .Designation {
        width: 20%;
    }

    .Grade {
        width: 3%;
    }

    .edit {
        width: 1%;
    }

    .HRRF_custom #gridcontent {
        height: 100%;
    }
</style>

@{
    var days = new SelectList(new[]
                     {
                    //new SelectListItem { Text = "---Created Date---", Value = "---Created Date---" },
                    new SelectListItem { Text = "Last 7 Days", Value = "Last 7 Days" },
                    new SelectListItem { Text = "Last 14 Days", Value = "Last 14 Days"},
                    new SelectListItem { Text = "Last 21 Days", Value = "Last 21 Days" },


                }, "Value", "Text");
}

@*@if (TempData["Alert"] != null)
    {
        <p style="color:red">@TempData["Alert"]</p>
    }*@


<div class="subpage_header page-header nomargin-top">
    <div class="col-md-6 nopadding-left">
        <div class="clear-both space10"></div>
        <p>TR Report</p>
    </div>
    <div class="col-md-6 col-ms-12 nopadding-right">
        <div>

            @using (Html.BeginForm("Index", "TrReport", FormMethod.Get))
            {


                @*<div class="col-md-4 col-sm-12 nopadding-right pull-right">
                        @Html.TextBox("SearchEmployee", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Enter Employee Id" })
                    </div>*@

                <div class="col-md-4 col-sm-12 nopadding-right pull-right">
                    @Html.DropDownList("ddlCreateddate", days,
                    "             --Sort By--", new { @class = "form-control", onchange = "submit();" })
                </div>
            }
        </div>
    </div>

    <div class="clear-both space5"></div>
</div>

<div class="col-md-12 nopadding">
    <div id=" gridcontent" class="table table-responsive">
        @{var ShowHeader = true;
            if (Model.Count() == 0)
            {
                ShowHeader = false; <center><p>No Data Found</p></center> }
        }
        @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
            fillEmptyRows: false,
            //headerStyle: "table",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",
            displayHeader: ShowHeader,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            htmlAttributes: new { id = "DashboardGrid" },
            columns: grid.Columns(

            grid.Column("HRRFNumber", "TR#", style: "Grade", format:@<span id="HRRFNumber" title=@item.HRRFNumber>@item.HRRFNumber</span>),
                 
                grid.Column("JobDescription",
                        header: "Description",
                        format: @<text>
                            <span id="JobDescription" class="display-mode">@item.JobDescription</span>

                        </text>),
                  grid.Column("ProjectName",
                        header: "Project code",
                        format: @<text>
                            <span id="ProjectName" class="display-mode">@item.ProjectName</span>
                            <span id="ProjectCode" class="display-mode">@item.ProjectCode</span>

                        </text>),
               
                grid.Column("Practice",
                        header: "Practice",
                        format: @<text>
                            <span id="Practice" class="display-mode">@item.Practice</span>

                        </text>),
                 grid.Column("LocationName",
                        header: "Location",
                        format: @<text>
                            <span id="LocationName" class="display-mode">@item.LocationName</span>

                        </text>),

                grid.Column("HRRFSubmitedDate",
                        header: "Submited Date",
                        format: @<text>
                            <span id="HRRFSubmitedDate" class="display-mode">@(@item.HRRFSubmitedDate == null ? String.Empty : @item.HRRFSubmitedDate.ToString("MM/dd/yyyy"))</span>

                        </text>),
                grid.Column("RequestStatus",
                        header: "Status",
                        format: @<text>
                            <span id="RequestStatus" class="display-mode">@item.RequestStatus</span>

                        </text>)
                
                
               
                


                             ))
    </div>
</div>
<div class="col-md-6 col-sm-12 pull-right text-right nopadding-right">
    <div class="col-md-3 col-sm-12 nopadding-right pull-right">
        @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH"))
        {
            <button type="button" id="btnExport" name="btnExport" href="#" onclick="location.href='@Url.Action("GetExcel", "TrReport")'" title="exporttoexcel" class="btn btn-default btn-sm btn-excel">
                <i class="glyphicon glyphicon-export"></i>
                Export To Excel
            </button>
        }
    </div>
    <div class="col-md-3 col-sm-12 nopadding-right pull-right">
        @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH"))
        {
            <button type="button" id="btnExport" name="btnExport" href="#" onclick="location.href='@Url.Action("GetExternal", "TrReport")'" title="exporttoexcel" class="btn btn-default btn-sm btn-excel">
                <i class="glyphicon glyphicon-export"></i>
                External Report
            </button>
        }
    </div>
</div>

<script>
    $('.ui-icon-closethick').on('click', function () {

        var tr = $(this).parents('tr:first');
        tr.find('#ddlCreateddate option:selected').text('---Status---');
        Reset();

    })
</script>




