@model Trianz.Enterprise.Operations.Models.ValidationModel

@{
    ViewBag.Title = "_PartialExternalAssociates";

    var ExternalResourcesGrid = new WebGrid(Model.ExternalFulfullmentHireDetails, canSort: true, canPage: true, rowsPerPage: 10, selectionFieldName: "selectedRow");


    //var myExternalRequest = new List<SelectListItem>{
    //                                            new SelectListItem { Text = "My Request", Value="MyRequest"},
    //                                            new SelectListItem { Text = "ALL TRs", Value="ALL", Selected = true },
    //                                            new SelectListItem { Text = "Open TRs", Value="Open" },
    //                                        };

}
@*<style type="text/css">
    body {
        background: #000 url(bg.jpg) top left no-repeat;
    }
</style>*@
<style>
    #a1 {
        position: relative;
        left: -33px;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
    }
    .HRRF_custom table tr th {
        background-color: #D6DCE3 !important;
        color: black;
    }
    .HRRF_custom table.p-resources thead tr a, table.dataTable.nowrap th, table.dataTable.nowrap th a {
        color: black;
    }
    #txt {
        color: #2C2E31;
        font-size: 16px;
        margin-top: -3px;
    }
    .HRRF_custom table.p-resources td {
        font-size: 12px;
        color: rgb(0, 0, 0);
    }
    .body-content {
        margin: 32px;
        width: 92%;
        background-color: #ffffff;
        position: relative;
        top: 20px;

    }
    #DashboardGrid {
        margin: 8px;
        position: relative;
        margin-top: 0px;
    }
    .HRRF_custom .page-header {
        margin: 15px 0px;
        padding-bottom: 0px;
        background-color: #F3F4F9;
    }
    .btn-primary {
        color: #fff;
        background-color: #004BBB;
        border-color: #2e6da4;
    }
    .table {
        width: 99%;
        max-width: 100%;
        margin-bottom: 20px;
    }
   
</style>

<script type="text/javascript">
    function GetDOJ_EmpId(empid) {
        debugger
        var EmpID1 = empid.value;
        if (EmpID1 != null && EmpID1 != '') {

            $.ajax({
                async: false,
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetEmployeeDateofJoin", "ExternalReport"))",
                data: { EmployeeID: EmpID1 },
                success: function (result) {
                    debugger;
                    if (result.EmployeeID > 0) {
                        var dateString = result.DOJ.substr(6);
                        var currentTime = new Date(parseInt(dateString));
                        var month = currentTime.getMonth() + 1;
                        var day = currentTime.getDate();
                        var year = currentTime.getFullYear();
                        var date = month + "/" + day + "/" + year;
                        $(empid).closest("td").parent().find(".doj-date").val(date);
                    }
                    else {
                        $(empid).closest("td").parent().find(".doj-date").val("");
                        empid.value = "";
                        bootbox.alert(result.Message);
                    }
                },

            })
        }
        else {
            $(empid).closest("td").parent().find(".doj-date").val("");
            empid.value = "";
            bootbox.alert("Enter EmployeeID");

        }
    }
    function CancellationRemarksChange(current, value) {
        if (value == "Duplicate")
            $(current).parent(".divCancellation").find(".clsDuplicateHrrf").show();
        else
            $(current).parent(".divCancellation").find(".clsDuplicateHrrf").css("display", "none");
    }

    $(document).ready(function () {
        debugger

        HidebusyContent()
        //$('#divLoader').modal('hide');
        $(".ddlRequestStatus").on("change", function () {
            debugger
            var chkValue = $(this).val();
            if (chkValue == "Fulfilled") {
                $(this).closest("td").parent().find(".EmpId").attr("disabled", false);
                $(this).closest("td").parent().find(".doj-date").attr("disabled", true);
            } else {
                $(this).closest("td").parent().find(".EmpId").attr("disabled", true);
                $(this).closest("td").parent().find(".doj-date").attr("disabled", false);
                $(this).closest("td").parent().find(".doj-date").val("");
                $(this).closest("td").parent().find(".EmpId").val("");
            }
            if (chkValue == "Cancelled") {
                $(this).closest("td").parent().find(".doc-date").attr("disabled", false);
                $(this).closest("td").parent().find(".txtCancellationReason").attr("disabled", false);
            } else {
                $(this).closest("td").parent().find(".doc-date").attr("disabled", true);
                $(this).closest("td").parent().find(".txtCancellationReason").attr("disabled", true);
                $(this).closest("td").parent().find(".doc-date").val("");
                $(this).closest("td").parent().find(".txtCancellationReason").val("");
            }
        });
    });

</script>


@using (Html.BeginForm("Index", "ExternalReport", FormMethod.Get, new { @class = "form-horizontal" , Style= "background: #F3F4F9;" }))
{
    <div class="container row" style="margin-top: -6px;background: #F3F4F9;">
        <div class="col-md-6 nopadding" style="padding-top: 6px;">
            <p class="bold pull-left sub-headtext" id="txt" style="margin-left: 14px;margin-top: 17px;">TR STATUS UPDATE(S)</p>
        </div>
        <div>
            <div class="col-md-6 nopadding text-right" style="top: 21px;position: relative;left: -31px;">
                <div class="col-md-3">
                    @Html.DropDownList("ddlExternalPractise", new SelectList((System.Collections.IEnumerable)ViewData["ServiceLine"], "LookupName", "LookupName"),
                   "Practice", new { @class = "form-control", onchange = "submit();", @style = "font-size: 13px;margin-left: 32px;width: 167px; " })
                </div>
                <div class="col-md-3">
                    @*@Html.DropDownList("ddlMyExternalRequest", myExternalRequest, new { @class = "form-control", onchange = "submit();", @style = "font-size: 12px;" })*@
                    @Html.DropDownList("ddlExternalRequestStatus", new SelectList((System.Collections.IEnumerable)ViewData["_ddlRequestStatus"]),
                    "Status", new { @class = "form-control", @onchange = "submit();", @style = "font-size: 12px;margin-left: 63px;width: 178px; " })
                </div>
                @Html.TextBox("SearchExternalTR", ViewBag.SearchFilter as string, new { @class = "form-control", @placeholder = "Enter TR", @style = "width: 150px;position: relative; right: -120px; " })
                @*<input class="btn btn-primary" type="submit" value="Search" style="margin-top: -55px;margin-right: -67px;" />*@
                <div class="col-md-2 col-sm-12 nopadding-right pull-right" id="search" style="position: relative;top: -34px;left: 45px;">
                    <button class="btn btn-primary" style="width:50px;"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
    </div>
}
<div class="clear-both space10"></div>
@*<img id="divLoader" src="~/Content/images/loading.gif"  class="se-pre-con" />*@
@*<div id="divLoader" class="col-md-2"></div>
    <i id="divLoader" class="fa fa-spin fa-3x" ></i>*@
@*<img id="divLoader" src="~/Content/images/loading.gif" class="se-pre-con" />*@
 
@*<div id="divLoader"> <script>bootbox.alert('<img src="~/Content/images/loading.gif" class="se-pre-con" />');</script> </div>*@
<!-- Modal -->
@*<div class="modal fade" id="divLoader" role="dialog">
    <div class="modal-dialog modal-sm">

         Modal content
        <div class="modal-content">

            <div class="modal-body">
                <img src="~/Content/images/loading.gif" />
                <p>Testing ////////</p>
            </div>

        </div>

    </div>
</div>*@

<div class="col-md-12 nopadding">
    <div id="gdExternalHire" class="table table-responsive">
        @if (Model.ExternalFulfullmentHireDetails == null)
        {
            <center><p>No Data Found</p></center>
        }
        else
        {
            var ShowHeader = true;
            if (Model.ExternalFulfullmentHireDetails.Count() == 0)
            {
                ShowHeader = false;<center><p>No Data Found</p></center>}

            @ExternalResourcesGrid.GetHtml(
         tableStyle: "table table-bordered table-striped p-resources",
         fillEmptyRows: false,
         //headerStyle: "header",
         alternatingRowStyle: "alt",
         selectedRowStyle: "select",
         displayHeader: ShowHeader,
         mode: WebGridPagerModes.All,
         firstText: "<< First",
         previousText: "< Prev",
         nextText: "Next >",
         lastText: "Last >>",
         htmlAttributes: new { id = "DashboardGrid" },
         columns: ExternalResourcesGrid.Columns
         (
             ExternalResourcesGrid.Column("", format:@<text>
                    @if (item.RequestStatus.ToLower() != "fulfilled" && item.RequestStatus.ToLower() != "cancelled")
                             {
                        @:<a><span class="ui-icon ui-icon-pencil" id="@item.ExternalHireId"></span></a>
                             }
                    <a><span class="ui-icon ui-icon-circle-check" id="@item.ExternalHireId"></span></a>
                    <a><span class="ui-icon ui-icon-closethick" id="@item.ExternalHireId"></span></a>
                    <label id="lblExternalHireId" style="display:none;">@item.ExternalHireId</label>
            </text>),
      ExternalResourcesGrid.Column("TR#",
                          //header: "TR#",
                          format: @<text>
                                        <span id="idHrrfNumber">@item.HrrfNumber</span> @*class="display-mode"*@
                        </text>),
ExternalResourcesGrid.Column("RecruiterName",
                  header: "Recruiter Name",
                  format: @<text>
                                @*@if (item.RecruiterName.Trim() == string.Empty)
                                {

                                    @Html.DropDownList("ddlRecruiterName", new SelectList((System.Collections.IEnumerable)ViewData["_RecruiterName"], "Value", "Text"),
                                  new { @class = "edit-mode ddlRecruiterName" })
                                }
                                else
                                {
                                    @Html.DropDownList("ddlRecruiterName", new SelectList((System.Collections.IEnumerable)ViewData["_RecruiterName"], "Value", "Text"),
                                     new { @class = "edit-mode ddlRecruiterName", @disabled = "disabled" })
                                }*@

                                @Html.DropDownList("ddlRecruiterName", new SelectList((System.Collections.IEnumerable)ViewData["_RecruiterName"], "Value", "Text"),
                                     new { @class = "edit-mode ddlRecruiterName", @disabled = "disabled" })

                                @if (Session["EmployeeId"].ToString() == "106919" || Session["EmployeeId"].ToString() == "106911" || Session["EmployeeId"].ToString() == "103773" ||
                                Session["EmployeeId"].ToString() == "105009" || Session["EmployeeId"].ToString() == "107300" || Session["EmployeeId"].ToString() == "106919"
                                || Session["EmployeeId"].ToString() == "103773" || Session["EmployeeId"].ToString() == "104296"
                                || Session["EmployeeId"].ToString() == "106910" || Session["EmployeeId"].ToString() == "107098" || Session["EmployeeId"].ToString() == "107341")
                                {
                                    <script>
                                        $('.ddlRecruiterName').removeAttr('disabled');
                                    </script>
                                         }

                                <input type="hidden" id="RecruiterName" value="@item.RecruiterId" />
                                <span id="RecruiterName" class="display-mode">@item.RecruiterName</span>

                </text>),
ExternalResourcesGrid.Column("Name",
         header: "Resource Name",
         format: @<text>
                        <span id="Name" class="display-mode">@item.Name</span>
                        <input type="text" class="edit-mode" id="txtName" size="10" value="@item.Name" />
        </text>),
ExternalResourcesGrid.Column("EmployeeId",
         header: "Employee Id",
         format: @<text>
                        <span id="EmpId" class="display-mode">@item.EmployeeId</span>
                        <input type="text" class="edit-mode EmpId" id="txtEmpId" size="10" value="@item.EmployeeId" onchange="GetDOJ_EmpId(this);" disabled />
        </text>),
ExternalResourcesGrid.Column("RequestStatus",
 header: "Request Status",
 format: @<text>
                <input type="hidden" id="hfRequestStatus" value="@item.RequestStatus" />
                <span id="RequestStatus" class="display-mode">@item.RequestStatus</span>
                @Html.DropDownList("ddlRequestStatus", new SelectList((System.Collections.IEnumerable)ViewData["_ddlRequestStatus"]), new { @class = "edit-mode ddlRequestStatus" })
    </text>),
ExternalResourcesGrid.Column("FulfilmentRemarks",
header: "Remarks",
format: @<text>
            <span id="Practice" class="display-mode">@item.FulfilmentRemarks</span>
            @*<input type="text" class="edit-mode" id="txtfulfilRemarks" size="10" value="@item.FulfilmentRemarks" />*@
            <textarea rows="4" cols="75" class="edit-mode" id="txtfulfilRemarks">
                                                @item.FulfilmentRemarks
                                            </textarea>
    </text>),
ExternalResourcesGrid.Column("DOJ",
header: "Date of Join",
format: @<text>

            <span id="Doj" class="display-mode">@(@item.DOJ == null ? string.Empty : @item.DOJ.ToString("dd/MMM/yyyy"))</span>
            <input type="text" class="edit-mode date-picker doj-date" id="dateofjoining" style="width:100px;" value="@(@item.DOJ == null ? String.Empty : @item.DOJ.ToString("dd/MM/yyyy"))" disabled />

    </text>),
    @*ExternalResourcesGrid.Column("FulfilmentDate",
                            header: "FulfilmentDate",
                            format: @<text>
    <span id="FulfilmentDateid" class="display-mode"></span>
    <input type="text" class="edit-mode date-picker fulfil-date" style="width:100px;" value="@(@item.FulfilmentDate == null ? String.Empty : @item.FulfilmentDate.ToString("MM/dd/yyyy"))" />
                            </text>),*@
ExternalResourcesGrid.Column("FulfilmentDate",
header: "Expected Fulfilment Date",
format: @<text>
            <span id="ExpectedFulfilmentDateid" class="display-mode">@(@item.FulfilmentDate == null ? string.Empty : @item.FulfilmentDate.ToString("dd/MMM/yyyy"))</span>
            @if (@item.FulfilmentDate != null)
                     {
                <input type="text" class="edit-mode date-picker Expectedfulfil-date" style="width:100px;" value="@item.FulfilmentDate.ToString("dd/MMM/yyyy")" @*disabled*@ />
                     }
                     else
                     {
                <input type="text" class="edit-mode date-picker Expectedfulfil-date" style="width:100px;" value="" />
                     }
    </text>),
ExternalResourcesGrid.Column("DOC",
header: "Cancel Date",
format: @<text>
            <span id="Doc" class="display-mode">@(@item.CancelDate == null ? string.Empty : @item.CancelDate.ToString("dd/MMM/yyyy"))</span>
            <input type="text" class="edit-mode date-picker doc-date" style="width:100px;" value="@(@item.CancelDate == null ? String.Empty : @item.CancelDate.ToString("dd/MMM/yyyy"))" disabled />
    </text>),
  ExternalResourcesGrid.Column("CancellationReason",
header: "Cancel Reasons",
format: @<text>
            <div class="divCancellation candiv">
                @Html.DropDownList("txtCancellationReason", new SelectList((System.Collections.IEnumerable)ViewData["_Cancelreason"]), "Select an option",
                                                    new { @class = "edit-mode txtCancellationReason", @onchange = "CancellationRemarksChange(this,this.value)", @disabled = "disabled" })

                <input type="hidden" id="CancellationReason" value="@item.CancellationReason" />
                <span id="CancellationReason" class="display-mode">@item.CancellationReason</span>

                <div class="row clsDuplicateHrrf" style="margin-top:5px;display:none;">
                    <div cclass="col-md-3 col-sm-12">
                        <label class="col-sm-4" style="width:99%">TRNo<span style="color: red;">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="txtDuplicateHrrfNumber" name="duplicatehrrf" />
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>


            @*<input type="text" class="edit-mode" id="txtCancellationReason" size="10" value="@(@item.CancellationReason == null ? String.Empty : @item.CancellationReason.ToString())" />*@
            @*<textarea rows="4" cols="75" class="edit-mode" id="txtCancellationReason">*@
            @*@(item.CancellationReason == null ? "".Trim() : item.CancellationReason.ToString().Trim())*@
            @*</textarea>*@
    </text>)
))
        }
    </div>
</div>
<script>
    // Wait for window load
    
    $(window).load(function () {
        // Animate loader off screen
       
        //$("body").css("opacity", "0.2");
        $(".se-pre-con").fadeOut("slow");
        
            
    });

    $(document).ready(function () {
        //alert(1)
        $('.externalactive').addClass('active');
    });
    </script>