@model Trianz.Enterprise.Operations.Models.ValidationModel
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />

@{

    var grid = new WebGrid(Model.HRRFDet, canSort: true, canPage: true, rowsPerPage: 10, selectionFieldName: "SelectedRow");}


<link href="~/Content/Talento1.css" rel="stylesheet" />

@{
    var ddlRequestStatus = new SelectList(new[]
    {
new SelectListItem { Text ="Awaiting Screening",Value="Awaiting Screening"},
new SelectListItem { Text ="Cancelled",Value="Cancelled"},
new SelectListItem { Text ="Client Interview Pending",Value="Client Interview Pending"},
new SelectListItem { Text ="First Level Pending",Value="First Level Pending"},
new SelectListItem { Text ="Feedback Pending",Value="Feedback Pending"},
new SelectListItem { Text ="Fulfilled",Value="Fulfilled"},
new SelectListItem { Text ="Hold",Value="Hold"},
new SelectListItem { Text ="HR Interview Pending",Value="HR Interview Pending"},
new SelectListItem { Text ="Offer to Go",Value="Offer to Go"},
new SelectListItem { Text ="Resume Pending",Value="Resume Pending"},
new SelectListItem { Text ="Second Level Pending",Value="Resume Pending"},
new SelectListItem { Text ="Yet to Join",Value="Yet to Join"},


}, "Value", "Text");


}

@{
    //var Cancelreason = new SelectList(new[]
    //{
    //      new SelectListItem { Text ="Dropped By Client",Value="Dropped By Client"},
    //      new SelectListItem { Text ="Duplicate",Value="Duplicate"},
    //      new SelectListItem { Text ="Lost Business",Value="Lost Business"},
    //       new SelectListItem { Text ="Dropped by Delivery",Value="Dropped by Delivery"},
    //      new SelectListItem { Text ="Retention",Value="Retention"},

    //}, "Value", "Text");

}
<div class="subpage_header page-header nomargin-top">
    <p id="txt" style="margin-left: 17px;">EXTERNAL FULFILLMENT DETAILS</p>
    <div class="clear-both space5"></div>
</div>

<style>
    #a1 {
        position: relative;
        left: -33px;
    }
    .table > thead > tr > th {
        white-space: nowrap
    }

    body {
        overflow-x: hidden;
    }
    a {
        color: black;
        text-decoration: none;
    }
</style>
@using (Html.BeginForm("Index", "ExternalReport", FormMethod.Get, new { @class = "form-horizontal" }))
{
<div class="container row" style="margin-top:5px">
    <div class="col-md-6 nopadding">
        @*@{
                List<string> lstEmpIDs = System.Configuration.ConfigurationManager.AppSettings["CreateTR-RL"].Split(',').ToList();

                bool IsValid = lstEmpIDs.Where(e => Session["EmployeeId"].ToString().Contains(e)).Any();
                if (IsValid)
                {
                  @:<button id="btnCreate" type="button" onclick="location.href='@Url.Action("HRRFCreation", "CreateHRRF")'" class="btn btn-primary pull-left" style="margin-right: 10px;">Create TR</button>
                }
            }*@
        @*<button type="button" id="btnExport" name="btnExport" href="#" onclick="location.href='@Url.Action("GetExternalExcel", "ExternalReport", new { flag = "External"})'" title="Export to Excel" class="btn btn-primary">*@
        @*<button type="button" id="btnExport" name="btnExport" title="Export to Excel" class="btn btn-primary">
                <i class="glyphicon glyphicon-export"></i>
                Export To Excel
            </button>*@
        @*<div>
                <button id="btnExport" type="button" style="border: none;background-color: white;"> <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: -6px;" alt="xlmsimg"></button>
            </div>*@

        <div>
            <button id="btnExport" type="button" style="position: relative; background-color: white; border: white; float: right; color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 25px;    bottom: 63px;
    left: 577px;">
                <img src="~/Content/images/Report_icon.svg" /> Export <span class="caret"></span>
                @*<img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: 11px;left: 17px;position:relative;" alt="xlmsimg">*@
            </button>
        </div>
    </div>
    <div class="col-md-6 nopadding text-right" style="    position: relative;
    top: 12px;    left: -35px;">
        <div class="col-md-3">
            @Html.DropDownList("ddlPractise", new SelectList((System.Collections.IEnumerable)ViewData["ServiceLine"], "LookupName", "LookupName"),
                      "Practice", new { @class = "form-control", onchange = "submit();", @style = "font-size: 13px;margin-left: 32px;width: 167px; " })
        </div>
        <div class="col-md-3">
            @*@Html.DropDownList("ddlMyRequest", myRequest, new { @class = "form-control", onchange = "submit();", @style = "font-size: 12px;" })*@
            @Html.DropDownList("ddlHRRFRequestStatus", ddlRequestStatus,
            "Status", new { @class = "form-control", @onchange = "submit();", @style = "font-size: 12px;margin-left: 63px;width: 178px; " })
        </div>




        @Html.TextBox("SearchTR", ViewBag.SearchFilter as string, new { @class = "form-control", @placeholder = "Enter TR", @style = "width: 150px;position: relative; right: -120px; " })
        @*<input class="btn btn-primary" type="submit" value="Search" style="margin-top: -55px; margin-right: -59px;" />*@
        <button class="btn btn-primary" style="width: 50px;
    position: relative;
    bottom: 34px;
    left: 43px;">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>



    @*neww*@

    <div class="col-md-9 col-ms-12 nopadding-right" style="position: relative;top: 23px;">

        <div>
           

            @using (Html.BeginForm("Index", "ExternalReport", FormMethod.Get, new { @class = "form-inline pull-right" }))
            {

            
                @*<button class="btn btn-primary" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>*@

              

            }
       

            
            </div>
    </div>

    <div class="clear-both space5" style="height:5px;"></div>


</div>
}
<div class="clear-both space10"></div>
<div class="col-md-12 nopadding">
    <div class="table table-responsive">
        @{var ShowHeader = true;
            var flag = false;
            if (Model.HRRFDet.Count() == 0)
            {
                ShowHeader = false; <center><p>No Data Found</p></center> }
        }


        @grid.GetHtml(
                        tableStyle: "table table-bordered table-striped p-resources",
                        fillEmptyRows: false,
                        //headerStyle: "table",
                        alternatingRowStyle: "alt",
                        selectedRowStyle: "select",
                        displayHeader: ShowHeader,
                        mode: WebGridPagerModes.All,
                        firstText: "<< First",
                        previousText: "< Prev",
                        nextText: "Next >",
                        lastText: "Last >>",
                        htmlAttributes: new { id = "DashboardGrid" },
                        columns: grid.Columns
                            (

                                grid.Column(columnName: "TR#", format: @<text>

                                        @*@for (int i = 0; i < Model.ExternalhiredetailsRemarks.Count; i++)
                                            {
                                                if (Model.ExternalhiredetailsRemarks[i].HRRFNumber == item.HrrfNumber)
                                                {
                                                    flag = true;
                                                    break;
                                                }
                                            }*@
                                        @if (item.chkflag == false)
                                                 {
                                            @Html.ActionLink((string)item.HrrfNumber,
                                                    "ProposeAssociate",
                                                    "ProposeAssociate",
                                                    new { id = @item.HRRFNumber, hrrfno = @item.HRRFNumber, @flag = false }, new { @class = "viewDialog" })
                                                 }
                                                 else
                                                 {
                                            @*<span>@item.HRRFNumber</span>*@
                                            @Html.ActionLink((string)item.HrrfNumber,
                                                    "ProposeAssociate",
                                                    "ProposeAssociate",
                                                    new { id = @item.HRRFNumber, hrrfno = @item.HRRFNumber, @flag = true }, new { @class = "viewDialog" })
                                                     flag = false;
                                                 }


                                </text>),

                                        @*grid.Column(columnName: "TR#", format: @<text>@Html.ActionLink((string)item.HrrfNumber,
                                            "ProposeAssociate", "ProposeAssociate", new { id = @item.HRRFNumber, hrrfno = @item.HRRFNumber },
                                            new { @class = "viewDialog" }) </text>),*@
                                        grid.Column("ProjectName", "Project/Opportunity/Proactive Hire/Corporate Function"),
                                        grid.Column("Practice", "Practice"),
                                        grid.Column("LocationName", "Location"),
                                        grid.Column("RequestStatus", "Status")
                                    )
                             )
    </div>

</div>
<br /><hr />
<div class="col-md-12 nopadding text-left">
    <div id="gridExternalHire">
        @Html.Partial("_PartialExternalHireView")
    </div>
</div>
<div class="clear-both"></div>

<script type="text/javascript">

    $(function () {
        debugger;

        $(document).ready(function () {
            if ($('#ddlHRRFRequestStatus option[value=Fulfilled]').length > 0) {
                $('#ddlHRRFRequestStatus option[value=Fulfilled]').prop('disabled', true);
            }
        });


        //$(".ddlRequestStatus").on('change', function () {
        //    if ($('#ddlHRRFRequestStatus option[value=Fulfilled]').length > 0) {
        //        $('#dateofjoining').prop('disabled', true);
        //    }
        //});

        $('.edit-mode').hide();
        $('.ui-icon-circle-check').hide();
        $('.ui-icon-closethick').hide();

        $('.ui-icon-pencil').on('click', function () {
            debugger

            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
            tr.find('.ui-icon-pencil').hide();
            tr.find('.ui-icon-circle-check').show();
            tr.find('.ui-icon-closethick').show();

            var nowDate = new Date();
            var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);

            tr.find('.edit-mode').closest('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                startDate: today,
                showButtonPanel: true,
                dateFormat: 'mm/dd/yy',
                showStatus: true,
                showWeeks: true,
                highlightWeek: true,
                numberOfMonths: 1,
                showAnim: "scale",
                showOptions: {
                    origin: ["top", "left"]
                }
            }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            });


            if (tr.find('#RequestStatus').length > 0) {
                tr.find('.ddlRequestStatus').val(tr.find('#RequestStatus')[0].innerText);

                if (tr.find('.ddlRequestStatus').val() == "Fulfilled")
                    tr.find("#dateofjoining").attr("disabled", true);
                else
                    tr.find("#dateofjoining").attr("disabled", false);

            }

            //if (tr.find('#RecruiterName').length > 0) {
            //    tr.find('.ddlRecruiterName').val(tr.find('#RecruiterName')[0].value);
            //}

            //Bind Active RL based on location type.
            var hrrfNum = tr.find('#idHrrfNumber').text();

            $.ajax({
                url: '@Url.Action("GetActiveRLsBasedonLocation", "ExternalReport")',
                data: { HRRFNumber: hrrfNum },
                type: 'GET',
                datatype: 'JSON',
                success: function (data) {
                    // debugger

                    if (data != null && data != "Sessionexpired" && data!="Error") {
                            tr.find('.ddlRecruiterName').html('');
                            var htmlOptions = '';
                            htmlOptions += "<option value=''>Select Recruiter Name</option>"
                            for (var i = 0; i < data.length; i++) {
                            if (tr.find('#RecruiterName')[0].value == data[i].Value) {
                            htmlOptions += "<option value='" + data[i].Value + "' selected=true>" + data[i].Text + "</option>"
                        }
                else {
                    htmlOptions += "<option value='" + data[i].Value + "'>" + data[i].Text + "</option>"
                    }
                    }
               tr.find('.ddlRecruiterName').html(htmlOptions);
//$('.ddlRecruiterName').html(htmlOptions);
}
                      else if (data== "Sessionexpired") {
                      window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }

                   else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }

                },
                error: function (e) {
                    debugger;
                }
            });

            //$('.ddlRequestStatus').val($('#hfRequestStatus').val());
        });

       $('#btnExport').click(function () {
debugger;
//$(this).hide();
//$("#btnProcessing").show();
//debugger
// var Skillcategory = ($('#ddlSkillCategoryList').length > 0) ? $('#ddlSkillCategoryList').val() : "";


$.ajax({
url: "@Url.Action("ExportReport", "Competency")",
//data: { Skills: Skillcategory },
type: "POST",
datatype: "JSON",
cache: false,
success: function (response) {
if (response == "success") {
window.location = "@Url.Action("GetExternalExcel", "ExternalReport")" ;
// $("#btnExport").show();
//setTimeout(function () {

// //$("#btnProcessing").hide();
//}, 10000);
}
else if (response == "Sessionexpired") {
window.location.href = '@Url.Action("SessionExpire", "Signout")';
}
},
error: function (error) {
alert(error.statusText);
}
});
});





        $('.ui-icon-circle-check').on('click', function () {
            // debugger
            HidebusyContent()
            //$('#divLoader').modal('hide');

            var tr = $(this).parents('tr:first');
            var externalhireId = tr.find("#lblExternalHireId").text();
            var recruitername = tr.find(".ddlRecruiterName option:selected").val();
            var name = tr.find('#txtName').val();
            var empid = tr.find('#txtEmpId').val();
            var requeststatus = tr.find(".ddlRequestStatus option:selected").val(); //$('#hfRequestStatus').val();
            var fulfilremarks = tr.find('#txtfulfilRemarks').val();
            var doj = tr.find('.date-picker').closest('.doj-date').val();
            //   var FulfilmentDate = tr.find('.date-picker').closest('.fulfil-date').val();
            var ExpectedFulfilmentDate = tr.find('.date-picker').closest('.Expectedfulfil-date').val();
            var cancelDate = tr.find('.date-picker').closest('.doc-date').val();
            var cancelremarks = tr.find('#txtCancellationReason').val();
            var dupHrrfNum = $.trim(tr.find('.txtDuplicateHrrfNumber').val());






            if (requeststatus == "Fulfilled") {

                if (fulfilremarks.trim().length == 0 && doj.length == 0 && empid.length == 0 && ExpectedFulfilmentDate.length == 0) {
                    bootbox.alert('Please select EmployeeId, Remarks, ExpectedFulfilmentDate and DateofJoin fields');
                }
                else if (ExpectedFulfilmentDate.length == 0) {
                    bootbox.alert('Please select ExpectedFulfilmentDate field');
                }
                else if (doj.length == 0) {
                    bootbox.alert('Please select DateofJoin field');
                }
                else if (empid.length == 0) {
                    bootbox.alert('Please select EmployeeId field');
                }
                else if (fulfilremarks.trim().length == 0) {
                    bootbox.alert('Please select Remarks field');
                }

                else {
                    debugger
                    $.ajax({
                        type: "POST",
                        data: { ResourceName: name, RecruiterName: recruitername, EmployeeId: empid, RequestStatus: requeststatus, ExternalHireID: externalhireId, FulfilmentRemarks: fulfilremarks, Doj: doj, FulfilmentDate: ExpectedFulfilmentDate, CancelReason: cancelremarks, dtCancel: cancelDate, DuplicateHRRFNo: dupHrrfNum },
                        url: '@Url.Action("UpdateExternalHire", "ExternalReport")',

                        beforeSend: function () {
                            busyContent();

                        },
                        success: function (result) {
                            HidebusyContent()
                            // $('#divLoader').modal('hide');
                            debugger;
                            if (result == "Success") {

                                bootbox.alert('Updated successfully!!', function () {
                                    HidebusyContent()
                                    //$('#divLoader').modal('hide');
                                    window.location.href = '@Url.Action("Index", "ExternalReport")';
                                });

                            }
                            else if (result == "Sessionexpired") {
                                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                                else if (result == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }

                            else {
                                HidebusyContent()
                                //$('#divLoader').modal('hide');
                                bootbox.alert(result);
                            }
                        },
                        failure: function (data) {
                            HidebusyContent()
                            //$('#divLoader').modal('hide');
                            alert(data);
                        }
                    });
                }
                HidebusyContent()
                //$('#divLoader').modal('hide');
                return false;
            }

            else if (requeststatus == "Cancelled") {
                if (cancelDate.length == 0 && cancelremarks.trim().length == 0)
                    bootbox.alert('Please select CancelDate and CancelRemark fields');
                else if (cancelDate.length == 0) {
                    bootbox.alert('Please select CancelDate field');
                }
                else if (cancelremarks.trim().length == 0) {
                    bootbox.alert('Please select CancelRemark field');
                }
                else if (cancelremarks.trim() == "Duplicate") {
                    if (dupHrrfNum == "") {
                        bootbox.alert('Please enter hrrf number');
                    }

                    else {
                        var currentHrrfControll = tr.find('.txtDuplicateHrrfNumber');
                        debugger
                        $.ajax({
                            url: '@Url.Action("ValidateHRRFNo", "ExternalReport")',
                            data: { duplicatehrrfno: dupHrrfNum },
                            type: "POST",
                            beforeSend: function () {
                                busyContent();
                            },
                            success: function (result) {
                                HidebusyContent()
                                //$('#divLoader').modal('hide');
                                if (result == "false") {
                                    HidebusyContent()
                                    //$('#divLoader').modal('hide');
                                    bootbox.alert("Please enter correct  hrrf no");
                                    $(currentHrrfControll).val('');
                                }
                                else {
                                    debugger
                                    $.ajax({
                                        type: "POST",
                                        data: { ResourceName: name, RecruiterName: recruitername, EmployeeId: empid, RequestStatus: requeststatus, ExternalHireID: externalhireId, FulfilmentRemarks: fulfilremarks, Doj: doj, FulfilmentDate: ExpectedFulfilmentDate, CancelReason: cancelremarks, dtCancel: cancelDate, DuplicateHRRFNo: dupHrrfNum },
                                        url: '@Url.Action("UpdateExternalHire", "ExternalReport")',
                                        beforeSend: function () {
                                            busyContent();
                                        },
                                        success: function (result) {
                                            HidebusyContent()
                                            //$('#divLoader').modal('hide');
                                            debugger;
                                            if (result == "Success") {

                                                bootbox.alert('Updated successfully!!', function () {
                                                    HidebusyContent()
                                                    // $('#divLoader').modal('hide');
                                                    window.location.href = '@Url.Action("Index", "ExternalReport")';
                                                });

                                            }
                                            else {
                                                HidebusyContent()
                                                //$('#divLoader').modal('hide');
                                                bootbox.alert(result);
                                            }
                                        },
                                        failure: function (data) {
                                            HidebusyContent()
                                            //$('#divLoader').modal('hide');
                                            alert(data);
                                        }
                                    });

                                }

                            }

                        });

                    }

                }
                else {
                    debugger
                    $.ajax({
                        type: "POST",
                        data: { ResourceName: name, RecruiterName: recruitername, EmployeeId: empid, RequestStatus: requeststatus, ExternalHireID: externalhireId, FulfilmentRemarks: fulfilremarks, Doj: doj, FulfilmentDate: ExpectedFulfilmentDate, CancelReason: cancelremarks, dtCancel: cancelDate, DuplicateHRRFNo: dupHrrfNum },
                        url: '@Url.Action("UpdateExternalHire", "ExternalReport")',
                        beforeSend: function () {
                            busyContent();
                        },
                        success: function (result) {
                            debugger;
                            HidebusyContent()
                            //$('#divLoader').modal('hide');
                            if (result == "Success") {

                                bootbox.alert('Updated successfully!!', function () {
                                    HidebusyContent()
                                    //$('#divLoader').modal('hide');
                                    window.location.href = '@Url.Action("Index", "ExternalReport")';
                                });

                            }
                            else {
                                HidebusyContent()
                                //$('#divLoader').modal('hide');
                                bootbox.alert(result);
                            }
                        },
                        failure: function (data) {
                            HidebusyContent()
                            //$('#divLoader').modal('hide');
                            alert(data);
                        }
                    });
                }

                return false;
            }
            else if (requeststatus == "Yet to Join") {
                if (doj.length == 0 && ExpectedFulfilmentDate.length == 0) {
                    bootbox.alert('Please select DateofJoin and ExpectedFulfilmentDate fields');
                }
                else if (doj.length == 0) {
                    bootbox.alert('Please select DateofJoin field');
                }
                else if (ExpectedFulfilmentDate.length == 0) {
                    bootbox.alert('Please select ExpectedFulfilmentDate field');
                }
                else {
                    debugger
                    $.ajax({
                        type: "POST",
                        data: { ResourceName: name, RecruiterName: recruitername, EmployeeId: empid, RequestStatus: requeststatus, ExternalHireID: externalhireId, FulfilmentRemarks: fulfilremarks, Doj: doj, FulfilmentDate: ExpectedFulfilmentDate, CancelReason: cancelremarks, dtCancel: cancelDate, DuplicateHRRFNo: dupHrrfNum },
                        url: '@Url.Action("UpdateExternalHire", "ExternalReport")',
                        beforeSend: function () {
                            busyContent();
                        },
                        success: function (result) {
                            debugger;
                            HidebusyContent()
                            //$('#divLoader').modal('hide');
                            if (result == "Success") {

                                bootbox.alert('Updated successfully!!', function () {
                                    HidebusyContent()
                                    //$('#divLoader').modal('hide');
                                    window.location.href = '@Url.Action("Index", "ExternalReport")';
                                });

                            }
                            else {
                                HidebusyContent()
                                //$('#divLoader').modal('hide');
                                bootbox.alert(result);
                            }
                        },
                        failure: function (data) {
                            HidebusyContent()
                            //$('#divLoader').modal('hide');
                            alert(data);
                        }
                    });
                }

            }
            else {
                if (ExpectedFulfilmentDate.length == 0) {
                    bootbox.alert('Please select ExpectedFulfilmentDate field');
                }
                else {
                    debugger
                    $.ajax({
                        type: "POST",
                        data: { ResourceName: name, RecruiterName: recruitername, EmployeeId: empid, RequestStatus: requeststatus, ExternalHireID: externalhireId, FulfilmentRemarks: fulfilremarks, Doj: doj, FulfilmentDate: ExpectedFulfilmentDate, CancelReason: cancelremarks, dtCancel: cancelDate, DuplicateHRRFNo: dupHrrfNum },
                        url: '@Url.Action("UpdateExternalHire", "ExternalReport")',
                        beforeSend: function () {
                            busyContent();
                        },
                        success: function (result) {
                            debugger;
                            HidebusyContent()
                            //$('#divLoader').modal('hide');
                            if (result == "Success") {

                                bootbox.alert('Updated successfully!!', function () {
                                    HidebusyContent()
                                    //$('#divLoader').modal('hide');
                                    window.location.href = '@Url.Action("Index", "ExternalReport")';
                                });

                            }
                            else {
                                HidebusyContent()
                                //$('#divLoader').modal('hide');
                                bootbox.alert(result);
                            }
                        },
                        failure: function (data) {
                            HidebusyContent()
                            //$('#divLoader').modal('hide');
                            alert(data);
                        }
                    });
                }

            }
        });

        $('.ui-icon-closethick').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
            tr.find('.ui-icon-pencil').show();
            tr.find('.ui-icon-circle-check').hide();
            tr.find('.ui-icon-closethick').hide();

            if (tr.find('#Name').length > 0) {
                tr.find('#txtName').val(tr.find('#Name')[0].innerText);
            }
            //tr.find('#ddlRequestStatus').val('');

            if (tr.find('#Practice').length > 0) {
                tr.find('#txtfulfilRemarks').val(tr.find('#Practice')[0].innerText);
            }
            //tr.find('.date-picker').closest('.doj-date').val('');
            //tr.find('.date-picker').closest('.fulfil-date').val('');
            //tr.find('#txtCancellationReason').val('');
        });
    });

    $(document).ready(function () {
        //alert(1)
        $('.externalactive').addClass('active');
    });

</script>