@model IEnumerable<Trianz.Enterprise.Operations.Models.ProjectAssignment>

@{
    ViewBag.Title = "AssignmentByBusinessGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Talento1.css" rel="stylesheet" />
<h2>Assignment</h2>

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
<div>
    <b class="">
        <button type="button" class="btn btn-myprimary btn-sm" data-toggle="modal" data-target="#myModalAddAsssignment">Add</button>
    </b>
</div>
<div class="table-wrapper">
    <table id="tableProjectassignment" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
        <thead>
            <tr style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">
                <th>Action</th>
                <th>
                    Project Name
                </th>
                <th>
                    Project ID
                </th>
                <th>
                    Employee Id
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Utilization
                </th>
                <th>
                    Is Active
                </th>
                <th>
                    Assigned By
                </th>
                <th>
                    Assigned Date
                </th>
                <th>
                    Project Code
                </th>
                <th>
                    Billing Status
                </th>
                <th>
                    Category
                </th>
                <th>
                    Bench Status
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Remarks
                </th>
                <th>
                    Expected Billing Date
                </th>
                <th>
                    Mapped Date
                </th>
                <th>
                    HRRF Number
                </th>
                <th>
                    Action Reminder
                </th>
                <th>
                    Reserved Project Code
                </th>
                <th>
                    OPs Status
                </th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.IsActive == true)
                    {
                    <b class="">
                        <button type="button" class="btn btn-myprimary btn-sm" data-toggle="modal" data-target="#myModalAsssignment" onclick="ViewData(@item.Assignment_Id)">Update</button>
                    </b>      }              
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assigned_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assigned_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillingStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bechstatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpectedBillingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MappedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HRRFNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionReminder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservedProjectCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPsStatus)
                </td>

            </tr>
        }

    </table>
</div>



<div id="myModalAddAsssignment" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Project Assignment Details</h4>
            </div>
            <div class="modal-body" style="height:350px;">

                <table id="newAssignment" style="padding-left:10px;">
                    <thead class="mythead">
                    </thead>
                    <tbody id="">
                        <tr><td class='mythead'>Project ID</td> <td> <select class="form-control" id="idProject" onchange="return GetProjectNamebyCode();"></select></td></tr>
                        <tr><td class='mythead'>Project Name</td> <td>  <input type="text" id="idProjectName" disabled class="form-control" /></td></tr>
                        <tr><td class='mythead'>Employee ID</td> <td><input type="text" id="txtemployee" class="form-control" /></td></tr>
                        <tr><td class='mythead'>Start Date</td> <td><input type="text" id="txtstDate" class="form-control" /></td></tr>
                        <tr><td class='mythead'>End Date</td> <td><input type="text" id="txtendDate" class="form-control"></td></tr>
                        <tr><td class='mythead'>Utilisation</td><td><input type="text" id="txtutilization" class="form-control" /></td></tr>
                        <tr>
                            <td class='mythead'>IsActive</td>
                            <td>
                                <select class="form-control" id="ddlIsActiveNew">
                                    <option value="">Select Active or In Active</option>
                                    <option value="true">Active</option>
                                    <option value="false">InActive</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class='mythead'>Billing Status</td>
                            <td>
                                <select id="ddlBillingStatus" name="ddlBillingStatus" class="form-control">

                                    <option value="">Select Billing Status</option>

                                    <option value="Support">Support</option>

                                    <option value="Billed">Billed</option>

                                    <option value="Management">Management</option>

                                    <option value="Internal">Internal</option>

                                    <option value="BSA">BSA</option>

                                    <option value="Delivery">Delivery</option>

                                    <option value="Bench">Bench</option>

                                    <option value="Shadow">Shadow</option>

                                    <option value="Business Operations">Business Operations</option>
                                </select>
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-myprimary" id="btnAddAssignment" data-relid="" data-dismiss="">Add</button>
                <button type="button" class="btn btn-myprimary" data-dismiss="modal">Close</button>
                <input type="text" hidden id="txtRelID">
            </div>
        </div>

    </div>
</div>

<div id="myModalAsssignment" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Project Assignment Details</h4>
            </div>
            <div class="modal-body" style="height:250px;">
                <input type="text" id="textAssignmentId" value="" class="formcontrol" hidden>
                <table id="AssignmentDetails" style="padding-left:10px;">
                    <thead class="mythead">
                    </thead>
                    <tbody id="ViewDataTbody"></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-myprimary" id="btnUpdateAssignment" data-dismiss="">Update</button>
                <button type="button" class="btn btn-myprimary" data-dismiss="modal">Close</button>

            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var eventFired = function (value) {

        }


        $('#tableProjectassignment').dataTable({ "sPaginationType": "full_numbers" });
        $('#tableProjectassignment').DataTable();

        $("#txtemployee").autocomplete({
            appendTo: $("#myModalAddAsssignment").find(".modal-body"),
            source: function (request, response) {

                var Projects = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("AutoPopulateEmployeeId", "ProjectAssignment"))",
                    data: { "term": request.term },
                    success: function (data) {

                       if (data == true && data != null && data != "Sessionexpired") {
                        for (var i = 0; i < data.length; i++) {
                            Projects[i] = { label: data[i].Key, Id: data[i].Value };
                        }
                        }
                            else if (data == "Sessionexpired") {
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                    }
                });
                response(Projects);
            },
            select: function (event, ui) {

                //fill selected customer details on form
                //hdnemployeeid = ui.item.Id;
            }
        });
    });


    function ViewData(Id) {
        $.ajax({
            url: '@Url.Action("GetAssignmentByAssignmentId", "ProjectAssignment")',
            type: 'GET',
            cache: false,
            datatype: JSON,
            contentType: 'application/json; charset=utf-8',
            data: { assignmentId: Id },
            success: function (result) {
                debugger;
                if (result != null) {
                    $("#EmployeeDetails").hide();

                    debugger;
                    var StartDate = new Date(parseInt(result.StartDate.substr(6)));

                    var stDate = (("0" + StartDate.getDate()).slice(-2)) + '-' + ("0" + (StartDate.getMonth() + 1)).slice(-2) + '-' + StartDate.getFullYear();

                    var EndDate = new Date(parseInt(result.EndDate.substr(6)));

                    var endDate = (("0" + EndDate.getDate()).slice(-2)) + '-' + ("0" + (EndDate.getMonth() + 1)).slice(-2) + '-' + EndDate.getFullYear();
                    var tbody = '';

                    $("#textAssignmentId").attr("value",result.AssignmentID);

                    $('#ViewDataTbody').empty();
                      tbody += "<tr><td class='mythead'>ProjectCode</td><td id='textProjectCode'>" + result.ProjectCode + "</td><td></tr >";
                    tbody += "<tr><td class='mythead'>EmployeeId</td><td id='textemp'>" + result.EmployeeId + "</td><td></tr>";
                    tbody += "<tr><td class='mythead'>EmployeeName</td><td>" + result.EmployeeName + "</td><td></tr>";
                    tbody += "<tr><td class='mythead'>Start Date</td><td>" + stDate + "</td><td>" + '<input type="text" name="textbox' + '" id="textstDate' + '" value=""'+' class="form-control" >' + "</td></tr>";
                    tbody += "<tr><td class='mythead'>End Date </td><td>" + endDate + "</td><td>" + '<input type="text" name="textbox' + '" id="textEndDate' + '" value=""' + ' class="form-control" >' + "</td></tr>";
                    tbody += "<tr><td class='mythead'>IsActive</td><td id='idisActive'>" + result.IsActive + '</td><td>' + '<select id="ddlIsActive"' + ' name="ddlIsActive"' + 'class="form-control">' +

                        '<option value="">Select Option</option>' +
                        '<option value="true">true</option>' +
                        '<option value="false">false</option>' +

                        '</select>' +
                        '</td></tr>'
                    tbody += "<tr><td class='mythead'>Utilization</td><td id='textexistingUti'>" + result.Utilization + "</td><td>" + '<input type="text"  onchange="return ValidateUtilization()" name="textbox' + '" id="textutilization' + "" + '" value=""' + ' class="form-control" ' + 'class="form-control" >' + "</td></tr>";


                    tbody += "<tr><td class='mythead'>Billing Status</td><td id='idBillingStatus'>" + result.BillingStatus + '</td><td>' + '<select id="ddlBillingStatusupdate"' +'name="ddlIsActive"'  +'class="form-control">' +

                        '<option value="">Select Billing Status</option>' +
                        '<option value="Support">Support</option>' +
                        '<option value="Billed">Billed</option>' +
                        '<option value="Management">Management</option>' +
                        '<option value="Internal">Internal</option>' +
                        '<option value="BSA">BSA</option>' +
                        '<option value="Delivery">Delivery</option>' +
                        '<option value="Bench">Bench</option>' +
                        '<option value="Shadow">Shadow</option>' +
                        '<option value="Business Operations">Business Operations</option>' +

                        '</select>' +
                        '</td></tr>'
                }
                else if (result == "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                $("#ViewDataTbody").show();
                $('#ViewDataTbody').append(tbody);
                $('#ViewDataTbody tbody td').css("border", "1px solid #eee");





                $("#textstDate").datepicker({

                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    format: 'dd-mm-yyyy',
                    autoclose: true,
                    showStatus: true,
                    showWeeks: true,
                    highlightWeek: true,
                    numberOfMonths: 1,
                    buttonImage: "calendar-icon.jpg",
                    showAnim: "scale",
                    showOptions: {
                        origin: ["top", "left"]
                    }
                }).on('changeDate', function () {
                    $('#textEndDate').datepicker('setStartDate', new Date($(this).val()));
                });

                $("#textEndDate").datepicker({

                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    format: 'dd-mm-yyyy',
                    showStatus: true,
                    autoclose: true,
                    showWeeks: true,
                    highlightWeek: true,
                    numberOfMonths: 1,
                    buttonImage: "calendar-icon.jpg",
                    showAnim: "scale",
                    showOptions: {
                        origin: ["top", "left"]
                    }
                }).on('changeDate', function () {
                    // set the "fromDate" end to not be later than "toDate" starts:
                    $('#textstDate').datepicker('setEndDate', new Date($(this).val()));
                });


                $("#textutilization").keypress(function (e) {
                    //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        alert("please enter no only");
                        return false;
                    }
                });


            }
        }
        )
    }
$("#btnUpdateAssignment").click(function () {
        var assignmentId = $("#textAssignmentId").val();
        var stDate = $("#textstDate").val();
        var endDate = $("#textEndDate").val();
    var utilization = $("#textutilization").val();
         var isActve = $("#ddlIsActive").val();
    var billingStatus = $("#ddlBillingStatusupdate").val();
    debugger;

    if (stDate == "" || endDate == "" || utilization == "" || isActve == "") {
        alert("Please update all fileds");
        return false;
    }

        debugger;
        $.ajax({
            url: '@Url.Action("UpdateProjectAssignments", "ProjectAssignment")',
            cache: false,
            datatype: JSON,
            contentType: 'application/json; charset=utf-8',
            data: { assignmentId: assignmentId, stDate: stDate, endDate: endDate, utilization: utilization, isActive: isActve, billingStatus: billingStatus},
            success: function (result) {

                if (result == true) {
                    alert("data updated successfully ");
                    window.location.href = '@Url.Action("AssignmentByBusinessGroup", "ProjectAssignment")'
                }
                else if (result == "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                else {

                    alert("try again ");
                    return false;
                }

            }
        });
    });




    $("#txtstDate").datepicker({

        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        format: 'dd-mm-yyyy',
        showStatus: true,
        autoclose: true,
        showWeeks: true,
        highlightWeek: true,
        numberOfMonths: 1,
        buttonImage: "calendar-icon.jpg",
        showAnim: "scale",
        showOptions: {
            origin: ["top", "left"]
        }

    }).on('changeDate', function () {
        // set the "toDate" start to not be later than "fromDate" ends:
        $('#txtendDate').datepicker('setStartDate', new Date($(this).val()));
    });

    $("#txtendDate").datepicker({

        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        format: 'dd-mm-yyyy',
        showStatus: true,
        autoclose: true,
        showWeeks: true,
        highlightWeek: true,
        numberOfMonths: 1,
        buttonImage: "calendar-icon.jpg",
        showAnim: "scale",
        showOptions: {
            origin: ["top", "left"]
        },
        onSelect: function (selected) {
            var dt = new Date(selected);
            dt.setDate(dt.getDate() - 1);
            $("#txtstDate").datepicker("option", "maxDate", dt);
        }
    }).on('changeDate', function () {
        // set the "fromDate" end to not be later than "toDate" starts:
        $('#txtstDate').datepicker('setEndDate', new Date($(this).val()));
    });


    $("#txtutilization").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            alert("please enter no only");
            return false;
        }
    });


    $("#btnAddAssignment").click(function () {

        var projectcode = $("#idProject").val();
        var projectname = $("#idProjectName").val();
        var name = $("#txtemployee").val();
        var stDate = $("#txtstDate").val();
        var endDate = $("#txtendDate").val();
        var utilization = $("#txtutilization").val();
        var isActve = $("#ddlIsActiveNew").val();
        var billingStatus = $("#ddlBillingStatus option:selected").val();

        if (projectcode == "" || projectname == "" || name == "" || stDate == "" || endDate == "" || utilization == "" || isActve == "" || billingStatus == "") {
            alert("all flelds are compulsory");
            return false;
        }
        if (utilization > 100) {
            alert("utilization can not be more than 100");
            return false;
        }
        debugger;
        $.ajax({
            url: '@Url.Action("AddProjectAssignment", "ProjectAssignment")',
            cache: false,
            datatype: JSON,
            contentType: 'application/json; charset=utf-8',
            data: { projectcode: projectcode, projectname: projectname, name: name, stDate: stDate, endDate: endDate, utilization: utilization, isActive: isActve, billingStatus: billingStatus},
            success: function (result) {


              if (result == true) {
                    alert("data updated successfully ");
                    window.location.href = '@Url.Action("AssignmentByBusinessGroup", "ProjectAssignment")'
              }
                else if (result == "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }
                else {

                    alert("try again ");
                    return false;
                }}
        });
    });


</script>

<script type="text/javascript">
        $(document).ready(
        function () {
            $(window).load(function () {

                $.ajax({
                    //url: '/PerformanceManagement/ManageGoal/ShowData/',
                    url: '@Url.Action("GetProjectCode", "ProjectAssignment")',
                    cache: false,
                    type: "Get",
                    datatype: "JSON",
                    error: function (error) {
                        alert(JSON.stringify(error));
                    },
                    success: function (data) {
                       if (data==true && data != null && data != "Sessionexpired") {
                        var markup = "<option value='0'>--Select Project Code--</option>";
                        for (var i = 0; i < data.length; i++) {
                            markup += "<option value=" + data[i] + ">" + data[i] + "</option>";
                            }

                        $("#idProject").html(markup);
                       }
                        else if (data == "Sessionexpired") {
                            window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                    }
                });

            });
        });
    function GetProjectNamebyCode() {

        var projectcode = $("#idProject option:selected").val();

            $.ajax({
                // url: '/ManageKRAs/InsertData/',       // HomeController and InsertData method
                url: '@Url.Action("GetProjectNamebyCode", "ProjectAssignment")',
                data: JSON.stringify({ projectcode: projectcode }),
                type: 'POST',
                datatype: "JSON",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (data) {

                  if (data == true && data != null && data != "Sessionexpired") {
                    $('#idProjectName').empty();
                    $("#idProjectName").val(data);
                    }
                    else if (data == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }

                },
                error: function (result) {

                    alert(JSON.stringify(error));
                }
            });


    };



    $("#txtemployee").change(function () {
        var empName = $("#txtemployee").val().trim();
        debugger;

        if (empName != "") {
            $.ajax({
                // url: '/ManageKRAs/InsertData/',       // HomeController and InsertData method
                url: '@Url.Action("VerifyEmployee", "ProjectAssignment")',
                data: JSON.stringify({ name: empName }),
                type: 'POST',
                datatype: "JSON",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (data) {
                    if (data == false) {
                        alert("Please select appropriate employee from the list ");
                        $("#txtemployee").val("");
                        return false;
                    }
                    else if (data == "Sessionexpired") {
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }


                },
                error: function (result) {

                    alert(JSON.stringify(error));
                }
            });
        }


    });

    $("#txtutilization").change(function () {
        var empName = $("#txtemployee").val().trim();
        var utli = $("#txtutilization").val();
        debugger;

        if (empName != "" && utli!="") {
            $.ajax({
                // url: '/ManageKRAs/InsertData/',       // HomeController and InsertData method
                url: '@Url.Action("VerifyUtilization", "ProjectAssignment")',
                data: JSON.stringify({ name: empName, utli: utli}),
                type: 'POST',
                datatype: "JSON",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (data) {
                    debugger;
                    if (data != true) {
                        alert(data);
                        $("#txtutilization").val("");
                        return false;
                    }
                    else if (data == "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }

                },
                error: function (result) {

                    alert(JSON.stringify(error));
                }
            });
        }


    });


    @*$("#textutilization").change(function () {
        var empName = $("#textemployee").val().trim();
        var utli = $("#textutilization").val();
        debugger;

        if (empName != "" && utli!="") {
            $.ajax({
                // url: '/ManageKRAs/InsertData/',       // HomeController and InsertData method
                url: '@Url.Action("VerifyUtilization", "ProjectAssignment")',
                data: JSON.stringify({ name: empName, utli: utli}),
                type: 'POST',
                datatype: "JSON",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (data) {
                    debugger;
                    if (data != true) {
                        alert(data);
                        $("#textutilization").val("");
                        return false;
                    }

                },
                error: function (result) {

                    alert(JSON.stringify(error));
                }
            });
        }


    });*@



    $("#txtutilization").change(function () {
        var empName = $("#txtemp").html().trim();
        var utli = $("#txtutilization").val();
        debugger;

        if (empName != "" && utli!="") {
            $.ajax({
                // url: '/ManageKRAs/InsertData/',       // HomeController and InsertData method
                url: '@Url.Action("VerifyUtilization", "ProjectAssignment")',
                data: JSON.stringify({ name: empName, utli: utli}),
                type: 'POST',
                datatype: "JSON",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (data) {
                    debugger;
                    if (data != true) {
                        alert(data);
                        $("#txtutilization").val("");
                        return false;
                    }
                    else if (data == "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }

                },
                error: function (result) {

                    alert(JSON.stringify(error));
                }
            });
        }


    });
    function ValidateUtilization() {
        var projectCode = $("#textProjectCode").html();
        var existingUtilization = $("#textexistingUti").html();
        var empName = $("#textemp").html();
        var utli = $("#textutilization").val();
        var isActve = $("#ddlIsActive").val();

        debugger;
        if (isActve == "false" &&( (parseInt(existingUtilization) ==parseInt(utli))||( parseInt(existingUtilization) > parseInt(utli))))
        {

        }
       else {
            if (utli == 100 || existingUtilization < utli) {
                if (empName != "" && utli != "") {
                    $.ajax({
                        // url: '/ManageKRAs/InsertData/',       // HomeController and InsertData method
                        url: '@Url.Action("VerifyUtilizationByProjectCode", "ProjectAssignment")',
                        data: JSON.stringify({ name: empName, utli: utli, projectCode: projectCode }),
                        type: 'POST',
                        datatype: "JSON",
                        contentType: 'application/json; charset=utf-8',
                        cache: false,
                        success: function (data) {
                            debugger;
                            if (data != true) {
                                alert(data);
                                $("#textutilization").val("");
                                return false;
                            }
                            else if (data == "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                                }


                        },
                        error: function (result) {

                            alert(JSON.stringify(error));
                        }
                    });
                }

            }
            else {
                alert("please change the utilization");
                $("#textutilization").val("");
            }
        }
        }




    @*$(".clsDelete").on("click", function () {
        var assignmentId = $(this).attr("data-assignmentid");
        debugger;

        {
            $.ajax({
                url: '@Url.Action("DeleteData", "ProjectAssignment")',
     data: JSON.stringify({ nassignmentId: assignmentId}),
                type: 'POST',
                datatype: "JSON",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (data) {
                    debugger;
                    if (data == true) {
                        alert("data deleted successfully");

                    }
                    else if (data == false) {
                        alert("please try again after sometime");

                        return false;
                    }
                },
                error: function (result) {

                    alert(JSON.stringify(error));
                }
            });
        }

    })
        ;*@
</script>