@model Trianz.Enterprise.Operations.Models.ValidationModel
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />


@{
    ViewBag.Title = "Index";
}
<style>
    body {
        overflow-x: hidden;
    }

    .dataTables_length {
        margin-left: -389px;
    }

    .table > thead > tr > th {
        white-space: nowrap
    }

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 33px;
        user-select: none;
        width: 136px;
        /* -webkit-user-select: none; */
    }

    .select2-container .select2-selection--single {
        width: 178px;
    }

    .select2-selection select2-selection--single {
        margin-left: -321px;
        margin-top: -2px;
    }
</style>

<link href="~/Content/Talento5.css" rel="stylesheet" />
@{
    var assignmentStatus = new List<SelectListItem>
{
//      new SelectListItem { Text = "ITS Support", Value="ITS Support" },
//new SelectListItem { Text = "Billed", Value="Billed" },
// new SelectListItem { Text = "Assigned", Value="Assigned" },
new SelectListItem { Text = "Active", Value="Active", Selected=true},
new SelectListItem { Text = "Completed", Value="Completed" },
//new SelectListItem { Text = "Non-Billed", Value="Non-Billed" }
};
}


<div class="subpage_header page-header nomargin-top" id="txt">
    <p id="txt">PROJECT ASSIGNMENT</p>
</div>
@*<div>
    <button id="btnExportToExcel" type="button" style="border: none;background-color: white;"> <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px; height: 44px;display: inline-block;margin-left: 1073px;margin-top: -100px;" alt="xlmsimg"></button>
</div>*@
<div>
    <button id="btnExportToExcel" type="button" style="border: none;background-color: white;width: 10px;left: 1160px;position: relative;top: -46px;height: 14px;"> <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display: inline-block;margin-left: -24px;margin-top: -15px;" alt="xlmsimg"></button>
</div>
<script>
    document.getElementById('myId').innerText = "...";

</script>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
<div id="divbtun" class="row" style="margin-top: 30px;">


    @*@using (Html.BeginForm("Index", "ProjectAssignment", FormMethod.Get))
        {*@
    @*<div class="col-md-4 col-sm-12 nopadding-left pull-left">*@
    @*<input type="button" id="btncrea" value="Create Assignment" class="btn btn-primary" />*@
    @*</div>*@

    <div>
        @*<div class="col-md-3 col-sm-12 padding-right pull-right" style="width:190px;margin-left: -2px;margin-right:216px">
                @Html.DropDownList("dlpr", new SelectList((System.Collections.IEnumerable)ViewData["_Practice"], "Practice", "Practice"),
                             "--Select Practice--", new { @class = "form-control" })
            </div>*@
        <div class="col-md-3 col-sm-12 padding-right pull-right" style="margin-right: 21px;">
            <label style="margin-left: -329px;">Practice</label>
            @Html.DropDownList("dlpr", new SelectList((System.Collections.IEnumerable)ViewData["_Practice"], "Practice", "Practice"),
                   "Select Practice", new { @class = "form-control",@style= "margin-left: -333px;width: 172px" })
        </div>

        <div class="col-md-3 col-sm-12 nopadding-right" style="width:190px;margin-left: 382px">
            <label style="margin-left:3px">Project</label><br />
            @Html.DropDownList("ddlProject", new SelectList((System.Collections.IEnumerable)Session["_ProjectNames"], "ProjectCode", "ProjectName"),
                         "Select Project", new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-12 nopadding-right pull-right" style="margin-right:870px;width:178px;position:relative;top:-59px;">
            <span>
                <label style="margin-left:4px">Account</label>
                @Html.DropDownList("ddlaccunt", new SelectList((System.Collections.IEnumerable)ViewData["_Accounts"], "Accountname", "Accountname"),
                   "Select Account", new { @class = "form-control", @style= "width:177px" })
            </span>
        </div>
        <div class="col-md-3 col-sm-12 nopadding-right pull-right" style="width:190px;margin-right:1047px;margin-top:-118px">
            <label style="margin-left: 2px;">Billing Status</label>
            @Html.DropDownList("dlbls", new SelectList((System.Collections.IEnumerable)ViewData["_BillingStatus"], "Description", "Description"),
                         "Select Billing Status", new { @class = "form-control" })
        </div>
        @*<div class="col-md-3 col-sm-12 nopadding-right pull-right">
                @Html.DropDownList("ddlacuntname", new SelectList((System.Collections.IEnumerable)ViewData["_BillingStatus"], "Description", "Description"),
                             "--AccountName--", new { @class = "form-control" })
            </div>*@


    </div>
</div>
<div class="row" style="display:none">
    <div class="col-md-12" style="height:10px;">

    </div>
</div>
<div class="row" id="divbtun2">

    @{
        var assignmentStatusFor_Excel = new List<SelectListItem>
{
new SelectListItem { Text = "Select Active", Value="Active", Selected=true},
new SelectListItem { Text = "All Assignment", Value="All" },
new SelectListItem { Text = "Not Yet Started", Value="NotYet" },
};
    }
    <div class="col-md-3 col-sm-6 padding-left " style="margin-left: 35px;">
        <label style="margin-left: 724px;position: relative;top: -118px;">Active</label>
        @Html.DropDownList("Excel_assignmentStatus", assignmentStatusFor_Excel, new { @class = "form-control", Style = "width:150px;margin-top: -118px;margin-left: 721px;", @onchange = "javascript:Excel_Assign(this.value);" })
    </div>

    <div class="col-md-3 col-sm-6 padding-left pull-left" id="date1" style="visibility:hidden;margin-left: 579px;margin-top:-118px">
        <label class=" text-left" for="textinput" style="margin-left: -4px;">From Date</label>
        <div class='input-group date' id='datetimepicker1' style="width:121px;">
            <input type='text' name="FromDate" id="FromDate" class="form-control" style="width: 93px; margin-left: -4px;" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 padding-left pull-left" id="date2" style="visibility:hidden;margin-left: 1159px;margin-top:-118px">
        <label class=" text-left" for="textinput" style="margin-left: -95px;">To Date</label>
        <div class='input-group date' id='datetimepicker3' style="width:39px; ">
            <input type='text' name="ToDate" id="ToDate" class="form-control" style="margin-left: -93px;width: 93px;" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>


    </div>

    @*<div class="col-md-3 col-sm-6 padding-left pull-left" @*style="margin-top: -39px;"*>
            @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "RL"))
            {
                //:<button id="btnExportToExcel" type="button" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i> Export to Excel</button>
                //:<button id="btnProcessing" type="button" class="btn btn-primary pull-left" disabled><i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Downloading...</button>*
                <div>
                    <button id="btnExportToExcel" type="button" style="border: none;background-color: white;margin-left: 183px;position:relative"> <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 49px;display:inline-block;margin-top: -227px;margin-left:878px;position:relative" alt="xlmsimg"></button>
                </div>
            }

        </div>*@

    <div class="col-md-6 nopadding" style="display:none;">

    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-12 nopadding-left pull-left">

    </div>
    <div class="col-md-6 col-sm-12 nopadding-left pull-left">

        <img id="divLoader" src="@Url.Content("~/content/images/loading.gif")" style="display: none;"
             alt="Loading ..." width="50" />
    </div>
</div>
@*<br />
    <br />*@

<div id="divGridContent1" class="table table-responsive" style="margin-bottom: 0px;overflow-x:scroll">
    @Html.Partial("_ProjectAssignmentPartialView", Model)
</div>

<div id="dialog-view-Assignment">
    <form id="divupdateremarks" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div class="col-md-4" style="text-align:right;">
                    <label for="inputEmployeeCode" class="control-label" style="margin-right: 21px;">Employee Number</label>
                    <input class="form-control" style="width:300px;margin-left: 236px;" placeholder="Search Employee" type="text" id="txtemployee">
                    <input type="hidden" id="Assignmentid" />
                    <input type="hidden" id="txtemployee1" />
                </div>


                <div class="col-md-4" style="text-align:right;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 23px;">Employee Name</label>
                    <input class="form-control" type="text" style="width:300px;margin-left:252px" disabled id="lblempname" />
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-4" style="text-align:right;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 21px;">Employee EmailID</label>
                    <input class="form-control" style="width:300px;margin-left: 236px;" type="text" disabled id="lblempemail" />
                </div>

                <div class="col-md-4" style="text-align:right;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 74px;">Practice</label>
                    <input class="form-control" style="width:300px;margin-left: 252px;" type="text" disabled id="lblpracti" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4" style="text-align:right;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 2px;">Assignment Location </label>
                    <input class="form-control" type="text" style="width:300px;margin-left: 236px;" disabled id="lblassignlocation" />
                </div>
                <div class="col-md-4" style="text-align:right;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 43px;">Project Code </label>
                    <input class="form-control" style="width:300px;margin-left: 252px;" type="text" id="txtproject">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4" style="text-align:right;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 51px;">Project Name</label>
                    <input class="form-control" style="width:300px;margin-left: 238px;" type="text" disabled id="lblprojectname" />
                    <input type="text" style="display:none;" id="lblprojectid" />
                </div>
                <div class="col-md-4" style="text-align:right;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 23px;">Project Manager</label>
                    <input class="form-control" style="width:300px;margin-left: 251px;" type="text" disabled id="lblprojectmanname" />
                </div>
            </div>
            <div class="form-group" style="margin-left: 223px;">
                <div class="col-md-4" style="text-align:right;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 221px;">Billing Type</label>
                    <input class="form-control" type="text" disabled id="lblbillingType" style="width:300px" />
                </div>

                <div class="col-md-4" style="text-align:right;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 126px;">RollOnDate </label><span style="color:red;position: relative;left: -120px;">*</span>
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' name="Expectedstart" id="Expectedstart" class="form-control" style="width: 265px;margin-left: 94px;" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @*<label for="date-picker-2" class="add-on" style="margin-top:5px">
                            <span class="glyphicon glyphicon-th" id="startdate"></span>
                            <a href="#" id="btnStartDateclean" title="clean" onclick="Clean('#txtstartdate');"><span class='glyphicon glyphicon-remove' title="clean"></span></a>
                        </label>*@
                </div>
            </div>
            <div class=" row form-group">
                <div class="col-md-6">
                    <div class="col-md-6 pull-right" style="text-align:right;margin-right: 72px;">
                        <label for="inputdatemeet" class="control-label pull-left" style="margin-right: 23px;">RollOffDate</label><span style="color:red;position: relative;right: 179px;bottom: -8px;">*</span>
                        <div class='input-group date' id='datetimepickerend'>
                            <input type='text' name="ExpectedEnd" id="ExpectedEnd" class="form-control" style="width: 269px;" />
                            <span class="input-group-addon" @*style="position: relative;left: -52px;"*@>
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="col-md-4 pull-left" style="text-align:right;margin-left: -20px;">
                        <label for="inputdatemeet" class="control-label pull-right" style="margin-right:30px;">Billing Status </label>
                        @Html.DropDownList("ddlbillingStatus", new SelectList((System.Collections.IEnumerable)ViewData["_BillingStatus"], "Description", "Description"),
                       new { @class = "form-control", Style = "width:300px;margin-left:50px" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4" style="text-align:right;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 55px;">Utilization(%)</label>
                    <input type="text" id="lblutlizatn" class="form-control" style="width:100px;margin-left: 236px;" maxlength="3" onkeypress="return isNumericKey(event);"  readonly />
                </div>
                <div class="col-md-4" style="text-align:right;margin-left: -50px; margin-top: 18px;">
                    <label for="inputdatemeet" class="control-label" style="margin-right: 7px;">Is Active</label>
                    <input type="checkbox" id="chkactive" name="chkactive" checked="checked">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4" style="text-align:right;">

                </div>
                <div class="col-md-6" style="text-align:left;margin-left: 173px;">
                    <input type="button" id="btnsaveva" value="Save" class="btn btn-primary" />
                    <input type="button" id="btnclose" value="Close" class="btn btn-danger" />
                    <a onclick="EmployeeSubmit()" class="btn btn-primary">Employee Assignment</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div id="alertDialog">
    <p id="alertMessage">

    </p>
</div>
@* scripts *@
<script>
    if ($.trim($('#ddlaccunt').val()) == 0 && $.trim($('#ddlaccunt').val()) == 0) {
        msg = msg + "<li>Account Name</li>";
    }
    else if ($.trim($('#ddlaccunt').val()).length == 0) {
        msg = msg + "<li>Account Name</li>";
    }
</script>
<script type="text/javascript">
    nowDate = new Date();
    today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
    $(document).ready(function () {


        $('#ddlaccunt option').each(function () {
                $(this).attr('title', $(this).text());

            $("#ddlaccunt").select2();
        });
        $('#ddlProject option').each(function () {
            $(this).attr('title', $(this).text());

            $("#ddlProject").select2();
        });

        //$("#btnProcessing").hide();
        $('#btnExportToExcel').show();
        $('#dialog-view-Assignment').hide();
        $('#divGridContent1').show();
        $('#divbtun').show();
        $('#divbtun2').show();
        $('#datetimepicker1').datepicker({

            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
            //startDate: today
            //format: 'dd/mm/yyyy',
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        $('#datetimepicker3').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
            startDate: today
            //format: 'dd/mm/yyyy',
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });


        $('#datetimepicker2').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
           // startDate: today,
            //format: 'dd/mm/yyyy',
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });

        $('#datetimepickerend').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
            //startDate: today,
            //format: 'dd/mm/yyyy',
        }).on('changeDate', function (e) {

            $(this).datepicker('hide');
        });

        $("#dlpr").change(function () {

            $("#divLoader").show();
            GetSearchBasedData();
        });
        $("#ddlProject").change(function () {

            $("#divLoader").show();
            GetSearchBasedData();
        });
        $("#ddlaccunt").change(function () {

            $("#divLoader").show();
            GetProjects();
            GetSearchBasedData();
        });
        $("#dlbls").change(function () {
            $("#divLoader").show();
            GetSearchBasedData();
        });
        function GetProjects() {
            var url = '@Url.Content("~/ProjectAssignment/GetProjectSFilterAccount")';
            var ddlaccunt = $("#ddlaccunt").val();
            $('#ddlProject').html('');
            $('#ddlProject').append(('<option value="">Select Project</option>'));
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: { Account: ddlaccunt },
                success: function (data) {
                    if (data != null && data != "Sessionexpired") {
                        $.each(data, function (i, dt) {

                            $('#ddlProject').append($('<option></option>').val(dt.ProjectCode).html(dt.ProjectName));
                        });
                    }
                         else if  (data== "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                    else if  (data== "Error") {
                    window.location.href = '@Url.Action("Error", "Error")';
                }
                },
                error: function (thrownError) {
                    alert(thrownError);
                }
            });
        }







        function GetSearchBasedData() {

            var url = '@Url.Content("~/ProjectAssignment/GetAssignementinfobySearch")';
            var ddlproject = $("#ddlProject").val();
            var ddlprac = $("#dlpr").val();
            var ddlbilling = $("#dlbls").val();
            var ddlaccunt = $("#ddlaccunt").val();
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: { ProjectCode: ddlproject, Practise: ddlprac, BillingStatus: ddlbilling, Account: ddlaccunt },
                success: function (data) {
                    if (data != null && data != "Sessionexpired") {
                        $('#divGridContent1').html(data);
                        $("#divLoader").hide();


                        var rowCount = $('#tableassig tbody tr').length;
                        if (rowCount > 1) {
                            $("#btnExportToExcel").show();
                        }
                        else {
                            $("#btnExportToExcel").hide();
                        }
                    }
                          else if (data == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }

                },
                error: function (thrownError) {
                    alert(thrownError);
                }
            });
        }
        $("#txtemployee").autocomplete({
            source: function (request, response) {

                var Projects = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("Autocomplete", "ProjectAssignment"))",
                    data: { "term": request.term },
                    success: function (data) {

                        if (data != null && data != "Sessionexpired"){
                            for (var i = 0; i < data.length; i++) {
                                Projects[i] = { label: data[i].Key, Id: data[i].Value };
                            }
                        }

                        else if (data == "Sessionexpired") {
                            window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                        else if (data == "Error") {
                                window.location.href = '@Url.Action("Error", "Error")';
                            }
                }
                });
                response(Projects);
            },
            select: function (event, ui) {

                //fill selected customer details on form
                //hdnemployeeid = ui.item.Id;
            }
        });

        $("#txtemployee").blur(function () {
            if ($(this).val().length > 0) {
                FunGetEmployeeDetails($(this).val());
            }
        });
        function FunGetEmployeeDetails(Employeeid) {
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@(Url.Action("EmployeeInfo", "ProjectAssignment"))",
                data: { EmployeeID: Employeeid },
                success: function (data) {


                    if (data.length == 0) {
                        $("#lblempname").val('');
                        $("#lblempemail").val('');
                        $("#lblpracti").val('');
                        $("#lblassignlocation").val('');
                        // $('#ddlassignmentStatus').val('');
                        bootbox.alert("Please enter or select valid Employee Code, only then valid Employee details will be displayed.")
                    }
                      else if (data == "Sessionexpired") {
                            window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                         else if (data == "Error") {
                            window.location.href = '@Url.Action("Error", "Error")';
                    }

                    else {
                        $("#lblempname").val(data[0].EmployeeName);
                        $("#lblempemail").val(data[0].EmailID);
                        $("#lblpracti").val(data[0].Practice);
                        $("#lblassignlocation").val(data[0].Location);
                        //$('#ddlassignmentStatus').val(data[0].AssignmenStatus);
                    }
                }

            });
        }
        $("#txtproject").autocomplete({
            source: function (request, response) {

                var Projects = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("ProjectAutocomplete", "ProjectAssignment"))",
                    data: { "Project": request.term },
                    success: function (data) {

                        if (data != null && data != "Sessionexpired") {
                        for (var i = 0; i < data.length; i++) {
                            Projects[i] = { label: data[i].Key, Id: data[i].Value };
                        }
                        }

                       else if (data == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                         else if (data == "Error") {
                            window.location.href = '@Url.Action("Error", "Error")';
                        }

                    }
                });
                response(Projects);
            },
            select: function (event, ui) {

                //fill selected customer details on form
                // hdnemployeeid = ui.item.Id;
            }
        });

        $("#txtproject").blur(function () {

            if ($(this).val().length > 0) {
                FunGetProjectDetails($(this).val());
            }
        });
        function FunGetProjectDetails(ProjectCode) {

            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@(Url.Action("ProjectInfo", "ProjectAssignment"))",
                data: { ProjectCode: ProjectCode },
                success: function (data) {


                    if (data.length == 0) {
                        $("#lblprojectname").val('');
                        $("#lblprojectid").val('');
                        $("#lblprojectmanname").val('');
                        $("#lblbillingType").val('');
                        bootbox.alert("Please enter or select valid Project Code.")
                    }
                       else if (data == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                         else if (data == "Error") {
                            window.location.href = '@Url.Action("Error", "Error")';
                        }

                    else {
                        $("#lblprojectname").val(data[0].ProjectName);
                        $("#lblprojectid").val(data[0].projectID);
                        $("#lblprojectmanname").val(data[0].ProjectManage);
                        $("#lblbillingType").val(data[0].BillingType);
                    }

                }

            });
        }

        $('#btnclose').click(function () {

            Clenavalues();
            GetSearchBasedData();
        });
        $('#btnsaveva').click(function () {

            var assignmentid = $('#Assignmentid').val();

            var chk = CheckupdateValidations();
            if (chk == true) {
                //alert($('#chkactive'));

                if (assignmentid != null && assignmentid != "") {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        data: {
                            EmployeeId: $('#txtemployee').val(), ProjectName: $('#lblprojectname').val(), ProjectID: $("#lblprojectid").val(),
                            ProjectCode: $('#txtproject').val()
                            , StartDate: $('#Expectedstart').val(), EndDate: $('#ExpectedEnd').val(),
                            AssignmentStatus: '', BillingStatus: $('#ddlbillingStatus').val(), Utilization: $('#lblutlizatn').val(),
                            Projectmanger: $('#lblprojectmanname').val(), AssignmentID: assignmentid, Status: $('#chkactive').prop('checked')
                        },
                        url: '@Url.Action("UpdateProjectAssignment", "ProjectAssignment")',
                        success: function (data) {

                            if (data == "true") {
                                Clenavalues();
                                alert('Assignment Updated Successfully!!');
                                GetSearchBasedData();
                                @*window.location.href = '@Url.Action("Index", "ProjectAssignment")' + "?ddlProject=" + $('#ddlProject').val();*@
                            }
                                    else if (data == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }
                                 else if (data == "Error") {
                            window.location.href = '@Url.Action("Error", "Error")';
                        }
                            else {
                                alert(data);
                            }
                        },
                        error: function (request, status, errorThrown) {
                            alert(errorThrown);
                            alert('Please Check detailss');
                        }

                    });
                }
                else {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        data: {
                            EmployeeId: $('#txtemployee').val(), ProjectName: $('#lblprojectname').val(), ProjectID: $("#lblprojectid").val(),
                            ProjectCode: $('#txtproject').val()
                            , StartDate: $('#Expectedstart').val(), EndDate: $('#ExpectedEnd').val(),
                            AssignmentStatus: '', BillingStatus: $('#ddlbillingStatus').val(), Utilization: $('#lblutlizatn').val(),
                            Projectmanger: $('#lblprojectmanname').val(), Status: $('#chkactive').prop('checked')
                        },
                        url: '@Url.Action("SaveProjectAssignment", "ProjectAssignment")',
                        success: function (data) {

                            if (data == "true") {
                                Clenavalues();
                                alert('Assignment Created Successfully!!');
                                GetSearchBasedData();
                                @*window.location.href = '@Url.Action("Index", "ProjectAssignment")' + "?ddlProject=" + $('#ddlProject').val();*@

                            }
                               else if (data == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }
                                 else if (data == "Error") {
                            window.location.href = '@Url.Action("Error", "Error")';
                        }
                            else {
                                alert(data);
                            }

                        },
                        error: function (request, status, errorThrown) {
                            alert('Please Check details');
                        }

                    });
                }
            }
        });
        $('#btncrea').click(function (e) {

            var project = $('#ddlProject').val();
            if (project != null && project != '') {
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("ProjectInfo", "ProjectAssignment"))",
                    data: { ProjectCode: project },
                    success: function (data) {


                        if (data.length == 0) {
                            $("#txtproject").val('');
                            // $("#txtproject").attr("disabled", "");
                            $("#lblprojectname").val('');
                            $("#lblprojectid").val('')
                            $("#lblprojectmanname").val('');
                            $("#lblbillingType").val('');
                            bootbox.alert("Please enter or select valid Project Code.")
                        }
                        else if (data == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }
                        else {
                            $("#txtproject").val(data[0].ProjectCode + '-' + data[0].ProjectName);
                            $("#txtproject").attr("disabled", true);
                            $("#lblprojectname").val(data[0].ProjectName);
                            $("#lblprojectid").val(data[0].projectID)
                            $("#lblprojectmanname").val(data[0].ProjectManage);
                            $("#lblbillingType").val(data[0].BillingType);
                        }
                    }

                });


            }
            else {
                $("#txtproject").val('');
                // $("#txtproject").attr("disabled", "");
                $("#lblprojectname").val('');
                $("#lblprojectid").val('');
                $("#lblprojectmanname").val('');
                $("#lblbillingType").val('');
            }
            $('#dialog-view-Assignment').show();
            $('#divGridContent1').hide();
            $('#divbtun').hide();
            $('#divbtun2').hide();
            $('#head').val('Create Assignment');
            $("#txtemployee").val('');
            //$("#txtemployee").attr("disabled", "");
            // $("#ddlassignmentStatus").val('');
            $("#ddlbillingStatus").val('');

            $("#lblempname").val('');
            $("#lblempemail").val('');
            $("#lblpracti").val('');
            $("#lblassignlocation").val('');

            $("#Expectedstart").val('');
            $("#ExpectedEnd").val('');
            $("#lblutlizatn").val('');
            $('#Assignmentid').val('');
            $('#txtemployee1').val('');
            $('#chkactive').prop("checked", "checked");
        });

        $('#btnExportToExcel').click(function () {
            debugger;
            //$(this).hide();
            //$("#btnProcessing").show();

            var practice = ($('#dlpr').length > 0) ? $('#dlpr').val() : "";
            var Project = ($('#ddlProject').length > 0) ? $('#ddlProject').val() : "";
            var BillingStatus = ($('#dlbls').length > 0) ? $('#dlbls').val() : "";
            var Accountna = ($('#ddlaccunt').length > 0) ? $('#ddlaccunt').val() : "";
            var assignment_all = $('#Excel_assignmentStatus').val();
            var fromDate = $('#FromDate').val();
            var toDate = $('#ToDate').val();
            //if ($('#Excel_assignmentStatus').val() == "All Assignment") {
            //    if (fromDate != null || toDate.length != 0) {
            //        if (fromDate.length != 0 && toDate.length == 0) {
            //            bootbox.alert("Please select ToDate");
            //        }
            //        if (fromDate.length == 0 && toDate.length != 0) {
            //            bootbox.alert("Please select FromDate");
            //        }

            //    }
            //}
            //else {
            $.ajax({
                url: "@Url.Action("ExportReport", "ProjectAssignment")",
                data: { strPractice: practice, strProject: Project, strBillingStatus: BillingStatus, strAccount: Accountna, Assignment_All: assignment_all, From_Date: fromDate, To_Date: toDate },
                type: "POST",
                datatype: "JSON",
                cache: false,
                success: function (response) {
                    if (response == "success") {
                        window.location = "@Url.Action("GenerateProjectReport", "ProjectAssignment")" + "?strPractice=" + practice + "&&strProject=" + Project + "&&strBillingStatus=" + BillingStatus + "&&strAccount=" + Accountna + "&&Assignment_All=" + assignment_all + "&&From_Date=" + fromDate + "&&To_Date=" + toDate;

                        setTimeout(function () {
                            $("#btnExportToExcel").show();
                            $("#btnProcessing").hide();
                        }, 10000);
                    }

         else if  (response == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }


                    else if (response == "Error") {
                            window.location.href = '@Url.Action("Error", "Error")';
                        }

                },
                error: function (error) {
                    alert(error.statusText);
                }
            });
            //}
        });





    });
    function parseDate(str) {
        var mdy = str.split('/');
        return new Date(mdy[2], mdy[1] - 1, mdy[0]);
    }

    function daydiff(start, end) {
        return Math.round((end - start) / (1000 * 60 * 60 * 24));
    }
    var DaysDiff = 0;
    $(document).on("click", ".btn-link", function (e) {

        var tr = $(this).parents('tr:first');
        var Assid = tr.find("#Assignmentid").text();
        var EmployeeID = tr.find("#EmployeeID").text();
        var name = tr.find("#lblemplname").text();
        var projectName = tr.find("#lblprojectnamegr").text();
        var prjectID = tr.find("#lblprjectid").text();
        var ProjectCode = tr.find("#projectName").text();
        var startDate = tr.find('#StartDate').text();
        var endDate = tr.find('#EndDate').text();
        var assiby = tr.find('#lblassby').text();
        var utli = tr.find('#lblut').text();
        var Assstatu = tr.find('#AssignmentStatus').text();
        var isactive = tr.find('#lblisactive').text();
        var Practice = tr.find('#lblprac').text();
        var BillingStatus = tr.find('#bilngsta').text();
        var BillingType = tr.find('#Name').text();

        DaysDiff = daydiff(parseDate(new Date(startDate).toLocaleDateString("en-GB")), parseDate(new Date(endDate).toLocaleDateString("en-GB")));

        $('#btnExportToExcel').hide()
        $('#dialog-view-Assignment').show();
        $('#divGridContent1').hide();
        $('#divbtun').hide();
        $('#divbtun2').hide();
        $('#head').val('Update Assignment');
        $('#Assignmentid').val(Assid);
        $("#txtemployee").val(EmployeeID + '-' + name);
        $("#txtemployee").attr("disabled", true);
        $("#txtemployee1").val(EmployeeID);

        // $("#ddlassignmentStatus").val(Assstatu);

        $("#ddlbillingStatus").val(BillingStatus);

        //if (new Date(startDate) <= nowDate) {
        //    $("#datetimepicker2 .input-group-addon").hide();
        //}
        //else {
        //    $("#datetimepicker2 .input-group-addon").show();
        //}

        $("#lblempname").val(name);

        $("#lblpracti").val(Practice);

        $("#txtproject").val(ProjectCode + '-' + projectName);
        $("#txtproject").attr("disabled", true);
        $("#lblprojectname").val(projectName);
        $("#lblprojectid").val(prjectID);
        $("#lblprojectmanname").val(assiby);
        $("#lblbillingType").val(BillingType);
        $("#Expectedstart").val(startDate);
        $("#ExpectedEnd").val(endDate);
        $("#lblutlizatn").val(utli);
        if (BillingStatus == "Bench") {
            $("#lblutlizatn").attr("disabled", true);
            $("#ddlbillingStatus").attr("disabled", true);
            //$('#chkactive').attr("disabled", true);
            $("#btnsaveva").hide();
        }
        else {
            $("#lblutlizatn").removeAttr("disabled", true);
            $("#ddlbillingStatus").removeAttr("disabled", true);
            // $('#chkactive').removeAttr("disabled", true);
            //if (isactive == "Active") {
            //    $("#btnsaveva").show();
            //}

        }
        $("#ddlbillingStatus").attr("disabled", true);
        if (isactive.trim() != "Active") {
            //$('#chkactive').attr("checked", "checked");
            $('#chkactive').removeProp("checked");
            if (isactive.trim() != 'Completed') {
                $("#btnsaveva").show();
            }
            else {
                $("#btnsaveva").hide();
            }
        }
        else {
            //$('#chkactive').removeAttr("checked");
            $('#chkactive').prop("checked", "checked");
            $("#btnsaveva").show();

        }


        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "@(Url.Action("EmployeeInfo", "ProjectAssignment"))",
            data: { EmployeeID: EmployeeID },
            success: function (data) {

                if (data.length != 0) {
                    $("#lblassignlocation").val(data[0].Location);
                    $("#lblempemail").val(data[0].EmailID);
                }
            }
        });


    });

    function Excel_Assign(Exceassign_value) {
        datepickr = document.getElementById('date1')
        datepickr2 = document.getElementById('date2')

        if (Exceassign_value == "All") {
            datepickr.style.visibility = "visible";
            datepickr2.style.visibility = "visible";
        }
        else {
            datepickr.style.visibility = "hidden";
            datepickr2.style.visibility = "hidden";
        }

    }

    function Clenavalues() {
        $('#btnExportToExcel').show();
        $('#dialog-view-Assignment').hide();
        $('#divGridContent1').show();
        $('#divbtun').show();
        $('#divbtun2').show();
        $("#txtemployee").val('');
        //$("#txtemployee").attr("disabled", "");
        //  $("#ddlassignmentStatus").val('');
        $("#ddlbillingStatus").val('');
        $("#lblempname").val('');
        $("#lblempemail").val('');
        $("#lblpracti").val('');
        $('#Assignmentid').val('');
        $("#lblassignlocation").val('');
        $("#txtproject").val('');
        $('#txtemployee1').val('');
        //$("#txtproject").attr("disabled", "");
        $("#lblprojectname").val('');
        $("#lblprojectid").val('');
        $("#lblprojectmanname").val('');
        $("#lblbillingType").val('');
        $("#Expectedstart").val('');
        $("#ExpectedEnd").val('');
        $("#lblutlizatn").val('');
        $('#chkactive').prop("checked", "checked");
    };
    function CheckupdateValidations() {
        var returnvalue = true;

        if ($('#txtemployee').val() == '') {
            DisplayDialogAlert("Select Employee");
            returnvalue = false;

        }
        else if ($('#lblempname').val() == '') {
            DisplayDialogAlert("Select Valid Employee");
            returnvalue = false;

        }
        else if ($('#txtproject').val() == '') {
            DisplayDialogAlert("Select Project");
            returnvalue = false;

        }
        else if ($('#lblprojectname').val() == '') {
            DisplayDialogAlert("Select Valid Project");
            returnvalue = false;

        }
            //else if ($('#ddlassignmentStatus').val() == null) {
            //    DisplayDialogAlert("Select Assignment Status");
            //    returnvalue = false;

            //}
        else if ($('#ddlbillingStatus').val() == null) {
            DisplayDialogAlert("Select Billing Status");
            returnvalue = false;

        }
        else if ($('#Expectedstart').val() == '') {
            DisplayDialogAlert("Enter Roll on Date");
            returnvalue = false;

        }
        else if ($('#ExpectedEnd').val() == '') {
            DisplayDialogAlert("Enter Roll off Date");
            returnvalue = false;

        }
        else if ($('#lblutlizatn').val() == '') {
            DisplayDialogAlert("Enter Utilization");
            returnvalue = false;

        }
        else if ($('#lblutlizatn').val() == 0) {
            DisplayDialogAlert("utilization should be greater than 0");
            returnvalue = false;
        }

        return returnvalue;
    }
    function isNumericKey(e) {
        if (window.event) { var charCode = window.event.keyCode; }
        else if (e) { var charCode = e.which; }
        else { return true; }
        if (charCode > 31 && (charCode < 48 || charCode > 57)) { alert("Enter Only Numbers"); return false; }
        return true;
    }
    $("#ExpectedEnd").change(function () {
        debugger;
        var startDate = document.getElementById("Expectedstart").value;
        var endDate = document.getElementById("ExpectedEnd").value;

        if ((Date.parse(startDate) >= Date.parse(endDate))) {
            alert("End date should be greater than Start date");
            $("#ExpectedEnd").val('');

        }
        //Commented the below as per ShivKumar Vanga's request.
        //else if (Date.parse(startDate) <= new Date() && daydiff(parseDate(new Date(startDate).toLocaleDateString("en-GB")), parseDate(new Date(endDate).toLocaleDateString("en-GB"))) <= 14)
        //{
        //    if (daydiff(parseDate(new Date(startDate).toLocaleDateString("en-GB")), parseDate(new Date(endDate).toLocaleDateString("en-GB"))) < DaysDiff)
        //    {
        //        alert("End date should be 14 days greater than Start date Or You can extend End Date greater than the Present End Date");
        //        $("#ExpectedEnd").val('');
        //    }

        //}
    });
    $("#Expectedstart").change(function () {

        var startDate = document.getElementById("Expectedstart").value;
        var endDate = document.getElementById("ExpectedEnd").value;
        if ((Date.parse(startDate) >= Date.parse(endDate))) {
            alert("End date should be greater than Start date");
            $("#ExpectedEnd").val('');
        }

    });
    $("#lblutlizatn").change(function () {
        var utilization = document.getElementById("lblutlizatn").value;
        if (utilization == 0) {
            alert("utilization should be greater than 0");
            $("lblutlizatn").val('');
        }
    });
    function DisplayDialogAlert(message) {
        var returnValue = false;
        $("#alertMessage").html('');
        $("#alertMessage").html(message);
        var url = $(this).data('href');
        $("#alertDialog").dialog({
            modal: true,
            show: { effect: 'drop', direction: "up" },
            title: 'Alert',
            open: function (event, ui) {
                //$(".ui-dialog-titlebar").addClass(addTitleColor);
                $('.ui-dialog-titlebar-close').hide();
                $(this).load(url);
            },
            buttons: {
                Ok: function () {
                    returnValue = true;
                    $(this).dialog("close");


                }

            }
        }).css("font-size", "15px");

        return returnValue;
    }
     function EmployeeSubmit() {
        var EId = $('#txtemployee1').val();
        window.location.href = '@Url.Action("EmployeeAssignmentdetails", "EmployeeAssignment")' + "?id=" + EId;
    }
</script>
