@model Trianz.Enterprise.Operations.Models.BillingLossList
@using JQChart.Web.Mvc
@*{
     ViewBag.Title = "ResourceInformation";
        var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
            selectionFieldName: "SelectedRow");

        grid.Pager(WebGridPagerModes.All);


    }*@
<html>
<head>
    <title></title>
    <script src="~/Scripts/amcharts.js"></script>

    <script src="~/Scripts/pie.js"></script>
    <script src="~/Scripts/light.js"></script>


    <style>
        .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
            border-left-width: 0;
            color: rgb(0, 0, 0);
            font-size: 12px;
        }

        #RequestStatus {
            width: 130px;
        }
        #criticality1 {
            width: 161px;
            position: relative;
            left: 21px;
        }
        body {
            overflow-x: hidden;
        }
        #txt {
            color: #2C2E31;
            font-size: 16px;
            position: relative;
            left: -26px;
        }

        .questionlogo1 {
            margin-left: 468px;
        }
        .Empname {
            position: relative;
            bottom: 44px;
            left: 210px;
        }
        .onlinebtn {
            margin-left: 426px;
        }

        .HRRF_custom .subpage_header {
            border-bottom: 1px solid #248CC8;
            margin-left: -26px;
            width: 1237px;
            padding-bottom: 21px;
            background: #F3F4F9;
        }

        .outerDiv {
            /*background-color: #006699;*/
            color: #fff;
            height: 400px;
            width: 103%;
            margin: 0px auto;
            margin-left: 21px;
            padding: 5px;
        }

        .leftDiv {
            /*background-color: #efefef;*/
            color: #000;
            height: auto;
            width: 32%;
            float: left;
        }

        .heading {
            color: black;
            margin-left: 500px;
            margin-top: 15px;
        }

        .rightDiv {
            /*background-color: #efefef;*/
            color: #000;
            /*height: 400px;
            width: 48%;*/
            float: right;
        }

        #chartdiv1 {
            width: 65%;
            height: 350px;
            font-size: 11px;
            margin-top: -54px;
        }

        .amcharts-pie-slice {
            transform: scale(1);
            transform-origin: 50% 50%;
            transition-duration: 0.3s;
            transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            cursor: pointer;
            box-shadow: 0 0 30px 0 #000;
        }

            .amcharts-pie-slice:hover {
                transform: scale(1.1);
                filter: url(#shadow);
            }

        #divLoadingIcon {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background: url('../../Content/images/ajax-loader.gif')no-repeat center center;
        }

        .table > thead > tr > th {
            white-space: nowrap
        }
        #tableHRRFlist_length {
            position: relative;
            left: -16px;
        }
       
       
    </style>
</head>
<body>
    <div>
        <table id="tableHRRFlist" class="table table-striped table-bordered" cellspacing="0" style="margin: -20px; width: 101%;">
            <thead>
                <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                    @*<th style="display: none;">HRRFID</th>*@
                    <th style="width: 33px;">TR#</th>
                    <th style="width: 33px;">Practice</th>
                    <th style="width: 270px;">Project Name</th>
                    <th style="width: 150px;">Account Name</th>
                    <th style="width: 44px;">Bill Date</th>
                    <th style="width: 44px;">Current Date</th>
                    <th style="width: 20px;">Leakage Days</th>
                    <th style="width: 44px;">Bill Rate</th>
                    <th style="width: 50px;">Leakage</th>
                    <th style="width: 45px;">Criticality</th>
                    <th style="width: 45px;">Status</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model.BillingLossData)
                    {

                        <tr class="ng" style="font-size: 12px;">
                            <td class="text-right" style="padding-right: 10px;">

                                @if (item.HRRFNumber != "" && item.HRRFNumber != null)
                                {
                                    @*@Html.ActionLink((string)item.HRRFNumber, "", "", new { id = item.HRRFNumber, hrrfno = item.HRRFNumber }, new { @style = "color: lightcoral;" })*@
                                    <span>@item.HRRFNumber</span>
                                }

                            </td>

                            <td style="width: 100px;">@item.Practice</td>
                            <td style="width: 270px;">@item.ProjectName</td>
                            <td style="width: 150px;">@item.AccountName</td>

                            <td style="text-align: center;">@(item.BillingDate == null ? "" : @Convert.ToDateTime(item.BillingDate).ToString("dd-MMM-yyyy"))</td>
                            <td style="text-align: center;">@(item.CurrentDate == null ? "" : @Convert.ToDateTime(item.CurrentDate).ToString("dd-MMM-yyyy"))</td>
                            <td style="text-align: right;">@item.LeakageDays</td>
                            <td style="text-align: right;">@item.BILLRATE</td>
                            <td style="text-align: right;">@item.LeakageRevenue</td>
                            <td style="text-align: center;">@item.Criticality</td>
                            <td style="text-align: center; ">@item.RequestStatus</td>
                            @*<td>@(item.HRRFSubmitedDate == null ? "" : @Convert.ToDateTime(item.HRRFSubmitedDate).ToString("dd MMM yyyy"))</td>*@
                        </tr>


                    }
                }
            </tbody>
        </table>

    </div>
    <div class="outerDiv">

        <div class="leftDiv divHRRFList">
            <div class="subpage_header page-header nomargin-top">
                <p id="txt">PRACTICE SUMMARY</p>
            </div>
            @*<h4 id="txt">PRACTICE SUMMARY</h4>*@
            <table id="tablepractiselist" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;margin-left: -4px;
                          margin-top: 15px;">
                <thead>
                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                        <th style="width: 75%;">Practice Name</th>
                        <th style="width: 55%;text-align: center;">Revenue Leakage</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.PractiseList)
                        {

                            <tr id="ng" style="font-size: 12px;">
                                <td style="width: 75%;">@item.Practice</td>
                                <td style="width: 55%;text-align: right;">@item.LeakageRevenue</td>
                            </tr>

                        }
                        <tr style="font-size: 12px;">
                            <td style="font-weight:bold;background-color: #D6DCE3 !important;color: black;">Grand Total :</td>
                            <td style="text-align: right;background-color:#D6DCE3 !important;color: black;">@Model.CountPractiseList</td>
                        </tr>
                    }
                </tbody>
            </table>
            <table id="tablepractiselist1" style="display:none" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 40%;">
                <thead>
                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                        <th style="width: 33px;">Practice Name</th>
                        <th style="width: 33px;text-align: center;">Revenue Leakage</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.PractiseList)
                        {

                            <tr id="ng" style="font-size: 12px;">
                                <td style="width: 100px;">@item.Practice</td>
                                <td style="width: 270px;text-align:right;">@item.LeakageRevenue</td>
                            </tr>

                        }

                    }
                </tbody>
            </table>
            <br />
            <br />
            <div class="subpage_header page-header nomargin-top">
                <p id="txt" style="position: relative;top: 18px;">ACCOUNT SUMMARY</p>
            </div>
            @*<h4 id="txt">ACCOUNT SUMMARY</h4>*@
            <div class="" style="background-color: #ffffff; width: 1235px;margin-left: -28px;">
                <table id="tableaccountlist" class="table table-striped table-bordered" cellspacing="0" style="margin: -1px;width: 33%; margin-left: -20px;position: relative;left: 40px;">
                    <thead>
                        <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                            <th style="width: 33px;">Account Name</th>
                            <th style="width: 33px;text-align: center;">Revenue Leakage</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.AccountNameList)
                            {

                                <tr class="ng" style="font-size: 12px;">
                                    <td style="width: 75%;">@item.AccountName</td>
                                    <td style="width: 55%;text-align: right;">@item.LeakageRevenue</td>
                                </tr>

                            }
                            <tr style="font-size: 12px;">
                                <td style="font-weight:bold;background-color: #D6DCE3 !important;color: black;">Grand Total :</td>
                                <td style="text-align: right;background-color: #D6DCE3 !important;color: black;">@Model.CountAccountNameList</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
        <div class=" subpage_header page-header nomargin-top" @*id="txt"*@>
            <p style="color: #2C2E31; font-size: 16px; top: 31px;position:relative;left:144px;">PRACTICE DASHBOARD</p>
        </div>
        @*<div class="subpage_header page-header nomargin-top">
            <p id="txt" style="color: #133B93; font-size: 20px;margin-left: -2px;">PRACTICE DASHBOARD</p>
        </div>*@
        <div id="chartdiv1" class="rightDiv" @*style="margin-top: -82px"*@>


        </div>

    </div>
    @*<div id="divLoadingIcon"> </div>*@


    <script type="text/javascript">
    $(document).ready(function () {
        var chartDataResults = new Array();
        $('#tablepractiselist1 tr').each(function () {
            // need this to skip the first row
            if ($(this).find("td:first").length > 0) {
                var practicename = $(this).find("td:eq(0)").html();
                //alert(practicename);
                var revenueleakage = $(this).find("td:eq(1)").html();
                //alert(revenueleakage);
                chartDataResults.push({
                    Practice: practicename,
                    LeakageRevenue: revenueleakage
                });
            }

            var chart = AmCharts.makeChart("chartdiv1", {
                "type": "pie",
                "startDuration": 0,
                "theme": "light",
                "addClassNames": true,
                "legend": {
                    "position": "right",
                    "marginRight": 100,
                    "autoMargins": false
                },
                "innerRadius": "30%",
                "defs": {
                    "filter": [{
                        "id": "shadow",
                        "width": "200%",
                        "height": "200%",
                        "feOffset": {
                            "result": "offOut",
                            "in": "SourceAlpha",
                            "dx": 0,
                            "dy": 0
                        },
                        "feGaussianBlur": {
                            "result": "blurOut",
                            "in": "offOut",
                            "stdDeviation": 5
                        },
                        "feBlend": {
                            "in": "SourceGraphic",
                            "in2": "blurOut",
                            "mode": "normal"
                        }
                    }]
                },
                "dataProvider": chartDataResults,
                "valueField": "LeakageRevenue",
                "titleField": "Practice",

                "export": {
                    "enabled": false
                }
            });
            $("a[href='http://www.amcharts.com/javascript-charts/']").css("display", "none");
            chart.addListener("init", handleInit);

            chart.addListener("rollOverSlice", function (e) {
                handleRollOver(e);
            });
            function handleInit() {
                chart.legend.addListener("rollOverItem", handleRollOver);
            }

            function handleRollOver(e) {
                var wedge = e.dataItem.wedge.node;
                wedge.parentNode.appendChild(wedge);
            }
        });

        var eventFired = function (value) {
            //debugger
            //alert(value);
        }

        //Iterate through each of the rows
        @*$('tr').each(function () {
               @foreach (var item in Model)
                   {
                       if (item.FLAG == true) {
                    //Set the row to green
                   ($(this)).find('tr').css('background', 'green');
                       }
                   }
               });*@

        var table = $('#tableHRRFlist').DataTable({
            "bFilter": false,
            "columnDefs": [
               { "width": "8%", "targets": 1 },
               //{ "width": "53px", "targets": 0 },
               //{ "width": "143px", "targets": 0 },
               //{ "width": "203px", "targets": 0 },
               //{ "width": "99px", "targets": 0 },
               //{ "width": "83px", "targets": 0 },
               //{ "width": "49px", "targets": 0 },
               //{ "width": "85px", "targets": 0 },
               //{ "width": "37px", "targets": 0 },
               //{ "width": "56px", "targets": 0 }
            ],
            "order": [
                [0, 'desc']
            ],
            "oLanguage": {
                "sSearch": "Search anything with resultant TRs list"//"Filter records:"
            }
            //}).on('search.dt', function () {
            //    var value = $('.dataTables_filter input').val();
            //    eventFired(value);
        });
    });

    </script>
</body>
</html>