@*@model Trianz.Enterprise.Operations.Models.ClusterLead*@
@*@model List<Trianz.Enterprise.Operations.Models.ClusterLead>*@
@model  Trianz.Enterprise.Operations.Models.ValidationModel

@using JQChart.Web.Mvc
<head>
</head>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

<style>
    a {
        color: black;
        text-decoration: none;
    }
    /*.container-fluid {
        margin-left: 10px;
        margin-top: 20px;
    }*/
    .body-content {
        top: 20px;
        left: -2px;
        position:relative;
    }

    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
    }

    #Cluster {
        position: relative;
         right: -47px;
        
    }

    .myskills_div {
        display: block;
    }

    .HRRF_custom table tr th {
        color: black;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 5px;
        left: 27px;
        position: relative;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    #tablePractice_wrapper {
        width: 97%;
        margin: 24px;
        background-color: #ffffff;
        margin-top: 0px;
    }

    #txt {
        color: #2C2E31;
        font-size: 16px;
        position: relative;
        left: 84px;
    }

    #tablePractice_length {
        position: relative;
        top: 6px;
        left: 20px;
    }

    #tablePractice_filter {
        position: relative;
        top: 5px;
        left: -9px;
    }

    #tablePractice_info {
        position: relative;
        left: 19px;
    }

    .HRRF_custom .page-header {
        margin: 11px -32px;
        padding-bottom: 0px;
        background: #F3F4F9;
    }
    .btn-primary {
      color: #fff;
      background-color: #004BBB;
      border-color: #004BBB;
     }
</style>
<body>
    <div class="subpage_header page-header nomargin-top" style="border-bottom: 1px solid #004BBB;
    width: 1279px;
    position: relative;
    bottom: 4px;">

        <p style="color: #2C2E31;
    font-size: 16px;
    position: relative;
    left: 50px;
    top: 9px;"><b>CLUSTER  TEAM DETAILS</b></p>    @*observation*@
        @*<div>*@
        @*<input type="button" class="btn btn-primary pull-right search" id="btnSearch" value="Search" style="position: relative;left: 337px;top:87px;">*@
        <!--<div>
        <button id="btnExportToExcel" type="button" style="border: none;background-color: white;width: 21px;left: 1162px;top: -10px;height: 29px;position: relative;"> <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 46px;height: 44px;display: inline-block;position: relative;" alt="xlmsimg"></button>-->
        @*<button id="popup" onclick="div_showAssignment();" style="position: relative;top: -11px;background-color: #0070C1;color:white;width: 232px;margin-left: 957px;border-radius: 3px;border: 5px solid transparent;">Add New Cluster Lead Mapping</button>*@
        <!--</div>-->
        @*</div>*@

        <div style="font-size: 12px;">
            @*<button id="btnExportToExcel" type="button" style="background-color: white; width: 16px; position: relative; top: 0px; left: 1244px; height: 15px;">
            <img src="~/Content/images/xlsimg.png"  data-placement="left" title="Export to Excel" class="xlms" style="width: 43px; height: 44px; display: block; margin-top: -14px; margin-left: -22px;" alt="xlmsimg;">
        </button>*@

            <div>
                <button id="btnExportToExcel" type="button"  style="position: relative; background-color: white; border: white; float: right; color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 25px;    bottom: 40px;
    left: -82px;">
                    <img src="~/Content/images/Report_icon.svg" /> Export <span class="caret"></span>
                    @*<img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: 11px;left: 17px;position:relative;" alt="xlmsimg">*@
                </button>
            </div>
        </div>

    </div>

    @{

        bool isInactiveRecord;
        bool isResume;

        if (ViewBag.IsInactive != null && ViewBag.IsInactive == true)
        {
            isInactiveRecord = true;
        }
        else
        {
            isInactiveRecord = false;
        }
        if (ViewBag.Isresume != null && ViewBag.Isresume == true)
        {
            isResume = true;
        }
        else
        {
            isResume = false;
        }
    }

    <div class="modal fade" tabindex="-1" id="ModalEditauditFindings" role="dialog">


        <div class="modal-dialog ui-front" style="width:90%">

            <!-- Modal content-->
            @*<div class="modal-content" style="/*width:850px !important;height:700px !important;*/width: 1150px !important;height: 932px !important;margin-left: -321px;overflow-x:hidden;overflow-y:hidden;">*@
            <div class="modal-content" style="width: 738px !important; margin-left: -434px;overflow-y: hidden;">

                <div class="modal-header">

                    <h4 class="modal-title text-info font-weight-bold HRRF_custom .subpage_header" style="align-content:center;font-size: 153%;color: black;font-size: 16px;position: relative; left: 12px;">
                        <b>Skill Review Details</b>
                    </h4>

                    @*<button type="button" class="close" data-dismiss="modal" style="margin-top: -25px;right: 0;" onclick="window.location.reload();">&times;</button>
                        <input type="hidden" id="hdnAuditFindingId" />*@
                </div>


                <div class="modal-body" style="max-height:300px; overflow-y:auto; overflow-x:hidden;">

                    <div class="row" style="position: relative;top: 20px;left: 5px;">
                        <div>
                            @*<div id="divSkills" class="form-inline" style="margin-top:20px;">
                                    <div class="form-group" style="position: relative;left: 18px;">
                                        <label for="txtSkill">New Skill:</label>
                                        <input type="text" class="form-control" id="txtSkill" placeholder="Enter Skill" style="width:300px;">
                                    </div>
                                    <button id="btnAdd" name="btnAdd" type="button" class="btn btn-primary" style="position: relative;left: 25px;">Add</button>
                                </div>*@


                            <div class="col-sm-6 form-group">
                                <label class="col-lg-6 control-label"><b style="color:black;">Employee Id</b></label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="lblempid" disabled="disabled">
                                    @*<div class="help-block with-errors error-msg-font-size"></div>*@
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <div> <label class="col-lg-6 control-label"><b style="color:black;">Employee Name</b></label></div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="empnamelbl" disabled="disabled">


                                    @*<div class="help-block with-errors error-msg-font-size"></div>*@
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table id="tableEmpResourceReport" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin: 16px;width: 97%;position: relative;left: 1px;">
                            <thead>
                                <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                    <th style="width:25px;"> Skill Id </th>
                                    <th style="width:31px;"> Skill Name</th>
                                    @*<th style="width:25px;">Remove</th>*@
                                    <th style="width:25px;">
                                        Review
                                        <input type="checkbox" name="primarychk1" class="primarychk1" value="0" style="position: relative;top: 3px;left: 7px;">

                                    </th>

                                </tr>
                            </thead>
                            <tbody id="skilldata"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnaddskills" name="btnaddskills" type="button" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-default" id="btnclose" data-dismiss="modal" style="border-color: #004BBB;">Close</button>

                </div>
            </div>

            @*<div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">

                            <button id="btnaddskills" name="btnaddskills" type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>*@

            @*<hr />
                <div class="modal-footer float-lg-right">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>

    <div class="form-inline text-right">
        <div class="form-group" style="margin-right: -47px;">
            <label style="margin-bottom:20px;margin-left: 71px;">Practice</label>
            @Html.DropDownList("Practice", ViewData["Practic"] as SelectList, "All", new { @class = "form-control" })
        </div>
        <div class="form-group" style="margin-left: 20px;">
            <label style="margin-bottom: 20px; position:relative; right: -42px;">Cluster Name</label>
            @Html.DropDownList("Cluster", ViewData["_skillClusterLead"] as SelectList, "All", new { @class = "form-control" })
        </div>
        @*<button id="btnExportToExcel" type="button" style="position: relative;top: -75px;right: 75px;background-color: #F3F4F9;border: white;">
                <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: 11px;left: 61px;position:relative;" alt="xlmsimg">
            </button>*@

        <div class="form-group" style="margin-left:20px; display:none">
            <input type="checkbox" value="CL" id="chckClsterLead" />
            <label style="margin-bottom:20px">Cluster Lead</label>&nbsp;&nbsp;
            <input type="checkbox" value="CM" id="chckClsterMember" />
            <label style="margin-bottom:20px">Cluster Member</label>
        </div>

        @*<div class="form-group" style="margin-left:20px; display:none">
                <label style="margin-bottom:20px">Cluster Lead Name</label>
                @Html.DropDownList("LeadName", ViewData["_LeadName"] as SelectList, "All", new { @class = "form-control" })
            </div>*@
    </div>
    <div class="row">
        <div style="float: right; position: relative; right: 25px; bottom: 2px;">
            <label>Skills Reviewed</label>
            @*<input type="checkbox" name="chkRowre" id="chkReview" class="chkReview">*@

            @if (isInactiveRecord == true)
            {
                <input type="checkbox" name="chkRowre" id="chkReview" class="chkReview" value="true" checked style="height: 12px;width: 16px;">
            }
            @if (isInactiveRecord == false)
            {
                <input type="checkbox" name="chkRowre" id="chkReview" class="chkReview" value="False" style="height: 12px;width: 16px;">
            }
        </div>
        <div style="float: right; position: relative; right: 37px;">
            <label>Resume Uploaded </label>

            @*<input type="checkbox" name="chkRowr" id="chkResume" class="chkResume">*@

            @if (isResume == true)
            {
                <input type="checkbox" name="chkRowr" id="chkResume" class="chkResume" value="true" checked style="margin-top: -2px;height: 12px;width: 16px;">
            }
            @if (isResume == false)
            {
                <input type="checkbox" name="chkRowr" id="chkResume" class="chkResume" value="False" style="margin-top: -2px;height: 12px;width: 16px;">
            }

        </div>
    </div>
    <div style="overflow-x:auto;    background-color: #ffffff;
    margin: 21px;
    position: relative;
    left: -9px;width: 98%;">
        <div id="divGridContent1" class="table table-responsive" style="margin-bottom: -98px;">
            <table id="tablePractice" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin:0px; width: 100%;">
                <thead id="thead">
                    <tr style="background-color: #E1F3FF !important; color: black; ">
                        <th>Team Member Name</th>
                        <th>Practice</th>
                        <th>Cluster Name</th>
                        <th>Cluster Lead Name</th>
                        <th>Account Name</th>
                        <th>Project Code</th>
                        <th>Manager</th>
                        <th>Skills</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ClusterLeadlst)
                    {

                        <tr>
                            <td style="@item.Style"><a style="@item.Style" href="mailto:@item.TeamMemberEmailID">@item.TeamMemberName</td>
                            @if (item.PrimaryCluster == "N")
                            {
                                <td style="@item.Style">@item.PracticeName</td>
                            }
                            else
                            {
                                <td style="@item.Style">@item.PracticeName</td>
                            }
                            <td style="@item.Style">@item.ClusterName</td>
                            <td style="@item.Style"><a style="@item.Style" href="mailto:@item.ClusterLeadEmailId">@item.ClusterLeadName</td>

                            <td style="@item.Style">@item.AccountName</td>
                            <td style="@item.Style">
                                <span data-toggle="tooltip" data-placement="top" title="@item.ProjectName">@item.ProjectCode</span>
                            </td>
                            <td style="@item.Style">@item.SupervisorName</td>
                            <td style="cursor: pointer;" title="@item.SkillSet">
                                @((item.SkillSet != "" && item.SkillSet != null) ? item.SkillSet.Length < 30 ? item.SkillSet : item.SkillSet.Substring(0, 25) + " ..." : string.Empty)
                                <span id="hdnSkillId" style="display:none;">@item.SkillIds</span>
                            </td>
                            <td>
                                @if (item.ReviewFlag == 1 && item.IsResume == 1)
                                {
                                    <img src="~/Content/images/rightmark1.png" style="height: 24px;" />
                                }
                                @if (item.ReviewFlag == 1 && item.IsResume == 0)
                                {
                                    <img src="~/Content/images/icon-checkmark.png" style="height: 14px;" />
                                }
                                else if (item.IsResume == 1 && item.ReviewFlag == 0)
                                {
                                    @*<img src="~/Content/images/icon-checkmark.png" style="height: 14px; margin-left: 5px;" />*@
                                    <img src="~/Content/images/icons8-done-64.png" style="height: 14px; margin-left: 5px;" />

                                }
                                <span id="lblIsreview" style="display:none;">@item.ReviewFlag</span>
                            </td>
                            <td>
                                <a href="#" class="clsReview" type="hidden" id="hdnMemberId" data-docId="@item.TeamMemberID" title="Review">
                                    Review
                                </a>
                                <span id="lblemppiid" style="display:none;">@item.TeamMemberID</span>
                                <input type="hidden" value="@item.EmployeeId" id="lblleadid" />
                                <span id="lblempname" style="display:none;">@item.TeamMemberName</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    @if (ViewBag.Role == "OM")
    {
        <div class="row" style="    width: 99%;
    background-color: #ffffff;
    margin-left: 14px;">
            <div class="column">
                <div class="subpage_header page-header nomargin-top" style="position: relative;top: -5px;">
                    <br /><br />
                    <p style="color: #2C2E31;font-size: 16px;position: relative;left: 38px;"><b>CLUSTER SUMMARY</b></p>


                </div>
                @{
                    int Totalone = 0;
                    int Totaltwo = 0;
                    long cumltotal = 0;

                    int PmTotal = 0;
                    int PlTotal = 0;
                    long ptotal = 0;

                }
                <table>
                    <tr style="vertical-align:top">
                        <td>
                            <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin: 0px; width: 100%;">

                                <thead id="thead">
                                    <tr style="background-color: #D6DCE3 !important ; color: black; font-size: 12px;">
                                        <th>Cluster</th>
                                        <th style="text-align:right">Leads</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var m in ViewBag.leadList)
                                    {

                                        <tr style="font-size: 12px;">
                                            <td style="color:black">@m.ClusterName</td>
                                            <td style="text-align:right; color: black;">@m.ClusterLeadCount</td>
                                        </tr>
                                        Totalone += m.ClusterLeadCount;
                                    }

                                </tbody>
                                <thead id="thead">
                                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                        <th>Grand Total</th>
                                        <th style="text-align:right">@Totalone</th>

                                    </tr>
                                </thead>
                            </table>
                        </td>
                        <td>
                            <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin: 0px; width: 100%;">
                                <thead id="thead">
                                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                        @*<th>Cluster</th>*@
                                        <th style="text-align:right">Members</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ld in ViewBag.leadList)
                                    {
                                        int display = 0;
                                        foreach (var m in ViewBag.groupdmemberList)
                                        {
                                            if (ld.ClusterName == m.ClusterName)
                                            {
                                                <tr style="font-size: 12px;">
                                                    @*<td>@m.ClusterName</td>*@
                                                    <td style="text-align:right; color: black;">@m.ClusterMemberCount</td>

                                                </tr>
                                                Totaltwo += m.ClusterMemberCount;
                                                display = 1;
                                                continue;

                                            }
                                        }
                                        if (display == 0)
                                        {
                                            <tr style="font-size: 12px;">
                                                @*<td>@m.ClusterName</td>*@
                                                <td style="text-align:right; color: black;">0</td>
                                            </tr>
                                        }

                                    }

                                </tbody>
                                <thead id="thead">
                                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                        @*<th>Total</th>*@
                                        <th style="text-align:right; color: black;">@Totaltwo</th>

                                    </tr>
                                </thead>
                            </table>
                        </td>
                        <td>
                            <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin: 0px; width: 100%;">
                                <thead id="thead">
                                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                        @*<th>Cluster</th>*@
                                        <th style="text-align:right">Cluster Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ld in ViewBag.leadList)
                                    {
                                        int display = 0;

                                        foreach (var m in ViewBag.groupdmemberList)
                                        {
                                            if (ld.ClusterName == m.ClusterName)
                                            {
                                                long subtotal = m.ClusterMemberCount + ld.ClusterLeadCount;
                                                cumltotal += subtotal;
                                                <tr style="font-size: 12px;">
                                                    @*<td>@m.ClusterName</td>*@
                                                    <td style="text-align:right; color: black;">@subtotal</td>

                                                </tr>
                                                display = 1;
                                                continue;

                                            }

                                        }
                                        if (display == 0)
                                        {
                                            cumltotal += ld.ClusterLeadCount;
                                            <tr style="font-size: 12px;">
                                                @*<td>@m.ClusterName</td>*@
                                                <td style="text-align:right; color: black;">@ld.ClusterLeadCount</td>
                                            </tr>
                                        }

                                    }

                                </tbody>
                                <thead id="thead">
                                    <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                        @*<th>Total</th>*@
                                        <th style="text-align:right">@cumltotal</th>

                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="column" style="position: relative;right: 110px;">
                <div>
                    <div class="subpage_header page-header nomargin-top" style="border-bottom: 1px solid #248CC8; width: 717px; position: relative;
    bottom: 5px;">
                        <br /><br />
                        <p style="color: #2C2E31;
    font-size: 16px;
    position: relative;
    left: 38px;"><b>PRACTICE SUMMARY</b></p>
                    </div>
                    <table id="praticeid">
                        <tr style="vertical-align: top; text-align: right; padding: 16px;">
                            <td>
                                <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin: 0px; width: 100%;">
                                    <thead id="thead">
                                        <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                            <th>Practice</th>
                                            <th style="text-align:right">Leads</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @foreach (var m in ViewBag.praticeLeadlst)
                                        {

                                            <tr style="font-size: 12px;">
                                                <td style="color:black; text-align:left">@m.PracticeName</td>
                                                <td style="text-align:right; color: black;">@m.PracticeLeadCount</td>
                                            </tr>
                                            PlTotal += m.ClusterLeadCount;
                                        }

                                    </tbody>
                                    <thead id="thead">
                                        <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                            <th>Grand Total</th>
                                            <th style="text-align:right">@Totalone</th>

                                        </tr>
                                    </thead>
                                </table>
                            </td>
                            <td>
                                <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin: 0px; width: 100%;">
                                    <thead id="thead">
                                        <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                            @*<th>Cluster</th>*@
                                            <th style="text-align:right">Members</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var ld in ViewBag.praticeLeadlst)
                                        {
                                            int display = 0;
                                            foreach (var m in ViewBag.praticeMemberlst)
                                            {
                                                if (ld.PracticeName == m.PracticeName)
                                                {
                                                    <tr style="font-size: 12px;">
                                                        @*<td>@m.ClusterName</td>*@
                                                        <td style="text-align:right; color: black;">@m.PracticeMemberCount</td>

                                                    </tr>
                                                    PmTotal += m.PracticeMemberCount;
                                                    display = 1;
                                                    continue;

                                                }
                                            }
                                            if (display == 0)
                                            {
                                                <tr style="font-size: 12px;">
                                                    @*<td>@m.ClusterName</td>*@
                                                    <td style="text-align:right; color: black;">0</td>
                                                </tr>
                                            }

                                        }

                                    </tbody>
                                    <thead id="thead">
                                        <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                            @*<th>Total</th>*@
                                            <th style="text-align:right; color: black;">@PmTotal</th>

                                        </tr>
                                    </thead>
                                </table>
                            </td>
                            <td>
                                <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin: 0px; width: 100%;">
                                    <thead id="thead">
                                        <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                            @*<th>Cluster</th>*@
                                            <th style="text-align:right">Practice Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var ld in ViewBag.praticeLeadlst)
                                        {
                                            int display = 0;

                                            foreach (var m in ViewBag.praticeMemberlst)
                                            {
                                                if (ld.PracticeName == m.PracticeName)
                                                {
                                                    long subtotal = m.PracticeMemberCount + ld.PracticeLeadCount;
                                                    ptotal += subtotal;
                                                    <tr style="font-size: 12px;">
                                                        @*<td>@m.ClusterName</td>*@
                                                        <td style="text-align:right; color: black;">@subtotal</td>

                                                    </tr>
                                                    display = 1;
                                                    continue;

                                                }

                                            }
                                            if (display == 0)
                                            {
                                                ptotal += ld.PracticeLeadCount;
                                                <tr style="font-size: 12px;">
                                                    @*<td>@m.ClusterName</td>*@
                                                    <td style="text-align:right; color: black;">@ld.PracticeLeadCount</td>
                                                </tr>
                                            }

                                        }

                                    </tbody>
                                    <thead id="thead">
                                        <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
                                            @*<th>Total</th>*@
                                            <th style="text-align:right">@ptotal</th>

                                        </tr>
                                    </thead>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</body>
<input type="hidden" id="hdnskillapp" value="@Url.Action("SaveReviewedSkills","EmployeeCluster")" />
<script type="text/javascript">

    $(document).ready(function () {
            $('#btnaddskills').click(function (e) {
              var Skillsubmssion = GetSelectSkills();

              if (Skillsubmssion.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: $("#hdnskillapp").val(),
                        data: JSON.stringify({ Skillslist: Skillsubmssion }),
                        contentType: "application/json; charset=utf-8",
                        datatype: 'JSON',
                        cache: false,
                        async: false,
                        success: function (data) {
                            if (data != null && data != "Sessionexpired") {
                                bootbox.alert("Skills Reviewed successfully.");
                                 window.location.href = '@Url.Action("Index", "EmployeeCluster")';
                            }
                            else if (data == "Sessionexpired")
                            {
                                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                            else if (data == "Error")
                            {
                                window.location.href = '@Url.Action("Error","Error")';
                            }
                        },
                        error: function (error) {

                            alert(error.statusText);
                        }
                    });
                }
                else {
                    bootbox.alert("No skills to send for approval.");
               }
            });
      $('#btnExportToExcel').click(function () {
            debugger;
        //$(this).hide();
       $("#btnProcessing").show();
                //var practice = ($('#ddlPractice1').length > 0) ? $('#ddlPractice1').val() : "";
                //var myRequest = ($('.ddlRequestType').length > 0) ? $('.ddlRequestType').val() : "";
                //var account = ($('#ddlAccount').length > 0) ? $('#ddlAccount').val() : "";
                myRequest = sessionStorage.getItem("rType");

        $.ajax({
                 url: "@Url.Action("ExportReport", "EmployeeCluster")",

            type: "POST",
            datatype: "JSON",
            cache: false,
            success: function (response) {
                if (response == "success") {
                window.location = "@Url.Action("GenerateHRRFReport", "EmployeeCluster")";


                    setTimeout(function () {
                        $("#btnExportToExcel").show();
                        $("#btnProcessing").hide();
                    }, 10000);
                }
                else if (reresponsesult == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                else if (response== "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
            },
            error: function (error) {
                alert(error.statusText);
            }
        });
          });

        function GetSelectSkills() {
            var Skillslist = [];

            $("#tableEmpResourceReport").find("tbody tr").each(function () {

                var EmployeeSkillId = $(this).closest("tr").find(".chkSkillId").text();
                var EmployeeSkillName = $(this).closest("tr").find(".chkSkillname").text();
              //  var EmployeeId = $(this).closest("tr").find(".hdnEmployeeID").text();

                var EmployeeId = $(".hdnEmployeeID").val();

                var leadId = $("#lblleadid").val();

                var Primarycheckbox = "";
                var IsChecked = false;

                var isPrmValforcheckbox = $(this).closest("tr").find(".primarychk").is(':checked');
                //var sss = $("#tableEmpResourceReport").closest("tr").find(".primarychk").prop('checked',true);
                //alert(isPrmValforcheckbox);
                if ($(this).closest("tr").find(".primarychk").prop("checked"))
                //if ($("#tableEmpResourceReport").closest("tr").find('.primarychk').prop('checked'))

                {
                    IsChecked = true;
                }
                var SkillStatus = "Submitted";
                var Skillsubmtion = { SkillID: EmployeeSkillId, SkillName: EmployeeSkillName, Reviewed: IsChecked, EmployeeID: EmployeeId, LeadID: leadId};
                Skillslist.push(Skillsubmtion);
            });
            return Skillslist;
        }
          $('.chkReview').change(function () {

            var chkResume = $(".chkResume").val();
            var chkreview = $(".chkReview").val();
            if ($('.chkReview').is(":checked")) {

                var chkvalue = "1";
                //  var chkResume = "0"
            window.location = "@Url.Action("GetClusterdetailsByreview", "EmployeeCluster")" + "?review=" + chkvalue + "&resume=" + chkResume;
            }

            else {
                if (chkResume == "true") {
                  window.location = "@Url.Action("GetClusterdetailsByreview", "EmployeeCluster")" + "?review=" + chkvalue + "&resume=" + chkResume;
                }
                else {
                    $(".chkReview").prop('checked', false);
                   window.location = "@Url.Action("Index", "EmployeeCluster")";
                }
            }
        });

        $('.chkResume').change(function ()
        {
         var chkvalue = $(".chkReview").val();
         if ($('.chkResume').is(":checked")) {
             //   var chkvalue = "0";
                var chkResume = "1";
                window.location = "@Url.Action("GetClusterdetailsByreview", "EmployeeCluster")" + "?review=" + chkvalue + "&resume=" + chkResume;
              /*  $(".chkResume").prop('checked', 'checked');*/
            }
            else if (chkvalue=="true")
            {
                 window.location = "@Url.Action("GetClusterdetailsByreview", "EmployeeCluster")" + "?review=" + chkvalue + "&resume=" + chkResume;
            }
            else {
               // $(".chkResume").prop('checked', false);
               window.location = "@Url.Action("Index", "EmployeeCluster")";
            }

        });

        @*$('.chkReview').change(function () {

            var chkResume = $(".chkResume").val();
            var chkreview = $(".chkReview").val();
            if ($('.chkReview').is(":checked")) {

                var chkvalue = "1";
                //  var chkResume = "0"
            window.location = "@Url.Action("GetClusterdetailsByreview", "EmployeeCluster")" + "?review=" + chkvalue + "&resume=" + chkResume;
            }

            else {
                if (chkResume == "true") {
                  window.location = "@Url.Action("GetClusterdetailsByreview", "EmployeeCluster")" + "?review=" + chkvalue + "&resume=" + chkResume;
                }
                else {
                    $(".chkReview").prop('checked', false);
                   window.location = "@Url.Action("Index", "EmployeeCluster")";
                }
            }
        });

        $('.chkResume').change(function ()
        {
         var chkvalue = $(".chkReview").val();
         if ($('.chkResume').is(":checked")) {
             //   var chkvalue = "0";
                var chkResume = "1";
                window.location = "@Url.Action("GetClusterdetailsByreview", "EmployeeCluster")" + "?review=" + chkvalue + "&resume=" + chkResume;
              /*  $(".chkResume").prop('checked', 'checked');*/
            }
            else if (chkvalue=="true")
            {
                 window.location = "@Url.Action("GetClusterdetailsByreview", "EmployeeCluster")" + "?review=" + chkvalue + "&resume=" + chkResume;
            }
            else {
               // $(".chkResume").prop('checked', false);
               window.location = "@Url.Action("Index", "EmployeeCluster")";
            }

        });*@


        $('.primarychk1').change(function () {

            if ($('.primarychk1').is(":checked")) {
                $(".primarychk").prop('checked', 'checked');
            }
            else {
                $(".primarychk").prop('checked', false);
            }

        });


        $(".clsReview").on("click", function () {

            //var Id = $(this).attr("data-docId");
            var tr = $(this).parents('tr:first');
            var SkillIds = tr.find("#hdnSkillId").text();
            var Empid = tr.find("#lblemppiid").text();
            var Empname = tr.find("#lblempname").text();

            $("#empnamelbl").val(Empname);
            $("#lblempid").val(Empid);

            GetAuditEditFindingDetails(Empid, SkillIds);
        });
        function SkillChkcheck(e) {
            if (!e.checked) {
                $(e).removeAttr('checked');
            }
            else {
                $(e).attr('checked', 'checked');
            }
        }
        function GetAuditEditFindingDetails(Empid, SkillIds)
        {
            $.ajax({
                url: '@Url.Action("SkillReview", "EmployeeCluster")',
                data: JSON.stringify({ Empid: Empid }),
                type: 'Post',
                datatype: "JSON",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                async: false,
                success: function (data) {

                    $(".hdnEmployeeID").val(Empid);
                    $("#tableEmpResourceReport tbody").remove();
                    for (var x = 0; x < data.length; x++) {

                        var IsReviewed = data[x].IsReviewed;

                        if (IsReviewed == null || IsReviewed == 0) {
                            IsReviewed = 0;
                        }
                        else {
                            IsReviewed = 1;
                        }
                        var ch = '';
                        if (IsReviewed == 0) {
                            ch = "<input type='checkbox' name='primarychk' class='primarychk'  value=" + IsReviewed + " > ";

                        }
                       else {
                            ch = "<input type='checkbox' name='primarychk' class='primarychk' checked  value=" + IsReviewed + " > ";

                        }
                        $("#tableEmpResourceReport").append(
                            "<tr><td class= 'chkSkillId' value=" + data[x].SkillId + "> " + data[x].SkillId + "</td><input type='hidden' id='hdnskill' class='hdnEmployeeID' value=" + Empid + "> <td class= 'chkSkillname' value=" +data[x].Skillname + " > " +data[x].Skillname + "</td><td>" +
                            ch + "</td></tr>"
                        );

                    $("#ModalEditauditFindings").modal("show");
                      }
                    },
                    error: function (error) {

                        alert(JSON.stringify(error));
                    }
                });
        };
        $("body").on("click", "#btnAdd", function () {

            var skillname = $("#txtSkill").val();
            var EmployeeID= $(".hdnEmployeeID").val();
            if (skillname == "") {
                bootbox.alert("please enter skillname");
            }
           var tBody = $("#tableEmpResourceReport > TBODY")[0];
        
            var skillId;
            var SkillName;
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("GetSkillsListByID", "EmployeeSkills"))",
                    data: { skill: skillname},
                    success: function (data) {
                        if (data != null && data != "Sessionexpired" && data != "Error") {
                            skillId=data[0].SkillId;
                            SkillName = data[0].Skillset;
                            $("#txtSkill").val('');
                            bootbox.alert("Add Skill  successfully.");
                        }
                        else if (data== "Sessionexpired") {
                            window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                          else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                    }
                });
            var chkskill = ChkskillExsits(skillId);
            if (chkskill) {
          
                $("#txtSkill").val('');
                bootbox.alert("Skill already exist");
            }
            else {                 //Add Row.
                var row = tBody.insertRow(-1);
                //Add SkillId cell.

                cell1 = $(row.insertCell(-1));
                cell1.attr("class", "chkSkillId");
                cell1.html(skillId);

                //Add skill Name cell.
                var cell2 = $(row.insertCell(-1));
                cell2.attr("class", "chkSkillname");
                cell2.html(SkillName);

                ////Add chekbox cell.
                var cell3 = $(row.insertCell(-1));
                var chkskill = $("<input />");
                chkskill.attr("type", "checkbox");
                chkskill.attr("Id", skillId);
                cell3.append(chkskill);    
                cell.append(EmployeeID);

            }
        });

        function ChkskillExsits(SkillID) {
            var Skillslist = false;
            $("#tableEmpResourceReport").find("tbody tr").each(function () {
                var EmployeeSkillId = $(this).closest("tr").find(".chkSkillId").text();
                var EmployeeSkillName = $(this).closest("tr").find(".chkSkillname").text();
                var EmployeeId = $(this).closest("tr").find(".hdnEmployeeID").val();
                if (EmployeeSkillId == SkillID) {
                    Skillslist = true;
                }
            });

            return Skillslist;
        }
        $(function () {
            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.search);
                return (results !== null) ? results[1] || 0 : false;
            }
            if ($.urlParam('cluster') == "1000") {
                $("#Cluster").val("A");
            }
            if ($.urlParam('cluster') == "1001") {

                $("#Cluster").val("P");
            }
            $('[data-toggle="tooltip"]').tooltip();
            $('#tablePractice').DataTable();
                    var ddlprac = $("#Practice").val()
            var ddlclus = $("#Cluster").val();
            if (ddlprac == "" || ddlprac == null || ddlprac == undefined) {
                ddlprac = 0;
            }
            if (ddlclus == "" || ddlclus == null || ddlclus == undefined) {
                ddlclus = 0;
            }
            if ($('#chckClsterLead').is(":checked")  && $('#chckClsterMember').is(":checked") == false)
            {
                $('#tablePractice tr').eq(0).find('th').eq(0).html('Cluster Lead Name');
                $('#tablePractice tr').eq(0).find('th').eq(3).html('Tower Lead Name');
            }
			if (ddlprac != 0 && ddlclus == 0)
            {
                $('#tablePractice tr').eq(0).find('th').eq(0).html('Cluster Lead Name');
                $('#tablePractice tr').eq(0).find('th').eq(3).html('Tower Lead Name');
            }

        });
    });
    $("#Practice").change(function () {
        callChangefunc();
    });

    $("#Cluster").change(function () {
        callChangefunc();
    });
    $("#LeadName").change(function () {
        callChangefunc();
    });
    $("#chckClsterLead").change(function () {
        callChangefunc();
    });
    $("#chckClsterMember").change(function () {
        callChangefunc();
    });
    function callChangefunc() {
        var ddlprac = $("#Practice").val();
        var ddlclus = $("#Cluster").val();
        var ddlleadaname = $("#LeadName").val();
        if (ddlclus == "A") {
            ddlclus = 1000;
        }
        if (ddlclus == "P") {
            ddlclus = 1001;
        }
        if ($('#chckClsterLead').is(":checked")) {
            var chckClsterLead = $("#chckClsterLead").val();
        }
        else
        {
            var chckClsterLead = "";
        }
        if (ddlprac == "" || ddlprac == null || ddlprac == undefined) {
            ddlprac = 0;
        }
        if (ddlclus == "" || ddlclus == null || ddlclus == undefined) {
            ddlclus = 0;
        }
        if (ddlleadaname == "" || ddlleadaname == null || ddlleadaname == undefined) {
            ddlleadaname = 0;
        }
        if (ddlprac != 0 && ddlclus == 0) {
            $('#tablePractice tr').eq(0).find('th').eq(0).html('Cluster Lead Name');
            $('#tablePractice tr').eq(0).find('th').eq(1).html('Tower Head Name');
        }
        //window.location = "@Url.Action("EmployeeClusterInfo", "EmployeeCluster")" + "?prac=" + ddlprac + "&cluster=" + ddlclus + "&lead=" + ddlleadaname + "&chckClsterLead=" + chckClsterLead + "&chckClsterMember=" + chckClsterMember;
        window.location = "@Url.Action("EmployeeClusterInfo", "EmployeeCluster")" + "?prac=" + ddlprac + "&cluster=" + ddlclus + "&lead=" + ddlleadaname;
    }
</script>

<script>
    $(document).ready(function () {
        //alert(1)
        $('#MenuCluster').addClass('active');
    });
</script>



