@model Trianz.Enterprise.Operations.Models.DesignationMaster

<link href="~/Content/LayoutHeader.css" rel="stylesheet" />


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Talento6 .css" rel="stylesheet" />

<style>
    body {
        overflow-x: hidden;
    }
    #tabledata {
        background-color: #FFFFFF;
       
    }
    #txt {
        
        color: #2C2E31;
        font-size: 16px;
        margin-left:10px;
    }
    #DesignationCode {
        margin-left: 0px;
    }
    #DesignationName {
        margin-left: 16px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
        var practice = $("#praclist");
        var selectpractices = $('#praclist>option:eq(1)').text().split(',')
        for (i = 0; i < selectpractices.length; i++) {
            for (j = 0; j < $('#ddlPractice >option').length; j++) {
                if (selectpractices[i] == $('#ddlPractice >option')[j].value)
                    $('#ddlPractice >option:eq(' + j + ')').attr('selected', true);
            }
        }
    });
</script>
<div class="subpage_header page-header nomargin-top">
    <p id="txt">EDIT</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DesignationID)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)


        <div class="row">
            <div class="col-md-12" id="tabledata">
                <div class="row" style="margin: 0px 10px">
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(model => model.Practice, htmlAttributes: new { @class = "control-label" })<br />
                        <div>
                            @Html.DropDownListFor(model => model.Practice, new SelectList((System.Collections.IEnumerable)ViewData["ServiceLine"], "LookupName", "LookupName"), new { id = "ddlPractice", @class = "form-control", style = "width:208px;height:35px" })
                            @Html.ValidationMessageFor(model => model.Practice, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="col-md-3 form-group" style=" margin: 0px 0 0 -52px;">

                        <div>
                            @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-4", @Style= "margin: 0px -30px" })<br />
                            <div>
                                @Html.DropDownListFor(model => model.Grade, new SelectList((System.Collections.IEnumerable)ViewData["Grades"]), "Select Grade ", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        @Html.Label("Designation Code", htmlAttributes: new { @class = "control-label" })<br />
                        <div>
                            @Html.EditorFor(model => model.DesignationCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DesignationCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                        @Html.Label("Designation Name", htmlAttributes: new { @class = "control-label", @Style = "margin-left:20px" })<br />
                        <div>
                            @Html.EditorFor(model => model.DesignationName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DesignationName, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="col-md-3 form-group" style="margin: 0px 8px;">
                        @Html.Label("Job Description", htmlAttributes: new { @class = "control-label" })<br />
                        <div>
                            @Html.TextAreaFor(model => model.JobDescription, new { @class = "form-control  full-width", @rows = "8", style = "width: 883px;" })
                            @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 15px;">
                    <div class="col-md-12 form-group">
                        <div class="col-md-offset-9 col-md-5">
                            <a href="~/designationmasters/index" class="btn btn-primary" style="position: relative;right: 170px;background-color: #004BBB;">Back to List</a>
                            <input type="submit" value="Save" class="btn btn-primary" style="position: relative;right: 339px;background-color: #004BBB;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (Session["Role"] != null && Session["Role"].ToString().ToUpper() == "OM")
    {
        <script>
            $(document).ready(function () {
                $('#ddlPractice, #Grade, #DesignationCode, #DesignationName').attr('disabled', 'disabled');
            });
        </script>
    }

}
 <script>
            $(document).ready(function () {
                //alert(1)
                $('#assign').addClass('active');
                $('#assign3').addClass('active');
            });
  </script>