@using Trianz.Enterprise.Operations.Controllers;
@{
    /**/

    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/pagination.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

<style>
  .se-pre-con {
        margin: 0;
        padding: 0;
        left: 0;
        bottom: 20px;
        width:100%;
        height: 100%;
        z-index: 9999;
        position: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../Content/Images/loading.gif');
        border: none;
        outline: none;
        /* Reset other potentially conflicting styles */
        background-color: transparent;
        box-shadow: none;
        overflow-x:hidden;
        overflow-y:hidden;
        background-size:70px 70px;
    } 
	
    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        background-color: #004BBB;
    }

        .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
            z-index: 0;
            color: #fff;
            cursor: default;
            background-color: #004BBB;
            border-color: #337ab7;
        }
   
    

    .HRRF_custom .nopadding {
        background: #F3F4F9;
    }

    .btn:focus {
        outline: none
    }

    .btn:hover {
        background: #033887;
        color: #FFFFFF;
    }

    .btn {
        color: #FFFFFF;
        background: #004BBB;
    }

    .HRRF_custom .navbar {
        background: #F3F4F9;
    }

    a {
        color: black;
        text-decoration: none;
    }

    /*#tableHRRF_info {
        margin-left: 1px;
        position: relative;
        bottom: 40px;
    }*/
    div.dataTables_wrapper div.dataTables_paginate {
        margin: 0;
        white-space: nowrap;
        text-align: right;
        /*position: relative;*/
        /*bottom: 41px;*/
    }

    body {
        overflow-x: hidden;
    }

    #txtSearchTR {
        text-align: left;
    }

    .filter1 {
        transition: transform 1s;
    }

        .filter1.active {
            transform: rotateZ(180deg);
        }

    

    #txtSearchCode {
        text-align: left;
    }

   

    #btnSearch {
        height: 39px;
        background-color: #004BBB;
    }

    #talento_head h1 {
        color: #2C2E31;
        font-weight: bold;
        font-size: 36px;
        margin-left: 26px;
    }
    #talento_head p {
        width:66%;
        position: relative;
        left: 31px;
        font-size: 15px;
        line-height: 22px;
        font-weight: 600;
        color: #2C2E31;
    }

    #talento_head {
        text-align: left;
    }

    .row {
        margin-top: 0;
    }

    .HRRF_custom.container {
        border: 0px solid #dddddd;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    }

    .request_bx {
        position: relative;
        /*width: 95%;
        left: 30px;*/
        height: 720px;
        /*margin: 0px 35px 35px 35px;*/
        /*margin-bottom: 20px;*/
        text-align: left;
        background: #fff;
        border-radius: 8px;
        padding: 0 15px 15px;
        height: auto;
    }
    
    a.active {
        color: #004BBB;
        text-decoration: underline;
    }

    .btn-primary {
        background-color: #004BBB;

    }

    .btn:focus, .btn-primary:focus {
        border: none !important;
        outline: none;
        outline-offset: 0px;

    }

      .btn:active, .btn-primary:active {
        border: none !important;
        outline: none;
        outline-offset: 0px;

    }
   
  

</style>

<div class="container-fluid" style="background: #F3F4F9;">
    @if (!Request.IsAuthenticated)
    {
        ((TRHomeController)this.ViewContext.Controller).SignIn();

    }
    else
    {
        if (TempData.ContainsKey("HRRFNumber"))
        {
            <script>
        $(function(){
            bootbox.alert('@TempData["HRRFNumber"].ToString().Trim(',')' + '@TempData["Message"]');

        });
            </script>
        }



        <!--<div>
            <a href="#" target="_blank">-->
        @*<img src="~/Content/images/young-african-american-woman (2).png" class="questionlogo2" alt="Womenlogo">*@

        <!--</a>


        </div>-->

        <div class="row" >
            <div class="col-sm-8" style="margin-top:50px;">
                <div id="talento_head">
                    <h1><b>Global Central Operations</b></h1>
                    <p>
                        Unified Portal for Talent Requisition, Allocation of Projects to Employees,
                        Skill Management and Employee Project Release.
                    </p>

                </div>
                @if ((Session["Role"].ToString() == "RL"))
                {
                    List<string>
                        lstEmpIDs = System.Configuration.ConfigurationManager.AppSettings["CreateTR-RL"].Split(',').ToList();



                    bool IsValid = lstEmpIDs.Where(e => Session["EmployeeId"].ToString().Contains(e)).Any();
                    if (IsValid)
                    {
                <button id="btnCreate" type="button" onclick="location.href='@Url.Action("HRRFCreation", "CreateHRRF")'" class="btn pull-left" style="margin-right: 10px;  position: relative; left: 30px; top: 50px;padding: 8px 15px 8px 15px;font-size:16px;font-weight:700;"><span class="icon icon-add"></span>Talent Requisition</button>
                        @*@:<button id="btnCreate" type="button" onclick="location.href='@Url.Action("HRRFCreation", "CreateHRRF")'" class="butn" style="margin-right: 10px; border:none; background-color : #004BBB; width: 125px; position: relative;  bottom: 161px; right: 615px;font-size:16px;font-weight:700;"> <span class="icon icon-add"></span>Talent Requisition</button>*@
                    }
                }
                else
                {
                    if (Convert.ToInt32(Session["Grade"]) >= 1 || Convert.ToInt32(Session["EmployeeId"]) == 107510 || Convert.ToInt32(Session["EmployeeId"]) == 107461 || Convert.ToInt32(Session["EmployeeId"]) == 107184 || Convert.ToInt32(Session["EmployeeId"]) == 107487 || Convert.ToInt32(Session["EmployeeId"]) == 107118)
                    {
                        <button id="btnCreate" type="button" onclick="location.href='@Url.Action("HRRFCreation", "CreateHRRF")'" class="btn pull-left" style="margin-right: 10px;  position: relative; left: 30px; top: 50px;padding: 8px 15px 8px 15px;font-size:16px;font-weight:700;"><span class="icon icon-add"></span>Talent Requisition</button>
                    }
                }


                @*<a href="#" role="button" class="btn btn-primary"><i class="fa-thin fa-square-plus"></i> Talent Requistion</a>*@
            </div>
            <div class="col-sm-4">
                @*<img src="~/Content/images/homepic.png" class="img-responsive" />*@

                <img src="~/Content/images/bannerImg.svg" class="img-responsive" style="width: 355px;height: 281px;margin: 20px;"/>
            </div>
        </div>


        <br />

        <div class="request_bx">
            <div class="request_header">

                @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "RL" || Session["Role"].ToString() == "LDAdmin" || Session["Role"].ToString() == "CompetencyAdmin" || Session["Role"].ToString() == "Finance"))
                {

                    <div class="row">
                    <input type="hidden" id="RoleSummary" value="@Session["Role"].ToString()" />
                    @if (Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "DH")
                    {
                        <div class="col-sm-2"><a class="ddlRequestType " id="request" href="#"><b>My Requests</b></a><div class="clear-both"></div></div>


                        <div class="col-sm-2"><a class="ddlRequestType" href="#"><b>All TRs</b></a></div>

                        <div class="col-sm-2"><a class="ddlRequestType ddlRequestType1"  href="#"><b>Active TRs</b></a></div>
                        <div class="col-sm-2"><a class="ddlRequestType" href="#"><b>Fulfilled TRs</b></a></div>
                        <div class="col-sm-2"><a class="ddlRequestType" href="#"><b>Cancelled TRs</b></a></div>
                        <div class="col-sm-2"><a href="#" id="sum" class="ddlRequestType active"><b>Summary</b></a></div>
                    }
                  
                    else
                    {
                        <div class="col-sm-2"><a class="ddlRequestType active" id="request" href="#"><b>My Requests</b></a><div class="clear-both"></div></div>

                        <div class="col-sm-2"><a class="ddlRequestType" href="#"><b>All TRs</b></a></div>

                        <div class="col-sm-2"><a class="ddlRequestType" href="#"><b>Active TRs</b></a></div>
                        <div class="col-sm-2"><a class="ddlRequestType" href="#"><b>Fulfilled TRs</b></a></div>
                        <div class="col-sm-2"><a class="ddlRequestType" href="#"><b>Cancelled TRs</b></a></div>
                        
                    }

                </div>
                }

                @if ((Session["Role"].ToString() == "PM"))
                {

                    <div><a class="ddlRequestType active" id="request" href="#"><b>My Requests</b></a><div class="clear-both"></div></div>

                }
            </div>

            <br />
			 <div id="SummaryHide">					  
            <div class="row">
                <div class="col-sm-7">


                    <div class="row" id="DataHide" style="display: block;">
                        <div>
                            @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "RL" || Session["Role"].ToString() == "LDAdmin" || Session["Role"].ToString() == "CompetencyAdmin" || Session["Role"].ToString() == "Finance"))
                            {
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="txtSearchCode" placeholder=" Skill Code" title=" Enter Code">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="txtSearchTR" placeholder=" TR" title="Enter TR">
                                </div>
                                <div class="col-sm-3">
                                    @if (Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH")
                                    {
                                        <div>
                                            @Html.DropDownList("ddlAccount", new SelectList((System.Collections.IEnumerable)ViewData["_Accounts"], "Accountname", "Accountname"), "Account", new { @class = "form-control" })
                                        </div>
                                    }
                                </div>


                                <div>
                                    @if (Session["Role"].ToString() == "OM")
                                    {
                                        <div class="col-sm-3" style="cursor: pointer;">
                                            @Html.DropDownList("ddlPractice1", new SelectList((System.Collections.IEnumerable)ViewData["ServiceLine"], "LookupName", "LookupName"), "Practice", new { @class = "form-control" })
                                        </div>
                                    }
                                    @if (Session["Role"].ToString() == "RL")
                                    {<div class="col-sm-3" style="cursor:pointer;">
                                            @Html.DropDownList("ddlPractice1", new SelectList((System.Collections.IEnumerable)ViewData["ServiceLine"], "LookupName", "LookupName"), "Practice", new { @class = "form-control" })
                                        </div>
                                    }
                                </div>


                            }

                        </div>
                    </div>




                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" id="btnSearch">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>

                    @*<a href="javascript:void()">
                      
                        <img src="~/Content/images/Reload_icon.svg" class="filter1" alt="filterimg">

                    </a>*@

                </div>


                <div class="col-sm-4" style="display:flex">

                    @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "RL" || Session["Role"].ToString() == "LDAdmin" || Session["Role"].ToString() == "CompetencyAdmin" || Session["Role"].ToString() == "Finance"))
                    {
                    <div id="textbx">

                        <button id="btnExportToExcel1" type="button" style="position: relative; background-color: white; border: white; float: right; color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 25px;">
                            <img src="~/Content/images/Report_icon.svg" /> Sub Report<span class="caret"></span>
                            @*<img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: 11px;left: 17px;position:relative;" alt="xlmsimg">*@
                        </button>

                        <button id="btnExportToExcel" type="button" style="margin:0 20px;position: relative; background-color: white; border: white;  color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 25px;">
                            <img src="~/Content/images/Report_icon.svg" /> Export <span class="caret"></span>
                            @*<img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: 11px;left: 17px;position:relative;" alt="xlmsimg">*@
                        </button>

				

                        @*<br><input type="text" placeholder="Filters" style="width:100px; margin-top: 28px; text-align:center;" /><br>*@
                    </div>
                        <br />
                    }



                </div>

            </div>


            @*<div>
                    <div class="parg" style="font-size: 10px;">
                        <h3>Trianz Corporate Operations</h3>

                    </div>


                    <div class="parg2">

                        <p>
                            Unified Portal for Talent Requisition, Allocation of Projects to
                            <br />
                            Employees, Skill Management and Employee Project Release.
                        </p>
                    </div>

                </div>*@

            <div>

                @if (Convert.ToInt32(Session["EmployeeId"]) != 105825)
                {
                    <div class="row" style="margin-bottom: 10px; margin-top:0px;">
                        <div class="col-lg-1 pull-left">

                            @*<img id="divLoader" src="@Url.Content("~/content/images/loading.gif")" alt="Please wait the HRRF list is displaying..." width="25" />*@
                        </div>



                        <div class="col-sm-6">
                            @*<div class="row">
                                <div class="col-lg-8 " style="margin-top: -24px;">
                                    @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "RL" || Session["Role"].ToString() == "LDAdmin" || Session["Role"].ToString() == "CompetencyAdmin" || Session["Role"].ToString() == "Finance"))
                                    {

                                    }
                                </div>
																			

                            </div>*@
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                @if (ViewData["_TRRequests"] != null)
                                {
                                    @*<div class="col-lg-5 ">
                                            @Html.DropDownList("ddlRequestType", new SelectList((System.Collections.IEnumerable)ViewData["_TRRequests"], "Value", "Text"), new { @class = "form-control col-lg-4" })
                                        </div>*@
                                }

                            </div>
                        </div>
                    </div>

                }
            </div>
            <div>
                @if (Convert.ToInt32(Session["EmployeeId"]) != 105825)
                {
                    <div id="divHRRFList" style="padding-top: 10px;">
                    </div>
                }
            </div>


        </div>
		 </div>	  

    }

</div>

		<div id="divLoader" class="se-pre-con"></div>									 
<script type="text/javascript">
    //function fun();
    $("#SummaryHide").show();
    $("#divHREFList").show();

    $('.filter1').click(function () {


        if ($(".filter1").hasClass("active")) {

            $(".filter1").removeClass("active");
            $("#DataHide").hide();

        }
        else {

            $(".filter1").addClass("active");

            $("#DataHide").show();
        }

        $(this).find(".filter1").toggleClass('active');

    });

    $('.newactive').click(function () {

        $(".filter1").removeClass("active");
        $(this).find(".filter1").toggleClass('active');


    });

    $(this).find(".filter1").toggleClass('active');


</script>

<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })


   $(document).ajaxStart(function () {
        debugger;
        /*  $('#divLoader').attr("style", "display: block; padding-top: 7px; padding-left: 7px;");*/
        $("#divLoader").show();
    });




    $(document).ready(function () {
			$("#divLoader").show();				   
        $('#ddlAccount option').each(function () {
            $(this).attr('title', $(this).text());

            //$("#ddlAccount").select2();
        });
        $('#ddlPractice1 option').each(function () {
            $(this).attr('title', $(this).text());


        });

        sessionStorage.setItem("rType", "MyRequest");


            $("#btnProcessing").hide();
            DisplayHRRFList();

            $('#ddlPractice1').change(DisplayHRRFList);

            $('#ddlRequestType').change(DisplayHRRFList);

        $('#ddlAccount').change(DisplayHRRFList);
        var rType;
        $('.ddlRequestType').click(function () {
            debugger;
            rType = $(this).text().split(' ')[0];
            //console.log(rType);
            if (rType == "My") {
                rType = "MyRequest";
                sessionStorage.setItem("rType", rType);

            } else {
                sessionStorage.setItem("rType", rType);
            }

            if (rType == "Active") {
                rType = "Open";
                sessionStorage.setItem("rType", rType);               
            }
            else {
                sessionStorage.setItem("rType", rType);
            }



            $(".ddlRequestType").removeClass("active");
            $(this).addClass("active");

            var list = "false";
            var status = null;
            var RequestType = null;
            DisplayHRRFList(rType, status, RequestType, list);

          
        });
       
        $('#btnExportToExcel').click(function () {
            
        //$(this).hide();
       $("#btnProcessing").show();
                var practice = ($('#ddlPractice1').length > 0) ? $('#ddlPractice1').val() : "";
                var myRequest = ($('.ddlRequestType').length > 0) ? $('.ddlRequestType').val() : "";
                var account = ($('#ddlAccount').length > 0) ? $('#ddlAccount').val() : "";
                myRequest = sessionStorage.getItem("rType");

        $.ajax({
                 url: "@Url.Action("ExportReport", "TRHome")",
            data: { strPractice: practice, strRequest: myRequest, strAccount: account },
            type: "POST",
            datatype: "JSON",
            cache: false,
            success: function (response) {
                if (response == "success") {
                window.location = "@Url.Action("GenerateHRRFReport", "TRHome")" + "?strPractice=" + practice + "&&strRequest=" + myRequest + "&&strAccount=" + account;


                    setTimeout(function () {
                        $("#btnExportToExcel").show();
                        $("#btnProcessing").hide();
                    }, 10000);
                }
                else if (response == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                else if (response== "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
            },
            error: function (error) {
                alert(error.statusText);
            }
            });


        });

           $('#btnExportToExcel1').click(function () {
            
        //$(this).hide();
       $("#btnProcessing").show();
                var practice = ($('#ddlPractice1').length > 0) ? $('#ddlPractice1').val() : "";
                var myRequest = ($('.ddlRequestType').length > 0) ? $('.ddlRequestType').val() : "";
                var account = ($('#ddlAccount').length > 0) ? $('#ddlAccount').val() : "";
                myRequest = sessionStorage.getItem("rType");

        $.ajax({
                 url: "@Url.Action("ExportReport", "TRHome")",
            data: { strPractice: practice, strRequest: myRequest, strAccount: account },
            type: "POST",
            datatype: "JSON",
            cache: false,
            success: function (response) {
                if (response == "success") {
                window.location = "@Url.Action("GenerateHRRFSubReport", "TRHome")" + "?strPractice=" + practice + "&&strRequest=" + myRequest + "&&strAccount=" + account;


                    setTimeout(function () {
                        $("#btnExportToExcel").show();
                        $("#btnProcessing").hide();
                    }, 10000);
                }
                else if (response == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                else if (response== "Sessionexpired") {
                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
            },
            error: function (error) {
                alert(error.statusText);
            }
            });


    });

            $('#txtSearchTR').keydown(function (event) {
                // track enter key
                var keycode = (event.keyCode ? event.keyCode : (event.which ? event.which : event.charCode));
                if (keycode == 13) { // keycode for enter key
                    // force the 'Enter Key' to implicitly click the Search button
                    $('#btnSearch').click();
                }
            });

            $('#btnSearch').click(function () {
                var HRRFNumber = $('#txtSearchTR').val();
                var skillCode = $('#txtSearchCode').val();

                //newly for search active icon image
                var myRequest = sessionStorage.getItem("rType");
                 //newly for search active icon image


                if (HRRFNumber.length > 0 || skillCode.length>0) {
                    $.ajax({
                        url: '@Url.Action("GetHRRFDetailsBySearchTR", "TRHome")',
                        data: { "HRRFNumber": HRRFNumber, "SkillCode": skillCode, "strRequest": myRequest},
                        type: "post",
                        datatype: "json",
                        contenttype: 'application/json; charset=utf-8',
                        async: true,
                        success: function (data) {
                            if (data != null && data != "Sessionexpired" && data != "Error") {
                            $("#divHRRFList").html(data);
                            }
                             else if (data == "Error") {
                    window.location.href = '@Url.Action("Error","Error")';

                }


                        else if (data == "Sessionexpired")
                        {
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                        },
                        error: function (xhr) {
                            debugger
                            alert('error');
                        }
                    });
                }
                else {
                    var list = "true";
                    var status = null;
                    var RequestType = null;
                    DisplayHRRFList(rType, status, RequestType, list);
                }
            });
        });

        $(document).ajaxComplete(function () {
            $('#divLoader').attr("style", "display: none;");
        });
    function DisplayHRRFList(rType, status, RequestType, list) {
        debugger;
        var practice = ($('#ddlPractice1').length > 0) ? $('#ddlPractice1').val() : "";
         //($('#ddlRequestType').length > 0) ? $('#ddlRequestType').val() : "";
        var account = ($('#ddlAccount').length > 0) ? $('#ddlAccount').val() : "";


        if (list == "true") {
                rType = "MyRequest"
            }
        else {
            list == "false";
            
            $("#divHRRFList").html('');
          //  alert($("#RoleSummary").val());
            if (($("#RoleSummary").val() == "OM" || $("#RoleSummary").val() == "DH") && rType == undefined) {
                    rType = "Summary";

            }
            //else if (($("#RoleSummary").val() == "DH") && rType == undefined) {
            //    rType = "MyRequest";

            //}
                else if (rType == undefined) {
                    rType = "MyRequest";

                }
                else if (rType == "My") {
                    rType = "MyRequest";

                }
            var myRequest = rType;
                //if ($("#RoleSummary").val() == "OM" && rType == rType && (practice == null || practice == "") || (account == null || account == "")) {

                //    myRequest = rType;
                //}
                //else {
                //    myRequest = "MyRequest";
                //}

                //  debugger
           
            }
                $.ajax({
                    url: '@Url.Action("GetHRRFsByFilters", "TRHome")',
                    data: { strPractice: practice, strRequest: myRequest, strAccount: account, status: status, RequestType: RequestType, list: list },
                    type: 'POST',
                    datatype: 'JSON',
                    cache: false,
                    success: function (data) {
                      if (data != "null" && data != "Error")
                        {
						 if (myRequest == "Summary") {
                              $("#DataHide").hide();
                              $("#btnSearch").hide();
                              $("#textbx").hide();
                                 }
                                 else {
                              $("#DataHide").show();
                              $("#btnSearch").show();
                              $("#textbx").show();
                                 }								
                            $("#divHRRFList").html(data);
                        }
                        else if (data == "Error") {
                    window.location.href = '@Url.Action("Error","Error")';

                    }
                    },
                    error: function (error) {
                        debugger
                        alert(error.statusText);
                    }
                });
    }

   
    function StatusCount(status,RequestType) {
        debugger;

        rType = "Open";
        //console.log(rType);
        sessionStorage.setItem("rType", rType);
        $(".ddlRequestType").removeClass("active");
        $(".ddlRequestType1").addClass("active");

    DisplayHRRFList(rType, status, RequestType);
    }
</script>


