@*@model IEnumerable<ResourceEXPERT.Models.Employee>*@
@model IEnumerable<Trianz.Enterprise.Operations.Models.Employee>

@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
    selectionFieldName: "SelectedRow");

    grid.Pager(WebGridPagerModes.All);



}

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@

@section scripts {

    <script>
        $(document).ready(function () {


            $(function () {
                $('.selectedEmployeeLink').on('click', function () {
                    //debugger;
                    var tr = $(this).parents('tr:first');
                    var benchempId = tr.find("#lblEmployeeID").text();


                    $.ajax({
                        type: "POST",
                        data: { empNum: benchempId },
                        url: '@Url.Action("EmployeeDetails", "Bench")',
                        success: function (result) {

                            //alert('Employee successfully added!!');
                            window.location.href = '@Url.Action("EmployeeDetails", "Bench")';
                            @*data: { empNum: result.EmployeeId },
                            url:'@Url.Action("EmployeeDetails", "Bench")';*@
                        }
                    });
                    @*$('#employeeDetails').dialog({
                        autoOpen: false,
                        width: 500,
                        height: 600,
                        resizable: false,
                        title: 'Employee Details',
                        modal: true,
                        open: function (event, ui) {
                            $(this).load('@Url.Action("EmployeeDetails", "Bench")');
                        },
                        buttons: {
                            "Close": function () {
                                $(this).dialog("close");
                            }
                        }
                    });*@
                });
            });

            //$('.selectedEmployeeLink').on('click', function () {
            //debugger;
            //$('#employeeGrid a').on('mouseover', function () {
            @*$('.selectedEmployeeLink').on('mouseover', function () {


                var empNumber = $.trim((this).innerHTML);
                //alert(empNumber);
                $.ajax({
                    type: "POST",
                    data: { empNum: empNumber },
                    url: '@Url.Action("Resources", "Bench")',
                    success: function (result) {
                        debugger;

                        $("#employeeDetails").dialog("open");
                        return false;
                        //$("#LoadGrid").empty();
                        //$("#LoadGrid").html(result);
                        ////$(".employeeDetails").css("display", "inline");

                        ////$(".employeeDetails").empty();
                        ////$(".employeeDetails").html(result);


                        //var url = $(this).attr('href');
                        //$("#employeeDetails").dialog({
                        //    title: 'Employee Details',
                        //    autoOpen: false,
                        //    resizable: false,
                        //    height: 600,
                        //    width: 500,
                        //    show: { effect: 'drop', direction: "up" },
                        //    modal: true,
                        //    draggable: true,
                        //    open: function (event, ui) {
                        //        $(this).load(url);

                        //    },
                        //    close: function (event, ui) {
                        //        $(this).dialog('close');
                        //    }

                        //});
                        //$("#employeeDetails").dialog('open');
                        //return false;


                    }
                });

            });*@


            $("#EmpFName").autocomplete({
                source: '@Url.Action("GetResource")',
            });




            $('#btnMoveToBench').click(function () {
                //debugger;
                var employeeNumbers = $('#lblEmpNumber')[0].innerText;

                var result = window.confirm("Are you sure you want to Move to Bench?");
                if (result == true) {
                    $.ajax({
                        type: "POST",
                        data: { empNumbers: employeeNumbers },
                        url: '@Url.Action("AddResources", "Bench")',
                        success: function (result) {
                            if (result == true) {
                                alert('Employee successfully added!!');


                                window.location.href = '@Url.Action("AddResources", "Bench")';
                            }
                          else if (result == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }

                        }
                    });
                }
            });
        });



    </script>
}


@{
    //ResourceEXPERT.Models.Employee employee = new ResourceEXPERT.Models.Employee();
    //var defaultEmployee = (ResourceEXPERT.Models.Employee)ViewBag.DefaultEmployee;
    //var selectedEmployee = (ResourceEXPERT.Models.Employee)ViewBag.SelectedEmployee;

    Trianz.Enterprise.Operations.Models.Employee employee = new Trianz.Enterprise.Operations.Models.Employee();
    var defaultEmployee = (Trianz.Enterprise.Operations.Models.Employee)ViewBag.DefaultEmployee;
    var selectedEmployee = (Trianz.Enterprise.Operations.Models.Employee)ViewBag.SelectedEmployee;

}

@{
    var practiceList = new SelectList(new[]
        {
                new SelectListItem { Text = "AIM", Value = "AIM", Selected = true },
                new SelectListItem { Text = "CCM - CPP", Value = "CCM - CPP"},
                new SelectListItem { Text = "CCM - Java", Value = "CCM - Java"},
                new SelectListItem { Text = "CCM - Microsoft", Value = "CCM - Microsoft"},
                new SelectListItem { Text = "Clinical Trial Management", Value = "Clinical Trial Management"},
                new SelectListItem { Text = "Cloud Solutions", Value = "Cloud Solutions"},
                new SelectListItem { Text = "Digital Solutions", Value = "Digital Solutions"},
                new SelectListItem { Text = "EAS", Value = "EAS"},
                new SelectListItem { Text = "IMS - ITSM", Value = "IMS - ITSM"},
                new SelectListItem { Text = "IMS - Maintenance", Value = "IMS - Maintenance"},
                new SelectListItem { Text = "IMS - Security", Value = "IMS - Security"},
                new SelectListItem { Text = "IT Services Others", Value = "IT Services Others"},
                new SelectListItem { Text = "No Service Line", Value = "No Service Line"},
                new SelectListItem { Text = "Ops Consulting", Value = "Ops Consulting"},
                new SelectListItem { Text = "Sales BPO", Value = "Sales BPO"},
                new SelectListItem { Text = "SG&A", Value = "SG&A"},
            }, "Value", "Text");
}


<div id="LoadGrid">

    @using (Html.BeginForm("Resources", "Bench", FormMethod.Get, new { @class = "form-horizontal" }))
    {

         <fieldset>
            <legend>All Resources</legend>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DropDownList("ddlPractise", practiceList, "---Practice---", new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.TextBox("EmpFName", "", new { @class = "form-control", @placeholder = "---Resource Name---" })
                </div>
                <div class="col-md-3">
                    <button id="btnSearch" class="btn btn-primary" onclick="$('form').submit()">Search<span class="glyphicon glyphicon-search"></span></button>
                    @*<input type="button" id="btnSearch" value="Search" class="btn btn-primary" onclick="$('form').submit()"  />*@
                </div>
                </div>
        </fieldset>


    }

    @*@Html.Partial("_EmployeeGrid", Model)*@
    <div id="gridContent" class="table table-responsive">

        @grid.GetHtml(tableStyle: "table table-bordered table-striped",
fillEmptyRows: true,
 headerStyle: "header",
 alternatingRowStyle: "alt",
 selectedRowStyle: "select",
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
 htmlAttributes: new { id = "employeeGrid" },
 columns: grid.Columns(
     //grid.Column("EmployeeId", "Employee Number", format: (item) => @Html.ActionLink((int)item.EmployeeId, "SelectedResources", new { id = item.EmployeeId,class=selectedEmployeeLink }, canSort: true),
     grid.Column("EmployeeId", "Employee", format:@<text><span><b>@item.FirstName @item.MiddleName @item.LastName  </b></span><label id="lblEmployeeID" style="display:none;">@item.EmployeeId</label><a class="selectedEmployeeLink">@item.EmployeeId</a><br /><span>@item.Designation</span></text>),
     //grid.Column("EmployeeId", "Employee Number", format: (item) => item.GetSelectLink(item.EmployeeId.ToString())),
     grid.Column("Practice", "Practice"),
     grid.Column("ProjectManagerId", "Project Manager"),
     grid.Column("DateOfJoin","Date of Joining", format: (item) => string.Format("{0:dd-MMM-yyyy}", item.DateOfJoin)),
     //grid.Column("Utilization", "Utilization %"),
     grid.Column("Assignment", "Assignment Details", format:@<text><span>Assignment period:</span><br />
                                                            <span>Utilization:</span> @item.Utilization<br />
                                                            <span>Billing Type:</span><br />
                                                            <span>Reservation Status:</span>@item.ReservationStatus</text>)

))


    </div>


    @*<div id="employeeDetails" style="display:none">
        <div >

            @if (selectedEmployee != null)
            {
                <div>
                    <img src="~/Content/themes/base/images/default.jpg" alt="Default Image" width="50px" height="50px" style="float:left;" />

                    <b>@selectedEmployee.FirstName @selectedEmployee.MiddleName @selectedEmployee.LastName <span id="lblEmpNumber">@selectedEmployee.EmployeeId</span></b><br />
                    @selectedEmployee.Designation<br />
                </div>
                            <div class="divHeader">Details</div>
                                    <div style="margin-bottom:90px;">
                                        <b>Date Of Joining: </b> @selectedEmployee.DateOfJoin<br />
                                        <b>Employee Type: </b> @selectedEmployee.EmployeeType<br />
                                        <b>Location: </b> @selectedEmployee.Location<br />
                                        <b>Supervisor:</b>  @selectedEmployee.SupervisorId<br />
                                        <b>Practice: </b> @selectedEmployee.Practice<br />
                                    </div>
                                    <div class="divHeader">Assignment Details<input type="button" id="btnMoveToBench" value="Move To Bench" style="float:right;" /></div>
                                    <span>Assignment period:</span><br />
                                    <span>Utilization:</span> @selectedEmployee.Utilization<br />
                                    <span>Billing Type:</span><br />
                                    <span>Reservation Status:</span>@selectedEmployee.ReservationStatus<br />
            }

        </div>
    </div>*@

</div>

