@*@model List<Trianz.Enterprise.Operations.Models.ProjectResourceUtilizationReport>*@


<style>
    th, td {
        border-spacing: 0;
    }

    .HRRF_custom table tr th {
        padding: 5px;
        color: #ffffff;
    }

    body {
        overflow-x: hidden;
    }

    .HRRF_custom table tr th {
        padding: 5px;
        color: black;
    }

    .questionlogo1 {
        margin-left: 476px;
        margin-top: -9px;
    }

    .onlinebtn {
        margin-left: 434px;
        position: relative;
        top: 26px;
    }
    .HRRF_custom table tr th {
        background-color: #D6DCE3 !important;
        color: black;
    }
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
    
</style>




<table id="tableEmpSkillsReport" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin: 0px;width: 98%;position: relative;left: 12px;">

    <thead>
        <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">

            <th cellspacing="0" style="padding-left:10px">Employee Name</th>
            <th cellspacing="0">Employee ID</th>
            <th>Actual Start Date</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Current Date</th>
            <th>Total Working Days</th>
            <th>Total Working Hours</th>
            <th>Utilization(%)</th>
            <th>ISActive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.projectList1)
        {
            <tr style="font-size: 12px;">
                <td>@item.EMPLOYEENAME</td>
                <td>@item.EMPLOYEEID</td>
                @{
                    DateTime ACTUALSTARTDATE = Convert.ToDateTime(@item.ACTUALSTARTDATE);
                    <td>@ACTUALSTARTDATE.ToString("dd-MMM-yyyy")</td>
                    DateTime STARTDATE = Convert.ToDateTime(@item.STARTDATE);
                    <td>@STARTDATE.ToString("dd-MMM-yyyy")</td>
                    DateTime ENDDATE = Convert.ToDateTime(@item.ENDDATE);
                    <td>@ENDDATE.ToString("dd-MMM-yyyy")</td>
                    DateTime CURRENTDATE = Convert.ToDateTime(@item.CURRENTDATE);
                    <td>@CURRENTDATE.ToString("dd-MMM-yyyy")</td>
                }
                <td><p style="text-align:right;">@item.TOTALWORKINGDAYS</p></td>
                <td><p style="text-align:right;">@item.TOTALWORKINGHOURS</p></td>
                <td><p style="text-align:right;">@item.UTILIZATION</p></td>
                <td>@item.ISACTIVE</td>
            </tr>
        }
    </tbody>
</table>


