@model Trianz.Enterprise.Operations.Models.ValidationModel
 

@{
    
    var items = Model.ProjectAssignments;
    int page1 = 7;
    if (Model.ProjectAssignments != null)
    {
        if (Model.ProjectAssignments.Count() < 7)
        {
            page1 = Model.ProjectAssignments.Count();
        }
        if (page1 == 0)
        {
            page1 = 1;
        }
    }
    var AllAssignmentsEmployeesGrid = new WebGrid(items, canPage: true, canSort: true, rowsPerPage: page1,
selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "gridContent");
    AllAssignmentsEmployeesGrid.Pager(WebGridPagerModes.All);

}


<div class="subpage_header page-header nomargin-top">
    <p>All Assignments</p>
</div>

<style>
    .empid {
        width: 6%;
    }

    .Request {
        width: 8%;
    }

    .Location {
        width: 8%;
    }

    .Designation {
        width: 20%;
    }

    .Grade {
        width: 8%;
    }

    .edit {
        width: 1%;
    }

    .HRRF_custom #gridcontent {
        height: 100%;
    }
</style>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>


<div class="row" id="divbtun2">

   
    <div class="col-md-3 col-sm-6 padding-left pull-left" id="date1" style="visibility:hidden;">
        <label class="text-left" for="textinput">From Date</label>
        <div class='input-group date' id='datetimepicker1' style="width:250px;">
            <input type='text' name="FromDate" id="FromDate" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 padding-left pull-left" id="date2" style="visibility:hidden;">
        <label class="text-left" for="textinput">To Date</label>
        <div class='input-group date' id='datetimepicker3' style="width:250px;">
            <input type='text' name="ToDate" id="ToDate" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

    </div>
    
</div>
<div class="row">
  
    <div class="col-md-6 col-sm-12 nopadding-left pull-left">

        <img id="divLoader" src="@Url.Content("~/content/images/loading.gif")" style="display: none;"
             alt="Loading ..." width="50" />
    </div>
</div>


<div class="col-md-10 col-sm-12 text-right nopadding-right">
   
    @if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "RL" || Session["Role"].ToString() == "LDAdmin" || Session["Role"].ToString() == "CompetencyAdmin"))
    {
       
      
        <div class="col-sm-1 " style="padding-left: 0px;">
            <input type="text" class="form-control" style="width:300px" id="txtSearchEmployee" placeholder="Search Employee" onkeypress="return isNumericKey(event);" >
            <input type="hidden" id="Assignmentid" />
           
        </div>
        <div class="col-sm-4 " style="padding-left: 0px;">
            <input type="button" class="btn btn-primary" id="btnSearch" value="Search">
            
            <input type="button" class="btn btn-primary" id="btnAddNewProject" onclick="div_show()" value="Assign Project">
            </div>
            }
          
        </div>
<br />
<br />
<div id="divGridContent1" class="table table-responsive" style="margin-bottom: 0px;">
    @Html.Partial("_EmployeeAssignments", Model)
</div>
<div id="dialog-view-ProjectAutoAssignment" style="display: none">
    <form class="form-horizontal" role="form" id="frmAutoAssignment">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-6 form-group">
                <label class="col-lg-5 control-label">Select Project *</label>
                <div class="col-lg-6">
                    @Html.DropDownList("ddlProjects", ViewBag.AllProjects as List<SelectListItem>, "-- Select Project --", new { @class = "form-control", @required = "required", data_error = "Please select project name" })
                    <div class="help-block with-errors error-msg-font-size"></div>
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <label class="col-lg-6 control-label">Select Resource Type *</label>
                <div class="col-lg-6">
                    @Html.DropDownList("ddlResourceType", ViewBag.ResourceType as List<SelectListItem>, "-- Select Resource Type --", new { @class = "form-control", @required = "required", data_error = "Please select resource type" })
                    <div class="help-block with-errors error-msg-font-size"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 form-group">
                <label class="col-lg-6 control-label">Assignment Start Date *</label>
                <div class="col-lg-6">
                    <div class='input-group input-append date' id='datetimepickerStartDate'>
                        <input type='text' name="ExpectedStart" id="ExpectedStart" class="form-control" data-error="Assignment Start Date should not be blank." required />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <div class="help-block with-errors error-msg-font-size"></div>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <label class="control-label col-lg-5">Assignment End Date *</label>
                <div class="col-lg-6">
                    <div class='input-group input-append date' id='datetimepicker2'>
                        <input type='text' name="ExpectedEnd" id="ExpectedEnd" class="form-control" data-error="Assignment End Date should not be blank." required />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <div class="help-block with-errors error-msg-font-size"></div>
                </div>
            </div>

        </div>

       

        <div class="row">
            <div class="col-lg-6 form-group">
                <label class="col-lg-6 control-label">Utilization *</label>
                <div class="col-lg-6">
                    @Html.DropDownList("Utilization", ViewBag.Utilization as List<SelectListItem>, "-- Select Utilization --", new { @class = "form-control", @required = "required", data_error = "Please select utilization" })
                    @*<input type="text" id="lblutlizatn" class="form-control" style="width:100px;" maxlength="3" onkeypress="return isNumericKey(event);" data-error="Utilization should not be blank." required/>*@
                    <div class="help-block with-errors error-msg-font-size"></div>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="col-lg-offset-5 col-lg-6">
                    <button type="submit" id="submit" class="btn btn-primary btn-submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="GoalSettingLoadingIcon"></div>
 <script type="text/javascript">

        $(document).ready(function () {

          
        });
        function isNumericKey(e) {
            if (window.event) { var charCode = window.event.keyCode; }
            else if (e) { var charCode = e.which; }
            else { return true; }
            if (charCode > 31 && (charCode < 48 || charCode > 57)) { alert("Enter Only Numbers"); return false; }
            return true;
        }
        function validateNumber(EmployeeId) {

            var filter = /^\d+$/;

            if (filter.test(EmployeeId)) {

                return true;
            }

            else {

                return false;

            }

        }
     
        $('#btnSearch').click(function () {
           
            var EmployeeId = $('#txtSearchEmployee').val().trim();
            validEmployeeId = validateNumber(EmployeeId);
             
            if (validEmployeeId) {
                    $.ajax({
                        url: '@Url.Action("GetEmployeeAssignDetails", "Employees")',
                        data: { EmployeeId: EmployeeId },
                        type: "GET",
                        datatype: "json",
                        contenttype: 'application/json; charset=utf-8',
                        async: true,
                        success: function (data) {
                          
                           
                            $('#divGridContent1').html(data);
                            $('#divGridContent1').show();
                            $("#divLoader").hide();
                        },
                        error: function (xhr) {
                            debugger
                            alert('error');
                        }
                    });
                }
                else {
                 bootbox.alert("Please Enter Only Numbers");
                }
            });
        $("#txtSearchEmployee").autocomplete({
            source: function (request, response) {

                var Projects = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("Autocomplete", "ProjectAssignment"))",
                    data: { "term": request.term },
                success: function (data) {

                    for (var i = 0; i < data.length ; i++) {
                        Projects[i] = { label: data[i].Key, Id: data[i].Value };
                    }
                }
            });
        response(Projects);
        },
        select: function (event, ui) {

            //fill selected customer details on form
            //hdnemployeeid = ui.item.Id;
        }
        });

     $("#txtSearchEmployee").blur(function () {
        
            if ($(this).val().length > 0) {
                FunGetEmployeeDetails($(this).val());
            }
        });
        function FunGetEmployeeDetails(Employeeid) {
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@(Url.Action("EmployeeInfo", "ProjectAssignment"))",
                data: { EmployeeID: Employeeid },
            success: function (data) {


                if (data.length == 0) {
                    $("#lblempname").val('');
                    $("#lblempemail").val('');
                    $("#lblpracti").val('');
                    $("#lblassignlocation").val('');
                    $('#ddlassignmentStatus').val('');
                    bootbox.alert("Please enter or select valid Employee Code, only then valid Employee details will be displayed.")
                }
                else {
                    $("#lblempname").val(data[0].EmployeeName);
                    $("#lblempemail").val(data[0].EmailID);
                    $("#lblpracti").val(data[0].Practice);
                    $("#lblassignlocation").val(data[0].Location);
                    $('#ddlassignmentStatus').val(data[0].AssignmenStatus);
                }
            }

        });
        }
     function div_show() {
         var isValid = true;
         ClearModalData();
         isValid = ValidateRole();

         if (isValid) {
             $("#dialog-view-ProjectAutoAssignment").dialog({
                 title: 'Project Auto Assignment Task',
                 autoOpen: false,
                 resizable: false,
                 height: 400,
                 width: 800,
                 show: { effect: 'drop', direction: "up" },
                 modal: true,
                 draggable: true,
                 open: function (event, ui) {
                     $('.ui-dialog-titlebar-close').hide();

                     //$(this).load(url);
                 },
                 buttons: {
                     "Close": function () {
                         $(this).dialog("close");
                     }
                 }
                         ,
                 close: function (event, ui) {
                     $(this).dialog('close');
                 }
             });
             $("#dialog-view-ProjectAutoAssignment").dialog('open');
             return false;
         }
         else {
             //var st = GetEmployeeDetails().split(',');
             //if (st.length > 1) {
             //    bootbox.alert("Please select employees to assign project");
             //}
             //else {
             //    bootbox.alert("Please select same grade employees");
             //}
         }
     }

     function ValidateRole() {
         var isValid = true;
         var count = 0;
         var EmployeeId = $('#txtSearchEmployee').val().trim();

         if ((EmployeeId == 0) || (EmployeeId==null)) {
             bootbox.alert("Please Enter Employee to Assign Project");
             isValid = false;
         } 

         return isValid;
     }


     function ClearModalData() {
         $("#ddlProjects").val("");
         $("#ddlResourceType").val("");
         $("#ExpectedStart").val("");
         $("#ExpectedEnd").val("");
     }

     $("#GoalSettingLoadingIcon").hide();
     $(function () {
         $('#frmAutoAssignment').validator({
             feedback: {
                 success: 'glyphicon-ok',
                 error: 'glyphicon-remove'
             },
             disable: true
         }).on('submit', function (e) {

             if (e.isDefaultPrevented()) {
                 // handle the invalid form...
                 $('#btn-submit').attr('disabled', 'disabled');
             }
             else {
                 // everything looks good!
                 e.preventDefault();

                 $('#btn-submit').attr('disabled', 'disabled');
                 var selectedValues = [];
                
                     selectedValues.push({
                 EmployeeId: $('#txtSearchEmployee').val().trim(), 
                          AssignmentID: $(this).closest("td").parent().find("#lblAssigmmentId").text(),
                         util: $(this).closest("td").parent().find("#lblutilil").text()
                     });
               
                 var EmployeeId = $('#txtSearchEmployee').val().trim();
                 var selectedProject = $('#ddlProjects').val();
                 var expectedStartDate = $('#ExpectedStart').val();
                 var expectedEndDate = $('#ExpectedEnd').val();
                 var resourceType = $('#ddlResourceType').val();
                 var Utilization = $('#Utilization').val();
                 //var utilization = $('#ddlUtilization').val();
                 var prevProjectCode = $('#ddlPractice').val();
                 debugger;
                 var isValid = true;
                 if (expectedStartDate=="") {
                     bootbox.alert("Please Enter Start Date");
                     isValid = false;
                 }
                 else if (expectedEndDate == "") {
                     bootbox.alert("Please Enter End Date");
                     isValid = false;
                 }
                 else if (Utilization == "") {
                     bootbox.alert("Please Select Utlization");
                     isValid = false;
                 }
                 else if (resourceType == "") {
                     bootbox.alert("Please Select Resource Type");
                     isValid = false;
                 }
                 else if (selectedProject == "") {
                     bootbox.alert("Please Select Project");
                     isValid = false;
                 }
                 
                 if (isValid) {
                     $.ajax({
                         url: '@Url.Action("ProjectAutoAssignment", "Employees")',
                         data: {
                             EmployeeId: EmployeeId, "Project": selectedProject, "StartDate": expectedStartDate,
                             "EndDate": expectedEndDate, "ResourceType": resourceType,
                             "PrevProjectCode": prevProjectCode, "Utilization": Utilization
                         },
                         type: 'POST',
                         datatype: 'JSON',
                         beforeSend: function () {
                             $("#GoalSettingLoadingIcon").show();
                         },
                         success: function (result) {
                             debugger;
                             if (result.indexOf("done") > -1)
                                 {
                             $("#GoalSettingLoadingIcon").hide();
                             bootbox.alert(result, function () {
                                 $("#txtSearchEmployee").val(EmployeeId);
                                 window.location.href = '@Url.Action("AllAssignmentsUpdate", "Employees")' + "?EmployeeId=" + $('#txtSearchEmployee').val().trim();
                                
                                 $('#btn-submit').removeAttr('disabled');
                             });

                                 $("#dialog-view-ProjectAutoAssignment").dialog('close');
                             }
                             else
                             {
                                 bootbox.alert(result);
                             }
                         },
                         error: function (ex) {
                             $("#GoalSettingLoadingIcon").hide();
                             //alert(ex.statusText);

                             $("#dialog-view-ProjectAutoAssignment").dialog('close');
                         }
                     });
                 }
                
             }
         });
         
         $("#ddlPractice").change(function () {
             //     debugger;
             $("#GoalSettingLoadingIcon").show();
             var url = '@Url.Content("~/BulkAssignment/GetEmployeeInfobyPractice")';
             var ddlPractice = $("#ddlPractice").val();
             $.ajax({
                 url: url,
                 type: 'GET',
                 cache: false,
                 data: { ProjectCode: ddlPractice },
                 success: function (data) {
                     $('#divGridContent1').html(data);
                     $("#GoalSettingLoadingIcon").hide();
                 },
                 error: function (thrownError) {
                     $("#GoalSettingLoadingIcon").hide();
                     alert(thrownError);
                 }
             });
         });
         var nowDate = new Date();
         var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
         $('#datetimepickerStartDate').datepicker({
             keyboardNavigation: false,
             forceParse: false,
             autoclose: true,
             todayHighlight: true,
             
             format: 'dd-M-yyyy'
         }).on('changeDate', function (e) {
             $(this).datepicker('hide');
         });

         $('#datetimepicker2').datepicker({
             keyboardNavigation: false,
             forceParse: false,
             autoclose: true,
             todayHighlight: true,
             
             format: 'dd-M-yyyy'
         }).on('changeDate', function (e) {
             $(this).datepicker('hide');
         });

     });
    </script>
