@*@model List<Trianz.Enterprise.Operations.Models.ProjectResourceUtilizationReport>*@

@{
    ViewBag.Title = "ProjectResourceUtilizationReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Talento2.css" rel="stylesheet" />


<style>
    #ProjectCode {
        position: relative;
        left: 536px;
        top: 12px;
    }
    #sow {
        position: relative;
        left: 417px;
        margin-top: 10px;
    }
    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #ddd;
        width: 22%;
    }

    body {
        overflow-x: hidden;
    }

    .questionlogo1 {
        margin-left: 476px;
        margin-top: -9px;
    }
    .Empname {
        position: relative;
        bottom: 20px;
        left: 197px;
    }

    .onlinebtn {
        margin-left: 434px;
        position: relative;
        top: 26px;
    }
    .HRRF_custom table tr th {
        background-color: #D6DCE3 !important;
        color: black;
    }
    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
    }
    #btnSearch {
        margin-left: 106px;
        margin-top: -40px;
        width: 50px;
    }
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
    .body-content {
        padding-left: 46px;
        padding-right: 5px;
        width: 97%;
        position: relative;
        left: -39px;
    }
    .HRRF_custom .page-header {
        margin: 15px 0px;
        padding-bottom: 29px;
    }
    #ProjectResourceSum {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
    #ProjectResource {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
    .btn-primary {
        color: #fff;
        background-color: #004BBB;
        border-color: #2e6da4;
    }
</style>

<p1 id="txt" style="  color: #2C2E31;font-size:16px;    position: relative;
    top: 20px;
    left: 12px;">PROJECT RESOURCE UTILIZATION REPORT</p1>
<div class="subpage_header page-header nomargin-top"></div>
<br />

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.bootstrap.min.css" rel="stylesheet">



<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>



<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>



<div class="row" style="background-color: #ffffff;margin: 3px;">
    <div style="background-color:#ffffff">

        <div class="col-sm-4" id="ProjectCode">
            <label for="test" id="Code1">Project Code</label>
            @*<span style="color:red">*</span>*@
            <span>
                <input type="text" id="txtProjectcode" name="txtProjectcode" class="form-control" placeholder="Enter Project Code" />
                @*<input type="text" name="txtProjectcode" value="txtProjectcode" attribute enabled="false" id="txtProjectcode" class="form-control" />*@
            </span>
        </div>







        <div class="col-sm-4" id="sow">
            @*<div class='input-group input-append date' id='txtStartdate' style="position:relative; left:425px;">*@
            <label for="test" style="margin-top: 5px;">SOW Start Date</label>

            <input type="text" id="txtStartdate" name="txtStartdate" class="form-control" placeholder="SOW Start Date" readonly="true" />

            <span class="fa fa-calendar">
            </span>

        </div>


        @*<div class='input-group input-append date' id='datetimepicker1' style="width:130px;">
                <label for="test">SOW Start Date</label>
                <input type='text' name="txtStartdate" id="txtStartdate" class="form-control" placeholder="SOW Start Date" style=height:30px; data-error="Assignment Start Date should not be blank." required />
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>*@



        @*<div class="col-lg-1" id="searchbtn">
                <label> <input class="btn btn-primary" type="button" onclick="searchval()" value="Search"></label>
            </div>*@

        <div class="col-md-2 col-sm-12 nopadding-right pull-right" id="searchbtn">
            <button class="btn btn-primary" onclick="searchval()" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>
        </div>

    </div>
    <br />@*<br />*@
    &nbsp;

    <div id="ProjectResourceSum">

    </div>
    <div id="ProjectResource">
        @Html.Partial("_ProjectResourceUtilizationReport")

    </div>


</div>

<script>


            $(document).ready(function () {

                //$("#button1").click(function () {
                $("#tableEmpSkillsReport").hide();

            });


    function searchval() {
        //debugger;
        var projectcode = $("#txtProjectcode").val();
        var startDate = $("#txtStartdate").val();


        if (projectcode == null || projectcode == "" || projectcode == undefined) {
            alert("Please Enter the Project Code");
            //return false;
        }

	   else  if (startDate == null || startDate == "" || startDate == undefined) {
            alert("Please Enter the SOW Start Date");
            //return false;
        }
        else {

            $.ajax({
                url: "@Url.Action("ProjectResourceSumUtilizationReport", "Employees")",
                data: { "projectcode": projectcode, "startdate": startDate },
                type: "GET",
                datatype: "JSON",
                success: function (response) {
                    if (response != null) {
                        $("#tableEmpSkillsReport").show();
                        //  $("#ProjectResource").hide();
                        $("#ProjectResourceSum").html(response);
                        searchval1();  //inside of this method only we taking na so we taking here.

                    }

                    else if (response == "Sessionexpired") {
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                },
                error: function (error) {
                    alert(error.statusText);
                }
            });
        }
      }


            $("#txtProjectcode").blur(function () {

                if ($(this).val().length > 0) {
                    FunGetProjectDetails($(this).val());
                }
            });

            function FunGetProjectDetails(projectcode) {

                debugger;
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("ProjectInfo", "Employees"))",
                    data: { ProjectCode: projectcode },
                    success: function (data) {

                        if (data == "false") {
                            alert("Please enter active / valid Project Code.");
                        }

                    }

                });
            }
    function searchval1() {


        var projectcode = $("#txtProjectcode").val();
        var startDate = $("#txtStartdate").val();

        //if (startDate == null || startDate == "" || startDate == undefined  ){
        //    alert("Please Enter the SOW Start Date");
        //    return false;
        //}
        //    else {


            $.ajax({
                url: "@Url.Action("_ProjectResourceUtilizationReport", "Employees")",
                data: { "projectcode": projectcode, "startdate": startDate },
                type: "GET",
                datatype: "JSON",
                success: function (response) {
                    if (response != null) {
                        //  $("#ProjectResource").hide();
                        $("#ProjectResource").html(response);

                        //setTimeout(function () {
                        //    $("#btnExportToExcel").removeAttr("disabled").text('Export to Excel');
                        //}, 5000);

                        @*var url1 = "@Url.Action("_ProjectResourceUtilizationReport", "Employees")";*@

                        //$.get(url1, function (result) {

                        //});

                    }
                    else if (response == "Sessionexpired") {
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                },
                error: function (error) {
                    alert(error.statusText);
                }
            });
        //}
        }


        //var today = new Date();
        //$('#txtStartdate').datepicker({
        //    format: 'dd-M-yyyy',
        //    autoclose: true,
        //    orientation: "top",
        //    endDate: "today"

        //});
            var nowDate = new Date();
            var today = new Date(nowDate.getFullYear(), nowDate.getMonth() - 12, nowDate.getDate(), 0, 0, 0, 0);
            $('#txtStartdate').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true,
                orientation: "top",
                // startDate: today,
                endDate: "today",
                format: 'dd-MM-yyyy'
            }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            });

</script>
