
@model Trianz.Enterprise.Operations.Models.Employee

@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .HRRF_custom .control-label {
        text-align: right;
    }

    .error-msg-font-size {
        font-size: 12px;
    }
    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
    }
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
</style>

<div class="col-md-12 nopadding">
    <div class="subpage_header page-header nomargin-top">
        <p>Employee Address Details</p>
    </div>
</div>

<form action='@Url.Action("Employees", "UpdateSkill")' class="form-horizontal" id="frmEditMyAddress" method="post" role="form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EmployeeId)

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Employee ID</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.EmployeeId, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.HiddenFor(model => model.EmployeeId)
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-5 control-label">Grade</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Grade, new { @class = "form-control", @required = "required", @readonly = "readonly", @disabled = "disabled", data_error = "Grade Should not be blank" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Employee Full Name</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @*<label class="control-label">@Model.FirstName @Model.LastName</label>*@
               @* @Html.HiddenFor(model => model.FirstName+''+model.LastName)*@
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-5 control-label">Designation</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Designation, new { @class = "form-control", @required = "required", @readonly = "readonly", @disabled = "disabled", data_error = "Designation Should not be blank" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            &nbsp;
        </div>
        <div class="col-lg-6 form-group" style="margin-bottom: 0px;">
            <label class="col-lg-5 control-label">Practice</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.Practice, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
        </div>
    </div>

    <hr />

    <label class="text-primary">Skill Details</label>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Competency<span style="color: red;">*</span></label>
            <div class="col-lg-6">
                @*@Html.TextBox(model => model.CurrentAddressDoorNo, new { @class = "form-control", @required = "required", data_error = "Address line1 should not be blank" })*@
                 @Html.DropDownList("ddlCompetency", new SelectList((System.Collections.IEnumerable)ViewData["Competency"], "Value", "Text"), "Select Competency", new { @class = "form-control", @required = "required", data_error = "Please select competency" }) @*@onchange = "javascript:GetPrimarySkillsByCategory(this.value);"*@
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-5 control-label">Skill<span style="color: red;">*</span></label>
            <div class="col-lg-6">
                @*@Html.TextBoxFor(model => model.CurrentAddressStreet, new { @class = "form-control", @required = "required", data_error = "Address line2 should not be blank" })*@
                @*@Html.DropDownList("ddlSkill", new SelectList((System.Collections.IEnumerable)ViewData["Skill"], "Value", "Text"), "Select Skill", new { @class = "form-control", @required = "required", data_error = "Please select skill" })*@ @*@onchange = "javascript:GetPrimarySkillsByCategory(this.value);"*@
                <select class="form-control">
                    <option value="1">ASP.NET MVC</option>
                    <option value="2">C#.Net</option>
                    <option value="3">VB.Net</option>
                </select>
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Expertise Level<span style="color: red;">*</span></label>
            <div class="col-lg-6">
               @* @Html.TextBoxFor(model => model.CurrentAddressArea, new { @class = "form-control" })*@
                @*@Html.DropDownList("ddlExpertiseLevel", new SelectList((System.Collections.IEnumerable)ViewData["ExpertiseLevel"], "Value", "Text"), "Select ExpertiseLevel", new { @class = "form-control", @required = "required", data_error = "Please select ExpertiseLevel" })*@ @*@onchange = "javascript:GetPrimarySkillsByCategory(this.value);"*@
                <select class = "form-control">
                    <option value="1">Trained</option>
                    <option value="2">Experienced</option>
                    <option value="3">Proficient</option>
                    <option value="4">Expert</option>
                </select>
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group" style="margin-bottom: 0px;">
            <label class="col-lg-5 control-label">Tech Last Used<span style="color: red;">*</span></label>
            <div class="col-lg-6">
                <input type="text" name="txtDate" id="txtDate" value="" class="form-control" />
                @*@Html.TextBoxFor(model => model.CurrentAddressCountry, new { @class = "form-control", @required = "required", data_error = "Country should not be blank" })
                <div class="help-block with-errors error-msg-font-size"></div>*@
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-6 form-group">
        </div>
        <div class="col-lg-6 form-group">
            <div class="col-sm-offset-1 col-sm-10 text-right">
                <button type="button" class="btn btn-primary" style="padding: 6px 20px;">Add New Skill</button>
                <button type="submit" class="btn btn-primary btn-Submit" style="padding: 6px 20px;">Update</button>
                <a href='@Url.Action("AddNewSkills", "EmployeeSkills")' class="btn btn-default" style="padding: 6px 20px;">Cancel</a>
            </div>
        </div>
    </div>
</form>

@if (ViewBag.PermissionDenied != null)
{
    <script type="text/javascript">
        bootbox.alert('@ViewBag.PermissionDenied');
    </script>
}

<script type="text/javascript">
    $('#frmEditMyAddress').validator({
        feedback: {
            success: 'glyphicon-ok',
            error: 'glyphicon-remove'
        },
        disable: true
    }).on('submit', function (e) {
        //debugger
        if (e.isDefaultPrevented()) {
            // handle the invalid form...
            $('#btn-Submit').attr('disabled', 'disabled');
        } else {
            // everything looks good!

            e.preventDefault();

            $.ajax({
                url: '@Url.Action("EditMyAddress", "Employees")',
                data: $("#frmEditMyAddress").serialize(),
                type: 'POST',
                datatype: 'JSON',
                success: function (response) {
                    if (response == "Success") {
                        bootbox.alert("Employee details have been saved successfully.", function () {
                            window.location.href = '@Url.Action("AddNewSkills", "EmployeeSkills")';
                        });
                    }
                    else if (response == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                },
                error: function (response) {
                    bootbox.alert(response.textStatus)
                }
            });
        }
    });

    $('#SecondaryMobileNumber').blur(function () {
            if ($('#PrimaryMobileNumber').val().length > 0 && $('#SecondaryMobileNumber').val().length > 0) {
                if ($('#PrimaryMobileNumber').val() == $('#SecondaryMobileNumber').val()) {
                    //$('.optionalSecondaryMobileNumber').removeClass('hidden');
                    bootbox.alert("Primary and secondary mobile numbers should not be same.", function () {
                        $('#SecondaryMobileNumber').val('');
                    });
                }
                else {
                    //$('.optionalSecondaryMobileNumber').addClass('hidden')
                }
            }
            else {
                //$('.optionalSecondaryMobileNumber').addClass('hidden')
            }
        });

    $('#chkIsBothAddressesSame').click(function () {
            if (($(this).is(':checked'))) {
                $('#PermanentAddressDoorNo').val($('#CurrentAddressDoorNo').val());
                $('#PermanentAddressStreet').val($('#CurrentAddressStreet').val());
                $('#PermanentAddressArea').val($('#CurrentAddressArea').val());
                $('#PermanentAddressCity').val($('#CurrentAddressCity').val());
                $('#PermanentAddressState').val($('#CurrentAddressState').val());
                $('#PermanentAddressCountry').val($('#CurrentAddressCountry').val());
                $('#PermanentAddressPostalCode').val($('#CurrentAddressPostalCode').val());
            }
            else {
                $('#PermanentAddressDoorNo').val('');
                $('#PermanentAddressStreet').val('');
                $('#PermanentAddressArea').val('');
                $('#PermanentAddressCity').val('');
                $('#PermanentAddressState').val('');
                $('#PermanentAddressCountry').val('');
                $('#PermanentAddressPostalCode').val('');
            }
    });


    @*$('.btn-Submit').click(function (e) {

        e.preventDefault();

        $.ajax({
            url: '@Url.Action("EditMyAddress", "Employees")',
            data: $("#frmEditMyAddress").serialize(),
            type: 'POST',
            datatype: 'JSON',
            success: function (response) {
                if (response == "Success") {
                    bootbox.alert("Employee details have been saved successfully.", function () {
                        window.location.href = '@Url.Action("AddNewSkills", "EmployeeSkills")';
                    });
                }
            },
            error: function (response) {
                bootbox.alert(response.textStatus)
            }
        });
    });*@
</script>


