@model Trianz.Enterprise.Operations.Models.ValidationModel
@using JQChart.Web.Mvc
<head>

    <title></title>
    <script src="~/Scripts/amcharts.js"></script>

    <script src="~/Scripts/pie.js"></script>
    <script src="~/Scripts/light.js"></script>
    <script src="~/Scripts/c3.min.js"></script>

    <link href="~/Content/c3.css" rel="stylesheet" />
    <script src="~/Scripts/d3.min.js"></script>



    <style>
        .HRRF_custom table tr th {
            color: black;
        }
    </style>
    <style>
        .c3-text {
            transform: translateX(-25px);
            fill: #000 !important; /* to make them visible */
        }

        .center {
            text-align: center;
        }

        .outerDiv {
            /*background-color: #006699;*/
            color: #fff;
            height: 400px;
            width: 106%;
            margin: 0px auto;
            padding: 5px;
        }

        .leftDiv {
            /*background-color: #efefef;*/
            color: #000;
            height: auto;
            width: 40%;
            float: left;
        }

        .heading {
            color: black;
            margin-left: 500px;
            margin-top: 15px;
        }

        .rightDiv {
            /*background-color: #efefef;*/
            color: #000;
            /*height: 400px;
            width: 48%;*/
            float: right;
        }


        .barchartDiv {
            /*background-color: #efefef;*/
            color: #000;
            height: 240px;
            width: 700px;
            float: right;
        }
        #chartdiv1 {
            width: 60%;
            height: 500px;
            font-size: 11px;
            margin-top: 20px;
        }
       

        .amcharts-pie-slice {
            transform: scale(1);
            transform-origin: 50% 50%;
            transition-duration: 0.3s;
            transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            cursor: pointer;
            box-shadow: 0 0 30px 0 #000;
        }

            .amcharts-pie-slice:hover {
                transform: scale(1.1);
                filter: url(#shadow);
            }

        #divLoadingIcon {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background: url('../../Content/images/ajax-loader.gif')no-repeat center center;
        }

        .table > thead > tr > th {
            white-space: nowrap
        }
        #tableEmpResourceReport {
            margin: 0px;
            width: 104%;
        }
        .dataTables_filter {
            position: relative;
            left: 8px;
        }
    </style>
</head>
<table id="tableEmpResourceReport" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin: 0px; width: 100%;">
    <thead>
        <tr style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">
            <th>Employee No</th>
            <th>Employee Name</th>

            @*<th>UniqueId</th>
                <th>UniqueId</th>*@
            <th>Designation</th>
            <th>Grade</th>
            <th>Employee Type</th>
            <th>Joining Date</th>
            <th>Employee MailId</th>
            <th>Location</th>

            @*<th>LocationType</th>*@

            <th>Onsite/OffShore</th>
            <th>Parent Organisation</th>
            <th>Revenue Practice</th>
            @*<th>Business Group</th>*@
            <th>Client Name</th>
            <th>Project Practice</th>
            <th>Project Code</th>
            <th>Project Name</th>
            <th>Bill Type</th>
            @*<th>Project Assignment Location</th>*@
            @*<th>HeadCout</th>*@
            @*<th>Utilization</th>*@
            <th>Head Count</th>
            <th>Billing Status</th>
            <th>Roll On Date</th>
            <th>Roll Off Date</th>
            <th>Project Manager</th>
            <th>Project Manager Email</th>
            <th>Delivery Manager</th>
            <th>Supervisor</th>
            <th>Non Billable Count Days</th>
            @*<th>Non Billable Days</th>*@
            <th>Bench Aging </th>
            <th>Duration In Trianz (Months)</th>
            <th>Visa Type</th>
            <th>Serving Notice Period</th>
            <th>Organisation</th>
            @*<th>OrganisationGroup</th>*@
            @*<th>Competancy</th>
                <th>Skill Set</th>
                <th>Last Used</th>
                <th>Expertise Level</th>*@
            @*<th>Sub Skill4</th>
                <th>Sub Skill5</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ITSDashboard)
        {
            <tr style="font-size: 12px;">
                <td>@item.EmployeeID</td>
                <td>@item.EmployeeName</td>
                @*<td>@item.UniqueId</td>*@

                <td>@item.Designation</td>
                <td style="white-space: pre;">@item.grade</td>
                <td style="white-space: pre;">@item.EmployeeType</td>
                <td>@(item.DOj == null ? String.Empty : Convert.ToDateTime(item.DOj).ToString("dd-MMM-yyyy"))</td>
                <td>@item.Email</td>
                <td>@item.Location</td>
                @*<td>@item.OnsiteOROffshore</td>*@
                <td>@item.LocationType</td>
                <td>@item.Parentorg</td>
                <td>@item.RevenuePractice</td>
                @*<td>@item.BusinessGroup</td>*@
                <td>@item.AccountName</td>
                <td>@item.ProjectPractice</td>
                <td>@item.ProjectCode</td>
                <td>@item.ProjectName</td>
                <td>@item.billtype</td>
                @*<td>@item.AssignmentLocation</td>*@
                @*<td>@item.headcount</td>*@
                @*<td>@item.Utilization</td>*@
                <td>@(Convert.ToDecimal(item.Utilization * 0.01))</td>
                <td>@item.BillingStatus</td>
                <td>@(item.rollondate == null ? String.Empty : Convert.ToDateTime(item.rollondate).ToString("dd-MMM-yyyy"))</td>
                <td>@(item.rolloffdate == null ? String.Empty : Convert.ToDateTime(item.rolloffdate).ToString("dd-MMM-yyyy"))</td>
                <td>@item.ProjectManagerName</td>
                <td>@item.ProjectManageremail</td>
                <td>@item.DeliveryManager</td>
                <td>@item.Supervisorname</td>
                <td>@item.NonBillableCountDays</td>
                @*<td>@item.NonBillableDays</td>*@
                <td>@item.Ageing</td>
                <td>@item.DurationidTrainz</td>
                <td>@item.visaType</td>
                <td>@item.Noticeperiod</td>
                <td>@item.Organisation</td>
                @*<td>@item.OrganisationGRoup</td>*@
                @*var hc = (@item.Utilization/100).ToString();*@

                @*<td>@item.Competancy</td>
                    <td>@item.Skill</td>
                    <td>@item.Lastused</td>
                    <td>@item.Expertiselevel</td>*@
                @*<td>@item.SubSkill4</td>
                    <td>@item.SubSkill5</td>*@
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<div class="subpage_header page-header nomargin-top" style="position: relative;left: 9px;">
    <div class="text-left pull-left">
        <p style=" color: #2C2E31; font-size: 16px;position: relative;left: 29px;top: 16px;">ITS REPORT SUMMARY</p>
    </div>
    <div class="text-left">
        <p style=" color: #2C2E31; font-size: 16px;float: right;margin-right: 316px;position: relative;top: 19px;">ORGANISATION REPORT SUMMARY</p>
    </div>
    <div class="clear-both"></div>
</div>
<div class="outerDiv">
    <div class="leftDiv">
        <table id="tableReportSummary" class="table  table-bordered dt-responsive !important nowrap" cellspacing="0" style="margin:0px" ;width: 450px;">

            <thead>
                @*<tr style="background-color: #002060 !important; color: #DDEBF7; font-size: 13px; ">*@
                @*<tr style="background-color: #248CC8 !important; color: #DDEBF7; font-size: 12px;">*@
                <tr style="background-color: #D6DCE3; font-size: 13px; ">

                    <th>Organization Group</th>
                    <th>Organization Sub Group</th>
                    <th class="text-center">Offshore</th>
                    <th class="text-center">Onsite</th>
                    <th class="text-center">Total Count</th>
                </tr>
            </thead>
            <tbody>

                @{
                    bool isgrandtotal = false;
                }
                @foreach (var item in Model.ITDashBoardDetails)
                {

                    int sumofoffshore = 0;
                    int sumofonsite = 0;
                    int sumofoftotal = 0;
                    bool isfirst = true;
                    foreach (var emp in item.Value)
                    {
                        if (emp.OrgGroup == "Grand Total" && emp.OrgSubGroup == "Grand Total")
                        {
                            isgrandtotal = true;

                        }
                        sumofoffshore += emp.Offshore;
                        sumofonsite += emp.Onsite;
                        sumofoftotal += emp.TotalCount;
                        <tr>
                            @if (emp.OrgGroup != "Grand Total" && emp.OrgSubGroup != "Grand Total")
                            {
                                if (isfirst)
                                {
                                    <td style="text-align: left; vertical-align: middle; font-size: 13px" ; rowspan="@item.Value.Count()">@emp.OrgGroup</td>
                                }
                                <td style="font-size: 13px;" align="left">@emp.OrgSubGroup</td>
                                <td style="font-size: 13px;" align="right">@emp.Offshore</td>
                                <td style="font-size: 13px;" align="right">@emp.Onsite</td>
                                <td style="font-size: 13px;" align="right">@emp.TotalCount</td>
                            }
                            else
                            {
                                //#333

                                <td style="background-color: #D6DCE3 !important; color: black; font-size: 13px; font-weight: bold" align="right" colspan="2">@emp.OrgGroup</td>
                                @*<td style=" background-color: #D6EEEE; font-weight:bold">@emp.OrgSubGroup</td>*@
                                <td style="background-color: #D6DCE3 !important; color:black; font-size: 13px; font-weight: bold " align="right">@emp.Offshore</td>
                                <td style="background-color: #D6DCE3 !important; color: black; font-size: 13px; font-weight: bold " align="right">@emp.Onsite</td>
                                <td style="background-color: #D6DCE3 !important; color: black; font-size: 13px; font-weight: bold " align="right">@emp.TotalCount</td>
                            }
                            @if (isfirst)
                            {
                                isfirst = false;
                            }

                        </tr>
                    }
                    if (!isgrandtotal)
                    {
                        //#/*00000091*/
                        <tr>
                            <td style="background-color:#9BC2E5; font-size: 13px; font-weight: bold " colspan="2" align="right">
                                Total
                            </td>
                            <td style="background-color: #9BC2E5; font-size: 13px; font-weight: bold " align="right">
                                @sumofoffshore
                            </td>
                            <td style="background-color: #9BC2E5; font-size: 13px; font-weight: bold " align="right">
                                @sumofonsite
                            </td>
                            <td style="background-color: #9BC2E5; font-size: 13px; font-weight: bold " align="right">
                                @sumofoftotal
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
        <div id="chartdiv1" class="rightDiv">


    </div>
    <br /><br/><br/>
        <div id="chartdiv2" class="barchartDiv" style="align-content:flex-start;float:left;margin-top: 70px;">


        </div>

    </div>

    <script type="text/javascript">

    $(document).ready(function () {
        $('#tableEmpResourceReport').DataTable({
        });
        var dataPoints = [];

        DisplayHRRFList();
        DisplayHRRFListForBarChart();
        function DisplayHRRFList() {
            var url = '@Url.Content("~/ResourceDashBoard/GetITSReportSummaryforPieChart")';
              //  debugger
                $.ajax({
                    url: url,
                   // data: { strreqstatus:reqstatus, },
                    type: 'POST',
                    datatype: 'JSON',
                    cache: false,
                    success: function (data) {
                        if (data != "null" && data != "Error" && data != "Sessionexpired") {
                            displaypiechart(data);
                      }
                    else if (data == "Sessionexpired")
                    {
                        $("#btnProcessing").hide();
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                    else if (data == "Error") {
                          $("#btnProcessing").hide();
                       window.location.href = '@Url.Action("Error","Error")';

                     }
                    },
                    error: function (error) {

                        alert("error");
                        $("#btnProcessing").hide();
                        alert(error.statusText);
                    }
                });
        }
        function displaypiechart(jsondata)
        {
             var chart = AmCharts.makeChart("chartdiv1", {
                "type": "pie",
                "startDuration": 0,
                "theme": "light",
                "addClassNames": true,
                "legend": {
                    "position": "bottom",
                    "marginRight": 80,
                    "marginLeft": 60,
                    "marginTop":-10,
                    "autoMargins": false
                },
                "innerRadius": "30%",
                "defs": {
                    "filter": [{
                        "id": "shadow",
                        "width": "200%",
                        "height": "200%",
                        "feOffset": {
                            "result": "offOut",
                            "in": "SourceAlpha",
                            "dx": 0,
                            "dy": 0
                        },
                        "feGaussianBlur": {
                            "result": "blurOut",
                            "in": "offOut",
                            "stdDeviation": 5
                        },
                        "feBlend": {
                            "in": "SourceGraphic",
                            "in2": "blurOut",
                            "mode": "normal"
                        }
                    }]
                },
                "dataProvider": jsondata,
                "valueField": "GroupbyTotal",
                "titleField": "OrgGroup",

                "export": {
                    "enabled": false
                }
            });
            $("a[href='http://www.amcharts.com/javascript-charts/']").css("display", "none");
            chart.addListener("init", handleInit);

            chart.addListener("rollOverSlice", function (e) {
                handleRollOver(e);
            });
            function handleInit() {
                chart.legend.addListener("rollOverItem", handleRollOver);
            }

            function handleRollOver(e) {
                var wedge = e.dataItem.wedge.node;
                wedge.parentNode.appendChild(wedge);
            }

        }

        function DisplayHRRFListForBarChart() {
            var url = '@Url.Content("~/ResourceDashBoard/GetITSReportSummaryforBarChart")';

                $.ajax({
                    url: url,
                   // data: { strreqstatus:reqstatus, },
                    type: 'Post',
                    contentType: "application/json; charset=utf-8",
                    datatype: 'JSON',
                    cache: false,
                    success: function (data) {
                        if (data != "null" && data != "Error" && data != "Sessionexpired") {
                            addData(data);
                      }
                    else if (data == "Sessionexpired")
                    {
                        $("#btnProcessing").hide();
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                    else if (data == "Error") {
                          $("#btnProcessing").hide();
                       window.location.href = '@Url.Action("Error","Error")';

                     }
                    },
                    error: function (error) {

                        alert("error");
                        $("#btnProcessing").hide();
                        alert(error.statusText);
                    }
                });
        }

        function addData(jsondata) {
           
            var OrgGroup = [];
            OrgGroup.push('x');
            jsondata.forEach(function (e) {
                OrgGroup.push(e.OrgGroup);
            })

            var Onsite = [];
            Onsite.push('Onsite');
            jsondata.forEach(function (e) {
                Onsite.push(e.OnsiteGroupbyTotal);

            })

            var Offshore = [];
            Offshore.push('Offshore');
            jsondata.forEach(function (e) {
                Offshore.push(e.OffshoreGroupbyTotal);

            })
            

            var datanew = JSON.stringify(OrgGroup);
            var newone = OrgGroup.length;
             var chart = c3.generate({
                
                    bindto: '#chartdiv2',
                    bar: {
                        width: 18,
                        space: 3
                    },
                    padding: {
                        left: 120
                    },
                    color: {
                    //    pattern: ['#67b7dc', '#fdd400', '#84b761', '#ACB6DD', '#cd82ad', '#2f4074', '#448e4d', '#b7b83f']
                        pattern: ['#84b761', '#cd82ad']
                    },
                    data: {
                        x: 'x',
                        columns:
                            [
                                OrgGroup,
                                Offshore,
                                Onsite
                                    ],

                        type: 'bar',
                        
                        //color: function (inColor, data) {
                        //    //var colors = ['#67b7dc', '#fdd400', '#84b761', '#ACB6DD', '#cd82ad', '#2f4074', '#448e4d', '#b7b83f'];
                        //    debugger
                        //    //var colors = ['#84b761', '#cd82ad', '#84b761', '#cd82ad', '#84b761', '#cd82ad', '#84b761', '#cd82ad'];
                        //    var colors = ['#84b761', '#cd82ad'];
                        //    if (data.index !== undefined) {
                        //        return colors[data.index];
                        //    }

                        //    return inColor;
                        //},
                        //labels: true
                    },
                    axis: {
                        rotated: false,
                        x: {
                            type: 'category',


                        }
                    },
                    tooltip: {
                        grouped: true
                    },
                    legend: {
                        show: true
                    }
                });
            }


    });
    </script>
