@model IEnumerable<Trianz.Enterprise.Operations.Models.ChartData>
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />



@using JQChart.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ResourceInformation";
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
        selectionFieldName: "SelectedRow");

    grid.Pager(WebGridPagerModes.All);
}
<div class="subpage_header page-header nomargin-top">
    <p>Resource DashBoard</p>
</div>

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.jqRangeSlider.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/le-frog/jquery-ui-1.8.20.css" />

    <script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqChart.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqRangeSlider.min.js")" type="text/javascript"></script>
    <!--[if IE]><script lang="javascript" type="text/javascript" src="@Url.Content("~/Scripts/excanvas.js")"></script><![endif]-->
</head>
<body>
    <div>

        <table class="table">

            <tr>
                <td>
                    @(Html.JQChart()
                                .Chart(Model)
                                .ID("jqChart")
                                .Width(500)
                                .Height(300)
                                .Title("Organisation Level Demand View")
                                .Legend(legend => legend.Title("Parameters"))
                                .Border(border => border.StrokeStyle("#6ba851"))
                                .Background(background => background.LinearGradient(0, 0, 0, 1).ColorStops(stop =>
                                {
                                    stop.Add(0, "#d2e6c9");
                                    stop.Add(1, "white");
                                }))
                                .Animation(TimeSpan.FromSeconds(1))
                                .Shadows(true)
                                .Series(series =>
                                {
                                    series.Pie()
                                          .ExplodedRadius(10)
                                          .FillStyles(new object[] { "#418CF0", "#FCB441", "#E0400A", "#056492", "#BFBFBF", "#1A3B69", "#FFE382" })
                                          .DataLabels(el => el.Label)
                                          .DataValues(el => el.Value1)
                                          .ExplodedSlices(new object[] { 5 })
                                          .Labels(label => label.StringFormat("%.1f%%")
                                                                .Font("15px sans-serif")
                                                                .ValueType(LabelValueType.Percentage)
                                                                .FillStyle(System.Drawing.Color.White));
                                }
                                )
                                .Render()
                    )


                </td>
                <td>


                    @*@(Html.JQChart()
                        .Chart(Model)
                        .ID("barchart")
                        .Width(500)
                        .Height(300)
                        .Title("Practice Level Demand View")
                        .Legend(legend => legend.Title("Parameters"))
                        .Animation(TimeSpan.FromSeconds(1))
                        .Shadows(true)
                        .Series(series =>
                        {
                            series.Column()
                                  .Title("Series 1")
                                  .XValues(el => el.Label)
                                  .YValues(el => el.Value1)
                                  .FillStyles(new object[] { "#418CF0", "#FCB441", "#E0400A", "#056492", "#BFBFBF", "#1A3B69", "#FFE382" });
                        }
                        )
                        .Render())*@

                    @Html.Partial("barchartpartial", TempData["123"])

                </td>
            </tr>

        </table>


    </div>

    <div class="col-md-12 nopadding">
        <div id="rInfogridcontent" class="table table-responsive">
            <div class="col-md-12 nopadding">
                @Html.Partial("PartialGridDetails", TempData["abc"])
            </div>

        </div>
    </div>
    <div class="col-md-3 col-sm-12 nopadding-right pull-right">
        <button type="button" id="btnExport" name="btnExport" href="#" onclick="location.href='@Url.Action("ExporttoExcel", "trHome")'" title="ExportToExcel" class="btn btn-sm pull-right">
            <i class="glyphicon glyphicon-export"></i>
            Export To Excel
        </button>

    </div>

    <script lang="javascript" type="text/javascript">

        $(document).ready(function () {
            //debugger;
            $('#jqChart').bind('tooltipFormat', function (e, data) {
                var percentage = data.series.getPercentage(data.value);
                percentage = data.chart.stringFormat(percentage, '%.2f%%');

                return '<b>' + data.dataItem[0] + '</b><br />' +
                    data.value + ' (' + percentage + ')';
            });


        });

    </script>
</body>
</html>



