@model Trianz.Enterprise.Operations.Models.RoleMasters

@{
    ViewBag.Title = "Create";
}
<div class="col-md-12 nopadding">
    <div class="subpage_header page-header nomargin-top">
        <p>Role Creation</p>
    </div>
</div>
<script>
    $(function ()
    {  
        $("#EmployeeId").change('click',function(e)
        {
            var _Empid = $("#EmployeeId").val();
            $.ajax(
                {
                    type: "POST",
                    data: { Empid: _Empid },
                    url: '@Url.Action("CheckEmployeeId", "RoleMaster")',
                    success: function(result)
                    {
                        if (result == "false")
                        {
                            alert("EmployeeId Already Exists! Please Change.");
                            $("#EmployeeId").val("");
                        }
                    }
                });
        });
    });
</script>
@*@{
        var rolelist = new SelectList(new[]
                    {
                    new SelectListItem { Text = "OM", Value = "OM"},
                     new SelectListItem { Text = "PH", Value = "PH"},
                    new SelectListItem { Text = "DM", Value = "DM"},
                    new SelectListItem { Text = "PM", Value = "PM"}
                    }, "Value", "Text");


    }*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmployeeId,new { @maxlength = "6", @minlength = "1", Type = "number" })
                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Role, new SelectList((System.Collections.IEnumerable)ViewData["Role"]))
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Practice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Practice, new SelectList((System.Collections.IEnumerable)ViewData["ServiceLine"], "LookupName", "LookupName"))
                @Html.ValidationMessageFor(model => model.Practice, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
