@*@model IEnumerable<Trianz.Enterprise.Operations.Models.RoleMaster>*@


@model PagedList.IPagedList<Trianz.Enterprise.Operations.Models.RoleMasters>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a.my-class {
        color: #fff;
    }
</style>
<script language="javascript">
    $(function () {
        $("#SearchString").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "../RoleMaster/GetAllSearchProducts",
                    data: "{ 'name': '" + request.term + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        if (data != '') {
                            response($.map(data, function (item) {
                                return {
                                    value: item.EmployeeId,
                                    text: item.EmployeeId
                                };
                            }));
                        }
                        else {
                            response('');
                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            },
            select: function (event, ui) {

                $(':hidden[id=hdnmedicineid]').val(ui.item.text.toString());
                $(':hidden[id=hdnmedicinenm]').val(ui.item.value.toString());

            },

            minLength: 1,
            autoFocus: true
        });

    });

</script>

<div>

    <div class="subpage_header page-header nomargin-top">
        <p>Role Summary</p>
    </div>
    <div class="container row">
        <div class="col-md-6 col-sm-12 nopadding-left">
            <div class="col-md-2 col-sm-12 nopadding-left">
                <button id="btnCreate" type="button" onclick="location.href='@Url.Action("Create", "RoleMaster")'" class="btn btn-primary pull-left">Create Role</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 pull-right text-right nopadding-right">
            <div class="col-md-12 col-sm-12 nopadding-right pull-right">
                @using (Html.BeginForm("Index", "RoleMaster", FormMethod.Get))
                {
                    <p>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "input-sm", @placeholder = "Enter Employee ID" })
                        <input class=" btn btn-primary btn-sm " type="submit" value="Search" />
                    </p>

                }

            </div>
        </div>
    </div>
</div>

<div id="gridcontent1" width="55%" align="center">
    <div align="right">


    </div>

    <div align="center">
        <table class="grid table table-bordered table-striped p-resources" border="1">
            <tr>
                <th>@Html.ActionLink("Employee ID", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "my-class" })</th>
                <th>@Html.Label("Role")</th>
                <th>@Html.Label("Practice")</th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Practice)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.RoleId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RoleId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.RoleId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container row">
    <div class="col-md-12 col-sm-12 nopadding-left text-left">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div></div>