@*@model IEnumerable<Trianz.Enterprise.Operations.Models.MasterLookUp>*@
@model PagedList.IPagedList<Trianz.Enterprise.Operations.Models.MasterLookUp>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
 
}

<div class="col-md-12 nopadding">
    <div class="subpage_header page-header nomargin-top">
        <p>Master LookUp</p>
    </div>
    <div>
       
            <div class="col-md-2 col-sm-12 nopadding-left">
                @*<button id="btnCreate" type="button" onclick="location.href='@Url.Action("Create", "MasterLookUp")'" class="btn btn-primary pull-left">Create Role</button>*@
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Create","MasterLookUps")'">Create New</button>
                @*@Html.ActionLink("Create New", "Create")*@
            </div>
      

        <div align="right">
            @using (Html.BeginForm("Index", "MasterLookUps", FormMethod.Get))
            {
                <p>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "input-sm", @placeholder = "Enter LookupType" })
                    <input class=" btn btn-primary btn-sm " type="submit" value="Search" />
                </p>

            }

        </div>
    </div>
</div>



<table class="grid table table-bordered table-striped p-resources" width="100%" border="1" style="border-color:lightgray">
    <tr style="background-color:#248cc8;">
       
        <th>
          @Html.Label("LookupCode")
        </th>
        <th>          
        @Html.ActionLink("LookupType", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "my-class" })
        </th>
        <th>
            @Html.Label("LookupName")
          
        </th>
        
        <th>
            @Html.Label("SeqNumber")
           
        </th>
        <th>
            @Html.Label("ParentCode")
        
        </th>
        <th>
            @Html.Label("ParentName")
          
        </th>        
        <th>
            @Html.Label("Active")
          
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.LookupCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LookupType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LookupName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.SeqNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LookupID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LookupID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LookupID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))