@model List<Trianz.Enterprise.Operations.Controllers.TrainingData>

@{

    Layout = null;
}
@if (Model != null)
{
    if (Model.Count > 0)
    {
        <table id="tableassig" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
            <thead>
                <tr style="background-color: #1e4a55 !important; color: #fff; font-size: 12px;">
                    <th>Row Num</th>
                    <th>ProgramName</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>ParticipantID</th>
                  
                    <th>AttendanceStatus</th>
                    <th>Traininghrs</th>
                    <th>TrainingDays</th>
                    <th>TotalHours</th>
                    <th>TrainerName</th>
                  
                  
                    <th>Feedbackrating</th>
                    <th>Remarks</th>
                                  
                 
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr style="font-size: 12px;">
                        <td>@item.RowNum</td>
                        <td>@item.ProgramName</td>
                        <td>@item.StartDate</td>
                        <td>@item.EndDate</td>
                        <td>@item.ParticipantID</td>
                    
                        <td>@item.AttendanceStatus</td>
                        <td>@item.Traininghrs</td>
                        <td>@item.TrainingDays</td>
                        <td>@item.TotalHours</td>
                        <td>@item.TrainerName</td>
                        
                        <td>@item.Feedbackrating</td>
                        <td>@item.Remark</td>
                    </tr>
                }

            </tbody>
        </table>
    }
}
