
@model IEnumerable<Trianz.Enterprise.Operations.Models.sp_GetTrainingData_Result>
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<style type="text/css">
    #GridTrainingdata th {
        color: black;
    }
    
</style>

<style>
      
    .ui-dialog-titlebar {
        background: #3a6874;
        color: white;
    }

    #myTab {
        font-size: 15px;
        border-bottom: solid 1px gray;
        font: bold;
    }

    .my-tab .tab-pane {
        border: solid 1px gray;
        border-top: 0;
    }

    #datetimepicker1 {
        margin-top: 20px !important;
    }

    #myTab li.active a {
        background-color: #1e4a55;
        color: white;
        border: solid 1px #ddd;
    }

    #divGridContent1 {
        max-height: 400px !important;
    }

    #txtchkenddate {
        width: 128px !important;
        margin-left: 15px;
    }

    #txtchktartdate {
        width: 128px !important;
        margin-left: 15px;
    }
    .input-group[class*=col-] {
    float: left;
    padding-right: 0;
    padding-left: 0;
}
</style>



<h2>Training Reports</h2>
<img id="divLoader" src="@Url.Content("~/content/images/loading.gif")" style="display: none;"
     alt="Loading ..." width="50" />
<form class="form-horizontal">

    <fieldset>
        <div class="form-group">
            <div class="col-md-1" style="text-align:right;margin-top:22px; ">
                @Html.Label("Program")
            </div>
            <div class="col-md-2" style="text-align:left;margin-top:18px; ">


                @Html.DropDownList("ddlprogram", (IEnumerable<SelectListItem>)ViewBag.ProgramList, "-- Select Program --", new { @class = "form-control  ", @style = "width: 180px;" })
            </div>

            <div class="col-md-2" style="text-align:right;margin-top:22px;">
                @Html.Label("Location")
            </div>
            <div class="col-md-2" style="text-align:left;margin-top:18px;">

                @Html.DropDownList("ddllocation", (IEnumerable<SelectListItem>)ViewBag.LocationList, "-- Select Location --", new { @class = "form-control  ", @style = "width: 180px;" })
            </div>
            <div class="col-md-2" style="text-align:right;margin-top:22px; ">
                @Html.Label("Practice")
            </div>
            <div class="col-md-2" style="text-align:left;margin-top:18px;">

                @Html.DropDownList("ddlpractice", (IEnumerable<SelectListItem>)ViewBag.PracticeList, "-- Select Practice --", new { @class = "form-control  ", @style = "width: 180px;" })

            </div>
        </div>
        <div class="form-group">


            <div class="col-md-1" style="text-align:right;margin-top:22px; ">
                @Html.Label("Attendence")
            </div>
            <div class="col-md-2" style="text-align:left;margin-top:18px;">

                @Html.DropDownList("ddlattendence", (IEnumerable<SelectListItem>)ViewBag.AttendanceStatusList, "-- Select Attendance --", new { @class = "form-control  ", @style = "width: 180px;" })
            </div>
            <div class="col-md-2" style="text-align:right;margin-top:22px; ">
                @Html.Label("Source")
            </div>

            <div class="col-md-2" style="text-align:left;margin-top:18px;">

                @Html.DropDownList("ddlsource", (IEnumerable<SelectListItem>)ViewBag.SourceList, "-- Select Source --", new { @class = "form-control  ", @style = "width: 180px;" })

            </div>
            <div class="col-md-2" style="text-align:right;margin-top:22px; ">
                @Html.Label("Category")
            </div>
            <div class="col-md-2" style="text-align:left;margin-top:18px;">

                @Html.DropDownList("ddlcategory", (IEnumerable<SelectListItem>)ViewBag.CategoryList, "-- Select Category --", new { @class = "form-control  ", @style = "width: 180px;" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-1" style="text-align:right;margin-top:22px; ">
                @Html.Label("Mode")
            </div>

            <div class="col-md-2" style="text-align:left;margin-top:18px;">

                @Html.DropDownList("ddlmode", (IEnumerable<SelectListItem>)ViewBag.ModeList, "-- Select Mode --", new { @class = "form-control  ", @style = "width: 180px;" })
            </div>

            <div class="col-md-2" style="text-align:right;margin-top:22px;">
                @Html.Label("Start Date")
            </div>

            <div class='input-group date col-md-1' id='datetimepicker1' style="width:200px;">
                <input type='text' name="" id="txtchktartdate" readonly class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar" id="chkstartdate"></span>
                    <a href="#" id="btnchkStartDateclean" title="clean" onclick="Clean('#txtchktartdate');"><span class='glyphicon glyphicon-remove' title="clean"></span></a>
                </span>
            </div>
            <div class="col-md-2" style="text-align:right;margin-top:22px;">
                @Html.Label("End Date")
            </div>
            <div class='input-group date col-md-1' id='datetimepicker1' style="width:200px;">
                <input type='text' name="" id="txtchkenddate" readonly class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar" id="chkenddate"></span>
                    <a href="#" id="btnchkEndDateclean" title="clean" onclick="Clean('#txtchkenddate');"><span class='glyphicon glyphicon-remove' title="clean"></span></a>
                </span>
            </div>
</div>
       




   

        <div class="form-group">
            <div class="col-md-3" style="text-align:right;margin-top:22px;">
            </div>
            <div class="col-md-5" style="text-align:left;margin-top:18px;">
                <input type="button" id="btnDeleteAll" value="DeleteRecords" class="btn btn-primary" />
                <input type="button" id="btnViewReport" value="ViewReport" class="btn btn-primary" />
                <input type="button" id="btnDownloadReport" value="DownloadReport" class="btn btn-primary" />

            </div>
        </div>
    </fieldset>

</form>
<div id="divReportGrid" style="margin-top:10px;margin-bottom:30px;">
    @if (Model != null)
    {
        @Html.Partial("_GenerateReport", Model)
    }

</div>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

     


        $("#chkstartdate").click(function () {

            $("#txtchktartdate").datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: false,
                dateFormat: 'yy-mm-dd',
                autoclose: true,
                showStatus: true,
                showWeeks: true,
                highlightWeek: true,
                numberOfMonths: 1,
                orientation: "bottom auto",
                buttonImage: "calendar-icon.jpg",
                showAnim: "scale",

            });
            $('#txtchktartdate').datepicker('show');

        });


        $("#chkenddate").click(function () {


            $("#txtchkenddate").datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: false,
                dateFormat: 'yy-mm-dd',
                autoclose: true,
                showStatus: true,
                showWeeks: true,
                highlightWeek: true,
                numberOfMonths: 1,
                buttonImage: "calendar-icon.jpg",
                orientation: "bottom auto",
                showAnim: "scale",

            });
            $('#txtchkenddate').datepicker('show');

        });
        //$('#btnDeleteAll').on("click", function (event) {
        //    debugger
        //    var tb = $(this).attr('title');
        //    var sel = false;
        //    var ch = $('#' + tb).find('tbody input[type=checkbox]');
        //    var c = confirm('Continue delete?');
        //    if (c) {
        //        ch.each(function () {
        //            var $this = $(this);
        //            if ($this.is(':checked')) {
        //                sel = true;	//set to true if there is/are selected row
        //                $this.parents('tr').fadeOut(function () {
        //                    $this.remove(); //remove row when animation is finished
        //                });
        //            }
        //        });
        //        if (!sel) alert('No data selected');
        //    }
        //    return false;
        //});
        $('#select_all').on('click', function () {
            alert("select_all");
            if (this.checked) {
                $('.checkbox').each(function () {
                    this.checked = true;
                });
            }
            else {
                $('.checkbox').each(function () {
                    this.checked = false;
                });
            }
        });

        $('.checkbox').on('click', function () {
            if ($('.checkbox:checked').length == $('.checkbox').length) {
                $('#select_all').prop('checked', true);
            } else {
                $('#select_all').prop('checked', false);
            }
        });

    });
    $(document).on("click", '#chkHeader', function () {
        debugger;
        if ($(this).is(":checked")) {
            $('.chkEmployee').prop("checked", true);
            //$("#btnsendapp").show();
        }
        else {
            $('.chkEmployee').prop("checked", false);
            //$("#btnsendapp").css("display", "none");
        }
    });
    function DeleteRecords() {
        debugger
        var chekedValues = "";
        $("#tableTrainingData td").find("input[name='chkRow']:checked").each(function () {
            if(this.disabled==false)
            {
                chekedValues += $(this).val() + ',';
            }
            else
            {

            }
        });

        if (chekedValues != "") {
            chekedValues = chekedValues.slice(0, -1);
        }
        if (chekedValues != "") {
            $.ajax({
                url: '@Url.Action("DeleteAll", "Training")',
                data: JSON.stringify({ TrainingID: chekedValues }),
                type: 'POST',
                datatype: "html",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                success: function (result) {
                    alert("Deleted Records Successfully ");
                    if (result != null) {
                        $("#divLoader").hide();
                        $("#divReportGrid").html(result);
                        window.location.reload();
                        
                    }
                    
                },
                error: function (result) {

                    alert(JSON.stringify(error));
                }
            });
        }

           
        

    }
    function GetReportByParameter() {

        var ProgramName = $("#ddlprogram option:selected").val();
        var Location = $("#ddllocation option:selected").val();
        var Practice = $("#ddlpractice option:selected").val();
        var AttendanceStatus = $("#ddlattendence option:selected").val();
        var Source = $("#ddlsource option:selected").val();
        var Category = $("#ddlcategory option:selected").val();
        var Mode = $("#ddlmode option:selected").val();
        var StartDate = $("#txtchktartdate").val();
        var EndDate = $("#txtchkenddate").val();
        var dt = new Date().toISOString().slice(0, 10)

        if (Date.parse(StartDate) > Date.parse(dt)) {

            alert("start date can not be greater than  current date ");
            return false;
        }
        if (Date.parse(StartDate) > Date.parse(EndDate)) {

            alert("end date can not be less than  start date ");
            return false;
        }

        if (Date.parse(EndDate) > Date.parse(dt)) {

            alert("end date can not be greater than  current date ");
            return false;
        }
        $("#divLoader").show();
        $.ajax({
            url: '@Url.Action("GenerateReport", "Training")',
            data: JSON.stringify({ ProgramName: ProgramName, Location: Location, Practice: Practice, AttendanceStatus: AttendanceStatus, Source: Source, Category: Category, Mode: Mode, StartDate: StartDate, EndDate: EndDate }),
            type: 'POST',
            datatype: "html",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            success: function (result) {

                if (result != null) {
                    $("#divLoader").hide();
                    $("#divReportGrid").html(result);

                }

            },
            error: function (result) {

                alert(JSON.stringify(error));
            }
        });
    };



    function Downloadreport() {

        var ProgramName = $("#ddlprogram option:selected").val();
        var Location = $("#ddllocation option:selected").val();
        var Practice = encodeURIComponent($("#ddlpractice option:selected").val());
        var AttendanceStatus = $("#ddlattendence option:selected").val();
        var Source = $("#ddlsource option:selected").val();
        var Category = $("#ddlcategory option:selected").val();
        var Mode = $("#ddlmode option:selected").val();
        var StartDate = $("#txtchktartdate").val();
        var EndDate = $("#txtchkenddate").val();
        var dt = new Date().toISOString().slice(0, 10)

        if (Date.parse(StartDate) > Date.parse(dt)) {

            alert("start date can not be greater than  current date ");
            return false;
        }
        if (Date.parse(StartDate) > Date.parse(EndDate)) {

            alert("end date can not be less than  start date ");
            return false;
        }

        if (Date.parse(EndDate) > Date.parse(dt)) {

            alert("end date can not be greater than  current date ");
            return false;
        }

        window.location.href = '@Url.Action("DownloadReport", "Training")' + '?ProgramName=' + ProgramName + '&Location=' + Location + '&Practice=' + Practice + '&AttendanceStatus=' + AttendanceStatus + '&Source=' + Source + '&Category=' + Category + '&Mode=' + Mode + '&StartDate=' + StartDate + '&EndDate=' + EndDate;

    };
    $("#btnDownloadReport").click(function () {
        Downloadreport();

    });
    $("#btnViewReport").click(function () {
        GetReportByParameter();

    });
    $("#btnDeleteAll").click(function () {
        debugger
        DeleteRecords();

    });
    

</script>


<script type="text/javascript">
  
    function Clean(e) {

        $(e).val('');
    }
</script>