
@{
    ViewBag.Title = "UploadTrainingDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Upload Training Document</h2>
<img id="divLoader" src="@Url.Content("~/content/images/loading.gif")" style="display: none;"
     alt="Loading ..." width="50" />
<div id="FormContent">
    <form id="FormUpload" enctype="multipart/form-data" method="post">
        <span class="btn btn-success fileinput-button">
            <input type="file" name="file" id="btnUploadTrainingDoc" />
        </span>
        <button class="btn btn-primary start"
                type="button" id="Submit_btn">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
        </button>


        <button class="btn btn-primary start pull-right"
                type="button" id="btnDownloadTemplate">
            <i class="glyphicon glyphicon-download-alt"></i>
            <span>Download Template..</span>
        </button>
    </form>
</div><br />
<div id="diverrrGrid">
    <div class="row row-centered">
        <div class="col-md-3 ">
            <b>Correct Records Count :</b>
            <span id="lblcrtcunt"></span>
        </div>
        <div class="col-md-3 ">
            <b>InCorrect Records Count :</b>
            <span id="lblincrtcunt"></span>
        </div>
        <div class="col-md-3 ">
            <b>Duplicate Records Count :</b>
            <span id="lblduplicrt"></span>
        </div>
        
    </div><br />
    <div id="diverrorec">

    </div>
</div><br />
<script type="text/javascript">
    $(document).ready(function () {
        $("#diverrrGrid").hide();
        $('#btnUploadTrainingDoc').on('change', function () {
            $("#diverrrGrid").hide();
            myfile = $(this).val();
            var ext = myfile.split('.').pop();
            if (ext == "xlsx" || ext == "xls") {

                $('#MyForm').submit();
            }
            else {
                bootbox.alert("Please select only ms-Excel(.xlsx or .xls) formatted file for uploading the training document");
                $('#btnUploadTrainingDoc').val('');
            }
        });
        $("#Submit_btn").on("click", function () {
            debugger
            $("#diverrrGrid").hide();
            $("#divLoader").show();
            UploadReportFile();
        });
        $('#btnDownloadTemplate').click(function () {
            debugger
            window.location.href = '@Url.Action("DownloadTainingReportTemplate", "Training")';


        });
  

        @*function UploadReportFile() {
            var selectedfile = $('#btnUploadTrainingDoc').val();
            if (selectedfile != "") {
                var form = $('#FormUpload')[0];
                var dataString = new FormData(form);
                $.ajax({
                    url: '@Url.Action("InsertTrainingData", "Training")',
                    type: 'POST',
                    cache: false,
                    beforeSend: function () {

                    },

                    success: function (dataResult) {
                        $("#divLoader").hide();

                        if (dataResult.isValidTemplate != null && dataResult.isValidTemplate == "true") {

                            alert("Successfully uploaded report");

                        }
                        else {
                            alert("Not a valid template");
                        }
                    },
                    error: function (error) {
                        $('#btnUploadTrainingDoc').val('');
                        alert("Please select a proper file");
                        $("#divLoader").hide();

                    },
                    complete: function (done) {
                        $('#btnUploadTrainingDoc').val('');

                    },
                    // Form data
                    data: dataString,
                    //Options to tell jQuery not to process data or worry about content-type.
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                alert("select a file to upload");
                $("#divLoader").hide();
            }

        }*@

        function UploadReportFile() {
            debugger;
            var selectedfile = $('#btnUploadTrainingDoc').val();
            if (selectedfile != "") {
                var form = $('#FormUpload')[0];
                var dataString = new FormData(form);
                $.ajax({
                    url: '@Url.Action("InsertTrainingData", "Training")',
                    type: 'POST',
                    cache: false,
                    beforeSend: function () {
                    },

                    success: function (dataResult) {
                        debugger;


                        $('#btnUploadTrainingDoc').val('');
                        $("#diverrrGrid").show();
                        $("#lblcrtcunt").text(dataResult.Crrtcount);
                        $("#lblincrtcunt").text(dataResult.InCrrtcount);
                        $("#lblduplicrt").text(dataResult.DuplicateCount);
                        $("#diverrorec").empty();
                        //$("#btnexport").hide();
                        if (dataResult.datalist != null) {
                            debugger;
                            $.ajax({
                                url: '@Url.Action("GetErrorRecordsParitalView", "Training")',
                                // data: JSON.stringify({ lstit: dataResult.datalist }),
                                type: 'GET',
                                datatype: "html",
                                contentType: 'application/json; charset=utf-8',
                                cache: false,
                                success: function (result) {
                                    debugger;
                                    if (result != null) {
                                        if ($("#diverrorec").length > 0) {
                                            $("#diverrorec").empty();
                                        }
                                        $("#diverrorec").html(result);
                                        //if (dataResult.datalist.length > 0)
                                        //    $("#btnexport").show();

                                    }
                                },
                                error: function (result) {
                                }
                            });

                        }
                        $("#divLoader").hide();
                        alert(dataResult.message);

                    },
                    error: function (error) {
                        $('#btnUploadTrainingDoc').val('');
                        $("#divLoader").hide();
                        alert("Please select a proper file");


                    },
                    complete: function (done) {
                        $('#btnUploadTrainingDoc').val('');
                        $("#divLoader").hide();

                    },
                    data: dataString,
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                $("#divLoader").hide();
                alert("select a file to upload");
            }

        }




























    });
    
</script>