
@{
    ViewBag.Title = "AssociateAcceptance";
}

<h2>Associate Acceptance</h2>

<div class="container">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <p></p>
        <h1></h1>
        <div class="row" style="height:50px">
            <div class="col-lg-1">

            </div>
        </div>
        <div class="row">
            <div>
                <div class="form-group col-md-3">
                    @Html.Label("HRRF #")
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" id="ShiftsInfo" type="text" readonly>
            </div>
        </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Project Name")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Role")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Account Name")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Resource Expected Date")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Assignment Start Date")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Assignment End Date")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>
            </div>

            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Location Type")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>

            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Offshore Location")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Onsite Location")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Visa Type")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Shift Info")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Travel Info")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Primary Skills")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Secondary Skills(Optional)")
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" id="ShiftsInfo" type="text" readonly>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Job Description")
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="jobdescription"></textarea>
                </div>

            </div>
            <div class="row">
                <div>
                    <div class="form-group col-md-3">
                        @Html.Label("Associate Comments")
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="associatecomments"></textarea>
                </div>

            </div>

            <div class="row text-right">
                <div class="form-group col-md-6">
                    <button type="button" class="btn btn-primary">Accept</button>
                    <button type="button" class="btn btn-primary">Reject </button>
                    <button type="button" class="btn btn-default">Cancel</button>

                </div>

            </div>

    }

