@using Trianz.Enterprise.Operations.Controllers;

@{
    bool isDM = ViewBag.IsDM != null ? ViewBag.IsDM : false;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TR-Trianz Corporate Operations</title>
    <!-- Bootstrap css -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<link href="~/Content/custom.css" rel="stylesheet" />*@
    @*<link href="~/Content/datatable.css" rel="stylesheet" />*@
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/step-progressbar.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <!-- Added by Sarath -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap" rel="stylesheet">

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/moment.js"></script>

    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/validator.js"></script> <!-- Added by Sarath -->

    <link rel="stylesheet" type="text/css" href="~/Content/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.jqRangeSlider.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/le-frog/jquery-ui-1.8.20.css" />

    <script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqChart.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqRangeSlider.min.js")" type="text/javascript"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/datepicker.css" rel="stylesheet" />

    @*<link href="~/Content/datatable.css" rel="stylesheet">*@
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- js scripts start-->
    @*<script src="~/Scripts/jquery.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    @*<script type="text/javascript" language="javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="~/Scripts/dataTables.js"></script>*@
    <!-- js scripts end-->
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />*@

    @*<script>
        //session end
        var sessionTimeoutWarning = @Session.Timeout- 1;
            //alert(sessionTimeoutWarning);
            var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
            //alert(sTimeout);
        setTimeout('SessionEnd()', sTimeout);

        function SessionEnd() {
            //alert("time set");
            window.location = "/Home/LogOff";
        }
        </script>*@

    <style type="text/css">
        .icon-Approvals {
            -webkit-mask: url('../../Content/Approvals.png');
            float: left;
            /*width: 30px;
            height: 30px;*/
            mask: url('../../Content/Approvals.png');
        }

        .bootbox .modal-dialog {
            left: 0%;
        }

        #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/
        }

        .name {
            white-space: nowrap;
            float: left;
            border-right: 1px solid #EAECF2;
            padding: 0 15px 0 0;
            margin-left: 9px;
            margin-top: 10px;
            overflow: HIDDEN;
            max-width: 180px;
            text-overflow: ellipsis;
        }

        .nav {
            font-size: 13px;
        }

            .nav > li > a {
                position: relative;
                display: block;
                padding: 10px 6px;
            }

        body.modal-open {
            margin-right: 0px;
        }


        .navbar-default .navbar-collapse, .navbar-default .navbar-form {
            border-color: #fff;
            padding: 0px;
        }

        .logo {
            float: left;
            margin: 18px 0 0 10px;
            border-right: 1px solid #EAECF2;
            padding: 0 15px 0 0;
            position: relative;
            left: 24px;
            width: 57px;
            height: 36px;
        }

        .Talent {
            float: left;
            margin: 16px 13px;
            width: 101px;
            position: relative;
            left: 10px;
        }

        .container-fluid {
            margin: 0px;
            padding: 0px;
        }
    </style>

</head>
@if (!Request.IsAuthenticated)
{
    ((TRHomeController)this.ViewContext.Controller).SignIn();

}
else
{
    <body onload="initSession()">
        <div class="container-fluid nopadding HRRF_custom">
            <div id="divBusyContent" style="margin:auto;position:absolute;display: none;ba">
                <img id="divLoader1" src="@Url.Content("~/Content/images/loading.gif")" style="margin-left:40%;z-index:99;"
                     alt="Loading ..." width="70" />
            </div>



            <div class="HRRF_header nopadding">
                <div style="background: #fff;height:111px">
                    <div class="container-fluid">
                        <div class="row" style="border-bottom: 1px solid #EAECF2;margin: 0px 0px 0px 45px; display:flex">
                            <div class="col-sm-8">
                                <a href="@Url.Action("index", "trhome")">
                                    <img src="~/Content/images/logo.svg" class="img-responsive" style="width: 160px;height: 60px;" />
                                </a>
                                @*<a href="#" style="color:white">

                                        <img src="~/Content/images/trianz-logo.png"  alt="Trianzlogo" class="img-responsive logo">

                                    </a>
                                    <a href="#">
                                        <img src="~/Content/images/trianz-logo.png" width="170" height="65" alt="Trianz Logo">
                                                            <img src="~/Content/images/TalentoLogo.png" alt="Talento" class="img-responsive Talent" />
                                                            </a>*@
                            </div>
                            <div class="col-sm-4" style="margin-left:350px;margin-top: 15px;">
                                <a href="#" style="color:white">

                                    <img src="~/Content/images/profile_layout.png" style="float:left;height: 40px" alt="Trianzlogo" class="img-responsive">

                                </a>
                                <div>
                                    <p alt="Trianzlogo" class="name"><b>@System.Security.Claims.ClaimsPrincipal.Current.FindFirst("name").Value.Split('\\')[0]</b></p>

                                    <img src="~/Content/images/vector_layout.png" style="float:left;margin-top: 17px;" alt="Trianzlogo" class="img-responsive">
                                </div>
                            </div>
                        </div>

                        <div>
                            @if ((Convert.ToInt32(Session["EmployeeId"]) != 105825)) //acceess restriction
                            {


                                <!-- nav bar strat-->
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid nopadding-right nopadding-left" style="border-bottom: 2px solid #D7D7D7;">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse nopadding-right" id="bs-example-navbar-collapse-1">


                                            @* Home Page*@
                                            @*@if (ViewBag.state != "expired")
                                                {*@
                                            <ul class="nav navbar-nav left-nav" style="position: relative;top: 1px;left:0px;padding: 0px 54px;width: 101%;background-color: #FFFFFF;
">
                                                @if (Session["Role"] != null)
                                                {
                                                    if (Session["Role"].ToString() == "PM")
                                                    {
                                                        @*<li id="MenuTrianzOperations"><span></span>@Html.ActionLink( "index", "trhome")<span class="sr-only">(current)</span></li>*@
                                                        <li id="MenuTrianzOperations"><a href="@Url.Action("index", "trhome")"><span class="sr-only">(current)</span><span class="glyphicon glyphicon-home" aria-hidden="true"></span><b style="position: relative;left: 6px;">TR Home</b></a></li>
                                                        <li id="MenuEmployee"><a href="@Url.Action("addnewskills", "employeeskills")"><span class="icon icon-profile"></span><b> My Profile</b></a></li>
                                                        <li id="MenuApprovals"><a href="@Url.Action("mynotifications", "notifications")"><span class="icon icon-Approvals"></span><b>My Approvals</b></a></li>

                                                        if (Session["Supervisor"] != null)
                                                        {
                                                            @*<li id="MenuTeamTrack"><a href="@Url.Action("TeamTrack", "TeamTrack")">TeamTrack</a></li>*@
                                                        }
                                                        @*<li id="TrainingApprovals"><a href="@Url.Action("UploadTrainingDocument", "Training" )">Training</a></li>*@
                                                        if (Session["EmployeeId"].ToString() == "103170") // Surya.Medisetti
                                                        {
                                                            <li class="dropdown" id="MenuReport" style="margin-left:-6px;">
                                                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-report"></span><b>Report</b> <span class="caret"></span></a>

                                                                <ul class="dropdown-menu">
                                                                    <li><a href="@Url.Action("masterreportview", "masterreport")"><b>Employee Master</b></a></li>
                                                                </ul>
                                                            </li>
                                                        }
                                                        if (isDM == true) //siva commented told by hakeem sir
                                                        {
                                                            <li class="dropdown" id="MenuReport" style="margin-left:-6px;">
                                                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-report"></span><b>Report</b> <span class="caret"></span></a>

                                                                <ul class="dropdown-menu">
                                                                    <li><a href="@Url.Action("ITSResourceDashboard", "resourcedashboard")"><b>ITS Resource Dashboard</b></a></li>
                                                                </ul>
                                                            </li>
                                                        }
                                                        <li class="dropdown" id="assign">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-assignment"></span><b>Assignment</b><span class="caret"></span></a>

                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("Index", "ProjectAssignment")"><b>Project Assignment</b></a></li>
                                                                @{
                                                                    List<string> lstEmpIDsforActiveassg = System.Configuration.ConfigurationManager.AppSettings["ActiveAssignmentDownload"].Split(',').ToList();

                                                                    bool IsValid = lstEmpIDsforActiveassg.Where(e => Session["EmployeeId"].ToString().Contains(e)).Any();
                                                                    if (IsValid)
                                                                    {
                                                                        @:
                                                                        <li><a href="@Url.Action("Downloadactiveassignment", "ProjectAssignment")"><b>Download Assignments</b></a></li>
                                                                    }
                                                                }
                                                                @{
                                                                    List<string> ListRiseTeam = System.Configuration.ConfigurationManager.AppSettings["RiseTeam"].Split(',').ToList();

                                                                    bool IsValidDash = ListRiseTeam.Where(e => Session["EmployeeId"].ToString().Contains(e)).Any();
                                                                    if (IsValidDash && !isDM)
                                                                    {
                                                                        @:
                                                                        <li><a href="@Url.Action("ITSResourceDashboard", "resourcedashboard")"><b>ITS Resource Dashboard</b></a></li>

                                                                    }
                                                                }

                                                                <li><a href="@Url.Action("ResourceRelease", "EmployeeAssignment")"><b>Project Release </b></a></li>

                                                            </ul>
                                                        </li>
                                                        @*
                                                            <li class="dropdown" id="MenuResources">
                                                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>*@

                                                        @*<ul class="dropdown-menu">

                                                                    <li id="MenuBench"><a href="@Url.Action("AddResources", "Bench" )">Bench Resources</a></li>
                                                                    <li><a href="@Url.Action("BenchEmployeeView", "BenchEmployee" )">Bench Resources</a></li>
                                                                    <li><a href="@Url.Action("ProposedResourcesView", "ProposedResources" )">Proposed Resources</a></li>

                                                                </ul>
                                                            </li>*@

                                                        //Need to remove later
                                                        @*
                                                            <li class="dropdown" id="MenuAdminDashboard">
                                                                @if (Session["Role"].ToString() != "" && Session["Role"].ToString() == "Admin")
                                                                {
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Admin <span class="caret"></span></a>
                                                                <ul class="dropdown-menu">
                                                                    <li id="MenuAdmin">
                                                                        <a href="@Url.Action("Index", "RoleMaster" )">Role Configuration</a>
                                                                    </li>
                                                                </ul>
                                                                }
                                                            </li>

                                                            <li class="dropdown" id="MenuReport">
                                                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report<span class="caret"></span></a>

                                                                <ul class="dropdown-menu">
                                                                    <li><a href="@Url.Action("MasterReportView", "MasterReport" )">Employee Master</a></li>
                                                                    <li><a href="@Url.Action("BenchEmployeeView", "BenchEmployee" )">Bench Resources</a></li>
                                                                    <li><a href="@Url.Action("ProposedResourcesView", "ProposedResources" )">Proposed Resources</a></li>
                                                                    <li><a href="@Url.Action("Index", "TrReport" )">TR Report</a></li>

                                                                </ul>
                                                            </li>
                                                            <li class="dropdown" id="MenuResourceDashboard">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> DashBoard<span class="caret"></span></a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="@Url.Action("ResourceInformation", "ResourceDashBoard" )">Resource Dashboard</a></li>
                                                                    <li><a href="@Url.Action("DemandTrend", "DemandTrend" )">Demand DashBoard</a></li>

                                                                </ul>
                                                            </li>*@
                                                    }
                                                    if (Session["Role"].ToString() == "OM")
                                                    {
                                                        @*<li id="MenuTrianzOperations">@Html.ActionLink("TR Home", "index", "trhome")<span></span><span class="sr-only"> (current)</span></li>*@
                                                        <li id="MenuTrianzOperations"><a href="@Url.Action("index", "trhome")"><span class="sr-only">(current)</span><span class="glyphicon glyphicon-home" aria-hidden="true"></span><b style="position: relative;left: 6px;">TR Home</b></a></li>
                                                        <li id="MenuEmployee"><a href="@Url.Action("addnewskills", "employeeskills")"><span class="icon icon-profile"></span><b> My Profile</b></a></li>
                                                        @*<li class="dropdown" id="MenuEmployee">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile<span class="caret"></span></a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="@Url.Action("AddNewSkills", "EmployeeSkills" )">Profile</a></li>

                                                                </ul>
                                                            </li>*@
                                                        <li id="MenuApprovals"><a href="@Url.Action("mynotifications", "notifications")"><span class="icon icon-Approvals"></span><b>My Approvals</b></a></li>
                                                        <li id="Employees" style="margin-left:-6px;"><a href="@Url.Action("Index", "EmployeeSearch")"><span class="icon icon-employees"></span><b>Employees</b> </a></li>
                                                        @*<li id="Employees"><a href="@Url.Action(" ", "MasterReport")"><span class="icon icon-employees"></span><b>Employees</b> </a></li>*@
                                                        if (Session["Supervisor"] != null)
                                                        {
                                                            @*<li id="MenuTeamTrack"><a href="@Url.Action("TeamTrack", "TeamTrack")">TeamTrack</a></li>*@
                                                        }
                                                        <li class="dropdown" id="MenuReport">
                                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-report"></span><b>Report</b> <span class="caret"></span></a>

                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("MasterReportView", "MasterReport")">Employee Master</a></li>
                                                                <li><a href="@Url.Action("BenchEmployeeView", "BenchEmployee")">Bench Resources</a></li>
                                                                @*<li><a href="@Url.Action("ProposedResourcesView", "ProposedResources" )">Proposed Resources</a></li>
                                                                    <li><a href="@Url.Action("Index", "TrReport" )">TR Report</a></li>*@
                                                                <li><a href="@Url.Action("SkillsReport", "Employees")">Employee Skills Report</a></li>
                                                                <li><a href="@Url.Action("EmployeeDashBoard", "EmployeeDashBoard")">Employee Dashboard</a></li>
                                                                <li><a href="@Url.Action("ITSResourceDashboard", "resourcedashboard")">ITS Resource Dashboard</a></li>
                                                                <li><a href="@Url.Action("GenerateNewSkillReport", "Employees")">Employee Skills Report on Expertise Level</a></li>
                                                                <li><a href="@Url.Action("Index", "Billingloss")">Billing Loss Positions</a></li>
                                                                <li><a href="@Url.Action("ProjectResourceUtilizationReport", "Employees")">Project Resource Utilization Report</a></li>


                                                            </ul>
                                                        </li>

                                                        <li class="dropdown" id="assign">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-assignment"></span><b>Assignment</b><span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("Index", "ProjectsMaster")">Project Master</a></li>
                                                                <li><a href="@Url.Action("Index", "ProjectAssignment")">Project Assignment</a></li>
                                                                <li><a href="@Url.Action("Index", "BulkAssignment")">Bulk Assignment</a></li>
                                                                <li><a href="@Url.Action("Index", "EmployeeAssignment")">Employee Assignment</a></li>
                                                                <li><a href="@Url.Action("Index", "designationmasters")">Designation Master</a></li>

                                                                @{
                                                                    List<string> lstEmpIDsforActiveassg = System.Configuration.ConfigurationManager.AppSettings["ActiveAssignmentDownload"].Split(',').ToList();

                                                                    bool IsValid = lstEmpIDsforActiveassg.Where(e => Session["EmployeeId"].ToString().Contains(e)).Any();
                                                                    if (IsValid)
                                                                    {
                                                                        @:
                                                                        <li><a href="@Url.Action("Downloadactiveassignment", "ProjectAssignment")">Download Assignments</a></li>

                                                                    }
                                                                }
                                                                <li><a href="@Url.Action("ResourceRelease", "EmployeeAssignment")">Project Release</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown" id="MenuResourceDashboard">

                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-dashboard"></span><b>Dashboard</b> <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("FulfillmentReview", "ResourceDashBoard")">Fulfillment Review</a></li>
                                                                <li><a href="@Url.Action("ResourceDashboardChat", "ResourceDashBoard")">Resource Dashboard</a></li>
                                                                <li><a href="@Url.Action("FulfilmentDashBoard", "ResourceDashBoard")">Fulfillment Dashboard</a></li>


                                                            </ul>
                                                        </li>
                                                        <li class="dropdown" id="MenuCompetency">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-competency"></span><b>Competency</b><span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("SkillCategory", "Competency")">Skill Category</a></li>
                                                                <li><a href="@Url.Action("SkillSet", "Competency")">Skill Set</a></li>
                                                            </ul>
                                                        </li>
                                                    }
                                                    if (Session["Role"].ToString() == "DH" || Session["Role"].ToString() == "SM") // && (Convert.ToInt16(Session["Grade"]) >= 5)
                                                    {
                                                        <li id="MenuTrianzOperations"><a href="@Url.Action("index", "trhome")"><span class="sr-only">(current)</span><span class="glyphicon glyphicon-home" aria-hidden="true"></span><b style="position: relative;left: 6px;">TR Home</b></a></li>
                                                        <li id="MenuEmployee"><a href="@Url.Action("addnewskills", "employeeskills")"><span class="icon icon-profile"></span><b> My Profile</b></a></li>
                                                        @*<li class="dropdown" id="MenuEmployee">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile<span class="caret"></span></a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="@Url.Action("AddNewSkills", "EmployeeSkills" )">Profile</a></li>

                                                                </ul>
                                                            </li>*@
                                                        <li id="MenuApprovals"><a href="@Url.Action("mynotifications", "notifications")"><b>MY Approvals</b></a></li>

                                                        if (Session["Supervisor"] != null)
                                                        {
                                                            @*<li id="MenuTeamTrack"><a href="@Url.Action("TeamTrack", "TeamTrack" )">TeamTrack</a></li>*@
                                                        }
                                                        <li class="dropdown" id="MenuReport">
                                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-report"></span><b>Report</b> <span class="caret"></span></a>

                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("masterreportview", "masterreport")">Employee Master</a></li>
                                                                <li><a href="@Url.Action("benchemployeeview", "benchemployee")">Bench Resources</a></li>
                                                                @*<li><a href="@Url.Action("proposedresourcesview", "proposedresources" )">Proposed Resources</a></li>
                                                                    <li><a href="@Url.Action("index", "trreport" )">TR Report</a></li>*@
                                                                <li><a href="@Url.Action("SkillsReport", "Employees")">Employee Skills Report</a></li>
                                                                <li><a href="@Url.Action("ITSResourceDashboard", "resourcedashboard")">ITS Resource Dashboard</a></li>
                                                                <li><a href="@Url.Action("GenerateNewSkillReport", "Employees")">Employee Skills Report on Expertise Level</a></li>
                                                                <li><a href="@Url.Action("Index", "Billingloss")">Billing Loss Positions</a></li>
                                                                <li><a href="@Url.Action("ProjectResourceUtilizationReport", "Employees")">Project Resource Utilization Report</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown" id="assign">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-assignment"></span><b>Assignment</b><span class="caret"></span></a>

                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("Index", "ProjectAssignment")">Project Assignment</a></li>
                                                                @{
                                                                    List<string> lstEmpIDsforActiveassg = System.Configuration.ConfigurationManager.AppSettings["ActiveAssignmentDownload"].Split(',').ToList();

                                                                    bool IsValid = lstEmpIDsforActiveassg.Where(e => Session["EmployeeId"].ToString().Contains(e)).Any();
                                                                    if (IsValid)
                                                                    {
                                                                        @:
                                                                        <li><a href="@Url.Action("Downloadactiveassignment", "ProjectAssignment")">Download Assignments</a></li>
                                                                    }
                                                                }

                                                                <li><a href="@Url.Action("ResourceRelease", "EmployeeAssignment")">Project Release</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown" id="MenuResourceDashboard">

                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-dashboard"></span><b>Dashboard</b> <span class="caret"></span></a>

                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("ResourceDashboardChat", "ResourceDashBoard")">Resource Dashboard</a></li>
                                                                <li><a href="@Url.Action("FulfilmentDashBoard", "ResourceDashBoard")">Fulfillment Dashboard</a></li>

                                                            </ul>
                                                        </li>
                                                        <!-- Below code is commented by Sarath, because No access the below page to this role, if you want get clear picture, check in controller code in index method -->
                                                        @*<li class="dropdown" id="">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignment<span class="caret"></span></a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="@Url.Action("Index", "ProjectAssignment" )">Project Assignment</a></li>
                                                                </ul>
                                                            </li>*@


                                                    }
                                                    if (Session["Role"].ToString() == "LDAdmin")
                                                    {
                                                        @*<li id="MenuTrianzOperations">@Html.ActionLink("TR Home", "index", "trhome")<span class="sr-only">(current)</span></li>*@
                                                        <li id="MenuTrianzOperations"><a href="@Url.Action("index", "trhome")"><span class="sr-only">(current)</span><span class="glyphicon glyphicon-home" aria-hidden="true"></span><b style="position: relative;left: 6px;">TR Home</b></a></li>
                                                        <li id="MenuEmployee"><a href="@Url.Action("addnewskills", "employeeskills")"><span class="icon icon-profile"></span><b> My Profile</b></a></li>
                                                        <li id="MenuApprovals"><a href="@Url.Action("mynotifications", "notifications")">My Approvals</a></li>

                                                        @*<li id="MenuTeamTrack"><a href="@Url.Action("TeamTrack", "TeamTrack" )">TeamTrack</a></li>*@

                                                        <li class="dropdown" id="MenuCompetency">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Competency</b><span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("UploadTrainingDocument", "Training")">Upload Training Report</a></li>
                                                                <li><a href="@Url.Action("Report", "Training")">Training Report</a></li>

                                                            </ul>
                                                        </li>
                                                    }
                                                    if (Session["Role"].ToString() == "CompetencyAdmin")
                                                    {
                                                        @*<li id="MenuTrianzOperations">@Html.ActionLink("TR Home", "index", "trhome")<span class="sr-only">(current)</span></li>*@
                                                        <li id="MenuTrianzOperations"><a href="@Url.Action("index", "trhome")"><span class="sr-only">(current)</span><span class="glyphicon glyphicon-home" aria-hidden="true"></span><b>TR Home</b></a></li>
                                                        <li id="MenuEmployee"><a href="@Url.Action("addnewskills", "employeeskills")"><b>My Profile</b></a></li>
                                                        <li id="MenuApprovals"><a href="@Url.Action("mynotifications", "notifications")"><b>My Approvals</b></a></li>
                                                        if (Session["Supervisor"] != null)
                                                        {
                                                            @*<li id="MenuTeamTrack"><a href="@Url.Action("TeamTrack", "TeamTrack" )">TeamTrack</a></li>*@
                                                        }
                                                        <li class="dropdown" id="MenuCompetency">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Competency</b><span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("SkillCategory", "Competency")">Skill Category</a></li>
                                                                <li><a href="@Url.Action("SkillSet", "Competency")">Skill Set</a></li>
                                                            </ul>
                                                        </li>
                                                    }
                                                    if (Session["Role"].ToString() == "Admin")
                                                    {
                                                        @*<li id="MenuTrianzOperations">@Html.ActionLink("TR Home", "index", "trhome")<span class="sr-only">(current)</span></li>*@
                                                        <li id="MenuTrianzOperations"><a href="@Url.Action("index", "trhome")"><span class="sr-only">(current)</span><span class="glyphicon glyphicon-home" aria-hidden="true"></span><b>TR Home</b></a></li>
                                                        <li id="MenuEmployee"><a href="@Url.Action("addnewskills", "employeeskills")"><b>My Profile</b></a></li>
                                                        @*<li class="dropdown" id="MenuEmployee">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile<span class="caret"></span></a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="@Url.Action("AddNewSkills", "EmployeeSkills" )">Profile</a></li>

                                                                </ul>
                                                            </li>*@

                                                        <li id="MenuApprovals"><a href="@Url.Action("mynotifications", "notifications")"><b>My Approvals</b></a></li>
                                                        if (Session["Supervisor"] != null)
                                                        {
                                                            @*<li id="MenuTeamTrack"><a href="@Url.Action("TeamTrack", "TeamTrack" )">TeamTrack</a></li>*@
                                                        }
                                                        <li class="dropdown" id="MenuReport">
                                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Report</b><span class="caret"></span></a>

                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("masterreportview", "masterreport")">Employee Master</a></li>
                                                                <li><a href="@Url.Action("benchemployeeview", "benchemployee")">Bench Resources</a></li>
                                                                @*<li><a href="@Url.Action("proposedresourcesview", "proposedresources" )">Proposed Resources</a></li>
                                                                    <li><a href="@Url.Action("index", "trreport" )">TR Report</a></li>*@
                                                                <li><a href="@Url.Action("SkillsReport", "Employees")">Employee Skills Report</a></li>
                                                                <li><a href="@Url.Action("ITSResourceDashboard", "resourcedashboard")">ITS Resource Dashboard</a></li>
                                                                <li><a href="@Url.Action("GenerateNewSkillReport", "Employees")">Employee Skills Report on Expertise Level</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="dropdown" id="MenuAdminDashboard">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <b>Admin</b> <span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                                <li id="MenuAdmin"><a href="@Url.Action("index", "rolemaster")">Role Configuration</a></li>
                                                                <li><a href="@Url.Action("index", "masterlookups")">Master Lookup Configuration</a></li>
                                                                <li id="DesignationMaster"><a href="@Url.Action("index", "designationmasters")">Designation Master</a></li>
                                                                <li id="MenuEmployee"><a href="@Url.Action("index", "employees")">Manager Configuration</a></li>
                                                            </ul>
                                                        </li>



                                                        <li class="dropdown" id="MenuResourceDashboard">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <b>Dashboard</b><span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("ResourceDashboardChat", "resourcedashboard")">Resource Dashboard</a></li>
                                                                <li><a href="@Url.Action("FulfilmentDashBoard", "resourcedashboard")">Fulfillment Dashboard</a></li>
                                                                <li><a href="@Url.Action("FulfilmentDashBoard", "resourcedashboard")">Fulfillment Dashboard</a></li>

                                                            </ul>
                                                        </li>

                                                        @*<li class="dropdown" id="">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignment<span class="caret"></span></a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="@Url.Action("Index", "ProjectAssignment" )">Project Assignment</a></li>
                                                                </ul>
                                                            </li>*@
                                                        <!-- **** Above code is commented by Sarath, because code is not specified by this 'Admin' role, hence getting page exception error. **** -->
                                                    }
                                                    @* Project asssignment *@
                                                    @*@if (Session["Role"].ToString() != "" && (Session["Role"].ToString() == "PM" || Session["Role"].ToString() == "OM"))
                                                        {
                                                        <li class="dropdown" id="">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignment<span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("Index", "ProjectAssignment" )">Project Assignment</a></li>
                                                            </ul>
                                                        </li>
                                                        }*@

                                                    if (Session["Role"].ToString() == "RL")
                                                    {
                                                        @*<li id="MenuTrianzOperations">@Html.ActionLink("TR Home", "index", "trhome")<span class="sr-only">(current)</span></li>*@
                                                        <li id="MenuTrianzOperations"><a href="@Url.Action("index", "trhome")"><span class="sr-only">(current)</span><span class="glyphicon glyphicon-home" aria-hidden="true"></span><b>TR Home</b></a></li>
                                                        <li id="MenuApprovals"><a href="@Url.Action("mynotifications", "notifications")"><b>My Approvals</b></a></li>

                                                        if (Session["Supervisor"] != null)
                                                        {
                                                            @*<li id="MenuTeamTrack"><a href="@Url.Action("TeamTrack", "TeamTrack" )">TeamTrack</a></li>*@
                                                        }
                                                        <li id="MenuTrianzOperations" class="externalactive"><a href="@Url.Action("index", "externalreport")"><span class="icon icon-fulfillment"></span> <b>External Fulfillment</b></a></li>

                                                        @*
                                                            <li class="dropdown" id="MenuRLDashboard">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Admin <span class="caret"></span></a>
                                                                <ul class="dropdown-menu">
                                                                    <li id="MenuAdmin"><a href="@Url.Action("Index", "RoleMaster" )">Role Configuration</a></li>
                                                                </ul>
                                                            </li>*@
                                                    };

                                                    if (Session["Role"].ToString() != "OM" && Session["ClusterManager"].ToString() == "1")
                                                    {
                                                        <li id="MenuCluster">
                                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-cluster"></span></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("Index", "EmployeeCluster")">Cluster Details</a></li>
                                                            </ul>
                                                        </li>

                                                    }
                                                    if (Session["Role"].ToString() != "OM" && Session["ClusterLeadId"].ToString() == "1")
                                                    {
                                                        <li id="MenuCluster">
                                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Cluster</b></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("Index", "EmployeeCluster")">Cluster Details </a></li>
                                                            </ul>
                                                        </li>

                                                    }
                                                    if (Session["Role"].ToString() == "OM")
                                                    {
                                                        <li id="MenuTrianzOperations" class="externalactive"><a href="@Url.Action("index", "externalreport")"><span class="icon icon-fulfillment"></span><b>External Fulfillment</b></a></li>
                                                        @*<li id="MenuCluster"><a href="@Url.Action("Index","SkillCluster")">Cluster Master</a></li>*@
                                                        //if (Session["ClusterLeadId"].ToString() == "Cl")
                                                        //{
                                                        <li id="MenuCluster">
                                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon-cluster"></span><b>Cluster</b></a>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="@Url.Action("Index", "SkillCluster")">Cluster Master</a>
                                                                </li>
                                                                <li><a href="@Url.Action("Index", "EmployeeCluster")">Cluster Details </a></li>
                                                            </ul>
                                                        </li>
                                                        @*}
                                                            else
                                                            {
                                                                <li id="MenuCluster">
                                                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cluster<span class="caret"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li>
                                                                            <a href="@Url.Action("Index", "SkillCluster")">Cluster Master</a>
                                                                        </li>

                                                                    </ul>
                                                                </li>
                                                            }*@



                                                    }



                                                    if (Session["Role"].ToString() == "User")
                                                    {
                                                        <li id="MenuEmployee">
                                                            <a href="@Url.Action("addnewskills", "employeeskills")"><b>My Profile</b></a>
                                                        </li>
                                                        @*<li class="dropdown" id="MenuEmployee">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile<span class="caret"></span></a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="@Url.Action("AddNewSkills", "EmployeeSkills" )">Profile</a></li>

                                                                </ul>
                                                            </li>*@
                                                    }
                                                    if (Session["Role"].ToString() == "Finance")
                                                    {



                                                        <li id="MenuTrianzOperations"><a href="@Url.Action("index", "trhome")"><span class="sr-only">(current)</span><span class="glyphicon glyphicon-home" aria-hidden="true"></span><b>TR Home</b></a></li>
                                                        <li id="MenuEmployee"><a href="@Url.Action("addnewskills", "employeeskills")"><b>My Profile</b></a></li>
                                                        <li id="MenuApprovals"><a href="@Url.Action("mynotifications", "notifications")"><b>My Approvals</b></a></li>
                                                        if (Session["Supervisor"] != null)
                                                        {
                                                            @*<li id="MenuTeamTrack"><a href="@Url.Action("TeamTrack", "TeamTrack")">TeamTrack</a></li>*@
                                                        }
                                                        <li class="dropdown" id="MenuFinance">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Finance Reports</b><span class="caret"></span></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("FinanceBenchReport", "FinanceReports")">Bench Report</a></li>
                                                                <li><a href="@Url.Action("FinanceShadowReport", "FinanceReports")">Shadow Report</a></li>
                                                                <li><a href="@Url.Action("FinanceInternalReport", "FinanceReports")">Internal Report</a></li>
                                                                <li><a href="@Url.Action("FinanceContractorsReport", "FinanceReports")">Contractor Report</a></li>
                                                                <li><a href="@Url.Action("FinanceInternalspcReport", "FinanceReports")">Internal-Specific Report</a></li>
                                                                <li><a href="@Url.Action("AddInternalSpcProjects", "FinanceReports")">Add Internal-Specific Projects</a></li>
                                                                <li><a href="@Url.Action("FinanceRawdataReport", "FinanceReports")">Raw-Data Report</a></li>
                                                                <li><a href="@Url.Action("FinanceUtilizationReport", "FinanceReports")">Utilization Report</a></li>
                                                                @{
                                                                    List<string> lstEmpIDsforActiveassg = System.Configuration.ConfigurationManager.AppSettings["ActiveAssignmentDownload"].Split(',').ToList();

                                                                    bool IsValid = lstEmpIDsforActiveassg.Where(e => Session["EmployeeId"].ToString().Contains(e)).Any();
                                                                    if (IsValid)
                                                                    {
                                                                        @:
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        /**/
                                                                                                        < li >< a href = "@Url.Action("Downloadactiveassignment", "ProjectAssignment")" > Download Assignments </ a ></ li >
                                                                                                    }
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                    @*if (ViewBag.ClusterMaster == true)
                                                        {
                                                            <li id="MenuCluster"><a href="@Url.Action("Index","SkillCluster")">Cluster Master</a></li>
                                                        }*@

                                                }
                                                else
                                                {
                                                    <li id="MenuTrianzOperations"></li>
                                                }

                                            </ul>

                                            @*<ul class="nav navbar-nav" style="margin-top: -14px;">
                                                         <li id="MenuSignout" style="position: relative;left: 116px; top: 15px;"><a href="@Url.Action("SignOut", "signout")"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a></li>
                                                </ul>*@

                                            @*@if ((Session["Role"].ToString() == "OM" || Session["Role"].ToString() == "SM" || Session["Role"].ToString() == "LDAdmin" || Session["Role"].ToString() == "CompetencyAdmin" || Session["Role"].ToString() == "Finance"))
                                                {
                                                    <ul class="nav navbar-nav" style="margin-top: -14px;">
                                                        <li id="MenuSignout" style="position: relative;left: 116px; top: 15px;"><a href="@Url.Action("SignOut", "signout")"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a></li>
                                                    </ul>
                                                }
                                                @if ((Session["Role"].ToString() == "PM"))
                                                {
                                                    <ul class="nav navbar-nav" style="margin-top: -14px;">
                                                        <li id="MenuSignout" style="position: relative;left: 710px; top: 15px;"><a href="@Url.Action("SignOut", "signout")"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a></li>
                                                    </ul>
                                                }
                                                @if ((Session["Role"].ToString() == "DH"))
                                                {
                                                    <ul class="nav navbar-nav" style="margin-top: -14px;">
                                                        <li id="MenuSignout" style="position: relative;left: 516px; top: 15px;"><a href="@Url.Action("SignOut", "signout")"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a></li>
                                                    </ul>
                                                }
                                                @if ((Session["Role"].ToString() == "RL"))
                                                {
                                                    <ul class="nav navbar-nav" style="margin-top: -14px;">
                                                        <li id="MenuSignout" style="position: relative;left: 771px; top: 15px;"><a href="@Url.Action("SignOut", "signout")"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a></li>
                                                    </ul>
                                                }*@

                                        </div><!-- /.navbar-collapse -->
                                    </div><!-- /.container-fluid -->
                                </nav>
                                <!-- nav bar end-->
                                <!-- body  start-->

                            }
                        </div>

                    </div>
                </div>
                <div class="body-content container-fluid" style="margin: 0px 45px 90px">
                    @RenderBody()
                </div>
                @*<style>
                        #a1{ color : red}
                    </style>*@

                <!-- footer  start-->
                <div class="container-fluid" style="background-color: #FFFFFF;" id="footer">

                    <div class="row" style="margin-left:40px;margin-top: 15px;">
                        <div class="col-sm-9">
                            <p>
                                <a href="mailto:Talento_Support@trianz.com" class="pull-left" style="color:black">Copyright © @DateTime.Now.Year, All rights reserved.</a>
                            </p>
                        </div>
                        <div class="col-sm-3 pull-left" style="display:flex">
                            <p>
                                <a id="um" href="@Url.Content(string.Concat("~/Content/FAQDoc/User Manual.pdf"))" target="_blank" style="color:black">User Manual |</a>
                            </p>
                            <p>
                                <a id="a1" href="@Url.Content(string.Concat("~/Content/FAQDoc/TMGFAQs.docx"))" target="_blank" style="color:black">Policies</a>
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/javascript">
        function disableBackButton() {
            window.history.forward()
        }
        disableBackButton();
        window.onload = disableBackButton;
        window.onpageshow = function (evt) {
            if (evt.persisted) disableBackButton();
        }
        window.onunload = function () {
            void (0);
        }


        $(document).ready(function () {
            //debugger
            if (location.pathname.toString().indexOf('/ProposeAssociate') != -1 || location.pathname.toString().indexOf('/CreateHRRF') != -1) {
                $('#MenuTrianzOperations').addClass('active');
            }
            else {
                $('ul.nav.navbar-nav').find('a[href="' + location.pathname + '"]').parents('li').addClass('active');
            }
            $('#MenuSignout').hide();
        });
        //debugger
        var sess_pollInterval = 60000;
        var sess_expirationMinutes = 20;
        var sess_warningMinutes = 15;
        var sess_intervalID;
        var sess_lastActivity;

        function initSession() {
            sess_lastActivity = new Date();
            sessSetInterval();
            $(document).bind('keypress.session', function (ed, e) {
                sessKeyPressed(ed, e);
            });
        }
        function sessSetInterval() {
            sess_intervalID = setInterval('sessInterval()', sess_pollInterval);
        }
        function sessClearInterval() {
            clearInterval(sess_intervalID);
        }
        function sessKeyPressed(ed, e) {
            sess_lastActivity = new Date();
        }
        function sessLogOut() {
            window.location.href = '@Url.Action("index", "trhome")';
        }
        function sessInterval() {
            // debugger
            //alert(sessionStorage['EmployeeId']);
            var now = new Date();

            // //get milliseconds of differneces
            var diff = now - sess_lastActivity;
            ////get minutes between differences
            var diffMins = (diff / 1000 / 60);
            if (diffMins >= sess_warningMinutes) {
                //   //wran before expiring
                ////stop the timer
                sessClearInterval();

                if ((sess_expirationMinutes - sess_warningMinutes) == 4) {
                    window.close();
                }
                //promt for attention
                bootbox.dialog({
                    //message: 'Your session will expire in ' + (sess_expirationMinutes - sess_warningMinutes) +
                    //' minutes (as of ' + now.toTimeString() + '), press OK to remain logged in ' +
                    //'or press Cancel to log off.',
                    message: 'Your session will expire in ' + (sess_expirationMinutes - sess_warningMinutes) +
                    ' minutes (as of ' + now.toLocaleTimeString() + '), press OK to remain logged in ' +
                    'or press Cancel to close window.',
                    buttons: {
                        primary: {
                            label: "OK",
                            className: "btn-primary",
                            callback: function () {
                                now = new Date();
                                diff = now - sess_lastActivity;
                                diffMins = (diff / 1000 / 60);
                                if (diffMins > sess_expirationMinutes) {
                                    //sessLogOut();
                                    window.close();

                                }

                                else {
                                    initSession();
                                    sessSetInterval();
                                    sess_lastActivity = new Date();

                                    //$('body').attr('onload', 'initSession()');
                                }
                            }
                        },
                        main: {
                            label: "Cancel",
                            className: "btn-default",
                            callback: function () {
                                //sessLogOut();
                                window.close();
                            }
                        }
                    }
                });

                $('body').removeAttr('onload');
            }
        }
        function busyContent() {
            debugger
            $("#divBusyContent").css({
                "position": "absolute",
                "width": $(document).width(),
                "height": $(document).height() / 2,
                "z-index": 99999,
                "right": "-100px",
                //"background": "lightgray",
                //"transition": "1s 0.4s"
            }).fadeTo(0, 1);
            $('#divBusyContent').show();
            $("#divLoader1").css(
                "margin-top", $(document).height() / 4 + "px"
            );
            //$("body").css("background", "lightgray");
        }
        function HidebusyContent() {
            $('#divBusyContent').hide();
        }

        function Signout() {
            //alert('aa');
            if ($("#MenuSignout").is(':visible')) {
                $('#MenuSignout').hide();

            } else {
                $('#MenuSignout').show();
            }
        }
        </script>
    </body>
}
</html>
