
@model Trianz.Enterprise.Operations.Models.ValidationModel


@{
    Layout = null;
    var items = Model.ProjectAssignments;
    int page1 = 7;
    if (Model.ProjectAssignments != null)
    {
        if (Model.ProjectAssignments.Count() < 7)
        {
            page1 = Model.ProjectAssignments.Count();
        }
        if (page1 == 0)
        {
            page1 = 1;
        }
    }
    var AllAssignmentsEmployeesGrid = new WebGrid(items, canPage: true, canSort: true, rowsPerPage: page1,
selectionFieldName: "SelectedRow", ajaxUpdateContainerId: "gridContent");
    AllAssignmentsEmployeesGrid.Pager(WebGridPagerModes.All);

}



<div id="divGridContent1" class="table table-responsive" style="margin-bottom: 0px;">
    @if (Model.ProjectAssignments == null)
    {
        <center><p>Please Enter Employee Id To Get the EmployeeDetails</p></center>
    }
    else if (Model.ProjectAssignments.Count() == 0)
    {
        var ShowHeader = true;
        if (Model.ProjectAssignments.Count() == 0)
        {
            ShowHeader = false;
            <center><p>Please Enter Employee Id To Get the EmployeeDetails</p></center>
        }
    }
    else
    {
        @AllAssignmentsEmployeesGrid.GetHtml(
             tableStyle: "table table-bordered table-striped p-resources",
             fillEmptyRows: false,
             headerStyle: "header",
             alternatingRowStyle: "alt",
             selectedRowStyle: "select",

             mode: WebGridPagerModes.All,
             firstText: "<< First",
             previousText: "< Prev",
             nextText: "Next >",
             lastText: "Last >>",
             htmlAttributes: new { id = "DashboardGrid" },
             columns: AllAssignmentsEmployeesGrid.Columns
             (
                 AllAssignmentsEmployeesGrid.Column("Action", format:@<text>
                    <a><span class="ui-icon ui-icon-pencil" id="@item.Assignment_Id"></span></a>
                    <a><span class="ui-icon ui-icon-circle-check" id="@item.Assignment_Id"></span></a>
                    <a><span class="ui-icon ui-icon-closethick" id="@item.Assignment_Id"></span></a>
                    <label id="lblAssigmmentId" style="display:none;">@item.Assignment_Id</label>
                </text>),
                 AllAssignmentsEmployeesGrid.Column("Employee Code",
                                     //header: "TR#",
                                     format: @<text>
                                        <span id="EmployeeID">@item.EmployeeId</span> @*class="display-mode"*@
                                        @*<label id="EmployeeID" style="display:none;">@item.EmployeeId</label>*@

                                    </text>),

                AllAssignmentsEmployeesGrid.Column("Employee Name",
                                    //header: "ResourceName",
                                    format: @<text>

                                        <span id="lblemplname">@item.EmployeeName</span>

                                    </text>),
                              AllAssignmentsEmployeesGrid.Column("Project Name",
                                            // header: "EmployeeId",
                                            format: @<text>

                                                <span id="lblprojectname">@item.ProjectName</span>
                                                @*<input type="text" class="edit-mode" id="txtEmpId" size="10" value="@item.EmployeeId" />*@
                                            </text>),

                             AllAssignmentsEmployeesGrid.Column("Project Code",
                                            // header: "Remarks",
                                            format: @<text>
                                                <span id="PrjctCode">@item.ProjectCode</span>
                                                @*<input type="text" class="edit-mode" id="txtfulfilRemarks" size="10" value="@item.FulfilmentRemarks" />*@

                                            </text>),
                      AllAssignmentsEmployeesGrid.Column("Assigned_By",
                                            // header: "EmployeeId",
                                            format: @<text>

                                                <span id="lblassby">@item.Assigned_By</span>

                                                @*<input type="text" class="edit-mode" id="txtEmpId" size="10" value="@item.EmployeeId" />*@
                                            </text>),
                  AllAssignmentsEmployeesGrid.Column("Utilisation %",
                                             header: "Utilisation %",
                                            format: @<text>

                                                <span id="lblutilil" class="display-mode">@item.Utilisation</span>

                                                <input type="text" class="edit-mode" id="lblut" size="10" value="@item.Utilisation" onkeypress="return isNumericKey(event);" />
                                            </text>),
                                     AllAssignmentsEmployeesGrid.Column("Start Date",
                                            header: "Start Date",
                                            format: @<text>
                                                <span id="StartDate" class="display-mode">@(item.StartDate == null ? "" : @Convert.ToDateTime(item.StartDate).ToString("dd MMM yyyy"))</span>
                                                <input type="text" class="edit-mode date-picker Start-date" style="width:100px;" value="@(item.StartDate == null ? "" : @Convert.ToDateTime(item.StartDate).ToString("MM/dd/yyyy"))" />
                                            </text>),
                                      AllAssignmentsEmployeesGrid.Column("End Date",
                                            header: "End Date",
                                            format: @<text>
                                                <span id="EndDate" class="display-mode">@(item.EndDate == null ? "" : @Convert.ToDateTime(item.EndDate).ToString("dd MMM yyyy"))</span>
                                                <input type="text" class="edit-mode date-picker End-date" style="width:100px;" value="@(item.EndDate == null ? "" : @Convert.ToDateTime(item.EndDate).ToString("MM/dd/yyyy"))" />
                                            </text>),
                            AllAssignmentsEmployeesGrid.Column("Billing Status",
                                            // header: "EmployeeId",
                                            format: @<text>

                                                <span id="bilngstatus">@item.BillingStatus</span>

                                                @*<input type="text" class="edit-mode" id="txtEmpId" size="10" value="@item.EmployeeId" />*@
                                            </text>),
                   AllAssignmentsEmployeesGrid.Column("Is Active",
                                            // header: "EmployeeId",
                                            format: @<text>

                                                <span id="lblisactive">@(item.IsActive == true ? "Active" : "InActive")</span>

                                                @*<input type="text" class="edit-mode" id="txtEmpId" size="10" value="@item.EmployeeId" />*@
                                            </text>)


                        ))
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.edit-mode').hide();
        $('.ui-icon-circle-check').hide();
        $('.ui-icon-closethick').hide();

        $('.datepicker datepicker-dropdown dropdown-menu datepicker-orient-left datepicker-orient-bottom').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM/dd/yyyy',
            showStatus: true,
            showWeeks: true,
            highlightWeek: true,
            numberOfMonths: 1,
            showAnim: "scale",
            showOptions: {
                origin: ["top", "left"]
            }
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        $('.edit-mode').hide();
        $('.ui-icon-circle-check').hide();
        $('.ui-icon-closethick').hide();
        $('.glyphicon-floppy-saved').hide();
        $('.glyphicon-floppy-remove').hide();

        function DisplayDialogAlert(message) {
            var returnValue = false;
            $("#alertMessage").html('');
            $("#alertMessage").html(message);
            var url = $(this).data('href');
            $("#alertDialog").dialog({
                modal: true,
                show: { effect: 'drop', direction: "up" },
                title: 'Alert',
                open: function (event, ui) {
                    //$(".ui-dialog-titlebar").addClass(addTitleColor);
                    $('.ui-dialog-titlebar-close').hide();
                    $(this).load(url);
                },
                buttons: {
                    Ok: function () {
                        returnValue = true;
                        $(this).dialog("close");
                    }
                }
            }).css("font-size", "15px");

            return returnValue;
        }
    });
    $('.ui-icon-pencil').on('click', function () {
        debugger;
        var tr = $(this).parents('tr:first');
        tr.find('.edit-mode, .display-mode').toggle();
        tr.find('.ui-icon-pencil').hide();
        tr.find('.glyphicon-floppy-saved').show();
        tr.find('.glyphicon-floppy-remove').show();
        tr.find('.ui-icon-circle-check').show();
        tr.find('.ui-icon-closethick').show();

        tr.find('.edit-mode').closest('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM/dd/yyyy',
            showStatus: true,
            showWeeks: true,
            highlightWeek: true,
            numberOfMonths: 1,
            showAnim: "scale",
            showOptions: {
                origin: ["top", "left"]
            }
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
    });


    $('.ui-icon-circle-check').on('click', function () {
        debugger;
        var tr = $(this).parents('tr:first');
        var AssignmentId = tr.find("#lblAssigmmentId").text();
        var Projectcode = tr.find("#PrjctCode").text();
        var ProjectName = tr.find("#lblprojectname").text();
        var AssignedBy = tr.find("#lblassby").text();
        var Utilization = tr.find("#lblut").val();
        var EmployeeID = tr.find("#EmployeeID").text();
        var EmpName = tr.find("#lblemplname").text();
        var BillingStatus = tr.find("#bilngstatus").text();
        var IsActive = tr.find("#lblisactive").text();
        tr.find('.edit-mode, .display-mode').toggle();
        tr.find('.ui-icon-pencil').show();
        tr.find('.ui-icon-circle-check').hide();
        tr.find('.ui-icon-closethick').hide();
        var ExpectedEndDate = tr.find('.date-picker').closest('.End-date').val();
        var StartDate = tr.find('.date-picker').closest('.Start-date').val();
        var expoi = ExpectedEndDate;
        var EndDate = $.datepicker.formatDate("dd M yy", new Date(expoi));
        expoi = $.datepicker.formatDate("dd/mm/yy", new Date(expoi));
        var startDt = StartDate;
        var prjctStartDate = $.datepicker.formatDate("dd M yy", new Date(startDt));
        startDt = $.datepicker.formatDate("dd/mm/yy", new Date(startDt));
        if (ExpectedEndDate == "") {
            bootbox.alert("Please Enter End Date");
        }
        else if (StartDate == "") {
            bootbox.alert("Please Enter Start Date");
        }
        else if (Utilization == "") {
            bootbox.alert("Please Enter Utilization");
        }
        else if (startDt >= expoi) {
            bootbox.alert("Start End Should Be Less Than End Date");
        }
        else {
            $.ajax({
                type: "POST",
                data: { AssignmentId: AssignmentId, ExpectedEndDate: expoi, StartDate: startDt, Utilization: Utilization },
                url: '@Url.Action("UpdateEndStartDates", "Employees")',
                success: function (result) {
                    if (result.indexOf("assigned") == -1)
                        {
                        bootbox.alert(result, function () {
                        debugger;

                        tr.find("#lblutilil").text(Utilization);
                        tr.find("#StartDate").text(prjctStartDate);
                        tr.find("#EndDate").text(EndDate);
                   
                    });
                    }
                    else
                    {
                        bootbox.alert(result);
                    }
                },
                failure: function (data) {
                    alert(data);
                }
            });
        }


    });

    $('.ui-icon-closethick').on('click', function () {
        var tr = $(this).parents('tr:first');
        tr.find('.edit-mode, .display-mode').toggle();
        tr.find('.ui-icon-pencil').show();
        tr.find('.ui-icon-circle-check').hide();
        tr.find('.ui-icon-closethick').hide();


    });
    function isNumericKey(e) {
        if (window.event) { var charCode = window.event.keyCode; }
        else if (e) { var charCode = e.which; }
        else { return true; }
        if (charCode > 31 && (charCode < 48 || charCode > 57)) { alert("Enter Only Numbers"); return false; }
        return true;
    }


</script>
