@model Trianz.Enterprise.Operations.Models.EmployeeAddressInformation

@{
    ViewBag.Title = "Edit My Address Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/validator.js"></script>*@

<style type="text/css">
    .HRRF_custom .control-label {
        text-align: right;
    }

    .error-msg-font-size {
        font-size: 12px;
    }
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
</style>

<div class="col-md-12 nopadding">
    <div class="subpage_header page-header nomargin-top">
        <p>Employee Address Details</p>
    </div>
</div>

<form action='@Url.Action("Employees", "EditMyAddress")' class="form-horizontal" id="frmEditMyAddress" method="post" role="form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EmpAddressInfoID)

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Employee ID</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.EmployeeId, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.HiddenFor(model => model.EmployeeId)
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Current Location</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CurrentLocation, new { @class = "form-control"})
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Employee Full Name</label>
            <div class="col-lg-6">
                <label class="control-label">@Model.EmployeeName</label>
                @Html.HiddenFor(model => model.EmployeeName)
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Base Location</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.BaseLocation, new { @class = "form-control"})
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            &nbsp;
        </div>
        <div class="col-lg-6 form-group" style="margin-bottom: 0px;">
            <label class="col-lg-6 control-label">Cubicle Number</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CubicleNumber, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <hr />

    <label class="text-primary">Emergency and Contact Details</label>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Primary Mobile Number</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PrimaryMobileNumber, new { @class = "form-control", @maxlength = "10", type = "number",
                            data_error = "Primary mobile number should be in numbers", data_minlength = "10",
                            data_minlength_error = "Primary mobile number should be 10 digits" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Secondary Mobile Number</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.SecondaryMobileNumber, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Contact Person Name <span class="help-block" style="font-size: 10px; margin: 0px;">(In case of emergency)</span></label>
                
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.EmergencyContactPersonName, new { @class = "form-control" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Contact Person Relationship <span class="help-block" style="font-size: 10px; margin: 0px;">(In case of emergency)</span></label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.EmergencyContactPersonRelationship, new { @class = "form-control" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group" style="margin-bottom: 0px;">
            <label class="col-lg-6 control-label">Contact Person Mobile Number <span class="help-block" style="font-size: 10px; margin: 0px;">(In case of emergency)</span></label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.EmergencyContactPersonMobileNumber, new { @class = "form-control",  @maxlength = "10", type = "number",
                    data_error = "Contact Person mobile number should be in numbers",
                    data_minlength = "10",
                    data_minlength_error = "Contact person mobile number should be 10 digits"
           })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group">
            &nbsp;
        </div>
    </div>

    <hr />

    <label class="text-primary">Current Address Details</label>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Address Line1 </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CurrentAddressDoorNo, new { @class = "form-control"})
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Address Line2 </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CurrentAddressStreet, new { @class = "form-control" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Area</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CurrentAddressArea, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">City </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CurrentAddressCity, new { @class = "form-control" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">State </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CurrentAddressState, new { @class = "form-control"})
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Country </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CurrentAddressCountry, new { @class = "form-control" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Postal Code </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.CurrentAddressPostalCode, new { @class = "form-control"})
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group" style="margin-bottom: 0px;">
            <div class="col-lg-offset-6 col-lg-8">
                <div class="checkbox" style="padding-left: 0px;">
                    <label><input type="checkbox" id="chkIsBothAddressesSame"> Permanent and current addresses are same</label>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <label class="text-primary">Permanent Address Details</label>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Address Line1 </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PermanentAddressDoorNo, new { @class = "form-control" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Address Line2 </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PermanentAddressStreet, new { @class = "form-control" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Area</label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PermanentAddressArea, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">City </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PermanentAddressCity, new { @class = "form-control" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">State </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PermanentAddressState, new { @class = "form-control"})
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-6 control-label">Country </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PermanentAddressCountry, new { @class = "form-control" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 form-group" style="margin-bottom: 0px;">
            <label class="col-lg-6 control-label">Postal Code </label>
            <div class="col-lg-6">
                @Html.TextBoxFor(model => model.PermanentAddressPostalCode, new { @class = "form-control"})
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        <div class="col-lg-6 form-group" style="margin-bottom: 0px;">
            &nbsp;
        </div>
    </div>



    <hr />

    <div class="row">
        <div class="col-lg-6 form-group">
        </div>
        <div class="col-lg-6 form-group">
            <div class="col-sm-offset-6 col-sm-6 text-right">
                <a href='@Url.Action("AddNewSkills", "EmployeeSkills")' class="btn btn-default" style="padding: 6px 20px;">Cancel</a>
                <button type="submit" class="btn btn-primary btn-Submit" style="padding: 6px 20px;">Update</button> 
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    $('#frmEditMyAddress').validator({
        feedback: {
            success: 'glyphicon-ok',
            error: 'glyphicon-remove'
        },
        disable: false
    }).on('submit', function (e) {
        //debugger
        if (e.isDefaultPrevented()) {
            // handle the invalid form...
            //$('#btn-Submit').attr('disabled', 'disabled');
        } else {
            // everything looks good!

            e.preventDefault();

            $.ajax({
                url: '@Url.Action("EditMyAddress", "Employees")',
                data: $("#frmEditMyAddress").serialize(),
                type: 'POST',
                datatype: 'JSON',
                success: function (response) {
                    if (response == "Success") {
                        bootbox.alert("Employee details have been saved successfully.", function () {
                            window.location.href = '@Url.Action("AddNewSkills", "EmployeeSkills")';
                        });
                    }
                    else if (response == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }
                },
                error: function (response) {
                    bootbox.alert(response.textStatus)
                }
            });
        }
    });

    $('#SecondaryMobileNumber').blur(function () {
            if ($('#PrimaryMobileNumber').val().length > 0 && $('#SecondaryMobileNumber').val().length > 0) {
                if ($('#PrimaryMobileNumber').val() == $('#SecondaryMobileNumber').val()) {
                    //$('.optionalSecondaryMobileNumber').removeClass('hidden');
                    bootbox.alert("Primary and secondary mobile numbers should not be same.", function () {
                        $('#SecondaryMobileNumber').val('');
                    });
                }
                else {
                    //$('.optionalSecondaryMobileNumber').addClass('hidden')
                }
            }
            else {
                //$('.optionalSecondaryMobileNumber').addClass('hidden')
            }
        });

    $('#chkIsBothAddressesSame').click(function () {
            if (($(this).is(':checked'))) {
                $('#PermanentAddressDoorNo').val($('#CurrentAddressDoorNo').val());
                $('#PermanentAddressStreet').val($('#CurrentAddressStreet').val());
                $('#PermanentAddressArea').val($('#CurrentAddressArea').val());
                $('#PermanentAddressCity').val($('#CurrentAddressCity').val());
                $('#PermanentAddressState').val($('#CurrentAddressState').val());
                $('#PermanentAddressCountry').val($('#CurrentAddressCountry').val());
                $('#PermanentAddressPostalCode').val($('#CurrentAddressPostalCode').val());
            }
            else {
                $('#PermanentAddressDoorNo').val('');
                $('#PermanentAddressStreet').val('');
                $('#PermanentAddressArea').val('');
                $('#PermanentAddressCity').val('');
                $('#PermanentAddressState').val('');
                $('#PermanentAddressCountry').val('');
                $('#PermanentAddressPostalCode').val('');
            }
        });

    @*$('.btn-Submit').click(function (e) {

        e.preventDefault();

        $.ajax({
            url: '@Url.Action("EditMyAddress", "Employees")',
            data: $("#frmEditMyAddress").serialize(),
            type: 'POST',
            datatype: 'JSON',
            success: function (response) {
                if (response == "Success") {
                    bootbox.alert("Employee details have been saved successfully.", function () {
                        window.location.href = '@Url.Action("AddNewSkills", "EmployeeSkills")';
                    });
                }
            },
            error: function (response) {
                bootbox.alert(response.textStatus)
            }
        });
    });*@
</script>
