@model Trianz.Enterprise.Operations.Models.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
</style>

<div class="col-md-12 nopadding">
    <div class="subpage_header page-header nomargin-top">
        <p>Edit Employee</p>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmployeeId)



        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.UserName, new { @readonly = "true", @class = "form-control col-md-2" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Email, new { @readonly = "true", @class = "form-control col-md-2" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Practice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Practice, new { @readonly = "true", @class = "form-control col-md-2" })
                @Html.ValidationMessageFor(model => model.Practice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SupervisorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3" >
                @*@Html.TextBoxFor(model => model.SupervisorId, new { htmlAttributes = new { @maxlength = "6", @minlength = "1", Type = "number", @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.SupervisorId,"", new
           {
               size = 6,
               data_val_required = "Supervisor ID is required",
               data_val_number = "Supervisor ID must be a number.",
               //data_val_range = "Supervisor ID should be minimum 1 and not more than 6",
               data_val_range_max = "6",
               @maxlength = "6",
               @class = "form-control",
               data_val_range_min = "1"
           })
                @Html.ValidationMessageFor(model => model.SupervisorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectManagerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3" >
                @*@Html.TextBoxFor(model => model.ProjectManagerId, new { @maxlength = "6", @minlength = "1", Type = "number", htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.ProjectManagerId,"", new
           {
               size = 6,
               data_val_required = "Project Manager ID is required",
               data_val_number = "Project Manager ID must be a number.",
               //data_val_range = "Supervisor ID should be minimum 1 and not more than 6",
               data_val_range_max = "6",
               @maxlength = "6",
               @class = "form-control",
               data_val_range_min = "1"
           })
                @Html.ValidationMessageFor(model => model.ProjectManagerId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
