@model List<Trianz.Enterprise.Operations.Controllers.EmployeesController.EmployeeSkillsReportNew>
@{
    ViewBag.Title = "GenerateNewSkillReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/LayoutHeader.css" rel="stylesheet" />


<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.bootstrap.min.css" rel="stylesheet">

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>


<style>
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }
    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
        font-size: 12px;
        font-size: 12px;
    }
    #tableEmpSkillsReport_length {
        margin-top: 8px;
    }
    .Empname {
        position: relative;
        bottom: 44px;
        left: 95px;
    }
    #tableEmpSkillsReport_filter {
        position: relative;
        top: 8px;
    }
    body {
        overflow-x: hidden;
    }

    #txt1 {
        color: #2C2E31;
        font-size: 16px;
        margin-left: -8px;
        font: normal normal medium 20px/45px Poppins;
    }
    .col-md-12 {
        width: 97%;
        margin-left: 28px;
        margin-top: 16px;
    }
</style>

<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <div class="subpage_header page-header nomargin-top">
            <div class="text-left pull-left myskills_div">
                <p id="txt1">EMPLOYEE SKILLS NEW</p>
            </div>
            <div class="pull-right text-right myskills_div">
                @*<button id="btnExportToExcel" type="button" class="btn btn-default pull-left" style="margin-top: -8px;">

                    </button>*@
                <div>
                    @*<button id="btnExportToExcel" type="button" style="border: none;background-color: white;"> <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left"  class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: -6px;" alt="xlmsimg"></button>*@
                    @*<div>
            <button id="btnExportToExcel" type="button" style="border: none;background-color: white;"> <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: -10px;" alt="xlmsimg"></button>
        </div>*@

                    <button id="btnExportToExcel" type="button" style="position: relative; background-color: white; border: white; float: right; color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 25px;top: -7px;right: 5px;">
                        <img src="~/Content/images/Report_icon.svg" /> Export <span class="caret"></span>
                    </button>


                </div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
    <div class="col-md-12" style="overflow-x:scroll;background-color: #ffffff;">
        <table id="tableEmpSkillsReport" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" style="margin: 2px; width: 100%;">
            <thead>
                <tr style="background-color: #248CC8 !important; color: #fff; font-size: 12px;">
                    <th>Emp ID</th>
                    <th>Employee</th>
                    <th>Parent Organization</th>
                    <th>Project Code</th>
                    <th>Project Name</th>
                    <th>Billing Status</th>
                    <th>Supervisor</th>
                    <th>Business Group</th>
                    <th>Trained</th>
                    <th>Experienced</th>
                    <th>Proficient</th>
                    <th>Expert</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="font-size: 12px;">
                        <td>@item.EmployeeID</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.ParentOrganization</td>
                        <td style="white-space: pre;">@item.ProjectCode</td>
                        <td style="white-space: pre;">@item.ProjectName</td>
                        <td>@item.BillingStatus</td>
                        <td>@item.Supervisor</td>
                        <td>@item.BusinessGroup</td>
                        <td style="cursor: pointer;" title="Trained: @item.Trained">@(item.Trained != null ? (item.Trained.Length < 100 ? item.Trained : item.Trained.Substring(0, 27) + " ...") : item.Trained)</td>
                        <td style="cursor: pointer;" title="Experienced: @item.Experienced">@(item.Experienced != null ? (item.Experienced.Length < 100 ? item.Experienced : item.Experienced.Substring(0, 27) + " ...") : item.Experienced)</td>
                        <td style="cursor: pointer;" title="Proficient: @item.Proficient">@(item.Proficient != null ? (item.Proficient.Length < 100 ? item.Proficient : item.Proficient.Substring(0, 27) + " ...") : item.Proficient)</td>
                        <td style="cursor: pointer;" title="Expert: @item.Expert">@(item.Expert != null ? (item.Expert.Length < 100 ? item.Expert : item.Expert.Substring(0, 27) + " ...") : item.Expert)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tableEmpSkillsReport').DataTable({
            "columnDefs": [
                { "width": "10%", "targets": 4 }
            ]
        });

      $('#btnExportToExcel').click(function () {
            $(this).attr("disabled", "disabled");
            //$(this).text('Downloading ...');

            $.ajax({
                url: "@Url.Action("ExportReport", "Employees")",
                data: "",
                type: "POST",
                datatype: "JSON",
                success: function (response) {
                    if (response == "success") {
                        window.location = "@Url.Action("NewEmployeeSkillReport", "Employees")";

                        setTimeout(function () {
                            $("#btnExportToExcel").show();
                            $("#btnProcessing").hide();
                        }, 10000);
                    }
                    else if (response== "Sessionexpired") {
                            window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                },
                error: function (error) {
                    alert(error.statusText);
                }
            });
        });
    });
</script>

