@model PagedList.IPagedList<Trianz.Enterprise.Operations.Models.Employee>
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table.table-bordered.dataTable th, table.table-bordered.dataTable td {
        border-left-width: 0;
        color: rgb(0, 0, 0);
        font-size: 12px;
    }

</style>
<script language="javascript">
    $(function () {

        $("#SearchString").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "../Employees/GetAllSearchProducts",
                    data: "{ 'name': '" + request.term + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        if (data != '' && data != "Error") {
                            response($.map(data, function (item) {
                                return {
                                    value: item.UserName,
                                    text: item.UserName
                                };
                            }));
                        }
                       else if (data == "Error")
                       {
                        window.location.href = '@Url.Action("Error", "Error")';
                        }

                        //else {
                        //    response('');
                        //}

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            },
            select: function (event, ui) {

                $(':hidden[id=hdnmedicineid]').val(ui.item.text.toString());
                $(':hidden[id=hdnmedicinenm]').val(ui.item.value.toString());

            },

            minLength: 1,
            autoFocus: true
        });

    });

</script>

<style>
    a.my-class {
        color: #fff;
    }
    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
    }
</style>
<div class="subpage_header page-header nomargin-top">
    <p>Manager Configuration</p>

</div>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="col-md-6 col-sm-12 pull-right text-right nopadding-right">
    <div class="col-md-12 col-sm-12 nopadding-right pull-right">
        @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
        {
            <p>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "input-sm", @placeholder = "Enter Username" })
                <input class=" btn btn-primary btn-sm " type="submit" value="Search" />
            </p>

        }

    </div>
</div>

<div id="gridcontent1" width="55%" align="center">
    <div align="right">


    </div>
    <div align="center">
        <table class="grid table table-bordered table-striped p-resources" border="1">
            <tr>

                <th>
                    @Html.ActionLink("UserName", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "my-class" })
                </th>
                <th>

                    @Html.Label("Email")
                </th>

                <th>

                    @Html.Label("Grade")
                </th>

                <th>

                    @Html.Label("Location")
                </th>

                <th>

                    @Html.Label("Designation")
                </th>

                <th>

                    @Html.Label("Practice")
                </th>

                <th>

                    @Html.Label("SupervisorId")
                </th>
                <th>

                    @Html.Label("ProjectManagerId")
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Designation)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Practice)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SupervisorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectManagerId)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId })
                        @Html.ActionLink("Details", "Details", new { id = item.EmployeeId })
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<div class="container row">
    <div class="col-md-12 col-sm-12 nopadding-left text-left">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
