@model Trianz.Enterprise.Operations.Models.ProjectAssignment
@{
    bool isDM;
    if (ViewBag.IsActive != null && ViewBag.IsActive == true)
    {
        isDM = true;
    }
    else
    {
        isDM = false;
    }
    //bool isDM = ViewBag.IsActive != null ? ViewBag.IsActive : false;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <style>

        .body-content {
            margin-right: 0px;
            padding-left: 60px;
        }
    </style>
    <div class="form-horizontal">
        @*<div id="dialog-view-Assignment">*@
        @*<form id="divupdateremarks" class="form-horizontal">*@
        @*<fieldset>*@
        <div class="subpage_header page-header nomargin-top" id="txt">
            <p id="txt">EDIT EMPLOYEE ASSIGNMENT</p>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Assignment_Id)


        <div class="form-group">
            <div class="col-md-4" style="text-align:right;">
                @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", style = "width:300px;margin-left: 236px;", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4" style="text-align:right;">
                @Html.LabelFor(model => model.ProjectCode, htmlAttributes: new { @class = "control-label col-md-2" })


                @Html.EditorFor(model => model.ProjectCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width:300px;margin-left: 236px;" } })
                @Html.ValidationMessageFor(model => model.ProjectCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4" style="text-align:right;">
                @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control", style = "width:300px;margin-left: 236px;", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4" style="text-align:right;">
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", style = "width:300px;margin-left: 236px;", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4" style="text-align:right;">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", style = "width:300px;margin-left: 236px;" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4" style="text-align:right;">
                @Html.LabelFor(model => model.Utilization, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.Utilization, new { htmlAttributes = new { @class = "form-control", style = "width:300px;margin-left: 236px;" } })
                @Html.ValidationMessageFor(model => model.Utilization, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4" style="width: 87.333333%;">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                @*<input type="checkbox" id="chkactive" name="chkactive"  value="Model.IsActive">*@
                @if (isDM == true)
                {
                    <input id="Contact_FirstName" class="text-box single-line" checked type="checkbox" value="1" name="IsChecked" style="margin-left: 72px;width: 18px;">
                }
                @if (isDM == false)
                {
                    <input id="Contact_FirstName" class="text-box single-line" type="checkbox" value="1" name="IsChecked" style="margin-left: 72px;width: 18px;">
                }
                @*@Html.EditorFor(model => model.IsActive, new { @class = "form-control", style = "width:300px;height:30px" })*@
                @*@Html.EditorFor(model => model.IsActive, "", new { @class = "text-danger" })*@
                @*</div>*@
                @*</div>*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4" style="text-align:right;">
                @Html.LabelFor(model => model.BillingStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(Model => Model.BillingStatus, ViewBag.ResourceType as List<SelectListItem>, " Select Resource Type ", new { @class = "form-control", @required = "required", data_error = "Please select resource type", style = "width:300px;margin-left: 236px;" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4" style="text-align:right;">
                @Html.LabelFor(model => model.OrganisationGroup, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(model => model.OrganisationGroup, ViewBag.OrgType as List<SelectListItem>, "Select Org Group", new { @class = "form-control", @required = "required", data_error = "Please select org type", @onchange = "javascript:onchangeSkillCluster(this.value);", style = "width:300px;margin-left: 236px;" })
                <div class="help-block with-errors error-msg-font-size"></div>
                &nbsp;
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4" style="text-align:right;">
                @Html.LabelFor(model => model.OrganisationSubGroup, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(model => model.OrganisationSubGroup, ViewBag.OrgSubType as List<SelectListItem>, "Select Org Sub Group", new { @class = "form-control", @required = "required", data_error = "Please select org sub type", style = "width:300px;margin-left: 236px;" })
                <div class="help-block with-errors error-msg-font-size"></div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-lg-6 form-group">
                    <label class="col-lg-6 control-label">Org Group *</label>
                    <div class="col-lg-6">
                        @Html.DropDownList("ddlOrgType", ViewBag.OrgType as List<SelectListItem>, "Select Org Group", new { @class = "form-control", @required = "required", data_error = "Please select org type", @onchange = "javascript:onchangeSkillCluster(this.value);" })
                        <div class="help-block with-errors error-msg-font-size"></div>
                        &nbsp;
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                    <label class="col-lg-6 control-label">Org Sub Group *</label>
                    <div class="col-lg-6">
                        @Html.DropDownList("ddlOrgSubType", ViewBag.OrgSubType as List<SelectListItem>, "Select Org Sub Group", new { @class = "form-control", @required = "required", data_error = "Please select org sub type" })
                        <div class="help-block with-errors error-msg-font-size"></div>
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
        @*</fieldset>*@
        @*</form>*@
    </div>
}
    <script type="text/javascript">
 nowDate = new Date();
    today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
    $(document).ready(function () {

        $('#btnsaveva').click(function () {

            var assignmentid = $('#Assignmentid').val();

            var chk = CheckupdateValidations();
            if (chk == true) {
                //alert($('#chkactive'));

                if (assignmentid != null && assignmentid != "") {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        data: {
                            EmployeeId: $('#txtemployee').val(), ProjectName: $('#lblprojectname').val(), ProjectID: $("#lblprojectid").val(),
                            ProjectCode: $('#txtproject').val()
                            , StartDate: $('#Expectedstart').val(), EndDate: $('#ExpectedEnd').val(),
                            AssignmentStatus: '', BillingStatus: $('#ddlbillingStatus').val(), Utilization: $('#lblutlizatn').val(),
                            Projectmanger: $('#lblprojectmanname').val(), AssignmentID: assignmentid, Status: $('#chkactive').prop('checked')
                        },
                        url: '@Url.Action("UpdateProjectAssignment", "ProjectAssignment")',
                        success: function (data) {

                            if (data == "true") {
                                Clenavalues();
                                alert('Assignment Updated Successfully!!');
                                GetSearchBasedData();
                        @*window.location.href = '@Url.Action("Index", "ProjectAssignment")' + "?ddlProject=" + $('#ddlProject').val();*@
                            }
                            else if (data == "Sessionexpired") {
                                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                            else if (data == "Error") {
                                window.location.href = '@Url.Action("Error", "Error")';
                            }
                            else {
                                alert(data);
                            }
                        },
                        error: function (request, status, errorThrown) {
                            alert(errorThrown);
                            alert('Please Check detailss');
                        }

                    });
                }
                else {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        data: {
                            EmployeeId: $('#txtemployee').val(), ProjectName: $('#lblprojectname').val(), ProjectID: $("#lblprojectid").val(),
                            ProjectCode: $('#txtproject').val()
                            , StartDate: $('#Expectedstart').val(), EndDate: $('#ExpectedEnd').val(),
                            AssignmentStatus: '', BillingStatus: $('#ddlbillingStatus').val(), Utilization: $('#lblutlizatn').val(),
                            Projectmanger: $('#lblprojectmanname').val(), Status: $('#chkactive').prop('checked')
                        },
                        url: '@Url.Action("SaveProjectAssignment", "ProjectAssignment")',
                        success: function (data) {

                            if (data == "true") {
                                Clenavalues();
                                alert('Assignment Created Successfully!!');
                                GetSearchBasedData();
                        @*window.location.href = '@Url.Action("Index", "ProjectAssignment")' + "?ddlProject=" + $('#ddlProject').val();*@

                            }
                            else if (data == "Sessionexpired") {
                                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                            else if (data == "Error") {
                                window.location.href = '@Url.Action("Error", "Error")';
                            }
                            else {
                                alert(data);
                            }

                        },
                        error: function (request, status, errorThrown) {
                            alert('Please Check details');
                        }

                    });
                }
            }
        });
        });


         var DaysDiff = 0;
    $(document).on("click", ".btn-link", function (e) {

        var tr = $(this).parents('tr:first');
        var Assid = tr.find("#Assignmentid").text();
        var EmployeeID = tr.find("#EmployeeID").text();
        var name = tr.find("#lblemplname").text();
        var projectName = tr.find("#lblprojectnamegr").text();
        var prjectID = tr.find("#lblprjectid").text();
        var ProjectCode = tr.find("#projectName").text();
        var startDate = tr.find('#StartDate').text();
        var endDate = tr.find('#EndDate').text();
        var assiby = tr.find('#lblassby').text();
        var utli = tr.find('#lblut').text();
        var Assstatu = tr.find('#AssignmentStatus').text();
        var isactive = tr.find('#lblisactive').text();
        var Practice = tr.find('#lblprac').text();
        var BillingStatus = tr.find('#bilngsta').text();
        var BillingType = tr.find('#Name').text();

        DaysDiff = daydiff(parseDate(new Date(startDate).toLocaleDateString("en-GB")), parseDate(new Date(endDate).toLocaleDateString("en-GB")));

        $('#btnExportToExcel').hide()
        $('#dialog-view-Assignment').show();
        $('#divGridContent1').hide();
        $('#divbtun').hide();
        $('#divbtun2').hide();
        $('#head').val('Update Assignment');
        $('#Assignmentid').val(Assid);
        $("#txtemployee").val(EmployeeID + '-' + name);
        $("#txtemployee1").val(EmployeeID);
        $("#txtemployee").attr("disabled", true);

        // $("#ddlassignmentStatus").val(Assstatu);

        $("#ddlbillingStatus").val(BillingStatus);

        //if (new Date(startDate) <= nowDate) {
        //    $("#datetimepicker2 .input-group-addon").hide();
        //}
        //else {
        //    $("#datetimepicker2 .input-group-addon").show();
        //}

        $("#lblempname").val(name);

        $("#lblpracti").val(Practice);

        $("#txtproject").val(ProjectCode + '-' + projectName);
        $("#txtproject").attr("disabled", true);
        $("#lblprojectname").val(projectName);
        $("#lblprojectid").val(prjectID);
        $("#lblprojectmanname").val(assiby);
        $("#lblbillingType").val(BillingType);
        $("#Expectedstart").val(startDate);
        $("#ExpectedEnd").val(endDate);
        $("#lblutlizatn").val(utli);
        if (BillingStatus == "Bench") {
            $("#lblutlizatn").attr("disabled", true);
            $("#ddlbillingStatus").attr("disabled", false);
            //$('#chkactive').attr("disabled", true);
            $("#btnsaveva").hide();
        }
        else {
            $("#lblutlizatn").removeAttr("disabled", true);
            $("#ddlbillingStatus").removeAttr("disabled", false);
            // $('#chkactive').removeAttr("disabled", true);
            //if (isactive == "Active") {
            //    $("#btnsaveva").show();
            //}

        }
        $("#ddlbillingStatus").attr("disabled", false);
        if (isactive.trim() != "Active") {
            //$('#chkactive').attr("checked", "checked");
            $('#chkactive').removeProp("checked");
            if (isactive.trim() != 'Completed') {
                $("#btnsaveva").show();
            }
            else {
                $("#btnsaveva").hide();
            }
        }
        else {
            //$('#chkactive').removeAttr("checked");
            $('#chkactive').prop("checked", "checked");
            $("#btnsaveva").show();

        }


        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "@(Url.Action("EmployeeInfo", "ProjectAssignment"))",
            data: { EmployeeID: EmployeeID },
            success: function (data) {

                if (data.length != 0) {
                    $("#lblassignlocation").val(data[0].Location);
                    $("#lblempemail").val(data[0].EmailID);
                }
            }
        });


    });
    </script>





        