@model Trianz.Enterprise.Operations.Models.BenchAssignment

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />
<link href="~/Content/LayoutStyle.css" rel="stylesheet" />
<link href="~/Content/Talento3.css" rel="stylesheet" />
<style>
    td, th {
        color: black;
        color: rgb(0, 0, 0);
    }
</style>
<div class="row">
    <div class="col-lg-6 form-group">
        <label class="col-lg-6 control-label">Employee Name</label>
        <div class="col-lg-6">
            @if (Model != null)
            {
                @Model.Getemployeedetails[0].EmployeeName

            }
            <div class="help-block with-errors error-msg-font-size"></div>
            &nbsp;
        </div>
    </div>
    <div class="col-lg-6 form-group">
        <label class="col-lg-6 control-label">Employee Code</label>
        <div class="col-lg-6">
            @if (Model != null)
            {
                @Model.Getemployeedetails[0].EmployeeCode
            }
            <div class="help-block with-errors error-msg-font-size"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 form-group">
        <label class="col-lg-6 control-label">Designation</label>
        <div class="col-lg-6">
            @if (Model != null)
            {
                @Model.Getemployeedetails[0].Designation
            }
            <div class="help-block with-errors error-msg-font-size"></div>
            &nbsp;
        </div>
    </div>
    <div class="col-lg-6 form-group" style="margin-top: -12px;">
        <label class="col-lg-6 control-label">Grade</label>
        <div class="col-lg-6">
            @if (Model != null)
            {
                @Model.Getemployeedetails[0].Grade
            }
            <div class="help-block with-errors error-msg-font-size"></div>
        </div>
    </div>
</div>


<table id="tableBenchEmployees" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
    <thead>
        <tr style="background-color: #D6DCE3 !important; color: black; font-size: 12px;">
            <th>Project Code</th>
            <th>Project Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Utilization</th>
            <th>Billing Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model.AssignmentEmployees)
            {
                <tr style="font-size: 12px;">
                    <td>@item.ProjectCode</td>
                    <td>@item.ProjectName</td>
                    <td><span id="StartDate" class="display-mode">@(item.StartDate == null ? "" : @Convert.ToDateTime(item.StartDate).ToString("dd MMM yyyy"))</span></td>
                    <td><span id="EndDate" class="display-mode">@(item.EndDate == null ? "" : @Convert.ToDateTime(item.EndDate).ToString("dd MMM yyyy"))</span></td>
                    <td>
                        <span id="lblutil"> @item.Utilization</span>
                        <span id="lblassiid" style="display:none;">@item.Assignment_Id</span>
                    </td>

                    <td>@item.BillingStatus</td>
                </tr>
            }
        }
    </tbody>
</table>

@*<hr />*@


<script type="text/javascript">
    $(document).ready(function () {
        $('#tableBenchEmployees').DataTable({
            "filter": false,
            "lengthChange": false
            //"aoColumns": [
            //    { "bSortable": false },
            //    null,
            //    null,
            //    null
            //],
            //"order": [
            //    [2, "asc"]
            //]
        });

        $('tableBenchEmployees').DataTable({

            searching: false, paging: false, info: false

        });
        // debugger
        $('#chkHeader').change(function () {

            if ($(this).is(":checked")) {
                debugger
                $('.chkEmployee').prop("checked", "checked");

            }
            else {
                debugger
                $('.chkEmployee').removeProp("checked");
            }
        });
    });


</script>

<script>
    $(document).ready(function () {
        //alert(1)
        $('#assign').addClass('active');
    });
</script>

