@*
    <script src="/Scripts/validator.js"></script>*@
@*@model List<Trianz.Enterprise.Operations.Models.EmployeeSkills_NewDetails>*@
@model  Trianz.Enterprise.Operations.Models.ValidationModel

<link href="~/Content/LayoutHeader.css" rel="stylesheet" />
@*<link href="~/Content/Talento4.css" rel="stylesheet" />*@

@*<link href="~/Content/LayoutStyle.css" rel="stylesheet" />*@

<style>
    .HRRF_custom table.p-resources thead tr a, table.dataTable.nowrap th, table.dataTable.nowrap th a{
        color:black;
    }
    #lblstatus {
        padding: 4px 10px 4px 10px;
        border-radius: 10px;
    }

    .clstc {
        text-align: center !important;
    }

    .col-md-12 {
        width: 100%;
        margin-top: -57px;
    }

    .modal-content {
        position: relative;
        /*left: 340px;*/
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1pxsolidrgba(0,0,0,.2);
        border-radius: 6px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
        box-shadow: 0 3px 9pxrgba(0,0,0,.5);
    }

    a {
        color: black;
        text-decoration: none;
    }

    .questionlogo1 {
        margin-left: 556px;
        margin-top: -9px;
    }

    .onlinebtn {
        margin-left: 515px;
        position: relative;
        top: 26px;
    }

    .HRRF_custom .navbar {
        top: 7px;
    }

    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        border-bottom-width: 0;
        text-align: left;
    }

    body {
        overflow-x: hidden;
    }

    #Assignmentgridcontent {
        min-height: .01%;
    }

    .table-responsive {
        min-height: .01%;
        /*overflow-x: auto;*/
    }

    #MenuSignout {
        position: relative;
        left: 69px;
        display: block;
    }

    .table table-bordered table-striped p-resources {
        margin-bottom: 20px;
        width: 1219px;
        margin-left: 14px;
    }

    #myprofile {
        position: relative;
        right: 538px;
    }

    #myassignment {
        position: relative;
        left: 127px;
    }

    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        border-top: 0;
        width: 65px;
    }

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid white;
    }

    .navbar-default #navbar-nav > .active > a, .navbar-default #navbar-nav > li a:hover, .navbar-default #navbar-nav > li.active a:hover, .navbar-default #navbar-nav > li a:focus {
        color: #ffffff;
        background-color: pink;
    }

    .HRRF_custom .p-resources th, .HRRF_custom .p-resources td {
        font-size: 12px;
        color: rgb(0, 0, 0);
    }

    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        font-size: 12px;
        color: rgb(0, 0, 0);
    }

    #lblstatus {
        border-radius: 24px;
        border-width: 7px;
        border-color: white;
    }

    .HRRF_custom table.p-resources thead th, .HRRF_custom table.p-resources tbody th, table.dataTable.nowrap th {
        background-color: #D6DCE3 !important;
        color: black;
    }

    .HRRF_custom .p-resources th, .HRRF_custom .p-resources td {
        font-size: 12px;
        color: rgb(0, 0, 0);
    }

    .form-group {
        margin-bottom: -70px;
    }

    #tableBenchEmployees {
        margin: 0px;
        width: 98%;
        margin-left: 12px;
    }
</style>
<table id="tableEmpSkills" class="table table-striped table-bordered" cellspacing="0" style="width:99%;margin-left: 9px;">
    <thead>
        <tr>
            <th class="text-center" style="position:relative;width:20px;">
                <input type="checkbox" name="chkHeader" id="chkHeader" value="" />
                @*<input type="checkbox" name="chkHeader" id="chkHeader" value="" style="position: absolute; margin-left: -10px; top: 225px;" />*@
            </th>
            <th style="width:10%;">Skill</th>
            <th style="width:21%;">Competency</th>
            <th style="width:12%;">
                Expertise Level

                <span class="glyphicon glyphicon-question-sign" title="Hover to check Expertise Level History"></span>

            </th>
            <th style="width: 10%;">Is Primary Skill</th>
            <th style="width: 9%;">Last Used</th>

            <th style="width: 8%;">Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.EmployeeSkills_NewDetailslst.Count > 0)
        {
            foreach (var item in Model.EmployeeSkills_NewDetailslst)
            {
                <tr style="font-size: 12px;">
                    <td class="text-center clstc">
                        @if (item.SkillStatus == "Draft")
                        {
                            @*<span id="requeststatus" style="background: #FFF7A3;">@item.SkillStatus</span>*@
                            <input type="checkbox" name="chkRow" id="chkRow" class="chkEmployee" value="@item.EmployeeSkillId"> @*style = "margin-left: 96px;"*@
                        }
                    </td>

                    <td>
                        <span id="lblempskillID" style="display:none;">@item.EmployeeSkillId</span>
                        <span id="lblskill" class="skillreadonly"> @item.Skillname</span>
                        <span id="lblskillid" style="display:none;"> @item.SkillId</span>
                        <input type="hidden" value="@item.SkillId" id="hdskillid" />
                        <input type="hidden" value="@item.Skillname" id="hdskillname" class="hiddenclass" />
                        <span id="lblskill" class="skillreadonly" rel="popover" style="cursor:help" data-skillhistory="@item.EmployeeSkillHistrory">
                            @*<label id="lblskill">@item.Skillname </label>*@
                        </span>
                        @*<input type="text" class="form-control ui-autocomplete-input EditSkill skilleditcontrolls" data-skillid="@item.SkillId" placeholder="Enter Skill" style="width: 100%;display:none" autocomplete="off">*@
                        @*@Html.DropDownList("ddlskill ", ViewBag.lstSkilledit as SelectList, "All", new { @class = "form-control skilleditcontrolls EditSkill" , style = "width: 100%;display:no*@
                        @*@Html.DropDownList("ddlskill", ViewBag.lstSkilledit as SelectList, new { @class = "form-control skilleditcontrolls EditSkill", style = "width: 100%;display:none" })*@
                        @*@Html.DropDownList("ddlskill", (IEnumerable<SelectListItem>)ViewBag.lstSkill, "-- Select Skill --", new { @class = "form-control skilleditcontrolls EditSkill", style = "width: 100%;display:none" })*@
                        @*@Html.DropDownList("ddlskill", ViewBag.lstSkill as SelectList, "All", new { @class = "form-control skilleditcontrolls EditSkill", style = "width: 100%;display:none" })*@
                        @*@Html.DropDownList("ddlskill", new SelectList(Model.lstselectskills, "SkillId", "Skillname"), "-- Select Skill --", new { @class = "form-control skilleditcontrolls EditSkill", style = "width: 100%;display:none" })*@

                        @Html.DropDownList("ddlskill", new SelectList((System.Collections.IEnumerable)ViewBag.lstSkill), new { @class = "form-control skilleditcontrolls EditSkill", style = "width: 100%;display:none" })
                    </td>
                    <td>

                        <span id="lblcomptency" class="skillreadonly"> @item.CompetincyName</span>
                        <select class="form-control skilleditcontrolls EditComp" id="ddlEditComp" name="ddlComp" style="display:none"></select>

                    </td>
                    <td>
                        <span id="lblexpertiselevl" class="skillreadonly" rel="popover" style="cursor:help" data-skillhistory="@item.EmployeeSkillHistrory"> @item.Expertiselevel</span>
                        <select id="ddlEditExpertiseLevel" class="form-control skilleditcontrolls EditExpertiseLevel" style="width: 100%;display:none">
                            <option value="">Select Expertise Level</option>
                            <option value="Trained">Trained</option>
                            <option value="Experienced">Experienced</option>
                            <option value="Proficient">Proficient</option>
                            <option value="Expert">Expert</option>
                        </select>
                    </td>
                    <td class="text-center">
                        @*@if (item.IsPrimary == true)
                            {
                                <input type="checkbox" name="chkIsPrimary" id="chkIsPrimaryUpdate" class="chkIsPrimaryUpdateCls"  checked>

                            }
                            else
                            {
                                <input type="checkbox" name="chkIsPrimary" id="chkIsPrimaryUpdate" class="chkIsPrimaryUpdateCls">
                            }*@
                        <input id="IsPrimaryEdit_@(item.EmployeeSkillId)" type="checkbox" @(Convert.ToBoolean(item.IsPrimary) ? "checked='checked'" : "") style="" />
                    </td>
                    <td>

                        <span id="lblastused" class="skillreadonly"> @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Convert.ToInt32(item.TechnologyLastUsed.Split(',')[0])),@item.TechnologyLastUsed.Split(',')[1]</span>
                        <span id="lblastusedid" style="display:none;"> @item.TechnologyLastUsed</span>
                        <select id="ddlEditMonth" class="form-control pull-left skilleditcontrolls EditMonth" style="width: auto;display:none">
                            <option value="">Month</option>
                            <option value="1">Jan</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Apr</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">Aug</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>

                        @Html.DropDownList("ddlYear", ViewBag.AllYears as List<SelectListItem>, "Year", new { @class = "form-control pull-right skilleditcontrolls EidtYear", @style = "width:100px; auto;display:none", @required = "required", data_error = "Please select Year" })
                    </td>
                    @*<td class="text-center">
                            @if (@item.IsPrimary == true)
                            {
                                <input type="checkbox" name="chkRow" id="chkRowPrimary" class="chkEmployee" checked>
                            }
                        </td>*@
                    <td>
                        @if (@item.SkillStatus == "Rejected")
                        {
                            <span id="lblstatus" title="@item.Remarks" style="background: #FFF7A3;"> @item.SkillStatus</span>
                            @*<span id="lblstatus" style="background: #FFF7A3;">@item.SkillStatus</span>*@
                        }
                        else if (@item.SkillStatus == "Submitted")
                        {
                            <span id="lblstatus" title="@item.Remarks" style="background: #E4F7E0;position: relative;top: 5px;"> @item.SkillStatus</span>
                            @*<span id="lblstatus" style="background: #E4F7E0;">@item.SkillStatus</span>*@
                        }
                        else
                        {
                            <span id="lblstatus" style="background: #FFF7A3;"> @item.SkillStatus</span>

                        }


                    </td>
                    <td>
                        @*@if (item.SkillStatus != "Approved" && item.SkillStatus != "Rejected")
                            {*@
                        @*<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" title="Edit Skill" style="margin-right: 5px;" id="@item.EmployeeSkillId"></i>*@
                        @*<img src="~/Content/images/rectbox.png" aria-hidden="true" title="Edit Skill" style="margin-right: 5px;" id="@item.EmployeeSkillId">*@
                        <img src="~/Content/images/editicon.png" class="fa fa-pencil-square-o fa-lg" aria-hidden="true" title="Edit Skill" style="border: 1px #d6dce3 solid; padding: 4px;" id="@item.EmployeeSkillId">
                        @*}*@
                        &nbsp;&nbsp;&nbsp;
                        @*@if (item.SkillStatus != "Approved")
                            {*@
                        @*<i class="fa fa-close fa-lg" aria-hidden="true" title="Delete Skill" style="margin-right: 5px;" id="@item.EmployeeSkillId"></i>*@
                        @*<img src="~/Content/images/rectbox.png" aria-hidden="true" title="Edit Skill" style="margin-right: 5px;" id="@item.EmployeeSkillId">*@
                        <img src="~/Content/images/deleteicon.png" class="fa fa-close fa-lg" aria-hidden="true" title="Delete Skill" style="border: 1px #d6dce3 solid; padding: 4px;" id="@item.EmployeeSkillId">
                        @*}*@
                        <i class="fa fa-floppy-o fa-lg updateskill skilleditcontrolls" data-empskillid="@item.EmployeeSkillId" aria-hidden="true" title="Save my skill" style=" display:none"></i>
                        <i class="fa fa-reply-all fa-lg resetskill skilleditcontrolls" aria-hidden="true" title="Reset" style="display:none"></i>
                    </td>
                </tr>

            }
            <tr>
                <td></td>
                <td>
                    @*@Html.DropDownList("ddlSkill", ViewData["lstSkill"] as SelectList, "All", new { @class = "form-control" })*@
                    @*@Html.DropDownList("ddlSkillId", (IEnumerable<SelectListItem>)ViewBag.lstSkill, "Select Skill", new { @class = "form-control skills" })*@
                    @Html.DropDownList("ddlSkillId", new SelectList(Model.lstskills, "SkillId", "Skillset"), "Select Skill", htmlAttributes: new { @class = "form-control skill" })
                </td>
                <td>
                    @Html.DropDownList("ddlCompId", new SelectList(Enumerable.Empty<SelectListItem>
                        (), "CompetencyID", "CompetencyName"),
                        "Select Competency",
                        new { @class = "form-control competency", @disabled = "disabled" })
                    <input type="hidden" id="hdnskillid" />
                </td>

                <td>
                    <select id="ddlExpertiseLevelid" class="form-control expertise" style="width: 100%;" disabled>
                        <option value="">Select Expertise Level</option>
                        <option value="Trained">Trained</option>
                        <option value="Experienced">Experienced</option>
                        <option value="Proficient">Proficient</option>
                        <option value="Expert">Expert</option>
                    </select>
                </td>
                <td class="text-center">
                    <input type="checkbox" id="IsPrimary" name="IsPrimary" value="Yes"  style="margin-left: 0px; width: 30px;" class="check">
                    @*<label style="vertical-align: middle;margin-top: 10px">Is Primary Skill</label>*@
                    @*class="form-control pull-left"*@
                </td>

                <td style="width: 18%;">
                    <select id="ddlMonthid" class="form-control pull-left monthsinfo" style="width: auto;" title="Last Used Month" disabled>
                        <option value="">Month</option>
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                        <option value="4">Apr</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">Aug</option>
                        <option value="9">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                    @Html.DropDownList("ddlYearid", ViewBag.AllYears as List<SelectListItem>, "Year", new { @class = "form-control pull-right year", @style = "width:100px;", @required = "required", data_error = "Please select Year", @disabled = "disabled" })

                </td>
                <td></td>
                <td></td>


            </tr>
            <tr id="info">


                @*<td></td>
                    <td></td>
                    <td></td>*@

                <!--<td>
                <div style="float:left" ;>
                    <img src="~/Content/images/AddSymbol.svg" style="width:30px;height:20px;margin-right: 5px;" class="fa fa-floppy-o fa-lg" title="Save my skill" />-->
                @*<input type="button" id="btnAdd" value="Add Skill" />*@
                @*<span>Add Skill</span>*@
                <!--<a class="nav-link"><span class="title-heading" data-toggle="tab" href="#home-v" role="tab"><b>Add Skill</b></span></a>


                    </div>
                </td>-->

                <td class="text-center" colspan="8" style="vertical-align: middle;background-color: #ffffff;">

                    <button class="btn btn-block btn-lg" style="border:#004BBB solid thin;color: #004BBB; border-radius:0px;background-color: #F3F4F9;">
                        <i class="fa fa-plus"></i>
                        <b style="font-size: 14px;">Add Skill</b>
                    </button>
                    @*&nbsp;&nbsp;*@
                    @*<div>
                        <i class="fa fa-reply-all fa-lg" aria-hidden="true" title="Reset"></i></div>*@
                </td>



                @*<td></td>
                    <td></td>
                    <td></td>
                    <td></td>*@




            </tr>
        }


        else
        {
            @*<tr>
                    <td colspan="7">
                        <div class="text-center">No records available</div>
                    </td>
                </tr>*@
            <tr>
                <td></td>
                <td>
                    @Html.DropDownList("ddlSkillset", new SelectList(Model.lstskills, "SkillId", "Skillset"), "Select Skill", htmlAttributes: new { @class = "form-control skill" })
                </td>
                <td>
                    @Html.DropDownList("ddlComptency", new SelectList(Enumerable.Empty<SelectListItem>
                        (), "CompetencyID", "CompetencyName"),
                        "Select Competency",
                        new { @class = "form-control competency", @disabled = "disabled" })
                    <input type="hidden" id="hdnskillid" />
                </td>
                <td>
                    <select id="ddlExpertise" class="form-control expertise" style="width: 100%;" disabled>
                        <option value="">Select Expertise Level</option>
                        <option value="Trained">Trained</option>
                        <option value="Experienced">Experienced</option>
                        <option value="Proficient">Proficient</option>
                        <option value="Expert">Expert</option>
                    </select>
                </td>
                <td class="text-center">
                    <input type="checkbox" id="IsPrimary" name="IsPrimarychk" value="Yes"  style="margin-left: 0px; width: 30px;" class="check">
                    @*<label style="vertical-align: middle;margin-top: 10px">Is Primary Skill</label>*@
                    @*class="form-control pull-left"*@
                </td>

                <td style="width: 18%;">
                    <select id="ddlMonths" class="form-control pull-left monthsinfo" style="width: auto;" title="Last Used Month" disabled>
                        <option value="">Month</option>
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                        <option value="4">Apr</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">Aug</option>
                        <option value="9">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                    @Html.DropDownList("ddlYears", ViewBag.AllYears as List<SelectListItem>, "Year", new { @class = "form-control pull-right year", @style = "width:100px;", @required = "required", data_error = "Please select Year", @disabled = "disabled" })

                </td>
                <td></td>
                <td></td>


            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center" style="vertical-align: middle;background-color: #ffffff;">
                    @*<i class="fa fa-floppy-o fa-lg" aria-hidden="true" title="Add Skill" style="margin-right: 5px;"></i>*@
                    <div style="float:left">
                        <img src="~/Content/images/AddSymbol.svg" style="width:30px;height:20px;margin-right: 5px;" class="fa fa-floppy-o fa-lg" title="Add Skill" />
                        <span> <b>Add Skill</b></span>
                    </div>
                </td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>




            </tr>
        }

    </tbody>

</table>

<div>
    @*<img src="~/Content/images/SendApproval.png" style="width: 113px;height: 32px;position: relative;top: 0px;left: 555px;" />*@
    <button type="button" class="btn btn-primary pull-right" id="btnsendapp" style="position: absolute; right: 15px; background-color: #004BBB;">Send for Approval</button>

</div>

@*<div>
        <img src="~/Content/images/SendApproval.png" style="width: 113px;height: 32px;position: relative;top: 0px;left: 555px;" />

    </div>*@


<script type="text/javascript">
    $(document).ready(function () {

        if ($.fn.DataTable.isDataTable('#tableEmpSkills')) {
            $('#tableEmpSkills').DataTable().destroy();
        }
        $('#tableEmpSkills').DataTable({
            "aoColumns": [
                { "bSortable": false },
                null,
                null,
                null,
                null,
                null
            ],
            "order": [
                [2, "asc"]
            ],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": -1
            //,"bPaginate": false
            //,"bInfo": false
        });

    });




</script>
