@model IEnumerable<Trianz.Enterprise.Operations.Models.EmployeeSkill>
@{
    var skillsgrid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
    selectionFieldName: "SelectedRow");
    var reportingmanager = ViewData["reportingmanager"].ToString();

    var Assignmentgrid = new WebGrid((IEnumerable<dynamic>)ViewData["AssignmentDetails"], canPage: true, canSort: true, rowsPerPage: 10,
       selectionFieldName: "SelectedRow");
}

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
<link href="~/Content/Talento4.css" rel="stylesheet" />

<style>
    body {
        overflow-x: hidden;
    }

</style>
<div class="clear-both"></div>
<div id="divNote">
    <marquee behavior="alternate" onmouseover="this.stop();" onmouseout="this.start();">
        <p style="font-weight:bold">
            <img src="~/Content/images/Note.gif" style="width:70px" /> Draft skills needs to be submitted for Manager Approval
        </p>
    </marquee>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabMySkills"><b>My Skills</b></a></li>
    <li><a data-toggle="tab" href="#tabMyAssignments"><b>My Assignments</b></a></li>
    <li><a data-toggle="tab" href="#tabMyCertificates"><b>My Certificates</b></a></li>
    <li><a data-toggle="tab" href="#tabMyTrainings"><b>My Trainings</b></a></li>
    @*
        <li class="pull-right"><button type="button" class="btn btn-primary" onclick="location.href='@Url.Action(" updatemyskills", "employees" , new { id=Session["EmployeeId"].ToString()})'">Update My Skills</button></li>*@
</ul>

<div class="tab-content">
    <div id="tabMySkills" class="tab-pane fade in active" style="margin: 15px 0 0;">
        <form class="form-horizontal" onsubmit="return false">
            <div class="col-md-12 nopadding">
                <div id="divSkills" class="table-responsive">
                    <table id="tableaddEmpSkills" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <td class="text-center">
                                    <label>Add New Skill</label>
                                  
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="txtSkill" placeholder="Enter Skill" style="width: 100%;">
                                </td>
                                <td>
                                    @Html.DropDownList("ddlComp", new SelectList(Enumerable.Empty<SelectListItem>
                                        (), "CompetencyID", "CompetencyName"),
                                        "Select Competency",
                                        new { @class = "form-control", @disabled = "disabled" })
                                    <input type="text" class="form-control" id="txtCompetency" placeholder="Enter Competency" style="width: 100%;">
                                    <input type="hidden" id="hdnskillid" />
                                </td>

                                <td>
                                    <select id="ddlExpertiseLevel" class="form-control" style="width: 100%;" disabled>
                                        <option value="">Select Expertise Level</option>
                                        <option value="Trained">Trained</option>
                                        <option value="Experienced">Experienced</option>
                                        <option value="Proficient">Proficient</option>
                                        <option value="Expert">Expert</option>
                                    </select>
                                </td>
                                <td style="width: 18%;">
                                    <select id="ddlMonth" class="form-control pull-left" style="width: auto;" title="Last Used Month" disabled>
                                        <option value="">Month</option>
                                        <option value="1">Jan</option>
                                        <option value="2">Feb</option>
                                        <option value="3">Mar</option>
                                        <option value="4">Apr</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">Aug</option>
                                        <option value="9">Sep</option>
                                        <option value="9">Oct</option>
                                        <option value="9">Nov</option>
                                        <option value="9">Dec</option>
                                    </select>

                                    <select id="ddlYear" class="form-control pull-right" style="width: auto;" title="Last Used Year" disabled>
                                        <option value="">Year</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                    </select>
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    @*<i class="fa fa-floppy-o fa-lg" aria-hidden="true" title="Save my skill" style="margin-right: 5px;"></i>*@
                                    <div style="float:left">
                                        <img src="~/Content/images/draft.png" style="width:50px;height:50px;margin-right: 5px;" class="fa fa-floppy-o fa-lg" title="Save my skill" />
                                    </div>

                                    &nbsp;&nbsp;
                                    <div>
                                        <i class="fa fa-reply-all fa-lg" aria-hidden="true" title="Reset"></i>
                                    </div>


                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="divgridskills">
                    @*@Html.Partial("_AddNewSkills")*@
                </div>
                <hr style="margin: 7px 0;" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <p>
                                <b style="color:#2b4d88">Note:</b>To add new skills contact to &nbsp;<a href="businessoperations@Trianz.com" style="color: #2b4d88">ITS Ops</a>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            @*<label class="text-primary" style="padding-top: 5px;"><span class="text-danger"><b>Note: </b></span>If you want to add the rejected skill again, please click on delete and again add it.</label>*@
                            <button type="button" class="btn btn-primary pull-right" id="btnsendapp">Send for Approval</button>
                        </div>
                    </div>
                </div>

                @*<div id="skillgridcontent" class="table table-responsive">
                        @skillsgrid.GetHtml(columns:
                        skillsgrid.Columns
                        (
                        skillsgrid.Column("EmployeeId", "Employee Id", canSort: false),
                        skillsgrid.Column("SkillDescription", "Skill Description"),
                        skillsgrid.Column(header: "Category", format: (item) => (bool)item.IsPrimary == true ? Html.Raw("Primary") : Html.Raw("Secondary")),
                        skillsgrid.Column("Status", "Status"),
                        skillsgrid.Column(header: "Approval Manager", format: @<p>@reportingmanager</p>),
                        skillsgrid.Column("Remarks", "Remarks"),
                        skillsgrid.Column(header: "Action", style: "text-center", format:
                        @<text>
                            @if (item.Status != "Approved")
                            {
                            <img alt='Delete' class="removeSkill" src='~/Content/images/remove.png' width='20' title='This skill is @item.status.ToLower(), if you dont want, you can delete it' skillID='@item.Id' />
                            }
                        </text>
                        )
                        ), mode: WebGridPagerModes.Numeric, htmlAttributes: new { @class = "table table-bordered table-striped p-resources", id = "employeeskills" })
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-danger"><b>Note: </b><span class="text-primary">If you want to add the rejected skill again, please click on delete and again add it.</span></div>
                    </div>*@
            </div>
        </form>
    </div>

    <div id="tabMyAssignments" class="tab-pane fade" style="margin: 15px 0 0;">

        <div class="col-md-12 nopadding">

            <div id="Assignmentgridcontent" class="table table-responsive">

                @Assignmentgrid.GetHtml(columns:
                                Assignmentgrid.Columns
                                (

                                    Assignmentgrid.Column("ProjectName", "Project Name", format:@<text>@item.ProjectCode @item.ProjectName </text>  ),
                                    Assignmentgrid.Column("Assigned_By", "Assigned By"),
                                    Assignmentgrid.Column("Utilization", "Utilization%"),
                                    Assignmentgrid.Column("StartDate", "Start Date"),
                                    Assignmentgrid.Column("EndDate", "End Date")


                                ), mode: WebGridPagerModes.Numeric, htmlAttributes: new { @class = "table table-bordered table-striped p-resources", @style = "margin-bottom: 20px;" })
            </div>
        </div>


    </div>


    <div id="tabMyCertificates" class="tab-pane fade text-center" style="margin: 15px 0 0;">
        @*Design is a work in progress.<br /> Check back soon..*@

        No data to display
    </div>
    <div id="tabMyTrainings" class="tab-pane fade text-center" style="margin: 15px 0 0;">
        @*Design is a work in progress.<br /> Check back soon..*@
        @*No data to display*@
        <div id="divGridContent1" class="table table-responsive" style="margin-bottom: 0px;">
            @*@Html.Partial("_MyTrainings", Model)*@
        </div>
    </div>
</div>

<input type="hidden" id="hdnskillgris" value="@Url.Action("GetSkilldetails","EmployeeSkills")" />
<input type="hidden" id="hdnskillapp" value="@Url.Action("SendforApproval","EmployeeSkills")" />
<input type="hidden" id="TrainingGrid" value="@Url.Action("GetTrainings","EmployeeSkills")" />
<input type="hidden" id="hdnempyeid" />

<script type="text/javascript">

    $(document).ready(function () {


        $('body').popover({

            selector: '[rel=popover]',
            trigger: 'hover',
            content: function () {
                var skillHistory = $(this).attr("data-skillhistory");
                var content = '';
                if (skillHistory != "") {
                    var skillHistoryArry = skillHistory.split(',');
                    content += '<table id="tbl" class="table" cellspacing="0" width="100%"';
                    content += '<thead><tr><th style="font-size:10px">Expertise Level History</th></thead>';
                    content += '<tbody><tr><td>';
                    content += '<table id="tbl" class="table table-bordered" cellspacing="0" width="100%"';
                    content += '<thead><tr><th style="font-size:10px;">Expertise Level </th><th style="font-size:10px">Approver</th><th style="font-size:10px">Approved Date</th></thead>';
                    content += '<tbody>';

                    if (skillHistoryArry.length > 0) {
                        for (var i = 0; i < skillHistoryArry.length; i++) {
                            var historyArry = skillHistoryArry[i].split('-');
                            if (historyArry.length > 0) {
                                var approvalDate = historyArry[0];
                                var expertiselevel = historyArry[1];
                                var approver = historyArry[2];
                                content += '<tr>';
                                content += '<td style="font-size:10px">' + expertiselevel + '</td>';
                                content += '<td style="font-size:10px">' + approver + '</td>';
                                content += '<td style="font-size:10px">' + approvalDate + '</td>';
                                content += '</tr>';
                            }

                        }
                    }
                    content += '</tbody></table>';
                    content += '</td></tr></tbody><table>';
                }
                else {
                    content += '<span class="text-center">No history</span>';
                }


                return content;
            },
            //template: popoverTemplate,
            placement: "auto",
            html: true
        });



        GetExstingSkillGrid();

        GetTrainingsGrid();



        var isSkillDraft = false;
        isSkillDraft = ValidateSkillStatus();
        if (isSkillDraft == false) {
            $("#divNote").css("display", "none");
        }
        else {
            $(document).find("#divNote").show();
        }
        //$(document).on("click", '#tableEmpSkills .chkEmployee', function () {
        //    if ($(this).prop("checked")) {
        //        $("#btnsendapp").show();
        //    }
        //    else {
        //        $("#btnsendapp").css("display", "none");
        //    }
        //});
        // Save code
        $('.fa-floppy-o').click(function (e) {
            //  e.preventDefault();
            if ($('#ddlYear').attr('disabled') != "disabled") {
                //Save logic here
                var emplyeeskillid = 0;
                if ($("#hdnempyeid").val() != "")
                    emplyeeskillid = $("#hdnempyeid").val();
                var chki = chkvalidationforskill();
                if (chki) {
                    $.ajax({
                        type: 'GET',
                        datatype: 'JSON',
                        cache: false,
                        url: "@(Url.Action("SaveSkilldata", "EmployeeSkills"))",
                        data: {
                            skillid: $("#hdnskillid").val(), skill: $("#txtSkill").val(),
                            Expertise: $("#ddlExpertiseLevel").val(), Mont: $("#ddlMonth").val(), Year: $("#ddlYear").val()
                        , employeeskillID: emplyeeskillid
                        },
                        async: false,
                        success: function (data) {
                            if (data == "true") {
                                bootbox.alert("<span style='color:green'>Skill(s) saved successfully.</span> <span style='color:red;font-weight:bold'>Please submit for manager approval</span>");
                                resetFields();
                                GetExstingSkillGrid();

                                $('html, body').animate({ scrollTop: $(document).height() }, 1200);

                            }
                            else if (data== "Sessionexpired") {
                                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                                 else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                            else {
                                bootbox.alert("Session timedout");
                                resetFields();
                                GetExstingSkillGrid();
                            }
                        },
                        error: function (error) {
                            bootbox.alert(error.statusText);
                        }
                    });
                }




            }
            else {
                bootbox.alert("Please select all fields");
                //alert("Please select all fields");
            }
        });

        //Updating Skills
        $(document).on("click", ".updateskill", function (e) {
            // e.preventDefault();
            var skillNmae = $(this).closest("tr").find(".EditSkill").val();
            var Skillid = $(this).closest("tr").find(".EditComp").val();
            var expertiseLevel = $(this).closest("tr").find(".EditExpertiseLevel").val();
            var month = $(this).closest("tr").find(".EditMonth").val();
            var year = $(this).closest("tr").find(".EidtYear").val();

            var emplyeeskillid = 0;
            if ($("#hdnempyeid").val() != "")
                emplyeeskillid = $("#hdnempyeid").val();
            var chki = chkvalidationforeditskill(skillNmae, Skillid, expertiseLevel, month, year);
            if (chki) {
                $.ajax({
                    type: 'GET',
                    datatype: 'JSON',
                    cache: false,
                    url: "@(Url.Action("SaveSkilldata", "EmployeeSkills"))",
                    data: {
                        skillid: Skillid, skill: skillNmae,
                        Expertise: expertiseLevel, Mont: month, Year: year
                , employeeskillID: emplyeeskillid
                    },
                    success: function (data) {
                       if (data != null && data != "Sessionexpired"&& data !="Error") {
bootbox.alert("<span style='color:green'>Skill(s) saved successfully.</span> <span style='color:red;font-weight:bold'>Please submit for manager approval</span>");
resetFields();
GetExstingSkillGrid();
$('html, body').animate({ scrollTop: $(document).height() }, 1200);
}
else if (data== "Sessionexpired") {
window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                         else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                    },
                    error: function (error) {
                        bootbox.alert(error.statusText);
                    }
                });
            }






        });

        $('#btnsendapp').click(function (e) {
            //e.preventDefault();
            var isValid = false;
            isValid = ValidateSkills();
            if (isValid) {
                var Skillsubmssion = GetSelectSkills();
                if (Skillsubmssion.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: $("#hdnskillapp").val(),
                        data: JSON.stringify({ Skillslist: Skillsubmssion }),
                        contentType: "application/json; charset=utf-8",
                        datatype: 'JSON',
                        cache: false,
                        async: false,
                        success: function (data) {
                            bootbox.alert("Skills submitted successfully.");
                            //alert("Skills submitted successfully.");
                            resetFields();
                            GetExstingSkillGrid();
                            var isSkillDraft = false;
                            isSkillDraft = ValidateSkillStatus();
                            if (isSkillDraft == false) {
                                $("#divNote").css("display", "none");
                            } else {
                                $(document).find("#divNote").show();
                            }
                        },
                        error: function (error) {

                            alert(error.statusText);
                        }
                    });
                }
                else {
                    bootbox.alert("No skills to send for approval.");
                    //alert("No skills to send for approval");
                }
            }
            else {
                bootbox.alert("Please select the skills.");
            }
        });
        function GetSelectSkills() {
            var Skillslist = [];
            $("#tableEmpSkills").find("tbody tr").each(function () {
                if ($(this).find("td:first").find(".chkEmployee").prop("checked")) {
                    var EmployeeSkillId = $(this).find("td:first").find(".chkEmployee").val().trim();
                    var SkillStatus = "Submitted";
                    var Skillsubmtion = { EmployeeSkillId: EmployeeSkillId, SkillStatus: SkillStatus };
                    Skillslist.push(Skillsubmtion);
                }
            });
            return Skillslist;
        }

        function ValidateSkills() {
            var isValid = false;
            $("#tableEmpSkills").find("tbody tr").each(function () {
                if ($(this).find("td:first").find(".chkEmployee").prop("checked")) {
                    isValid = true;
                    return;
                }
            });
            return isValid;
        }

        //validations
        function chkvalidationforskill() {
            var ischk = true;
            var explev = $("#ddlExpertiseLevel").val();
            var compename = $("#ddlComp").val();
            var skillname = $("#txtSkill").val();
            var motn = $("#ddlMonth").val();
            var year = $("#ddlYear").val();
            var currentYear = (new Date).getFullYear();
            var currentMonth = (new Date).getMonth() + 1;

            if (explev == "") {
                bootbox.alert("please select Expertise Level");
                ischk = false;

            }
            else if (compename == "") {
                bootbox.alert("please select Competency");
                ischk = false;

            }
            else if (skillname == "") {
                bootbox.alert("please enter skillname");
                ischk = false;

            }
            else if (motn == "") {
                bootbox.alert("please select month");
                ischk = false;

            }
            else if (year == "") {
                bootbox.alert("please select year");
                ischk = false;

            }
            else if (year >= currentYear) {
                if (motn > currentMonth) {
                    bootbox.alert("Selected month&year should be lessthan are equal to the current month&year");
                    ischk = false;
                }
                else if (year > currentYear) {
                    bootbox.alert("Selected year should be lessthan are equal to the current year");
                    ischk = false;
                }

            }
            return ischk;
        }
        //validations
        function chkvalidationforeditskill(skillNmae, Skillid, expertiseLevel, month, year) {
            var ischk = true;
            var currentYear = (new Date).getFullYear();
            var currentMonth = (new Date).getMonth() + 1;

            if (expertiseLevel == "") {
                bootbox.alert("please select Expertise Level");
                ischk = false;

            }
            else if (Skillid == "" || Skillid == "0") {
                bootbox.alert("please select Competency");
                ischk = false;

            }
            else if (skillNmae == "") {
                bootbox.alert("please enter skillname");
                ischk = false;

            }
            else if (month == "") {
                bootbox.alert("please select month");
                ischk = false;

            }
            else if (year == "") {
                bootbox.alert("please select year");
                ischk = false;

            }
            else if (year >= currentYear) {
                if (month > currentMonth) {
                    bootbox.alert("Selected month&year should be lessthan are equal to the current month&year");
                    ischk = false;
                }
                else if (year > currentYear) {
                    bootbox.alert("Selected year should be lessthan are equal to the current year");
                    ischk = false;
                }

            }
            return ischk;
        }

        // Reset code
        $('.fa-reply-all').on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: $(document).height() }, 1200);
            resetFields();

        })
        function resetFields() {
            $('#txtSkill').val('')
            $('#ddlComp').val('').attr('disabled', 'disabled');
            $('#ddlExpertiseLevel').val('').attr('disabled', 'disabled');
            $('#ddlMonth').val('').attr('disabled', 'disabled');
            $('#ddlYear').val('').attr('disabled', 'disabled');
            $('#hdnskillid').val('');
            // GetExstingSkillGrid();
        }

        // Get skills list


        $("#txtSkill").autocomplete({
            source: function (request, response) {
                var Skill = new Array();

                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("GetSkillsListByCompetency", "EmployeeSkills"))",
                    data: { skill: request.term, flag: "" }, //cmptny: $("#txtCompetency").attr('value'),
                    success: function (data) {

                      if (data != null && data != "Sessionexpired"&& data!="Error") {
for (var i = 0; i < data.length; i++) {
Skill[i] = { label: data[i].Key, Id: data[i].Value };
}
}
else if (data== "Sessionexpired") {
window.location.href = '@Url.Action("SessionExpire", "Signout")';
}
                         else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                    }
                });

                response(Skill);

            },
            select: function (event, ui) {
                //debugger
                // event.preventDefault();
                $("#txtSkill").val(ui.item.Id);

                if (ui.item.Id == "") {
                    $("#txtSkill").val('');
                    $('#hdnskillid').val('');
                    $('#ddlComp').val('').attr('disabled', 'disabled');
                    $('#hdnskillid').val('');
                }
                else {

                    $("#txtSkill").val(ui.item.label).attr("value", ui.item.Id);
                    $('#hdnskillid').val('');
                    $("#ddlComp").removeAttr('disabled');
                    FillCompen(0);

                }
                GetExstingSkillGrid();
                $('html, body').animate({ scrollTop: $(document).height() }, 1200);

            },

            minLength: 0,
        }).focus(function () {
            $(this).autocomplete("search");
        });


        $(document).on("focus", "#tableEmpSkills .EditSkill", function (e) {
            if (!$(this).data("autocomplete")) {
                $(this).autocomplete({
                    source: function (request, response) {
                        var Skill = new Array();

                        $.ajax({
                            async: false,
                            cache: false,
                            type: "POST",
                            url: "@(Url.Action("GetSkillsListByCompetency", "EmployeeSkills"))",
                            data: { skill: request.term, flag: "" }, //cmptny: $("#txtCompetency").attr('value'),
                            success: function (data) {

                                if (data != null && data != "Sessionexpired" && data!="Error") {
for (var i = 0; i < data.length; i++) {
Skill[i] = { label: data[i].Key, Id: data[i].Value };
}
}
else if (data== "Sessionexpired") {
window.location.href = '@Url.Action("SessionExpire", "Signout")';
}
 else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                            }
                        });

                        response(Skill);
                    },
                    select: function (event, ui) {
                        //$("#txtSkill").val(ui.item.Id);
                        //$("#txtSkill").val(ui.item.label).attr("value", ui.item.Id);
                        //$('#hdnskillid').val('');
                        //$("#ddlComp").removeAttr('disabled');
                        var skillId = $(this).attr("data-skillid");
                        var currentControll = $(this).closest('tr').find(".EditComp");
                        var skillName = ui.item.Id;
                        FillCompen(skillId, currentControll, skillName, true);


                    },

                    minLength: 0,
                }).focus(function () {
                    $(this).autocomplete("search");
                });
            }
        });



        $("#ddlComp").change(function () {
            if ($(this).val() == "") {
                $('#ddlExpertiseLevel').val('').attr('disabled', 'disabled');
                $('#hdnskillid').val('');
            }
            else {
                var chkskill = ChkskillExsits($('#ddlComp').val());
                if (chkskill) {
                    $('#ddlExpertiseLevel').val('').attr('disabled', 'disabled');
                    $('#hdnskillid').val('');
                    $("#ddlComp").val('');
                    $('#ddlComp').val('').attr('disabled', 'disabled');
                    $("#txtSkill").val('');
                    bootbox.alert("Skill already exist");
                }
                else {
                    $('#ddlExpertiseLevel').removeAttr('disabled');
                    $('#hdnskillid').val($('#ddlComp').val());
                }

            }
        });


        $("#ddlExpertiseLevel").change(function () {
            if ($(this).val() == "") {
                $('#ddlMonth').val('').attr('disabled', 'disabled');
                $('#ddlYear').val('').attr('disabled', 'disabled');
            }
            else {
                $('#ddlMonth').removeAttr('disabled');
            }
        });

        $("#ddlMonth").change(function () {
            if ($(this).val() == "") {
                $('#ddlYear').val('').attr('disabled', 'disabled');
            }
            else {
                $('#ddlYear').removeAttr('disabled');
            }
        });
        $('input').bind('keypress', function (event) {
            var regex = new RegExp("^[a-zA-Z0-9.# ]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });

        //$('#txtCompetency').bind('keyup', function (event) {
        //    //debugger
        //    if ($(this).val().length == 0) {
        //        $('#txtSkill').val('').attr('disabled', 'disabled');
        //        $('#ddlExpertiseLevel').val('').attr('disabled', 'disabled');
        //        $('#ddlMonth').val('').attr('disabled', 'disabled');
        //        $('#ddlYear').val('').attr('disabled', 'disabled');
        //    }
        //});

        $('#txtSkill').bind('keyup', function (event) {
            //debugger
            if ($(this).val().length == 0) {
                $('#ddlComp').val('').attr('disabled', 'disabled');
                $('#ddlExpertiseLevel').val('').attr('disabled', 'disabled');
                $('#ddlMonth').val('').attr('disabled', 'disabled');
                $('#ddlYear').val('').attr('disabled', 'disabled');
            }
        });



    });
    //chk skill exsits or not
    function ChkskillExsits(SkillID) {
        var selectskillid = SkillID;
        var Skillslist = false;
        var table = $("#tableEmpSkills");
        table.find('tbody tr').each(function (i, el) {
            var $tds = $(this).find('td');
            var SkillID1 = $tds.eq(1).find('input[type=hidden]').val();
            if (SkillID1 == selectskillid) {
                Skillslist = true;
            }
        });
        return Skillslist;

    }
    // Get competency list based on skilid
    function FillCompen(SkillID, comptencyControl, skilname, onselect) {
        var Skillname = "";
        if (comptencyControl != undefined)
            Skillname = skilname;
        else
            Skillname = $("#txtSkill").attr('value');

        $.ajax({
            url: "@(Url.Action("GetCompetencyList", "EmployeeSkills"))",
            type: "GET",
            dataType: "JSON",
            data: { Skillname: Skillname, flag: "" },
            success: function (data) {

                if (comptencyControl != undefined) {
                    //comptencyControl.html("");
                    comptencyControl.empty();
                    $.each(data, function (i, dt) {
                        comptencyControl.append($('<option></option>').val(dt.Value).html(dt.Key));
                    });

                }
                else {
                    $("#ddlComp").html("");
                    $("#ddlComp").append(('<option value="">Select Competency</option>'));//.val('').html("--Select Competency--"))// clear before appending new list
                    $.each(data, function (i, dt) {
                        $("#ddlComp").append($('<option></option>').val(dt.Value).html(dt.Key));
                    });
                }
                if (SkillID != 0) {
                    if (onselect != undefined)
                        comptencyControl.append(('<option value="0" selected="selected">Select Competency</option>'));
                    else
                        comptencyControl.val(SkillID.replace(' ', ''));
                }


            }
        });
    }
    $(document).on("click", '#chkHeader', function () {
        if ($(this).is(":checked")) {
            $('.chkEmployee').prop("checked", true);
            //$("#btnsendapp").show();
        }
        else {
            $('.chkEmployee').prop("checked", false);
            //$("#btnsendapp").css("display", "none");
        }
    });
    $(document).on("click", ".fa-close", (function (e) {
        var tr = $(this).parents('tr:first');
        var employeeskilldid = tr.find('#lblempskillID').text();

        bootbox.confirm({
            message: "Are you sure you want to delete this skill?",
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteEmployeeSkillByID", "EmployeeSkills")',
                        data: { "SkillId": employeeskilldid },
                        type: "post",
                        datatype: "json",
                        contenttype: 'application/json; charset=utf-8',
                        async: true,
                        success: function (data) {
                            if (data == "deleted") {
                                debugger
                                GetExstingSkillGrid();
                                @*window.location.href = '@Url.Action("AddNewSkills","EmployeeSkills")';*@
                                //$(this).closest('tr').remove();

                                //window.location.reload();
                                bootbox.alert("Skill deleted successfully ");
                            }
                            else if (data== "Sessionexpired") {
                                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                                 else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                            else {
                                bootbox.alert('Skill is not deleted due to exception, Please contact support team.');
                            }
                            $('html, body').animate({ scrollTop: $(document).height() }, 1200);
                        },
                        error: function (xhr) {
                            bootbox.alert('error');
                        }
                    });
                }
            }
        });
        //tr.find('.edit-mode, .display-mode').toggle();
        //tr.find('.glyphicon-edit').hide();
        //tr.find('.glyphicon-saved').show();
        //tr.find('.glyphicon-remove').show();
    }));
    $(document).on("click", ".fa-pencil-square-o", (function (e) {

        var tr = $(this).parents('tr:first');

        $("#tableEmpSkills tbody").find(".fa-pencil-square-o").show();
        $("#tableEmpSkills tbody").find(".fa-close").show();

        $("#tableEmpSkills tbody").find('.skillreadonly').show();
        $("#tableEmpSkills tbody").find('.skilleditcontrolls').hide();

        tr.find('.fa-pencil-square-o').hide();
        tr.find('.fa-close').hide();
        tr.find('.skillreadonly').hide();
        tr.find('.skilleditcontrolls').show();

        var employeeskilldid = tr.find('#lblempskillID').text();
        var comname = tr.find('#lblcomptency').text();
        var skillid = tr.find('#lblskillid').text();
        var skilname = tr.find('#lblskill').text();
        var experlve = tr.find('#lblexpertiselevl').text();
        var lasused = tr.find('#lblastusedid').text();

        tr.find('.EditSkill').val(skilname.trim());
        tr.find('.EditSkill').val(skilname.trim()).attr("value", skilname.trim());


        var skillHistory = tr.find('#lblexpertiselevl').attr("data-skillhistory");
        var isApproved = false;
        if (skillHistory != "") {
            isApproved = CheckApprovedSkill(skillHistory);
        }
        //$('#txtSkill').val(skilname.trim());
        //$("#txtSkill").val(skilname.trim()).attr("value", skilname.trim());
        //$("#txtSkill").removeAttr('disabled');
        var comptencyControl = tr.find('.EditComp');
        $("#hdnempyeid").val(employeeskilldid.trim());
        // $("#ddlComp").val(skillid.trim());

        if (isApproved) {

            tr.find('.EditSkill').attr("disabled", true);
            tr.find('.EditComp').attr("disabled", true);
        }
        FillCompen(skillid, comptencyControl, skilname.trim());

        //$("#ddlComp").removeAttr('disabled');



        $('#hdnskillid').val(skillid.trim());
        //$('#ddlExpertiseLevel').val(experlve.trim());
        //$("#ddlExpertiseLevel").removeAttr('disabled');
        tr.find('.EditExpertiseLevel').val(experlve.trim());


        //$('#ddlMonth').val(lasused.split(',')[0].trim());
        //$("#ddlMonth").removeAttr('disabled');
        tr.find('.EditMonth').val(lasused.split(',')[0].trim());

        //$('#ddlYear').val(lasused.split(',')[1].trim());
        //$("#ddlYear").removeAttr('disabled');
        tr.find('.EidtYear').val(lasused.split(',')[1].trim());
        $('html, body').animate({ scrollTop: $(document).height() }, 1200);
    }));



    $(document).on("click", ".resetskill", (function (e) {
        var tr = $(this).parents('tr:first');
        tr.find('.fa-pencil-square-o').show();
        tr.find('.fa-close').show();
        tr.find('.skillreadonly').show();
        tr.find('.skilleditcontrolls').hide();
    }));

    function CheckApprovedSkill(skillHistory) {
        var isApproved = false;
        var skillHistoryArry = skillHistory.split(',');

        if (skillHistoryArry.length > 0) {

            for (var i = 0; i < skillHistoryArry.length; i++) {
                var historyArry = skillHistoryArry[i].split('-');
                if (historyArry.length > 0) {
                    var previousStatus = historyArry[3];
                    //var currentstatus = historyArry[1];
                    if (previousStatus == "Approved") {
                        isApproved = true;
                        return isApproved;
                    }
                    //else if (currentstatus == "Approved") {
                    //    isApproved = true;
                    //    return isApproved;
                    //}

                }

            }

        }

    }
    function GetExstingSkillGrid() {
        //$('#btnsendapp').hide();

        $("#hdnempyeid").val('0');
        $("#divgridskills").html('');
        $.ajax({
            type: 'GET',
            url: $("#hdnskillgris").val(),
            data: {},
            datatype: 'JSON',
            cache: false,
            async: false,

            success: function (data) {
                //$('#btnsendapp').show();
                $("#divgridskills").html(data);

                var isSkillDraft = false;
                isSkillDraft = ValidateSkillStatus();

                if (isSkillDraft == false) {
                    $(document).find("#divNote").css("display", "none");
                }
                else {
                    $(document).find("#divNote").show();
                }

            },
            error: function (error) {

                alert(error.statusText);
            }
        });
    }
    $('.removeSkill').click(function () {
        var SkillID = $(this).attr('skillId');
        //bootbox.confirm("Are you sure you want to delete this skill?", "No", "Yes", function () {
        //    bootbox.alert('Code is inprogress to delete', 'Good');
        //});

        bootbox.confirm({
            message: "Are you sure you want to delete this skill?",
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteSkillByID", "EmployeeSkills")',
                        data: { "SkillId": parseInt(SkillID) },
                        type: "post",
                        datatype: "json",
                        contenttype: 'application/json; charset=utf-8',
                        async: true,
                        success: function (data) {
                            if (data == "deleted") {
                                debugger
                                @*window.location.href = '@Url.Action("AddNewSkills","EmployeeSkills")';*@
                                //$(this).closest('tr').remove();

                                window.location.reload();
                            }
                            else if (data== "Sessionexpired") {
                                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                                 else if (data == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                            else {
                                bootbox.alert('Skill is not deleted due to exception, Please contact support team.');
                            }
                        },
                        error: function (xhr) {
                            bootbox.alert('error');
                        }
                    });
                }
            }
        });

    });
    function GetTrainingsGrid() {


        $("#divGridContent1").html('');
        $.ajax({
            type: 'GET',
            url: $("#TrainingGrid").val(),
            data: {},
            datatype: 'JSON',
            cache: false,
            async: false,
            success: function (data) {
                //$('#btnsendapp').show();
                $("#divGridContent1").html(data);

            },
            error: function (error) {

                alert(error.statusText);
            }
        });
    }

    function ValidateSkillStatus() {
        var isValid = false;
        debugger;
        if ($(document).find("#divgridskills #tableEmpSkills").find("tbody tr td")[0].innerText.trim() != "No records available") {
            $(document).find("#divgridskills #tableEmpSkills").find("tbody tr").each(function () {
                if ($(this).find("td:eq(5)").find("#lblstatus").html().trim() == "Draft") {
                    isValid = true;
                    return;
                }
            });
        }
        return isValid;
    }

</script>
