
<div class="row form-group">
    <div class="col-sm-12">
        <table id="tableHRRF" class="table table-striped table-bordered" cellspacing="0" style="margin: 0px; width: 100%;">
            <thead>
                <tr>
                    <td>Skill Cluster</td>
                    <td>Skill</td>
                    <td>Skill Code</td>
                    <td>TR Count</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SkillCluster</td>
                        <td>@item.Skill</td>
                        <td>@item.SkillCode</td>
                        <td>@item.HRRFCount</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#tableHRRF').DataTable({
            "bFilter": true,
            "bPaginate": true,
        });
        $.ajax({
                url: '@Url.Action("GetPractice", "CreateHRRF")',
                type: 'GET',
                cache: false,
                success: function (data) {
                    var markup = "<option value=''>Select an option</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value='" + data[x].LookupName + "'>" + data[x].LookupName + "</option>";
                    }
                    $("#ddlPractice").html(markup).show();
                },
                error: function (thrownError) {
                    alert(thrownError);
                }
            });
       
        
    })
</script>