@model Trianz.Enterprise.Operations.Models.HRRF
@{
    ViewBag.Title = "SkillOrgUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Footer2.css" rel="stylesheet" />
<link href="~/Content/Talento5.css" rel="stylesheet" />
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />
<style>
    .form-control {
        width: 60%;
        margin-left: 2px;
    }

    .ui-dialog .ui-dialog-content {
        position: relative;
        border: 0;
        padding: .5em 1em;
        background: none;
        overflow: auto;
        background-color: #FFFFFF;
    }

    .ui-widget-content {
        margin-left: 20px;
        background: #FFFFFF;
        border: 1px solid #FFF;
    }
    /*.ui-button-text-only .ui-button-text {
        padding: 0.6em 1em;
        background-color: #004BBB;
        color: #FFFFFF;
    }*/
    .ui-dialog .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix .ui-dialog-title {
        color: #2C2E31;
        font-size: 15px;
    }

    .ui-dialog .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        background-image: none;
        border-radius: 0px !important;
    }

    body {
        overflow-x: hidden;
    }

    #txt {
        color: #2C2E31;
        font-size: 15px;
        margin-left: 18px;
    }

    td, th {
        color: black;
        color: rgb(0, 0, 0);
    }

    #btnSearch {
        margin: -33px -48px 27px 34px;
        background-color: #004BBB;
        border: none !important;
        outline: none;
        outline-offset: 0px;
    }

    .request_header {
        background: #fff;
        border-bottom: 1px solid #EAECF2;
        position: relative;
        top: 60px;
        margin-bottom: 60px;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @*<div class="subpage_header page-header nomargin-top" style="position: relative;top: 20px;">
            <p id="txt"><b>Skill Code and Organization SubGroup Update </b>
            </p>
        </div>*@
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <div class="">
        <div class="form-inline text-center">
            <div class="form-group pull-left" style="margin:5px 0px 0px 0px">
                <div>
                    <label>TR Number</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBox("SearchTRNumber", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Enter TR Number", @style = "margin-top:0px" })
                </div>
                <button class="btn btn-primary pull-right" id="btnSearch">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>

        </div>
    </div>
    <div>
        <div class="">
            <div class="form-inline text-left">
                <div style="margin:0px 0px 0px 0px">
                    <table width="100%" border="0">
                        <tr>
                            <td>@Html.Label("Practice")&nbsp;&nbsp;</td>
                            <td>@Html.TextBox("txtPractice")&nbsp;&nbsp;</td>
                            <td>@Html.Label("Purpose")&nbsp;&nbsp;</td>
                            <td>@Html.TextBox("txtPurpose")&nbsp;&nbsp;</td>
                            <td>@Html.Label("Skill Code")&nbsp;&nbsp;</td>
                            <td>@Html.TextBox("txtSkillCode", "", new { style = "width:150px", @readonly = "readonly" })&nbsp;&nbsp;</td>
                            <td>@Html.Label("Organization")&nbsp;&nbsp;</td>
                            <td>@Html.TextBox("txtOrganizationGroup")&nbsp;&nbsp;</td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>

                            <td>@Html.Label("Employee ID")&nbsp;&nbsp;</td>
                            <td>@Html.TextBox("txtempid")&nbsp;&nbsp;</td>
                            <td>@Html.Label("RaisedBy")&nbsp;&nbsp;</td>
                            <td>@Html.TextBox("txtRaisedBy")&nbsp;&nbsp;</td>
                            <td>@Html.Label("Raised Date")&nbsp;&nbsp;</td>
                            <td>@Html.TextBox("txtSubmiteddate")&nbsp;&nbsp;</td>
                            <td>@Html.Label("Ageing")&nbsp;&nbsp;</td>
                            <td>@Html.TextBox("txtAgeing")&nbsp;&nbsp;</td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td>@Html.Label("Skills")&nbsp;&nbsp;</td>
                            <td colspan="7">@Html.TextBox("txtskills", "", new { style = "width:800px", @readonly = "readonly" })&nbsp;&nbsp;</td>


                        </tr>

                    </table>
                </div>
            </div>
            <div class="col-lg-12 form-group"><br /></div>
            <div class="col-lg-12 form-group">
                <div>
                    <label>SkillCode_WIP</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.TextBox("txtSkillCode_WIP")&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>Organization Sub Group</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.TextBox("txtorgsubgroupo")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>Criticality</label>
                    @*@Html.DropDownList("Criticality", ViewData["Criticality"] as SelectList, "All", new {  })*@
                    @Html.DropDownList("Criticality", ViewData["Criticality"] as SelectList,"",
                             new {onchange = "submit();", style = "height: 25px; width:114px;" })

                </div>
            </div>
            <div class="col-lg-12 form-group"><br /></div>
            <div class="col-lg-12 form-group">
                <div>
                    <label style="margin-left:15px">Recruiter Name</label>&nbsp;&nbsp;
                    @Html.DropDownList("RecruiterName", new SelectList((System.Collections.IEnumerable)ViewData["_RecruiterName"], "Value", "Text"), "Select Recruiter Name", new { style = "height: 32px;width:200px" })
                    @if (Session["EmployeeId"].ToString() == "103422" || Session["EmployeeId"].ToString() == "102342"
                    || Session["EmployeeId"].ToString() == "102536" || Session["EmployeeId"].ToString() == "103857"
                    || Session["EmployeeId"].ToString() == "104209" || Session["EmployeeId"].ToString() == "103212" || Session["EmployeeId"].ToString() == "105009" || Session["EmployeeId"].ToString() == "105977")
                    {
                        <script>
                            $('#RecruiterName').removeAttr('disabled');
                        </script>
                    }

                    <label>Lead Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.DropDownList("leadName", new SelectList((System.Collections.IEnumerable)ViewData["_RecruiterName"], "Value", "Text"), "Select lead Name", new { style = "height: 32px;width:200px" })
                    @if (Session["EmployeeId"].ToString() == "103422" || Session["EmployeeId"].ToString() == "102342"
                    || Session["EmployeeId"].ToString() == "102536" || Session["EmployeeId"].ToString() == "103857"
                    || Session["EmployeeId"].ToString() == "104209" || Session["EmployeeId"].ToString() == "103212" || Session["EmployeeId"].ToString() == "105009" || Session["EmployeeId"].ToString() == "105977")
                    {
                        <script>
                            $('#leadName').removeAttr('disabled');
                        </script>
                    }

                </div>
            </div>
            <div class="col-lg-12 form-group">
                <div class="col-lg-12" id="popupcode">
                    <button id="popup" onclick="updateorgsubgroupdata();" style="background-color: #004BBB;color: white;width: 132px;position: relative;top:28px;border-radius: 3px;border: 5px solid transparent;">Update</button>
                    @*<button id="popup" onclick="div_showAssignment();">Assign Project</button>*@
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        //$(document).ready(function () {
        //       $("#txtempid").hide();
        //});
        var jsonarray = [];
        $("#GoalSettingLoadingIcon").hide();
     /*   $("#txtempid").hide();*/

        $("#btnSearch").click(function () {
            var txttrnumber = $("#SearchTRNumber").val();
            if (txttrnumber == "") {
                bootbox.alert("Please enter TR Number");
            }
            else
            {
            $("#GoalSettingLoadingIcon").show();

                var url = "@Url.Action("SkillOrgUpdatedetails", "SkillOrgUpdate")"; /*+ "?TRNumber=" + txttrnumber;*/
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data: { TRNumber: txttrnumber },
                success: function (result) {
                    //alert(JSON.stringify(result));
                    //alert("Success");
                    if (result != null) {
                        if (result != null && result != "Sessionexpired") {
                            $('#txtPractice').val(result.Practice);
                            $('#txtPurpose').val(result.Purpose);
                            $('#txtSkillCode').val(result.SkillCode);
                            $('#txtOrganizationGroup').val(result.OrganizationGroup);
                            $('#txtRaisedBy').val(result.ResourceName);

                            $('#txtempid').val(result.HRRFCreatedBy);
                            $('#txtorgsubgroupo').val(result.Organization_SubGroup);
                            $('#txtSkillCode_WIP').val(result.SkillCode_WIP);
                            $('#txtskills').val(result.skill);
                            $('#txtAgeing').val(result.Ageing);
                            $('#Criticality').val(result.Criticality);

                            $('#RecruiterName').val(result.recruiter);
                            $('#leadName').val(result.lead);

                            //  $('#txtSubmiteddate').val(data.HRRFSubmitedDate.Date("dd/MM/yyyy"));

                            //  $('#txtSubmiteddate').val(Convert.ToDateTime(result.HRRFSubmitedDate).ToString("dd-MMM-yyyy"));
                            $('#txtSubmiteddate').val(result.hrrfdate);

                        }
                        else if (response == "Error") {
                            window.location.href = '@Url.Action("Error", "Error")';
                        }
                        else if (response == "Sessionexpired") {
                            window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                    }
                },
                error: function (thrownError) {
                    console.log(thrownError);
                    $("#GoalSettingLoadingIcon").hide();
                    alert("error object");
                    alert(thrownError);
                }
            });
        }
        });
        $("#Criticality").change(function () {

            var Criticality = $("#Criticality").val();
        });

           function updateorgsubgroupdata() {

            var txttrnumber = $("#SearchTRNumber").val();
                var orgsubgroup = $("#txtorgsubgroupo").val();
                var Skillcodewip = $("#txtSkillCode_WIP").val();
               var Criticality = $("#Criticality").val();

               var RECRTR = $("#RecruiterName").val();

               var HRNGMGRID = $("#leadName").val();


                //alert(txttrnumber);
                //alert(orgsubgroup);
                //alert(Skillcodewip);
                var hrrfdata = {
                HRRFNumber: txttrnumber,
                Organization_SubGroup: orgsubgroup,
                    SkillCode_WIP: Skillcodewip,
                    Criticality: Criticality,
                    RECRTR: RECRTR,
                    HRNGMGRID: HRNGMGRID

            }

            $.ajax({
                type: "POST",
                //url: "/EmployeeAssignment/InsertEmployeeAssignment",
                url: '@Url.Action("SkillOrgUpdateData", "SkillOrgUpdate")',
                data: JSON.stringify(hrrfdata),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                        if (data != null && data != "Sessionexpired") {
                            $('#divGridContent1').html(data);
                            alert('Data Saved Successfully');
                            window.location.href = '@Url.Action("SkillOrgUpdate", "SkillOrgUpdate")';
                        }
                        else if (data== "Sessionexpired") {
                            window.location.href = '@Url.Action("SessionExpire", "Signout")';
                        }
                         else if (data== "Error") {
                            window.location.href = '@Url.Action("Error", "Error")';
                            }

                @*window.location.href = '@Url.Action("SelectedFilesdownload", "Auditor")' + "?docName=" + data ;*@
                    },
                    error: function (thrownError) {
                        alert(thrownError);
                    }
                });
          //  }

        };
        function chkvalidationforskill() {

            var ischk = true;
            var expectedenddate = $("#ExpectedEnd").val();
            var clientorproject = $("#ddlclientorproject").val();
            var reasonforrelease = $("#txresonforrelease").val();
            var skillname = $("#txtskills").val();
            var feedback = $("#txtfeedback").val();
            var performance = $("#ddlresourceperformance").val();
            var projectmovement = $("#ddlProjectmovemnt").val();
            if (expectedenddate == "") {
                bootbox.alert("Please enter Release Date");
                ischk = false;
            }
            else if (clientorproject == "") {
                bootbox.alert("Please select Client/Project");
                ischk = false;
            }
            else if (skillname == "") {
                bootbox.alert("Please enter Skills");
                ischk = false;
            }
            else if (feedback == "") {
                bootbox.alert("Please enter feedback");
                ischk = false;
            }
            else if (reasonforrelease == "") {
                bootbox.alert("Please Enter reason for release");
                ischk = false;
            }
            else if (performance == "") {
                bootbox.alert("Please select Resource Performance");
                ischk = false;
            }
            else if (projectmovement == "") {
                bootbox.alert("Please select  Is discusion with project movement");
                ischk = false;
            }
            return ischk;
        }
        function popup() {

            //$('#btnSubmit').on('click', function () {
                var employeeDetails = {};
                var chki = chkvalidationforskill();
                if (chki) {
                    employeeDetails.EmployeeId = $("#txtemployeenumber").val();
                    employeeDetails.EmployeeName = $("#txtemployeename").val();
                    employeeDetails.ReleaseDate = $("#ExpectedEnd").val();
                    employeeDetails.ProjectCode = $("#txtprojectcode").val();
                    employeeDetails.ProjectDesignation = $("#txtdesignation").val();
                    employeeDetails.ClientorProject = $("#ddlclientorproject").val();
                    employeeDetails.Utilization = $("#txtUtilization").val();
                    employeeDetails.ReasonForRelease = $("#txresonforrelease").val();
                    employeeDetails.IsDiscResourceOnProject = $("#ddlProjectmovemnt").val();;
                    employeeDetails.SkillsGoodAt = $("#txtskills").val();
                    employeeDetails.DetailedFeedBack = $("#txtfeedback").val();
                    employeeDetails.ResourcePerformance = $("#ddlresourceperformance").val();
                    employeeDetails.Assignment_Id = $("#txtassignmentid").val();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("InsertResourceReleaseData", "EmployeeAssignment")',
                        data: JSON.stringify(employeeDetails),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data != null && data != "Sessionexpired") {
                                $('#divGridContent1').html(data);
                                alert('Data Saved Successfully');
                                window.location.href = '@Url.Action("ResourceRelease", "EmployeeAssignment")';
                            }
                            else if (data == "Sessionexpired") {
                                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                            else if (data == "Error") {
                                window.location.href = '@Url.Action("Error", "Error")';
                            }
                        },
                        error: function (thrownError) {
                            alert(thrownError);
                        }
                    });
                }

        }

    function GetEmployeeId(EmpCode) {
        $("#GoalSettingLoadingIcon").show();
        window.location = "@Url.Action("GetEmployeeInfoData", "EmployeeAssignment")" + "?EmpCode=" + EmpCode;
    };


        $('#btnExportToExcel').click(function () {
            debugger;

            if ($("input[type='radio'].case").is(':checked')) {
                var selected_value = $("input[type='radio'].case:checked").val();

            }
            var empid = $("#txtempcode").val();
            $("#GoalSettingLoadingIcon").show();
            var url = "@Url.Action("ExportReport", "EmployeeAssignment")";
            $.ajax({
                url: url,
                data: { Empid: empid },
                type: "POST",
                datatype: "JSON",
                cache: false,
                success: function (response) {
                    if (response == "success") {
                       //  var url = "@Url.Action("GetEmployeeId", "EmployeeAssignment")" + "?EmpCode=" + ddlPractice;
                        window.location = "@Url.Action("GenerateResourceReleaseReport", "EmployeeAssignment")" + "?data=" + selected_value;
                        setTimeout(function () {
                            $("#btnExportToExcel").show();
                            //$("#btnProcessing").hide();
                        }, 10000);
                    }
                    else if (response == "Sessionexpired") {
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                    else if (response == "Error") {
                        window.location.href = '@Url.Action("Error", "Error")';
                    }
                },
                error: function (error) {
                    alert(error.statusText);
                }
            });
        });

        function div_showAssignment() {

            var isValid = true;
            ClearModalData();
            var proCode = 0;
            var chekedValues = "";
            var id = $('input[name=chkRow]:checked').val();
            if ($('input[name=chkRow]').is(':checked')) {

                $("#tableBenchEmployees td").find("input[name='chkRow']:checked").each(function () {
                    chekedValues = $(this).val();
                    var empCode = $("#txtempcode").val();
                    $('#txtprojectcode').val(chekedValues);
                    var url = '@Url.Content("~/EmployeeAssignment/GetProjectCode")';
                    $.ajax({
                        url: url,
                        type: 'GET',
                        cache: false,
                        data: { assignmentid: chekedValues, empid: empCode },
                        success: function (data) {
                            if (data != null && data != "Sessionexpired") {
                                $('#txtUtilization').val(data.Utilization);
                                $('#txtprojectcode').val(data.ProjectCode);
                                $('#txtassignmentid').val(chekedValues);
                                const decisionDate = data.ReleaseDate;
                                const d = new Date(decisionDate.match(/\d+/)[0] * 1);
                                var month = d.toLocaleString('default', { month: 'short' });
                                const formattedDate = ("0" + d.getDate()).slice(-2) + '-' + month + '-' + d.getFullYear()
                                $('#ExpectedEnd').val(formattedDate);
                                $('#ddlclientorproject').val(data.ClientorProject);
                                $('#txresonforrelease').val(data.ReasonForRelease);
                                $('#ddlresourceperformance').val(data.ResourcePerformance);
                                $('#txtskills').val(data.SkillsGoodAt);
                                $('#ddlProjectmovemnt').val(data.IsDiscResourceOnProject);
                                // $('#ddlProjectmovemnt').val(data.IsDiscResourceOnProject);
                                $('#txtfeedback').val(data.DetailedFeedBack);
                            }
                            else if (data == "Sessionexpired")
                            {
                                window.location.href = '@Url.Action("SessionExpire", "Signout")';
                            }
                            else if (data == "Error")
                            {
                                window.location.href = '@Url.Action("Error","Error")';
                            }
                        },
                        error: function (thrownError) {
                            alert(thrownError);
                        }
                    });

                    if (isValid) {
                        $("#dialog-view-ProjectAutoAssignment").dialog({
                            title: 'Resource Release',
                            autoOpen: false,
                            resizable: false,
                            height: 400,
                            width: 565,
                            show: { effect: 'drop', direction: "up" },
                            modal: true,
                            draggable: true,
                            open: function (event, ui) {
                                $('.ui-dialog-titlebar-close').hide();
                            },
                            buttons: {
                                "Submit": function () {
                                    //$(this).dialog("submit");
                                    popup();
                                },
                                "Close": function () {
                                    $(this).dialog("close");
                                }
                            }
                            ,
                            close: function (event, ui) {
                                $(this).dialog('close');
                            },
                            submit: function (event, ui) {
                                //$(this).dialog('submit');
                                popup();
                            }
                        });
                        $("#dialog-view-ProjectAutoAssignment").dialog('open');
                        return false;
                    }

                });
            }
            else
            {
                //alert("Please select the Project you want to Release the Resource");
                bootbox.alert("Please Enter EmployeeId");      /*  observation*/
            }
         }

        function ValidateTextBox() {
            if (document.getElementById("SearchEmployee").value.trim() == "") {
                alert("Please enter Employee ID!");
                return false;
            }
        };

        function ValidateNumber(e) {
            var evt = (e) ? e : window.event;
            var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        };

        $("#txtUtilization").on("change", function () {
            var val = parseInt(this.value);
            if (val >= 101) {
                alert('Wrong range Please select 1 to 100');
                this.value = '';
            }
        })
        function ClearModalData()
        {
            $("#ddlProjects").val("");
            $("#ddlResourceType").val("");
            $("#ExpectedStart").val("");
            $("#ExpectedEnd").val("");
            $("#txtUtilization").val("");
        }
        var nowDate = new Date();
        var today = new Date(nowDate.getFullYear(), nowDate.getMonth() - 12, nowDate.getDate(), 0, 0, 0, 0);
        var date2 = new Date();
        date2.setDate(date2.getDate() + 15);
       $('#datetimepicker1').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
            startDate: today,
            format: 'dd-M-yyyy'
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });

        $('#datetimepicker2').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
            startDate: date2,
            format: 'dd-M-yyyy'
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });

    </script>
    <script>
        $(document).ready(function () {
            //alert(1)
            $('#assign').addClass('active');
            $('#assign2').addClass('active');




        });
    </script>

</body>
</html>

